<%inherit file="../layout.html"/>
<%namespace name="links" file="../widgets/links.html"/>
<%namespace name="widgets" file="../widgets/widgets.html"/>
<%namespace name="parser" file="../product/urlparser.html"/>
<%def name="scripts_styles()">
	${links.js('datepicker.packed.js')}
	${links.css('datepicker.css')}
</%def>
<%def name="page_reloader()">page_reloader = function(){};</%def>
<%def name="scripts()">
	<script type="text/javascript"> 
		toggleSettlement = function(option){
			var parent = findParent(option, "hiderParent");
			dojo.query(".hideable:not(.hidden)", "settlementOptions").forEach(function(elem){
				dojo.addClass(elem, "hidden");
			});
			if(parent){dojo.query(".hideable.hidden", parent).forEach(function(elem){dojo.removeClass(elem, "hidden");});}
		};
	</script>
</%def>

<%def name="onloadscripts()">
	parseDefaultsInputs("poolDetails");
	parseSelectables("poolDetails");
	parseSimpleEditables("poolDetails");
	parseEditables("poolDetails");
	
	var fmtDate = "M-sp-d-cc-sp-Y", machineFmtDate = "Y-ds-m-ds-d", intFmtDate = "Y-m-d";
	var today = new Date(), upperEnd = new Date();upperEnd.setDate(upperEnd.getDate() + 45);
	var defaultDateOffset = 14;var defaultDate = new Date(today.getDate() + defaultDateOffset);
	if(dojo.byId("dateValue").value){
		defaultDate = new Date(datePickerController.parseDateString(dojo.byId("dateValue").value, machineFmtDate));
		var displaydate = Math.ceil((defaultDate.getTime()-today.getTime())/(24*3600*1000));
		if(isNaN(displaydate))displaydate=0;
		dojo.byId("daysLeft").innerHTML = displaydate;
	}
	datePickerController.createDatePicker({
	  formElements:{"datepicker":fmtDate},
	  dateFormats:{"datepicker":["Y-sl-m-sl-d", "d-dt-m-dt-Y", "Y-ds-m-ds-d"]},
	  rangeLow:datePickerController.printFormattedDate(today, intFmtDate, false), 
	  rangeHigh:datePickerController.printFormattedDate(upperEnd, intFmtDate, false), 
	  callbackFunctions:{"dateset":[
			function(params){
				if(params.date){
					dojo.byId("daysLeft").innerHTML = Math.ceil((params.date.getTime()-(today).getTime())/(24*3600*1000));
					dojo.byId("dateValue").value=datePickerController.printFormattedDate(params.date, machineFmtDate, false);
					if(dojo.hasClass("date_error_row", "error")&&dojo.query(".tip", "date_error_row").length===0){dojo.removeClass("date_error_row", "error")}
					
				} else {
					var nDate = new Date(dojo.byId("dateValue").value);
					dojo.byId("daysLeft").innerHTML="---";
					dojo.byId("dateValue").value="";
					var elem = dojo.byId("date_error_row");
					if(!dojo.hasClass(elem, "error")){dojo.addClass(elem, "error")}
				}
			}
		]}
	});
	%if c.values.get('tracking_link'):
		connectURLP("homeurlexpander");
	%else:
		connectURLParser("homeurlexpander", "tracking_link_edit", false, {upload:'1'});
	%endif
	#### check settlementOptions
	dojo.forEach(document.submissionform.settlementOption, function(elem){if(elem.checked){toggleSettlement(elem);}});
	var submitters = [];
	checkLoginStatus = function(){
		onSubmitCleaner(document.submissionform);
		document.submissionform.submit();
	};
	%if c.user.is_anon:
		submitters.push(dojo.connect(dojo.byId("submitter"), "onclick", protect(checkLoginStatus)));
	%else:
		submitters.push(dojo.connect(dojo.byId("submitter"), "onclick", checkLoginStatus));
	%endif
</%def>


<div class="wrapSubHeader">${self.renderMessages()|n}
	<div class="subHeader">
		<div class="userProfile">
			%if c.workflow == "2":
				<div class="nonPoolHeader">
					<h2>${_("FF_POOLDETAILS_HEADER_Create a Pool")}</h2>
				</div>
				${widgets.renderSteps(_("FF_POOLDETAILS_HEADER_Pool Details"), _("FF_POOLDETAILS_HEADER_Invite friends to chip in"), _("FF_POOLDETAILS_HEADER_Done!"), 1)|n}
			%else:
				<div class="nonPoolHeader">
					<h2>${_("FF_POOLDETAILS_HEADER_Step 2. Enter Your Pool Details")}</h2>
				</div>
				${widgets.renderSteps(_("FF_POOLDETAILS_HEADER_What are you collecting money for?"), _("FF_POOLDETAILS_HEADER_Enter pool details"), _("FF_POOLDETAILS_HEADER_Invite friends to chip in"), 2)|n}
			%endif
		<div class="clear"></div>
		</div>
	</div>
</div>
<div class="content">
  <div class="colRight"></div>
	<div class="colLeft">
		<form method="POST" id="submissionform" name="submissionform" action="${url("pool_create")}">
		<input type="hidden" name="v" value="${c.workflow}"/>
		<div class="poolDets" id="poolDetails">
			<h4>${_("FF_POOLDETAILS_HEADER_Pool Details")}</h4>
			<div class="subHeadingSpecial"></div>
			<div class="special borderBottom ${h.contains_one(["currency", "amount", "date"], c.errors) and "error" or ""}" id="date_error_row">
				%if h.contains_one(["currency", "amount", "date"], c.errors):
					<div class="tip">
						<div class="arrow"></div>
						<span>
							<ul>
								%if 'currency' in c.errors:
									<li>${c.errors.get("currency")}</li>
								%endif
								%if 'amount' in c.errors:
									<li>${c.errors.get("amount")}</li>
								%endif
								%if 'date' in c.errors:
									<li>${c.errors.get("date")}</li>
								%endif
							</ul>
						</span>
					</div>
				%endif
			
			
				<div class="first" style="margin-top:7px;"><span>${_("FF_POOLDETAILS_We Need")}</span>
					<span class="editable active" _href="${url("edit", action="currency")}" _value="${c.values['currency']}">
						${h.display_currency(c.values['currency'])}<input type="hidden" name="currency" value="${c.values['currency']}"/>
						<span class="link editSmall editCurr">${_("FF_POOLDETAILS_Edit Currency")}</span>
					</span>
				</div>
				<div class="greyInside" style="width:516px">
					<span class="darkGrey floatRight">${_("FF_POOLDETAILS_<span class=\"bold\" id=\"daysLeft\">0</span> DAYS LEFT")|n}</span>
					%if "amount" in c.errors or c.workflow != "1" or not c.values['amount']:
						<input type="text" value="${c.values['amount']}" name="amount" class="small" />
					%else:
						<div class="editorCtn">
							<div class="simpleeditable active mainValue">${c.values['amount']}
								<input _type="INPUT" type="hidden" value="${c.values['amount']}" name="amount" class="small" id="amountInput" />
								<span class="link editSmall">${_("FF_Edit")}</span>
							</div>
						</div>
					%endif
					
					<span class="bySmall">${_("FF_POOLDETAILS_by")}</span>
					<input class="small" readonly="readonly" type="text" id="datepicker" value="${h.format_date(c.values.get('date'))}"/>
					<input type="hidden" name="date" id="dateValue" value="${h.format_date_internal(c.values.get('date'))}"/>
					
				</div>
			</div>
			
			
			<div class="borderBottom ${('title' in c.errors) and "error" or ""}">
				<div class="tip">
					<div class="arrow"></div>
					%if 'title' in c.errors:
						<span>${c.errors['title']}</span>
					%else:
						<span>${_("FF_POOLDETAILS_TITLE_Tip goes here")}</span>
					%endif
				</div>
			
				<div class="greyInsideFullWidth">
				<div class="first">
					<span>${_("FF_POOLDETAILS_LABEL_Pool Title")}</span>
				</div>
				
					%if "title" in c.errors or c.workflow != "1" or not c.values['title']:
						<input type="text" name="title" _length="60" _default_text="${_("FF_POOLDETAILS_Write your title here...")}" class="default" value="${c.values['title'] or _("FF_POOLDETAILS_Write your title here...")}" />
					%else:
						<div class="simpleeditable active mainValue">${h.word_truncate_by_letters(c.values['title'], 60)}
							<input _type="INPUT" type="hidden" class="default" value="${c.values['title']}" _default_text="${_("FF_POOLDETAILS_Write your title here...")}" _length="60"  name="title" id="titleInput" />
							<span  class="link editSmall">${_("FF_Edit")}</span>
						</div>
					%endif
				
				</div>
			</div>
			
			
			<div class="borderBottom ${('description' in c.errors) and "error" or ""}">
				<div class="tip">
					<div class="arrow"></div>
					%if 'description' in c.errors:
						<span>${c.errors['description']}</span>
					%else:
						<span>${_("FF_POOLDETAILS_DESCRIPTION_Tip goes here")}</span>
					%endif
				</div>

            	<div class="greyInsideFullWidth">
				<div class="first">
					<span>${_("FF_POOLDETAILS_LABEL_Pool Description")}</span>
				</div>
				<div class="containerTxtArea">
					<textarea name="description" _default_text="${_("FF_POOLDETAILS_Write your description here...")}" class="default">${c.values['description'] or _("FF_POOLDETAILS_Write your description here...")}</textarea>
				</div>
                </div>
			</div>
			%if c.values.get('tracking_link'):
				<div class="generalPadding">
				<div class="first">
						<span>${_("FF_POOLDETAILS_LABEL_Pool Image")}</span>
					</div>
					<div id="homeurlexpander" class="home_expander">
						${parser.renderParser(c.parser_values, False)}
					</div>
				</div>
			%else:
				<div class="generalPadding borderBottom spPad noBorder expander">
					<div class="first">
						<span>${_("FF_POOLDETAILS_LABEL_Pool Image")}</span>
					</div>
					<div id="homeurlexpander">
						<div class="tip" style="top:32px !important">
							<div class="arrow"></div>
							<span>${_("FF_POOLDETAILS_URLParser Tooltip goes here")}</span>
						</div>
						<div class="imgCntSld" id="URLPimgCntSld">
						<input type="hidden" value="${c.values.get('product_picture')}" id="URLPproductPicture" name="product_picture">
						%if c.values.get('product_picture'):
							<img src="${c.values.get('product_picture')}" class="allowed displayed"/>
						%else:
							<img src="${app_globals.statics_service.get_default_product_picture("FF_POOLS")}" class="displayed"/>
						%endif
						</div>
						<div class="title">
							<span>${_("FF_POOLDETAILS_use URL:")}</span>
							<input type="text" class="default" _default_text="${_("FF_POOLDETAILS_Examples:www.cnn.com")}" 
								id="tracking_link_edit" _url="${url(controller="product", action="open_bounce")}" value="${_("FF_POOLDETAILS_Examples:www.cnn.com")}"/>
							<a class="link" onclick="dojo.require('dojo.io.iframe');xhrPost('${url(controller='product', action='ulpicture')}', {})" style=" width:100%;margin-top:30px; float:left; display:block; clear:both">${_(u"FF_LINK_or Upload a picture")}</a>
						</div>
						
					</div>
				</div>
			%endif
			<div class="clear"></div>
		</div>
		<h4>${_("FF_POOLDETAILS_Receiving Your Money")}</h4>
		<div class="subHeading"></div>
		<div class="padLeft">
			<div class="receiveMoney" id="settlementOptions">
				<p>${_("FF_POOLDETAILS_How do you want to receive your money once the Pool is funded?")}
					<span>${_("FF_POOLDETAILS_You will only be paid if your Pool is successfully funded. This information will not be shared with anyone else.")}</span>
				</p>
				
				%for i, so in enumerate(request.merchant.settlement_options):
					<% _locals = {"fees":so.fee*100} %>
					<div class="hiderParent">
						<input type="radio" name="settlementOption" value="${so.name}" 
							${widgets.expression_quote(c.values['settlementOption']==so.name or i==0, "checked")|n} id="${so.name}_option" class="chkbox" onclick="toggleSettlement(this);"/>
						<label for="${so.name}_option">
							${_(so.name)} 
							%if so.fee:
								<span class="free">${_("FF_POOLDETAILS_(costs you %(fees)s%%)")%_locals|n}</span>
							%else:
								<span class="free">${_("FF_POOLDETAILS_(FREE)")}</span>
							%endif 
						</label>
						%if so.fee:
							<div class="verticalTip hideable hidden">
							<div class="arrow"></div>
								<span>
									${_("FF_POOLDETAILS_If choosing this option, you will be charged a %(fees)s%% fee. Do you want to add this to your Pool Funding Total?")%_locals}
								</span>
								<div style="margin-top:5px"><input type="checkbox" name="${so.name}.charge_through" id="${so.name}_charge_through" value="1"  
											${widgets.expression_quote(c.values.get(so.name, dict()).get("charge_through"), "checked")|n}/>
									<label for="${so.name}_charge_through" class="bold">${_("FF_POOLDETAILS_Yes, please add the %(fees)s%% to my Funding Total")%_locals}</label>
								</div>
							</div>
						%endif
						%if so.required_fields:
							<div id="${so.name}_form" class="requiredForm hideable hidden">
								<% error_dict = c.errors.get(so.name, dict()) %>
								%for rf in so.required_fields:
									<div class="smallLabel ${rf.name in error_dict and "error" or ""}">
										<label>${_(so.name)} ${_(rf.name)}</label><input type="text" name="${so.name}.${rf.name}" value="${c.values.get(so.name, dict()).get(rf.name)}" />
										%if rf.name in error_dict:
											<p class="error">${error_dict[rf.name]}</p>
										%endif
									</div>
								%endfor
							</div>
						%endif
					</div>
				%endfor
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
		
			<div class="spacerButtons floatRight">
				<input id="submitter" class="floatRight forward" type="button" value="${_("FF_POOLDETAILS_Invite Friends")}" /> 
			</div>
		
		</form>
	</div>
<div class="clear"></div>
</div>

