<%namespace name="widgets" file="/widgets/widgets.html"/>

<%def name="render_tabs(tab)">
	<div class="tabsBig">
		<a href="${url(controller="mypools", action="stream")}" ${widgets.expression_quote(tab=="stream", "class", "selected")|n}>${_("FF_MYPOOLS_Activity")} <span class="spoiler"></span></a>
		<a href="${url(controller="mypools", action="index")}" ${widgets.expression_quote(tab=="mypools", "class", "selected")|n}>${_("FF_MYPOOLS_My Pools")} <span class="spoiler"></span></a>
		<a href="${url(controller="mypools", action="friends")}" ${widgets.expression_quote(tab=="friends", "class", "selected")|n}>${_("FF_MYPOOLS_Friends' Pools")} <span class="spoiler"></span></a>
	</div>
</%def>


<%def name="render_pool_card(pool, friends_pool = False)">
<% 
	locals = {"closing_date":h.format_date(pool.expiry_date, format="full"), 
			"creation_date":h.format_date(pool.creation_date, format="full"), 
			"admin_name":pool.admin_name,
			"number_contributors":pool.no_contributors, 
			"product_name":"her Tennis club", ####TODO:Implmement
			"full_pool_url":url('get_pool', pool_url=pool.p_url, host=pool.merchant_domain),
			"days_left" : pool.get_remaining_days()
		}
	merchant = pool.get_merchant()
%>
<div class="poolRowWrap">
	<div class="poolRow">
		<div class="subPoolRow">
			<div class="imgWrap">
				%if pool.is_secret:
					<div class="statusSecret">${_("FF_MYPOOLS_SECRET POOL")}</div>
				%endif
				<img src="${pool.get_product_pic("FF_POOLS")}" width="190px" height="150px"/>
			</div>
			<div class="textOne">
				<a href="${locals['full_pool_url']}" class="">${h.word_truncate_by_letters(pool.title, 100)}</a>
				<span>${_("FF_MYPOOLS_Created by %(admin_name)s on %(creation_date)s")%locals}</span>
				<p>${h.word_truncate(pool.description, 100)}</p>
				
			</div>
			<div class="imgWrap">
				<div class="multiTask">
					%if pool.is_contributor:
						<img src="/static/imgs/chipped.png"/>
					%endif
					%if pool.is_commenter:
						<img src="/static/imgs/cloud.png" style="margin:3px 0 0 10px"/>
					%endif
					<div class="floatRight">
						%if not friends_pool:
							<span class="link hider specialLink" >${_("FF_MYPOOLS_PROMOTE")}
								<div class="moreActionsWrapper">
									<div class="moreActions hidden">
										<div class="arrowMoreActions">
											<img src="/static/imgs/arrowMoreAction.png" />
										</div>
										<h6>${_("FF_MYPOOLS_PROMOTE THIS POOL")}</h6>
										<a href="${url("invite_index", pool_url=pool.p_url, host=pool.merchant_domain, v=3)}" class="link">${_("FF_MYPOOLS_Invite Friends")}</a>
										<span>|</span>
										<a class="link popuplink" _href="${url("pool_action", action="get_widget", pool_url=pool.p_url, host=pool.merchant_domain)}"> ${_(u"FF_POOL_PAGE_CHIPIN_embed widget")}</a>
										<h6>${_("FF_MYPOOLS_SHARE TOOLS")}</h6>
										<input type="text" onclick="this.select()" value="${locals['full_pool_url']}"/>
										<div class="addthis_toolbox addthis_default_style">
										  <a class="addthis_button_facebook" addthis:url="${locals['full_pool_url']}"></a>
										  <a class="addthis_button_twitter" addthis:url="${locals['full_pool_url']}"></a>
										  <a class="addthis_button_email" addthis:url="${locals['full_pool_url']}"></a>
										  <a class="addthis_button_tumblr" addthis:url="${locals['full_pool_url']}" style="margin:0"></a>
										 </div>
									 </div>
								</div>
							</span>
						%elif not pool._is_closed:
							<a href="${url(controller="pool", pool_url=pool.p_url, action="join", host=pool.merchant_domain)}" class="link">
								${_(u"FF_POOL_PAGE_CHIPIN_Join")}
							</a>
						%endif
						<span>|</span>
						<a href="${locals['full_pool_url']}" class="link" style="margin-right:0">${_("FF_MYPOOLS_VIEW")}</a>
					</div>
				</div>
				
				%if len(pool.friends):
				<div class="vertSpacer">
					<span>${_("FF_MYPOOLS_IN THIS POOL")}</span>
					%for friend in pool.get_random_n_invitees(3):
					<div class="smallestImgWrap" title="${friend.name}">
						<img width="24px" height="24px" src="${friend.get_profile_pic("PROFILE_S")}"/>
					</div>
					%endfor
				</div>
				%endif
				%if not pool.is_admin and pool.invitor_name:
						<div class="vertSpacer">
							<span>${_("FF_MYPOOLS_INVITED BY")}</span>
							<div class="smallestImgWrap" title="${pool.invitor_name}">
								<img width="24px" height="24px" src="${pool.get_invitor_profile_pic("PROFILE_S")}"/>
							</div>
						</div>
				%endif
				
				%if merchant.type_is_group_gift:
					<div class="vertSpacer">
						<span>${_("FF_MYPOOLS_RECIPIENT")}</span>
						<div class="smallestImgWrap" title="${pool.receiver_name}">
							<img width="24px" height="24px" src="${pool.get_receiver_profile_pic("PROFILE_S")}"/>
						</div>
					</div>
				%endif
				%if not merchant.is_default:
					<div class="vertSpacer">
						<span>${_("FF_MYPOOLS_MERCHANT")}</span>
						<img src="${h.get_merchant_logo(merchant.logo_url)}" width="60px" height="30px" class="floatRight"/>
					</div>
				%endif
			</div>
		</div>
		<div class="boxPoolDetails">
			<div class="timeTracker floatLeft">
				<div class="timeCounter">
					<% progress = int(pool.funding_progress()*100) %>
					<span>
					%if pool._is_closed:
						${_("FF_MYPOOLS_SUCCESFUL")}
					%else:
						${progress}%
					%endif
					</span>
					<div style="width: 100%" class="timeCounterRight">
						<div style="width: ${pool.funding_progress()*100}%" class="timeCounterLeft"></div>
					</div>
				</div>
			</div>
			<div class="contributors"><span>${widgets.renderPoolInfoContributors(locals)}</span></div>
			<div class="chippedIn"><span><strong>${h.format_currency(pool.get_total_contribution_float(), pool.currency)}</strong> ${_(u"FF_POOL_PAGE_HEADER_Chipped in")}</span></div>
			<div class="outstanding"><span><strong>${h.format_currency(pool.get_amount_left(), pool.currency)}</strong> ${_(u"FF_POOL_PAGE_HEADER_Outstanding")}</span></div>
			%if not pool._is_closed:
				<div class="daysLeft"><span class="${locals['days_left'] < 7 and "highlight" or ""}">${widgets.renderPoolInfoDaysLeft(locals)}</span></div>
			%endif
			<div class="clear"></div>
		</div>
	</div>
</div>
<div class="colRightWhite"></div>
</%def>