<%namespace name="widgets" file="/widgets/widgets.html"/>

<%def name="render_tabs(tab)">
	<div class="tabsBig">
		<a href="${url(controller="mypools", action="stream")}" ${widgets.expression_quote(tab=="stream", "class", "selected")|n}>Activity <span class="spoiler"></span></a>
		<a href="${url(controller="mypools", action="index")}" ${widgets.expression_quote(tab=="mypools", "class", "selected")|n}>My Pools <span class="spoiler"></span></a>
		<a href="${url(controller="mypools", action="friends")}" ${widgets.expression_quote(tab=="friends", "class", "selected")|n}>Friends' Pools <span class="spoiler"></span></a>
	</div>
</%def>


<%def name="render_pool_card(pool, friends_pool = False)">
<% 
	locals = {"closing_date":h.format_date(pool.expiry_date, format="full"), 
			"creation_date":h.format_date(pool.creation_date, format="full"), 
			"admin_name":pool.admin_name,
			"no_contributors":pool.no_contributors, 
			"days_left":14, 
			"product_name":"her Tennis club", ####TODO:Implmement
			"full_pool_url":url('get_pool', pool_url=pool.p_url, host=pool.merchant_domain),
			"days_left" : pool.get_remaining_days_tuple()[0]
		}
	merchant = app_globals.merchants.domain_map.get(pool.merchant_domain)
%>
<div class="poolRowWrap">
	<div class="poolRow">
		<div class="subPoolRow">
			<div class="imgWrap">
				%if pool.is_secret:
					<div class="statusSecret">${_("FF_MYPOOLS_SECRET POOL")}</div>
				%endif
				<img src="${pool.get_product_pic("POOL")}" width="190px" height="150px"/>
			</div>
			<div class="textOne">
				<a href="${locals['full_pool_url']}" class="link">${pool.title}</a>
				<span>${_("FF_MYPOOLS_Created by %(admin_name)s on %(creation_date)s")%locals}</span>
				<p>${pool.description}</p>
				%if pool.is_expired():
					<div><p>
					${_("FF_MYPOOLS_This Pool has expired and will be automatically deleted.")}</p>
					<a class="link" href="${url(controller="pool", pool_url = pool.p_url, action="delete", host=pool.merchant_domain)}">${_("FF_MYPOOLS_DELETE NOW")}&nbsp;&nbsp;&nbsp;X</a></div>
				%endif
			</div>
			<div class="imgWrap">
				<div class="multiTask">
					%if pool.is_contributor:
						<img src="/static/imgs/checked.png"/>
					%endif
					%if pool.is_commenter:
						<img src="/static/imgs/cloud.png" style="margin:3px 0 0 10px"/>
					%endif
					<div class="floatRight">
						%if not friends_pool:
							<span class="link hider">${_("FF_MYPOOLS_PROMOTE")}
								<div class="moreActionsWrapper">
									<div class="moreActions hidden">
										<div class="arrowMoreActions">
											<img src="/static/imgs/arrowMoreAction.png" />
										</div>
										<h6>${_("FF_MYPOOLS_PROMOTE THIS POOL")}</h6>
										<a href="${url("invite_index", pool_url=pool.p_url, host=pool.merchant_domain, v=3)}" class="link">${_("FF_MYPOOLS_Invite Friends")}</a>
										<span>|</span>
										<a class="link popuplink" _href="${url("pool_action", action="widget", pool_url=pool.p_url, host=pool.merchant_domain)}"> ${_(u"FF_POOL_PAGE_CHIPIN_embed widget")}</a>
										<h6>${_("FF_MYPOOLS_SHARE TOOLS")}</h6>
										<input type="text" onfocus="this.select()" value="${locals['full_pool_url']}"/>
										<div class="addthis_toolbox addthis_default_style">
										  <a class="addthis_button_facebook" addthis:url="${locals['full_pool_url']}"></a>
										  <a class="addthis_button_twitter" addthis:url="${locals['full_pool_url']}"></a>
										  <a class="addthis_button_email" addthis:url="${locals['full_pool_url']}"></a>
										  <a class="addthis_button_tumblr" addthis:url="${locals['full_pool_url']}" style="margin:0"></a>
										 </div>
									 </div>
								</div>
							</span>
						%else:
							<a href="${url(controller="pool", pool_url=pool.p_url, action="join", host=pool.merchant_domain)}" class="link">
								${_(u"FF_POOL_PAGE_CHIPIN_Join")}
							</a>
						%endif
						<span>|</span>
						<a href="${locals['full_pool_url']}" class="link" style="margin-right:0">${_("FF_MYPOOLS_VIEW")}</a>
					</div>
				</div>
				
				%if friends_pool:
					<div class="vertSpacer">
						<span>${_("FF_MYPOOLS_IN THIS POOL")}</span>
						%for friend in pool.friends:
						<div class="smallestImgWrap" title="${friend.name}">
							<img width="24px" height="24px" src="${friend.get_profile_pic("PROFILE_S")}"/>
						</div>
						%endfor
					</div>
				%elif not pool.is_admin and pool.joined_name:
						<div class="vertSpacer">
							<span>${_("FF_MYPOOLS_INVITED BY")}</span>
							<div class="smallestImgWrap">
								<img width="24px" height="24px" src="${pool.get_friend_profile_pic("PROFILE_S")}"/>
							</div>
						</div>
				%endif
				
				%if merchant.type_is_group_gift:
					<div class="vertSpacer">
						<span>${_("FF_MYPOOLS_RECIPIENT")}</span>
						<div class="smallestImgWrap">
							<img width="24px" height="24px" src="${pool.get_receiver_profile_pic("PROFILE_S")}"/>
						</div>
					</div>
				%endif
				%if merchant.is_default:
					<div class="vertSpacer">
						<span>${_("FF_MYPOOLS_MERCHANT")}</span>
						<img src="${h.get_merchant_logo(merchant.logo_url)}" class="floatRight"/>
					</div>
				%endif
			</div>
		</div>
		<div class="boxPoolDetails">
			<div class="timeTracker floatLeft">
				<div class="timeCounter">
					<% progress = int(pool.funding_progress()*100) %>
					<span>
					%if pool._is_closed:
						${_("FF_MYPOOLS_SUCCESFUL")}
					%else:
						${progress}%
					%endif
					</span>
					<div style="width: 100%" class="timeCounterRight">
					<div style="width: ${pool.funding_progress()*100}%" class="timeCounterLeft ${pool._is_closed and "green" or ""}"></div>
					</div>
				</div>
			</div>
			<div class="contributors"><span><strong>${pool.no_contributors}</strong> ${_(u"FF_POOL_PAGE_HEADER_contributors")}</span></div>
			<div class="chippedIn"><span><strong>${h.format_currency(pool.get_total_contribution_float(), pool.currency)}</strong> ${_(u"FF_POOL_PAGE_HEADER_Chipped in")}</span></div>
			<div class="outstanding"><span><strong>${h.format_currency(pool.get_amount_left(), pool.currency)}</strong> ${_(u"FF_POOL_PAGE_HEADER_Outstanding")}</span></div>
			%if not pool._is_closed:
				<div class="daysLeft"><span class="${locals['days_left'] < 7 and "highlight" or ""}"><strong>${locals['days_left']}</strong> ${_(u"FF_POOL_PAGE_HEADER_Days left")}</span></div>
			%endif
			<div class="clear"></div>
		</div>
	</div>
</div>

</%def>