<%inherit file="../layout.html"/>
<%namespace name="common" file="common.html"/>
<%namespace name="forms" file="/widgets/forms.html"/>

<%def name="title()">${_("FF_TITLE_News stream")}</%def>
<%def name="scripts()">
	<script type="text/javascript">var addthis_config = {"data_track_clickback":true};</script>
	<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=friendfund"></script>
</%def>
<%def name="onloadscripts()">
	dojo.query(".popuplink", "activityBody").onclick(dojo.hitch(null, loadPopup));
</%def>

<div class="wrapSubHeader">
	<div class="subHeader">
		<div class="userProfile">
			<img src="${c.user.get_profile_pic("PROFILE_M")}" width="60px" height="60px"/>
			<div class="subUserProfile">
				<h2>${_("FF_NEWSSTREAM_Slogan")}</h2>
				####TODO:<div class="subTitleUserProfile">
				####TODO:	<span class="link twitter">@ Judyface</span><span class="link facebookName">Judy Stevens</span>
				####TODO:</div>
			</div>
			${common.render_tabs("stream")|n}
		<div class="clear"></div>
		</div>
	</div>
</div>

<div class="content fullWidth">
<h4 style="padding-top:0px">
	<div class="floatRight selector">
	%if c.include_friend:
		<a class="bold" href="${url(controller="mypools", action="stream", all="")}">${_("FF_NEWSSTREAM_Only Mine")}</a>
		<span style="margin:0 5px">|</span>
		<span class="bold">${_("FF_NEWSSTREAM_All")}</span>
	%else:
		<span class="bold">${_("FF_NEWSSTREAM_Only Mine")}</span>
		<span style="margin:0 5px">|</span>
		<a class="bold" href="${url(controller="mypools", action="stream", all=1)}">${_("FF_NEWSSTREAM_All")}</a>
	%endif
     </div>
</h4>
<div class="subHeading omega"></div>
<div class="fullWidthBorder" id="activityBody">
	%if len(c.activity.stream) == 0:
		<div class="noContainer">
			<p class="no">${_("FF_MYPOOLS_There has been no activity in your friend network yet.")}</p>
			<a href="${forms.create_pool_link()}" class="primaryButton fixedWidth">${_("FF_MYPOOLS_Create a Pool")}</a>
		</div>
	%else:
		%for streamentry in c.activity.stream:
			<% 
				locals = {"full_pool_url":url('get_pool', pool_url=streamentry.p_url, host=streamentry.merchant_domain),
					"pooltitle":'<a class="bold" href="%s">%s</a>'%(url('get_pool', pool_url=streamentry.p_url, host=streamentry.merchant_domain),h.word_truncate_by_letters(streamentry.event.title, 100)),
					"actorname":'<span class="bold">%s</span>'%streamentry.event.name
					}
			%>
		%if streamentry.event._get_root == "SUCCESS":
					<div class="entryStream">
						<img src="/static/imgs/succesful.png" title="${_("FF_NEWSSTREAMTYPE_Success")}" class="kind" />
						<div class="avt" title="${streamentry.event.name}">
							<div class="arrowAvatar"></div>
							<img width="48px" height="48px" src="${streamentry.event.get_actor_profile_pic("PROFILE_M")}">
						</div>
						<div class="txtComments">
							
							<span class="mainSpan">  
								${_("FF_NEWSSTREAM_%(pooltitle)s has been <span class=\"bold\">successfully funded!</span>")%locals|n}</span>
							 <div class="liner">
								<div class="timeCounterSmall">
									<span>${_("FF_NEWSSTREAM_SUCCESSFUL!")}</span>
									<div style="width: 100%;" class="timeCounterRight low">
										<div style="width: 100%;" class="timeCounterLeft low green"></div>
										</div>
								</div>
								<span class="bold tenPix middot">&middot;</span>
								<span class="contribSmall tenPix"><strong>${streamentry.event.no_contributors}</strong> ${_(u"FF_POOL_PAGE_HEADER_contributors")}</span>
							</div>
							<div class="liner">
								<span class="date tenPix">${streamentry.get_recency()}</span><span class="bold tenPix middot">&middot;</span>
								<span class="tenPix link hider">${_("FF_MYPOOLS_PROMOTE")}<div class="moreActionsWrapper"></div>
							</div>
						</div>
					</div>
                <div class="colRightWhite"></div>
		%elif streamentry.event._get_root == "CONTRIBUTION":
			<% locals["days_left"] = streamentry.event.get_remaining_days_tuple()[0] %>
					<div class="entryStream">
						<img src="/static/imgs/chipped.png" title="${_("FF_NEWSSTREAMTYPE_Chipped in")}" class="kind" />
						<div class="avt" title="${streamentry.event.name}">
							<div class="arrowAvatar"></div>
							<img width="48px" height="48px" src="${streamentry.event.get_actor_profile_pic("PROFILE_M")}">
						</div>
						<div class="txtComments">
							
							<span class="mainSpan">${_("FF_NEWSSTREAM_%(actorname)s chipped in to %(pooltitle)s.")%locals|n} </span>
							 <div class="liner">
								<div class="timeCounterSmall">	
									<span>${streamentry.event.funding_progress()}%</span>
									<div style="width: 100%;" class="timeCounterRight low">
										<div style="width: ${streamentry.event.funding_progress()}%;" class="timeCounterLeft low "></div>
										</div>
								</div>
								<span class="bold tenPix middot">&middot;</span>
								<span class="contribSmall tenPix"><strong>${streamentry.event.no_contributors}</strong> ${_(u"FF_POOL_PAGE_HEADER_contributors")}</span>
								<span class="bold tenPix middot">&middot;</span>
								<span class="timeLeft tenPix ${locals['days_left'] < 7 and "highlight" or ""}"><strong>${locals['days_left']}</strong> ${_(u"FF_POOL_PAGE_HEADER_Days left")}</span>
							</div>
							<div class="liner">
								<span class="date tenPix">${streamentry.get_recency()}</span><span class="bold tenPix middot">&middot;</span>
								<span class=" tenPix link hider">${_("FF_MYPOOLS_PROMOTE")}
									<div class="moreActionsWrapper">
										<div class="moreActions hidden">
											<div class="arrowMoreActions">
												<img src="/static/imgs/arrowMoreAction.png">
											</div>
											<h6>${_("FF_MYPOOLS_PROMOTE THIS POOL")}</h6>
											<a href="${url("invite_index", pool_url=streamentry.p_url, v=3)}" class="link">${_("FF_MYPOOLS_Invite Friends")}</a>
											<span>|</span>
											<a class="link popuplink" _href="${url("pool_action", action="get_widget", pool_url=streamentry.p_url)}"> ${_(u"FF_POOL_PAGE_CHIPIN_embed widget")}</a>
											<h6>${_("FF_MYPOOLS_SHARE TOOLS")}</h6>
											<input type="text" onclick="this.select()" value="${locals['full_pool_url']}"/>
											<div class="addthis_toolbox addthis_default_style">
											  <a class="addthis_button_facebook" addthis:url="${locals['full_pool_url']}"></a>
											  <a class="addthis_button_twitter" addthis:url="${locals['full_pool_url']}"></a>
											  <a class="addthis_button_email" addthis:url="${locals['full_pool_url']}"></a>
											  <a class="addthis_button_tumblr" addthis:url="${locals['full_pool_url']}" style="margin:0"></a>
											</div>
											<div class="atclear"></div>
										</div>
									</div></span>
							</div>
						</div>
					</div>
                <div class="colRightWhite"></div>
		%elif streamentry.event._get_root == "CREATE_FREE_FORM_POOL":
					<div class="entryStream">
						<img src="/static/imgs/creategroup.png" title="${_("FF_NEWSSTREAMTYPE_Created Pool")}" class="kind" />
						<div class="avt" title="${streamentry.event.name}">
							<div class="arrowAvatar"></div>
							<img width="48px" height="48px" src="${streamentry.event.get_actor_profile_pic("PROFILE_M")}">
						</div>
						<div class="txtComments">
							<span class="mainSpan">${_("FF_NEWSSTREAM_%(actorname)s created %(pooltitle)s.")%locals|n}</span>
							<div class="liner">
								%for img in streamentry.event.get_random_n_invitee_profile_pic(8, "PROFILE_S"):
								<div class="smallestImgWrap floatLeft" style="margin: 0 5px 0 0 ">
									<img width="24px" height="24px" src="${img}"/>
								</div>
								%endfor
								<span class="bold tenPix middot">&middot;</span>
								<span class="inviteesSmall tenPix"><strong>${streamentry.event.no_invitees}</strong> ${_("FF_NEWSSTREAM_INVITEES")}</span>
								<div class="liner">
									<a href="#" class="bold">${h.word_truncate_by_letters(streamentry.event.title, 100)}</a>
									<p>${h.word_truncate(streamentry.event.description, 250)}</p>
								</div>
							</div>
							 
							<div class="liner">
								<span class="date tenPix">${streamentry.get_recency()}</span><span class="bold tenPix middot">&middot;</span>
								<span class=" tenPix link hider">${_("FF_MYPOOLS_PROMOTE")}<div class="moreActionsWrapper">
										<div class="moreActions hidden">
											<div class="arrowMoreActions">
												<img src="/static/imgs/arrowMoreAction.png">
											</div>
											<h6>${_("FF_MYPOOLS_PROMOTE THIS POOL")}</h6>
											<a href="${url("invite_index", pool_url=streamentry.p_url, v=3)}" class="link">${_("FF_MYPOOLS_Invite Friends")}</a>
											<span>|</span>
											<a class="link popuplink" _href="${url("pool_action", action="get_widget", pool_url=streamentry.p_url)}"> ${_(u"FF_POOL_PAGE_CHIPIN_embed widget")}</a>
											<h6>${_("FF_MYPOOLS_SHARE TOOLS")}</h6>
											<input type="text" onclick="this.select()" value="${locals['full_pool_url']}"/>
											<div class="addthis_toolbox addthis_default_style">
											  <a class="addthis_button_facebook" addthis:url="${locals['full_pool_url']}"></a>
											  <a class="addthis_button_twitter" addthis:url="${locals['full_pool_url']}"></a>
											  <a class="addthis_button_email" addthis:url="${locals['full_pool_url']}"></a>
											  <a class="addthis_button_tumblr" addthis:url="${locals['full_pool_url']}" style="margin:0"></a>
											</div>
											<div class="atclear"></div>
										</div>
									</div></span>
									
							</div>
						</div>
					</div>
                <div class="colRightWhite"></div>
		%elif streamentry.event._get_root == "CREATE_GROUP_GIFT_POOL":
			
					<div class="entryStream">
						<img src="/static/imgs/creategroup.png" title="${_("FF_NEWSSTREAMTYPE_Created Pool")}" class="kind" />
						<div class="avt" title="${streamentry.event.name}">
							<div class="arrowAvatar"></div>
							<img width="48px" height="48px" src="${streamentry.event.get_actor_profile_pic("PROFILE_M")}">
						</div>
						<div class="txtComments">
							<span class="mainSpan">${_("FF_NEWSSTREAM_%(actorname)s created %(pooltitle)s.")%locals|n}</span>
							<div class="liner">
								%for img in streamentry.event.get_random_n_invitee_profile_pic(8, "PROFILE_S"):
								<div class="smallestImgWrap floatLeft" style="margin: 0 5px 0 0 ">
									<img width="24px" height="24px" src="${img}"/>
								</div>
								%endfor
								<span class="bold tenPix middot">&middot;</span>
								<span class="inviteesSmall tenPix"><strong>${streamentry.event.no_invitees}</strong> ${_("FF_NEWSSTREAM_INVITEES")}</span>
								<div class="liner">
									<a href="#" class="bold">${h.word_truncate_by_letters(streamentry.event.title, 100)}</a>
									<p>${h.word_truncate(streamentry.event.description, 250)}</p>
								</div>
							</div>
							 
							<div class="liner">
								<span class="date tenPix">${streamentry.get_recency()}</span><span class="bold tenPix middot">&middot;</span>
								<span class="tenPix link">${_("FF_MYPOOLS_PROMOTE")}<div class="moreActionsWrapper">
										<div class="moreActions hidden">
											<div class="arrowMoreActions">
												<img src="/static/imgs/arrowMoreAction.png">
											</div>
											<h6>${_("FF_MYPOOLS_PROMOTE THIS POOL")}</h6>
											<a href="${url("invite_index", pool_url=streamentry.p_url, v=3)}" class="link">${_("FF_MYPOOLS_Invite Friends")}</a>
											<span>|</span>
											<a class="link popuplink" _href="${url("pool_action", action="get_widget", pool_url=streamentry.p_url)}"> ${_(u"FF_POOL_PAGE_CHIPIN_embed widget")}</a>
											<h6>${_("FF_MYPOOLS_SHARE TOOLS")}</h6>
											<input type="text" onclick="this.select()" value="${locals['full_pool_url']}"/>
											<div class="addthis_toolbox addthis_default_style">
											  <a class="addthis_button_facebook" addthis:url="${locals['full_pool_url']}"></a>
											  <a class="addthis_button_twitter" addthis:url="${locals['full_pool_url']}"></a>
											  <a class="addthis_button_email" addthis:url="${locals['full_pool_url']}"></a>
											  <a class="addthis_button_tumblr" addthis:url="${locals['full_pool_url']}" style="margin:0"></a>
											</div>
											<div class="atclear"></div>
										</div>
									</div></span>
									
							</div>
						</div>
					</div>
		<div class="colRightWhite"></div>
		%elif streamentry.event._get_root == "INVITE":
					<div class="entryStream">
					<img src="/static/imgs/people.png" title="${_("FF_NEWSSTREAMTYPE_Invited")}" class="kind" />
						<div class="avt" title="${streamentry.event.name}">
							<div class="arrowAvatar"></div>
							<img width="48px" height="48px" src="${streamentry.event.get_actor_profile_pic("PROFILE_M")}"/>
						</div>
						<div class="txtComments">
						
							
							%if len(streamentry.event.invitees)>4:
								<%
									locals["invitee_names"] = '<span class="bold">%s</span>'%', '.join(streamentry.event.get_random_n_names(3))
									locals["no_others"] = (len(streamentry.event.invitees)-3)
								%>
								<span class="mainSpan">${_("FF_NEWSSTREAM_%(actorname)s invited %(invitee_names)s and %(no_others)s others to %(pooltitle)s.")%locals|n}
							%else:
								<%
									locals["invitee_names"] = '<span class="bold">%s</span>'%', '.join(pu.name for pu in streamentry.event.invitees)
								%>
								<span class="mainSpan">${_("FF_NEWSSTREAM_%(actorname)s invited %(invitee_names)s to %(pooltitle)s.")%locals|n}
							%endif
							 
							<div class="liner">
                         	<div class="smallestImgWrap floatLeft" style="margin: 0 5px 0 0 ">
							<img width="24px" height="24px" src="${streamentry.event.get_random_invitee_profile_pic("PROFILE_S")}">
							</div>
                         	
                         </div>
						<div class="liner">
                        
								<span class="date tenPix">${streamentry.get_recency()}</span><span class="bold tenPix middot">&middot;</span>
								<span class="tenPix link hider">${_("FF_MYPOOLS_PROMOTE")}<div class="moreActionsWrapper">
										<div class="moreActions hidden">
											<div class="arrowMoreActions">
												<img src="/static/imgs/arrowMoreAction.png">
											</div>
											<h6>${_("FF_MYPOOLS_PROMOTE THIS POOL")}</h6>
											<a href="${url("invite_index", pool_url=streamentry.p_url, v=3)}" class="link">${_("FF_MYPOOLS_Invite Friends")}</a>
											<span>|</span>
											<a class="link popuplink" _href="${url("pool_action", action="get_widget", pool_url=streamentry.p_url)}"> ${_(u"FF_POOL_PAGE_CHIPIN_embed widget")}</a>
											<h6>${_("FF_MYPOOLS_SHARE TOOLS")}</h6>
											<input type="text" onclick="this.select()" value="${locals['full_pool_url']}"/>
											<div class="addthis_toolbox addthis_default_style">
											  <a class="addthis_button_facebook" addthis:url="${locals['full_pool_url']}"></a>
											  <a class="addthis_button_twitter" addthis:url="${locals['full_pool_url']}"></a>
											  <a class="addthis_button_email" addthis:url="${locals['full_pool_url']}"></a>
											  <a class="addthis_button_tumblr" addthis:url="${locals['full_pool_url']}" style="margin:0"></a>
											</div>
											<div class="atclear"></div>
										</div>
									</div>
									</span>
							</div>
						</div>
					</div>
                <div class="colRightWhite"></div>
	%elif streamentry.event._get_root == "COMMENT":
		<div class="entryStream">
			<img src="/static/imgs/comment.png" title="${_("FF_NEWSSTREAMTYPE_Commented")}" class="kind" />
			<div class="avt" title="${streamentry.event.name}">
				<div class="arrowAvatar"></div>
				<img width="48px" height="48px" src="${streamentry.event.get_actor_profile_pic("PROFILE_M")}"/>
			</div>
			<div class="txtComments">
				<span class="mainSpan">${_("FF_NEWSSTREAM_%(actorname)s commented on %(pooltitle)s.")%locals|n} </span>
				<div class="liner">
					<p>"${h.word_truncate_by_letters(streamentry.event.comment, 180)}"</p>
				</div>
				<div class="liner">
					<span class="date tenPix">${streamentry.get_recency()}</span><span class="bold tenPix middot">&middot;</span><span class="tenPix link hider">${_("FF_MYPOOLS_PROMOTE")}<div class="moreActionsWrapper">
									<div class="moreActions hidden">
										<div class="arrowMoreActions">
											<img src="/static/imgs/arrowMoreAction.png">
										</div>
										<h6>${_("FF_MYPOOLS_PROMOTE THIS POOL")}</h6>
										<a href="${url("invite_index", pool_url=streamentry.p_url, v=3)}" class="link">${_("FF_MYPOOLS_Invite Friends")}</a>
										<span>|</span>
										<a class="link popuplink" _href="${url("pool_action", action="get_widget", pool_url=streamentry.p_url)}"> ${_(u"FF_POOL_PAGE_CHIPIN_embed widget")}</a>
										<h6>${_("FF_MYPOOLS_SHARE TOOLS")}</h6>
										<input type="text" onclick="this.select()" value="${locals['full_pool_url']}"/>
										<div class="addthis_toolbox addthis_default_style">
										  <a class="addthis_button_facebook" addthis:url="${locals['full_pool_url']}"></a>
										  <a class="addthis_button_twitter" addthis:url="${locals['full_pool_url']}"></a>
										  <a class="addthis_button_email" addthis:url="${locals['full_pool_url']}"></a>
										  <a class="addthis_button_tumblr" addthis:url="${locals['full_pool_url']}" style="margin:0"></a>
										</div>
										<div class="atclear"></div>
									</div>
								</div>
								</span>
				</div>
			</div>
		</div>
	%else:
		<% print "FORGOTTEN_NEWS_STREAM EVENT TYPE" %>
	%endif
%endfor
%endif
    </div>
    <div class="clear"></div>
</div>
