<%inherit file="../layout.html"/>
<%namespace name="common" file="common.html"/>
<%def name="scripts()">
	<script type="text/javascript">
		var addthis_config = {"data_track_clickback":true};
		
	</script>
	<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=friendfund"></script>
</%def>


<div class="wrapSubHeader">
	<div class="subHeader">
		<div class="userProfile">
			<img src="${c.user.get_profile_pic("PROFILE_M")}" width="60px" height="60px"/>
			<div class="subUserProfile">
				<h2>${_("FF_NEWSSTREAM_Slogan")}</h2>
				####TODO:<div class="subTitleUserProfile">
				####TODO:	<span class="link twitter">@ Judyface</span><span class="link facebookName">Judy Stevens</span>
				####TODO:</div>
			</div>
			${common.render_tabs("stream")|n}
		<div class="clear"></div>
		</div>
	</div>
</div>
<div class="content fullWidth">
<h4 style="padding-top:0px">
	<div class="floatRight selector">
    	<span class="bold">Relevant News</span>
        <span style="margin:0 5px">|</span>
        <span class="bold activeLink">Most Recent</span>
     </div>
</h4>

<div class="fullWidthBorder">
	<div class="colLeft">
	%for streamentry in c.activity.stream:
		<% 
		locals = {"full_pool_url":url('get_pool', pool_url=streamentry.p_url, host=streamentry.merchant_domain)}
		%>
	%if streamentry.event._get_root == "SUCCESS":
				<div class="entryStream">
					<img src="/static/imgs/succesful.png" class="kind" />
					<div class="avt">
						<div class="arrowAvatar"></div>
						<img width="48px" height="48px" src="${streamentry.event.get_actor_profile_pic("PROFILE_M")}">
					</div>
					<div class="txtComments">
						
						<span class="mainSpan"> <a class="bold" href="${url("get_pool", pool_url=streamentry.p_url)}">${streamentry.event.title}</a> has been <span class="bold">successfully funded!</span></span>
						 <div class="liner">
							<div class="timeCounterSmall">
								<span>SUCCESSFUL!</span>
								<div style="width: 100%;" class="timeCounterRight low">
									<div style="width: 100%;" class="timeCounterLeft low green"></div>
									</div>
							</div>
							<span class="bold tenPix middot">&middot;</span>
							<span class="contribSmall tenPix"><strong>${streamentry.event.no_contributors}</strong> ${_(u"FF_POOL_PAGE_HEADER_contributors")}</span>
						</div>
						<div class="liner">
							<span class="date tenPix">19 MINUTES AGO</span><span class="bold tenPix middot">&middot;</span>
							<span class=" tenPix link hider">PROMOTE<div class="moreActionsWrapper">
									<div class="moreActions hidden">
										<div class="arrowMoreActions">
											<img src="/static/imgs/arrowMoreAction.png">
										</div>
										<h6>${_("FF_MYPOOLS_PROMOTE THIS POOL")}</h6>
										<a href="${url("invite_index", pool_url=streamentry.p_url, v=3)}" class="link">${_("FF_MYPOOLS_Invite Friends")}</a>
										<span>|</span>
										<a class="link popuplink" _href="${url("pool_action", action="widget", pool_url=streamentry.p_url)}"> ${_(u"FF_POOL_PAGE_CHIPIN_embed widget")}</a>
										<h6>${_("FF_MYPOOLS_SHARE TOOLS")}</h6>
										<input type="text" onfocus="this.select()" value="${locals['full_pool_url']}"/>
										<div class="addthis_toolbox addthis_default_style">
										  <a class="addthis_button_facebook" addthis:url="${locals['full_pool_url']}"></a>
										  <a class="addthis_button_twitter" addthis:url="${locals['full_pool_url']}"></a>
										  <a class="addthis_button_email" addthis:url="${locals['full_pool_url']}"></a>
										  <a class="addthis_button_tumblr" addthis:url="${locals['full_pool_url']}" style="margin:0"></a>
										</div>
										<div class="atclear"></div>
									</div>
								</div></span>
						</div>
					</div>
				</div>
	%elif streamentry.event._get_root == "CONTRIBUTION":
		<% locals["days_left"] = streamentry.event.get_remaining_days_tuple()[0] %>
				<div class="entryStream">
					<img src="/static/imgs/chipped.png" class="kind" />
					<div class="avt">
						<div class="arrowAvatar"></div>
						<img width="48px" height="48px" src="${streamentry.event.get_actor_profile_pic("PROFILE_M")}">
					</div>
					<div class="txtComments">
						
						<span class="mainSpan"><span class="bold">${streamentry.event.contributor}</span> chipped in to <a class="bold" href="${url("get_pool", pool_url=streamentry.p_url)}">${streamentry.event.title}</a>. </span>
						 <div class="liner">
							<div class="timeCounterSmall">	
								<span class="white">${streamentry.event.funding_progress()*100}%</span>
								<div style="width: 100%;" class="timeCounterRight low">
									<div style="width: ${streamentry.event.funding_progress()*100}%;" class="timeCounterLeft low "></div>
									</div>
							</div>
							<span class="bold tenPix middot">&middot;</span>
							<span class="contribSmall tenPix"><strong>${streamentry.event.no_contributors}</strong> ${_(u"FF_POOL_PAGE_HEADER_contributors")}</span>
							<span class="bold tenPix middot">&middot;</span>
							<span class="timeLeft tenPix ${locals['days_left'] < 7 and "highlight" or ""}"><strong>${locals['days_left']}</strong> ${_(u"FF_POOL_PAGE_HEADER_Days left")}</span>
						</div>
						<div class="liner">
							<span class="date tenPix">20 MINUTES AGO</span><span class="bold tenPix middot">&middot;</span>
							<span class=" tenPix link hider">${_("FF_MYPOOLS_PROMOTE")}
								<div class="moreActionsWrapper">
									<div class="moreActions hidden">
										<div class="arrowMoreActions">
											<img src="/static/imgs/arrowMoreAction.png">
										</div>
										<h6>${_("FF_MYPOOLS_PROMOTE THIS POOL")}</h6>
										<a href="${url("invite_index", pool_url=streamentry.p_url, v=3)}" class="link">${_("FF_MYPOOLS_Invite Friends")}</a>
										<span>|</span>
										<a class="link popuplink" _href="${url("pool_action", action="widget", pool_url=streamentry.p_url)}"> ${_(u"FF_POOL_PAGE_CHIPIN_embed widget")}</a>
										<h6>${_("FF_MYPOOLS_SHARE TOOLS")}</h6>
										<input type="text" onfocus="this.select()" value="${locals['full_pool_url']}"/>
										<div class="addthis_toolbox addthis_default_style">
										  <a class="addthis_button_facebook" addthis:url="${locals['full_pool_url']}"></a>
										  <a class="addthis_button_twitter" addthis:url="${locals['full_pool_url']}"></a>
										  <a class="addthis_button_email" addthis:url="${locals['full_pool_url']}"></a>
										  <a class="addthis_button_tumblr" addthis:url="${locals['full_pool_url']}" style="margin:0"></a>
										</div>
										<div class="atclear"></div>
									</div>
								</div></span>
						</div>
					</div>
				</div>
	%elif streamentry.event._get_root == "CREATE_FREE_FORM_POOL":
				<div class="entryStream">
					<img src="/static/imgs/creategroup.png" class="kind" />
					<div class="avt">
						<div class="arrowAvatar"></div>
						<img width="48px" height="48px" src="${streamentry.event.get_actor_profile_pic("PROFILE_M")}">
					</div>
					<div class="txtComments">
						<span class="mainSpan"><span class="bold">${streamentry.event.name}</span> created <a class="bold" href="${url("get_pool", pool_url=streamentry.p_url)}">${streamentry.event.title}</a> </span>
						<div class="liner">
							%for img in streamentry.event.get_random_n_invitee_profile_pic(8, "PROFILE_S"):
							<div class="smallestImgWrap floatLeft" style="margin: 0 5px 0 0 ">
								<img width="24px" height="24px" src="${img}"/>
							</div>
							%endfor
							<span class="bold tenPix middot">&middot;</span>
							<span class="inviteesSmall tenPix"><strong>${streamentry.event.no_invitees}</strong> INVITEES</span>
							<div class="liner">
								<a href="#" class="bold">${streamentry.event.title}</a>
								<p>${streamentry.event.description}</p>
							</div>
						</div>
						 
						<div class="liner">
							<span class="date tenPix">20 MINUTES AGO</span><span class="bold tenPix middot">&middot;</span>
							<span class=" tenPix link hider">${_("FF_MYPOOLS_PROMOTE")}<div class="moreActionsWrapper">
									<div class="moreActions hidden">
										<div class="arrowMoreActions">
											<img src="/static/imgs/arrowMoreAction.png">
										</div>
										<h6>${_("FF_MYPOOLS_PROMOTE THIS POOL")}</h6>
										<a href="${url("invite_index", pool_url=streamentry.p_url, v=3)}" class="link">${_("FF_MYPOOLS_Invite Friends")}</a>
										<span>|</span>
										<a class="link popuplink" _href="${url("pool_action", action="widget", pool_url=streamentry.p_url)}"> ${_(u"FF_POOL_PAGE_CHIPIN_embed widget")}</a>
										<h6>${_("FF_MYPOOLS_SHARE TOOLS")}</h6>
										<input type="text" onfocus="this.select()" value="${locals['full_pool_url']}"/>
										<div class="addthis_toolbox addthis_default_style">
										  <a class="addthis_button_facebook" addthis:url="${locals['full_pool_url']}"></a>
										  <a class="addthis_button_twitter" addthis:url="${locals['full_pool_url']}"></a>
										  <a class="addthis_button_email" addthis:url="${locals['full_pool_url']}"></a>
										  <a class="addthis_button_tumblr" addthis:url="${locals['full_pool_url']}" style="margin:0"></a>
										</div>
										<div class="atclear"></div>
									</div>
								</div></span>
								
						</div>
					</div>
				</div>
	%elif streamentry.event._get_root == "CREATE_GROUP_GIFT_POOL":
		
				<div class="entryStream">
					<img src="/static/imgs/creategroup.png" class="kind" />
					<div class="avt">
						<div class="arrowAvatar"></div>
						<img width="48px" height="48px" src="${streamentry.event.get_actor_profile_pic("PROFILE_M")}">
					</div>
					<div class="txtComments">
						<span class="mainSpan"><span class="bold">${streamentry.event.name}</span> created <a class="bold" href="${url("get_pool", pool_url=streamentry.p_url)}">${streamentry.event.title}</a> </span>
						<div class="liner">
							%for img in streamentry.event.get_random_n_invitee_profile_pic(8, "PROFILE_S"):
							<div class="smallestImgWrap floatLeft" style="margin: 0 5px 0 0 ">
								<img width="24px" height="24px" src="${img}"/>
							</div>
							%endfor
							<span class="bold tenPix middot">&middot;</span>
							<span class="inviteesSmall tenPix"><strong>${streamentry.event.no_invitees}</strong> INVITEES</span>
							<div class="liner">
								<a href="#" class="bold">${streamentry.event.title}</a>
								<p>${streamentry.event.description}</p>
							</div>
						</div>
						 
						<div class="liner">
							<span class="date tenPix">20 MINUTES AGO</span><span class="bold tenPix middot">&middot;</span>
							<span class=" tenPix link">${_("FF_MYPOOLS_PROMOTE")}<div class="moreActionsWrapper">
									<div class="moreActions hidden">
										<div class="arrowMoreActions">
											<img src="/static/imgs/arrowMoreAction.png">
										</div>
										<h6>${_("FF_MYPOOLS_PROMOTE THIS POOL")}</h6>
										<a href="${url("invite_index", pool_url=streamentry.p_url, v=3)}" class="link">${_("FF_MYPOOLS_Invite Friends")}</a>
										<span>|</span>
										<a class="link popuplink" _href="${url("pool_action", action="widget", pool_url=streamentry.p_url)}"> ${_(u"FF_POOL_PAGE_CHIPIN_embed widget")}</a>
										<h6>${_("FF_MYPOOLS_SHARE TOOLS")}</h6>
										<input type="text" onfocus="this.select()" value="${locals['full_pool_url']}"/>
										<div class="addthis_toolbox addthis_default_style">
										  <a class="addthis_button_facebook" addthis:url="${locals['full_pool_url']}"></a>
										  <a class="addthis_button_twitter" addthis:url="${locals['full_pool_url']}"></a>
										  <a class="addthis_button_email" addthis:url="${locals['full_pool_url']}"></a>
										  <a class="addthis_button_tumblr" addthis:url="${locals['full_pool_url']}" style="margin:0"></a>
										</div>
										<div class="atclear"></div>
									</div>
								</div></span>
								
						</div>
					</div>
				</div>
		
	%elif streamentry.event._get_root == "INVITE":
				<div class="entryStream">
					<img src="/static/imgs/invite.png" class="kind" />
					<div class="avt">
						<div class="arrowAvatar"></div>
						<img width="48px" height="48px" src="${streamentry.event.get_actor_profile_pic("PROFILE_M")}">
					</div>
					<div class="txtComments">
						<div class="smallestImgWrap floatLeft" style="margin: 0 5px 0 0 ">
							<img width="24px" height="24px" src="${streamentry.event.get_random_invitee_profile_pic("PROFILE_S")}">
						</div>
						
						<span class="mainSpan"><span class="bold">${streamentry.event.name}</span> invited 
						
						
						%if len(streamentry.event.invitees)>4:
							<span class="bold">${', '.join(streamentry.event.get_random_n_names(3))}</span>
						and ${len(streamentry.event.invitees)-3} others
						%else:
							<span class="bold">${', '.join(pu.name for pu in streamentry.event.invitees)}</span>
						%endif
						 to 
							<a class="bold" href="${url("get_pool", pool_url=streamentry.p_url)}">${streamentry.event.title}</a> .</span>
						 
						<div class="liner">
							<span class="date tenPix">20 MINUTES AGO</span><span class="bold tenPix middot">&middot;</span>
							<span class="tenPix link hider">${_("FF_MYPOOLS_PROMOTE")}<div class="moreActionsWrapper">
									<div class="moreActions hidden">
										<div class="arrowMoreActions">
											<img src="/static/imgs/arrowMoreAction.png">
										</div>
										<h6>${_("FF_MYPOOLS_PROMOTE THIS POOL")}</h6>
										<a href="${url("invite_index", pool_url=streamentry.p_url, v=3)}" class="link">${_("FF_MYPOOLS_Invite Friends")}</a>
										<span>|</span>
										<a class="link popuplink" _href="${url("pool_action", action="widget", pool_url=streamentry.p_url)}"> ${_(u"FF_POOL_PAGE_CHIPIN_embed widget")}</a>
										<h6>${_("FF_MYPOOLS_SHARE TOOLS")}</h6>
										<input type="text" onfocus="this.select()" value="${locals['full_pool_url']}"/>
										<div class="addthis_toolbox addthis_default_style">
										  <a class="addthis_button_facebook" addthis:url="${locals['full_pool_url']}"></a>
										  <a class="addthis_button_twitter" addthis:url="${locals['full_pool_url']}"></a>
										  <a class="addthis_button_email" addthis:url="${locals['full_pool_url']}"></a>
										  <a class="addthis_button_tumblr" addthis:url="${locals['full_pool_url']}" style="margin:0"></a>
										</div>
										<div class="atclear"></div>
									</div>
								</div>
								</span>
						</div>
					</div>
				</div>
	%else:
		<hr/>
		<hr/>
		Some Forgotten Type: ${streamentry.event._get_root}
		<hr/>
		<hr/>
	%endif
%endfor
	
	

	
	<hr class="clear"/>
	<hr/>
	<hr/>
	<hr/>
	<hr/>
	<hr/>
	<hr/>
	<hr/>
	<hr/>
	<hr/>
	<hr/>
	<hr/><hr/>
	<hr/>
	<hr/>
	<hr/>
	<hr/>
	<hr/>
	<hr/>
	<hr/>
	<hr/>
	<hr/>
	<hr/>
	<hr/><hr/>
	<hr/>
	<hr/>
	<hr/>
	<hr/>
	<hr/>
	<hr/>
	<hr/>
	<hr/>
	<hr/>
	<hr/>
	<hr/><hr/>
	<hr/>
	<hr/>
	<hr/>
	<hr/>
	<hr/>
	<hr/>
	<hr/>
	<hr/>
	<hr/>
	<hr/>
	<hr/><hr/>
	<hr/>
	<hr/>
	<hr/>
	<hr/>
	<hr/>
	<hr/>
	<hr/>
	<hr/>
	<hr/>
	<hr/>
	<hr/><hr/>
	<hr/>
	<hr/>
	<hr/>
	<hr/>
	<hr/>
	<hr/>
	<hr/>
	<hr/>
	<hr/>
	<hr/>
	<hr/><hr/>
	<hr/>
	<hr/>
	<hr/>
	<hr/>
	<hr/>
	<hr/>
	<hr/>
	<hr/>
	<hr/>
	<hr/>
	<hr/><hr/>
	<hr/>
	<hr/>
	<hr/>
	<hr/>
	<hr/>
	<hr/>
	<hr/>
	<hr/>
	<hr/>
	<hr/>
	<hr/>
	
	
	
	
        <div class="entryStream">
        	<img src="/static/imgs/comment.png" class="kind" />
        	<div class="avt">
				<div class="arrowAvatar"></div>
				<img width="48px" height="48px" src="/s/user/8c/00/8c004e53261405b228a1f0f00c642c90_PROFILE_S.jpg">
			</div>
            <div class="txtComments">
            	
            	
				<span class="mainSpan"><span class="bold">Henry George</span> commented on <a class="bold" href="#">Ski Trip</a> </span>
                <div class="liner">
                	
                    	<p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt 
ut labore et dolore magna aliqua. Ut enim ad minim..."</p>

                </div>
                 
                <div class="liner">
               		<span class="date tenPix">20 MINUTES AGO</span><span class="bold tenPix middot">&middot;</span><span class=" tenPix link hider">PROMOTE</span>                </div>
			</div>
        </div>
    </div>
    <div class="clear"></div>
</div>








<div class="clear"></div>
</div>
