<div class="popupBackground dark"></div>
<div class="outerPopupFrame">
	<div class="whitePopupFrameLarge popupContentWindow">
	<span class="panelcloser panelclosing_x">x</span>
		<div>
			<h3 class="borderSmall">${_("FF_UPLOADPICTUREPOPUP_Change the Picture")}</h3>
			<div class="popupPadder">
			<form id="picture_popup_form" method="POST" enctype="multipart/form-data">
			<div class="upImgCnt">
			<img src="${app_globals.statics_service.get_product_picture(c.pool_picture, "FF_POOLS")}" width="190px" height="150px" class="allowed displayed" id="URLPproductPictureImdt"/>
			</div>
			<div class="floatLeft" style="margin: 3px 10px 0 0">
				<label for="pool_picture">${_("FF_UPLOADPICTUREPOPUP_Upload Picture")}</label>
				<input name="pool_picture" type="file" size="10" maxlength="100000" accept="image/*">
			</div>
			<p>${_("FF_UPLOADPICTUREPOPUP_JPEG, PNG or GIF. MAX FILE SIZE: 5 MB")}</p>
			<div style="clear:both; padding-bottom:20px">
			<a class="primarySmall floatLeft" 
				onclick="ff.io.ioIframeGetJson('${url(controller="product", action="ulpicture")}', 'picture_popup_form', ff.parser.reloadPicture('URLPimgCntSld', 'URLPproductPictureImdt', 'URLPproductPicture'));">
				<span>${_("FF_UPLOADPICTUREPOPUP_Save")}</span>
			</a>
			
			
			<input type="button" value="${_("FF_UPLOADPICTUREPOPUP_Submit")}" class="transp primarySmall floatLeft" id="purlSaveButton" style="margin-left:12px"/>
			<div class="clear"></div>
			</div>
			</form>
			
			<div class="clear"></div>
			</div>
			
        </div>
	</div>
</div>