<%inherit file="../layout.html"/>

<div class="wrapSubHeader">${self.renderMessages()|n}
	<div class="subHeader">
		<div class="userProfile">
			<div class="empty">
				<h2>${next.heading()}</h2>
			</div>
		<div class="clear"></div>
		</div>
	</div>
</div>
<div class="wrapSubContent">
	<div class="content spLay">
		${self.render_right_col()}
		<div class="colLeft">
			${next.render_content()}
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>




<%def name="entry(content, url, selected)">
	%if selected:
		<span>${content}</span>
	%else:
		<a href="${url}">${content}</a>
	%endif
</%def>

<%def name="render_right_col()">
<% 
	action = request.environ['wsgiorg.routing_args'][1]['action'] 
	lang = h.get_language_locale()
%>

	<div class="colRight">
       <div class="generalInfo">
	   <h5>${_("FF_STATIC_MENU_About")}</h5>
        <ul>
			<li>${self.entry(_("FF_STATIC_MENU_How Does It Work"), url("short_content", action="learn_more", lang=lang), action == "learn_more")}</li>
        	<li>${self.entry(_("FF_STATIC_MENU_About Friendfund"), url("short_content", action="aboutus", lang=lang), action == "aboutus")}</li>
        	<li>${self.entry(_("FF_STATIC_MENU_Our blog"), "http://blog.friendfund.com", False)}</li>
        	<li>${self.entry(_("FF_STATIC_MENU_Jobs"), url("short_content", action="jobs", lang=lang), action == "jobs")}</li>
        	<li>${self.entry(_("FF_STATIC_MENU_Frequently Asked Questions"), url("short_content", action="faq", lang=lang), action == "faq")}</li>
        </ul>
		<h5>${_("FF_STATIC_MENU_Contact")}</h5>
		<ul>
			<li>${self.entry(_("FF_STATIC_MENU_Contact Friendfund"), url("short_content", action="contact", lang=lang), action == "contact")}</li>
			<li>${self.entry(_("FF_STATIC_MENU_Become a Partner"), url("short_content", action="what_you_get", lang=lang), action == "what_you_get")}</li>
		</ul>
		<h5>${_("FF_STATIC_MENU_Legal")}</h5>
		<ul>
			<li>${self.entry(_("FF_STATIC_MENU_Imprint"), url("short_content", action="imprint", lang=lang), action == "imprint")}</li>
			<li>${self.entry(_("FF_STATIC_MENU_Terms of Service"), url("short_content", action="tos", lang=lang), action == "tos")}</li>
			<li>${self.entry(_("FF_STATIC_MENU_Privacy"), url("short_content", action="privacy", lang=lang), action == "privacy")}</li>
			<li>${self.entry(_("FF_STATIC_MENU_Chip in with confidence"), url("short_content", action="confidence", lang=lang), action == "confidence")}</li>
	    </ul>
        <ul>
			<li>${self.entry(_("FF_MENU_Create a pool"), h.create_pool_link(request, url), False)|n}</li>
       	</ul>
       </div>
       <div class="colRightWhite"></div>
       <div  class="generalInfo lastBox noBorder">
       	<h5>${_("FF_STATIC_MENU_Connect with Us")}</h5>
        	<a href="http://www.facebook.com/friendfund" class="linkFb">Facebook</a>
            <a href="http://twitter.com/#!/friendfund" class="linkTw">Twitter</a>
       </div>
       
   </div>
</%def>