<%
	occasion = getattr(getattr(c, 'pool', None), 'occasion', None)
%>
<div id="button_occasion" class="hpbutton occasion">
	<a class="button">
		<img src="/static/legacy/imgs/header/panel_header_event.png"/>
	</a>
	<!--<a class="button"><div class="button_label">When<span class="button_label_q">?</span></div></a>-->
	%if occasion:
		<div class="button_content">
			<a class="content withbg"><img class="button_content" src="${getattr(occasion, 'picture_url')}"/></a>
			<div class="label">${getattr(occasion, 'display_label')}</div>
		</div>
	%else:
		<div class="button_content">
			<a class="content nobg"></a>
			<div class="label">${_('PAGE_INDEX_BUTTON_Select an Event')}
				<div class="sub_label ">${_("PAGE_INDEX_BUTTON_Select the special occasion for which your gift pool is being created.")}</div>
			</div>
		</div>
	%endif
	<input type="hidden" name="occasion.key" id="occasion_key" value="${getattr(occasion, 'key', '')}"/>
	<input type="hidden" name="occasion.name" id="occasion_name" value="${getattr(occasion, 'name', '')}"/>
	<input type="hidden" name="occasion.date" id="occasion_date" value="${getattr(occasion, 'internal_date_format', '')}"/>
</div>
<div class="extender">&nbsp;</div>