<div class="popupBackground dark"></div>
<div class="outerPopupFrame">
	<div class="whitePopupFrameLarge fixed popupContentWindow">
	<span class="panelcloser panelclosing_x">x</span>
		<div>
			<h3 class="borderSmall">${_("FF_CANCELPAYMENT_POPUP_Sorry, you have no contribution")}</h3>
			<div class="popupPadder">
			<p>${_("FF_CANCELPAYMENT_POPUP_You have no contribution in this pool. You cannot cancel any contribution.")}</p>
			<div style="margin-top: 30px; margin-bottom:20px">
				<span class="floatLeft primarySmall panelcloser" style="margin:10px 0 20px 0">${_("FF_Close")}</span>
				<div class="clear"></div>
			</div>
			</div>
		</div>
	</div>
</div>