<%inherit file="../layout_layer.html"/>
<%namespace name="forms" file="../widgets/forms.html"/>
<%namespace name="html" file="../widgets/html_elems.html"/>

<%def name="title()">${_("CONTRIBPAGE_TITLE_Payment Settings")}</%def>
<%def name="page_slogan()">
<div id="page_slogan">${_("CONTRIBPAGE_SLOGAN_Payment Settings")}</div>
</%def>

<%def name="headscripts()">
	var textCounter = function(field, countfield, maxlimit) {if(field.value.length > maxlimit){field.value=field.value.substring(0, maxlimit);}else{countfield.value=maxlimit-field.value.length;}};
</%def>

<div id="contributioncontainer" class="innerbody">
  <div class="panel_content">
	<form method="POST" action="${url(c.action, pool_url=c.pool.p_url, protocol=app_globals.SSL_PROTOCOL)}" id="contribution_form">
		<div class="floaterLeft">
		<div class="whiteBoxSmall floaterLeft">
			<div class="floaterLeft marginRight30">
			<h2>${(_("CONTRIBPAGE_LABEL_Your message to %(receivername)s") % dict([("receivername", c.pool.receiver.receiver_label)]))|n}</h2>
			<textarea cols="30" rows="4" wrap="soft"
							onKeyDown="textCounter(this,this.form.remLen,140);" 
							onKeyUp="textCounter(this,this.form.remLen,140);" 
							name="chipin.message" id="chipin_message">${c.chipin_values.get("message", c.pool.get_my_message(c.user))}</textarea>
			<input readonly="readonly" type="text" id="chipin_message_remLen" name="remLen" size="3" maxlength="3" value="${140-len(c.chipin_values.get("message", c.pool.get_my_message(c.user)) or '')}"> 
			</div>
		<div class="clear"></div>
		</div>
	  </div>
     
	<div class="amount floaterLeft">   
		<div class="whiteBoxSmall floaterLeft">
		<div class="floaterLeft marginRight45">
		 <h2>${_("CONTRIBPAGE_TITLE_LABEL_Amount")}</h2>
			<div class="contributionAmount"> 
				<div class="forminputline">
					<label for="chipin_amount">${_("CONTRIBPAGE_LABEL_Chip in")}(*)</label>
					%if c.paymentpage.amount_fixed:
						<input disabled="disabled" type="text" class="contrib_amount" id="chipin_amount" value="${c.paymentpage.amount or c.chipin_values.get('amount', '')}" />
						<input type="hidden" id="chipin_amount_fixed" name="chipin.amount" value="${c.paymentpage.amount or c.chipin_values.get('amount', '')}" />
					%else:
						<input type="text" class="contrib_amount" id="chipin_amount" name="chipin.amount" value="${c.chipin_values.get('amount', '')}" onKeyUp="calcTotals(this)" />
					%endif
					<span class="currencyDisplay">${h.display_currency(c.pool.currency)|n}</span>
					<div class="contrib_error_message">${getattr(c, "chipin_errors", dict()).get("amount", "")}</div>
				</div>
				
				<div class="forminputline">
					<span class="label"></span><span class="grey">${(_("CONTRIBPAGE_LABEL_+ Transaction cost of <span id=\"label_absolute_fees\">%(absolute)s</span> cents and <span id=\"label_relative_fees\">%(relative)s</span>%%")%dict([('absolute', c.paymentpage.default.fee_absolute), ('relative', c.paymentpage.default.fee_relative)]))|n}</span>
				</div>
			</div>
			
		</div>
		<div id="verisign_contrib">
			<table width="135" border="0" cellpadding="2" cellspacing="0" title="Click to Verify - This site chose VeriSign SSL for secure e-commerce and confidential communications.">
			<tr>
			<td width="135" align="center" valign="top">
				<script type="text/javascript" src="https://seal.verisign.com/getseal?host_name=www.friendfund.com&amp;size=S&amp;use_flash=NO&amp;use_transparent=NO&amp;lang=en"></script><br />
				<a href="http://www.verisign.com/ssl-certificate/" target="_blank"  
						style="color:#000000; text-decoration:none; font:bold 7px verdana,sans-serif; letter-spacing:.5px; text-align:center; margin:0px; padding:0px;">ABOUT SSL CERTIFICATES</a>
			</td>
			</tr>
			</table>
		</div>
	</div>
  </div>

  <div class="terms">
  
	<div class="payement-container">
			${_("STATIC_TERMS_OF_SERVICE_CONTENT")|n}
      <div class="floaterRight agree">
			<input type="checkbox" id="chipin_agreedToS" name="chipin.agreedToS" value="yes" ${forms.input_checked("chipin", "agreedToS", True)|n}/>
			<label for="chipin_agreedToS">${_("CONTRIBPAGE_LABEL_Accept terms of services")}</label>
			<div class="error_message error_input">${getattr(c, "chipin_errors", dict()).get("agreedToS", "")}</div>
      </div>
      </div>
      </div>
    </form>
	<div style="padding-top:20px;float:left;width:880px;">
		%if c.back_to_admin:
			<a class="submitSmallLeft settings_submitter" href="${url(controller='pool', pool_url=c.pool.p_url, action='settings', protocol='http')}"><span>${_("CONTRIBPAGE_LABEL_Back To Pool Settings")}</span></a>
		%else:
			<a class="submitSmallLeft settings_submitter" href="${url('ctrlpoolindex', controller='pool', pool_url=c.pool.p_url, protocol='http')}"><span>${_("CONTRIBPAGE_LABEL_Back To Pool")}</span></a>
		%endif
		<a class="submitSmall" onclick="dojo.byId('contribution_form').submit();" id="submitter"><span>${_("CONTRIBPAGE_LABEL_Submit")}</span></a>
	</div>
    ${html.clearline()|n} </div>
  ${html.clearline()|n} </div>
