<%inherit file="../layout_layer.html"/>
<%namespace name="html" file="../widgets/html_elems.html"/>

<%def name="onloadscripts()">
		var submitForm = function(evt){
			dojo.disconnect(h);
			evt.stopPropagation();
			evt.preventDefault();
			dojo.place("<div style=\"margin: 0px auto;text-align:center;\">" +  loading_animation + "</div>", dojo.byId("payment_details_submitter"), "replace");
			xhrFormPost("${url(controller='contribution', pool_url=c.pool.p_url, action='creditcard')}", "payment_details_form", function(data){
					dojo.place(data.html, dojo.byId("payment_details_status"), "only");
					if(dojo.byId("payment_details_submitter")){
						var h = dojo.connect(dojo.byId("payment_details_submitter"), "onclick", function(evt){dojo.disconnect(h);submitForm(evt);});
					}
				});
		};
	var h = dojo.connect(dojo.byId("payment_details_submitter"), "onclick", function(evt){dojo.disconnect(h);submitForm(evt);});

</%def>
<%def name="title()">${_("PAYMENT_DETAILS_Chip In Details")}</%def>
<%def name="page_slogan()"><div id="page_slogan">${_("PAYMENT_DETAILS_Payment Details")}</div></%def>


<div id="paymentdetailscontainer" class="innerbody">
	<div class="panel_title">
		${_("PAYMENT_DETAILS_Total Amount:")}
	</div>
	<div class="panel_content white">
		<div id="payment_details_amount">
			${_("PAYMENT_DETAILS_You are chipping in:")}
			<div class="floaterRight amount clearer">${h.format_currency(c.contrib.get_amount(), c.contrib.currency)|n}</div>
			%if c.paymentpage.has_fees:
				<div class="floaterRight amount clearer"><span>+ </span>${h.format_currency(c.contrib.get_difference(), c.contrib.currency)|n}</div>
			%endif
			<div class="floaterRight amount clearer totalsum"><span class="total_label">${_("CONTRIBPAGE_LABEL_Total")}</span>${h.format_currency(c.contrib.get_total(), c.contrib.currency)|n}</div>
		</div>
	</div>
	<div id="verisign_payment">
	<table width="135" border="0" cellpadding="2" cellspacing="0" title="Click to Verify - This site chose VeriSign SSL for secure e-commerce and confidential communications.">
			<tr>
			<td width="135" align="center" valign="top">
				<script type="text/javascript" src="https://seal.verisign.com/getseal?host_name=www.friendfund.com&amp;size=S&amp;use_flash=NO&amp;use_transparent=NO&amp;lang=en"></script><br />
				<a href="http://www.verisign.com/ssl-certificate/" target="_blank"  style="color:#000000; text-decoration:none; font:bold 7px verdana,sans-serif; letter-spacing:.5px; text-align:center; margin:0px; padding:0px;">ABOUT SSL CERTIFICATES</a>
			</td>
			</tr>
	</table></div>
	
	
	<div id="payment_details_status">
	%if getattr(c, 'success', None) is None:
		<%include file="payment_details_form.html"/>
	%else:
		<%include file="payment_success.html"/>
	%endif
	</div>
	${html.clearline(20)|n}
</div>