<%
	receiver = getattr(getattr(c, 'pool', None), 'receiver', None)
%>
<div id="button_receiver" class="hpbutton receiver hover">
	<a class="button">
		<img src="/static/imgs/header/panel_header_receiver.png"/>
	</a>
	<div class="button_content">
		<a class="content"><img class="loaders_animation" src="/static/imgs/ajax-loader.gif"/>
			<img class="button_content" src="${getattr(receiver, 'large_profile_picture_url', '/static/imgs/header/panel_content_receiver.png')}"/></a>
		<a name="button_panel_container_anchor" id="button_panel_container_anchor" style="position: absolute;top: 130px;"></a>
		
		<div class="label">${getattr(receiver, 'receiver_label', _('PAGE_INDEX_BUTTON_Select a Friend'))}
		%if not receiver:
			<div class="sub_label ">${_("PAGE_INDEX_BUTTON_Select your gift receiver from your Facebook, Twitter or email friends.")}</div>
		%endif
		</div>
	</div>
	<input type="hidden" name="receiver.network" 		id="receiver_network" 		value="${getattr(receiver, 'network', '')}"/>
	<input type="hidden" name="receiver.network_id" 	id="receiver_network_id" 	value="${getattr(receiver, 'network_id', '')}"/>
	<input type="hidden" name="receiver.name" 		id="receiver_name" 			value="${getattr(receiver, 'name', '')}"/>
	<input type="hidden" name="receiver.email" 		id="receiver_email" 		value="${getattr(receiver, 'email', '')}"/>
	<input type="hidden" name="receiver.sex" 			id="receiver_sex" 			value="${getattr(receiver, 'sex', '')}"/>
</div>
<div class="extender">&nbsp;</div>