<%
	receiver = getattr(getattr(c, 'pool', None), 'receiver', None)
%>
<div id="button_receiver" class="hpbutton receiver">
	<a class="button"><img src="/static/legacy/imgs/header/panel_header_receiver.png"/></a>
	<!--<a class="button"><div class="button_label">Who<span class="button_label_q">?</span></div></a>-->
	%if receiver:
		<div class="button_content">
			<a class="content withbg">
				<img class="loaders_animation" src="/static/legacy/imgs/ajax-loader.gif"/>
				<img class="button_content" src="${getattr(receiver, 'profile_picture_url')}"/></a>
			<a name="button_panel_container_anchor" id="button_panel_container_anchor" style="position: absolute;top: 135px;"></a>
			<div class="label">${getattr(receiver, 'receiver_label')}</div>
		</div>
		<input type="hidden" name="receiver.network" 		id="receiver_network" 		value="${getattr(receiver, 'network', '')}"/>
		<input type="hidden" name="receiver.network_id" 	id="receiver_network_id" 	value="${getattr(receiver, 'network_id', '')}"/>
		<input type="hidden" name="receiver.name" 			id="receiver_name" 			value="${getattr(receiver, 'name', '')}"/>
		<input type="hidden" name="receiver.email" 			id="receiver_email" 		value="${getattr(receiver, 'email', '')}"/>
		<input type="hidden" name="receiver.dob" 			id="receiver_dob" 			value="${getattr(receiver, 'dob', '')}"/>
	%else:
		<div class="button_content">
			<a class="content nobg">
			<a name="button_panel_container_anchor" id="button_panel_container_anchor" style="position: absolute;top: 135px;"></a>
			<div class="label">${_('PAGE_INDEX_BUTTON_Select a Friend')}
				<div class="sub_label ">${_("PAGE_INDEX_BUTTON_Select your gift receiver from your Facebook, Twitter or email friends.")}</div>
			</div>
		</div>
	%endif
	<input type="hidden" name="receiver.sex" 			id="receiver_sex" 			value="${getattr(receiver, 'sex', '')}"/>
</div>
<div class="extender">&nbsp;</div>