<%!
	import md5
%>
<%namespace name="forms" file="../widgets/forms.html"/>


<%def name="networkinviter(network_name)">
	<div class="first">
		<span>${_("GG_RECEIVER_Recipients Name")}</span>
	</div>
	<div class="typeAheadSelector">
	<input type="text" id="filter_${network_name}" autocomplete="off" value="${_("GG_RECEIVER_Type name")}" _default_text="${_("GG_RECEIVER_Type name")}" class="receiverFilter default floatLeft" />
	<div class="friendsList receiverList hidden">
	  <ul id="friend_list_${network_name}">
	  </ul>
	</div>
	</div>
</%def>

<%def name="mailinviter(submit_name = None)">
	<% 
		if submit_name is None:
			submit_name = _("FF_INVITER_EMAIL_Add to Invitees")
	%>
	<form method="POST" id="emailinviter">
		<span class="${"name" in c.email_errors and "error" or ""}">
			<div class="first ${"name" in c.email_errors and "error" or ""}">
				<span><label for="email_networkname">${_("FF_INVITER_EMAIL_Friend's Name")}</label></span>
			</div>
			<input value="${c.email_values.get("name") or _("FF_INVITER_EMAIL_Friend's Name")}" _default_text="${_("FF_INVITER_EMAIL_Friend's Name")}" id="email_networkname" name="invitee.name" type="text" class="txtMail default" />
		</span>
		<div class="clear"></div>
		<span class="${"network_id" in c.email_errors and "error" or ""}">
			<div class="first">
				<span><label for="email_email">${_("FF_INVITER_EMAIL_Email")}</label></span>
			</div>
			<input _default_text="${_("FF_INVITER_EMAIL_Email")}" value="${c.email_values.get("network_id") or _("FF_INVITER_EMAIL_Email")}" id="email_email" name="invitee.network_id" type="text" class="txtMail default" />
		</span>
		<div class="btnContainer">
			<input type="button" id="emailsubmitter" value="${submit_name}" class="primaryButton" />
		</div>
		<input type="hidden" name="invitee.network" value="email"/>
		<input type="hidden" name="invitee.notification_method" value="email"/>
	 </form>
</%def>


<%def name="render_email_friend(user_data)">
	<div class="first">
		<span>${_("GG_RECEIVER_Recipients Name")}</span>
	</div>
	<div class="typeAheadSelector">
		<img src="${user_data["large_profile_picture_url"]}" class="smallProfPic">
		<input type="text" autocomplete="off" value="${user_data["name"]}" class="receiverFilter default floatLeft selected" />
		<span class="close" href="#">X</span>
	</div>
</div>
</%def>