<%namespace name="forms" file="../widgets/forms.html"/>
<%namespace name="html" file="../widgets/html_elems.html"/>
<%namespace name="blockrenderer" file="../invite/inviter.html"/>


%if c.method == 'facebook':
	${networkinviter("facebook", c.friends, False)}
%elif c.method == 'twitter':
	${networkinviter("twitter", c.friends, False)}
%elif c.method == 'email':
	${blockrenderer.mailinviter()}
%endif

<%def name="networkinviter(network_name, friends, mutuals)">
	<div id="networkinviter_${network_name}" class="receiverselector">
		
		<div id="inviteheader">
			<input type="text" value="${_("INVITE_PAGE_LABEL_Search friends ...")}" name="fb_filter" id="fb_filter" _default_text="${_("INVITE_PAGE_LABEL_Search friends ...")}" class="default">
			<div style="clear:both"></div>
		</div>
		
		<div id="friend_list">
			${blockrenderer.render_network_friends(friends, mutuals = mutuals, show_birthdays = True, add_label=_("RECEIVER_PANEL_Select"))|n}
		</div>
	</div>
</%def>