<%!
	import md5
%>
<%namespace name="forms" file="../widgets/forms.html"/>


<%def name="networkinviter(network_name)">
	<div class="first">
		<span>${_("Recipients Name")}</span>
	</div>
	<div class="typeAheadSelector">
	<input type="text" id="filter_${network_name}" autocomplete="off" value="${_("GG_RECEIVER_Type name")}" _default_text="${_("GG_RECEIVER_Type name")}" class="receiverFilter default floatLeft" />
	<div class="friendsList receiverList hidden">
	  <ul id="friend_list_${network_name}">
	  </ul>
	</div>
	</div>
</%def>

<%def name="mailinviter(submit_name = None)">
	<% 
		if submit_name is None:
			submit_name = _("FF_INVITER_EMAIL_Add to Invitees")
	%>
	<form action="" method="POST" id="emailinviter">
	<div class="arrowSubTab"></div>
	<div class="firstSpacer floatLeft ${"name" in c.email_errors and "error" or ""}"><label for="email_networkname" class="fixedWidth">${_("FF_INVITER_EMAIL_Friend's Name")}</label>
		<input value="${c.email_values.get("name") or _("FF_INVITER_EMAIL_Friend's Name")}" _default_text="${_("FF_INVITER_EMAIL_Friend's Name")}" id="email_networkname" name="invitee.name" type="text" class="txtMail default" />
		%if "name" in c.email_errors:
			<p>${c.email_errors['name']}</p>
		%endif
	</div>
	<div class="secondSpacer floatLeft ${"network_id" in c.email_errors and "error" or ""}"><label for="email_email" class="fixedWidth">${_("FF_INVITER_EMAIL_Email")}</label>
		<input _default_text="${_("FF_INVITER_EMAIL_Email")}" value="${c.email_values.get("network_id") or _("FF_INVITER_EMAIL_Email")}" id="email_email" name="invitee.network_id" type="text" class="txtMail default" />
		%if "network_id" in c.email_errors:
			<p class="floatLeft">${c.email_errors['network_id']}</p>
		%endif
	</div>
	<div class="btnContainer">
		<input type="button" id="emailsubmitter" value="${submit_name}" class="primaryButton" />
	</div>
	<input type="hidden" name="invitee.network" value="email"/>
	<input type="hidden" name="invitee.notification_method" value="email"/>
	 </form>
</%def>


<%def name="render_email_friends(friends, active = True, class_='selectable', var_show_name = True)">
%for i,(id, user_data) in enumerate(friends.items()):
	<li title="${user_data["name"]}" class="invitee_row selectable" id="email_${ md5.new(id).hexdigest() }" _network="email" pos="i">
		<div class="avt">
			<span class="displayable close" href="#">X</span>
			<img src="${user_data["large_profile_picture_url"]}">
		</div>
		%if not var_show_name:
			<p>${user_data["name"]}</p>
		%endif
		<input type="hidden" name="invitees" value="${h.encode_minimal_repr(user_data)}"/>
	</li>
	%endfor
</%def>