<%namespace name="html" file="../widgets/html_elems.html"/>
<%namespace name="form_widgets" file="../widgets/forms.html"/>

<div id="button_panel" class="receiver">
	<div id="network_methodselector" class="panel_title"><!-- <span class="selectFriend">${_("RECEIVER_PANEL_HEADER_Select a friend from:")} </span> -->
			<a class="methodselector ajaxlink ${c.method == 'facebook' and 'selected' or ''}" _target="inviter" _type="facebook"><span><img src="/static/imgs/icon_fb_connect.png"> Facebook</span></a>
			<a class="methodselector ajaxlink ${c.method == 'twitter' and 'selected' or ''}" _target="inviter" _type="twitter"><span><img src="/static/imgs/icon_tw_connect.png">  Twitter</span></a>
			<a class="methodselector ajaxlink ${c.method == 'email' and 'selected' or ''}" _target="inviter" _type="email"><span><img src="/static/imgs/icon_mail.png"> Email</span></a>
			<a class="methodselector"><span>${_("RECEIVER_PANEL_HEADER_or")}</span></a>
			<a class="methodselector ajaxlink ${c.method == 'yourself' and 'selected' or ''}" _target="inviter" _type="yourself">
				<span><img src="/static/imgs/header/icon_recipient_small.png"> ${_("RECEIVER_PANEL_HEADER_choose yourself")}</span>
			</a>
	</div>
	<a class="button_panel_closer">&nbsp;</a>
	${html.clearline()}
	<div id="receiver_selector_container">
		<div id="receiver_selector"><div style="margin: 0px auto;">${html.loading_animation()|n}</div></div>
	</div>
	${html.clearline()}
</div>
