<%def name="black_input_text(id, name, label = None, type='text', value='', required = False, width='100', defaulting=True, default=None)">
	${self.black_input(id, name, label, type, value, required, width, leftbrackettag='div', leftbracketclass='left_bracket', defaulting=defaulting, default=default)|n}
</%def>

<%def name="black_search_text(id, name, label = None, type='text', value='', required = False, width='100', defaulting=True, default=None)">
	${self.black_input(id, name, label, type, value, required, width, leftbrackettag='div', leftbracketclass='left_button_search', defaulting=defaulting, default=default,baseclass='big')|n}
</%def>

<%def name="black_submitlink(label, args, classes='', href=None)">
<a class="black_labeled_container ${classes}" ${' '.join(['%s="%s"'%(k,v) for k,v in args])|n} ${(href and 'href="%s"'%href or '')|n}>
<div class="right_bracket">&nbsp;</div>
<div class="left_bracket">&nbsp;</div>
${label}</a>
</%def>

<%def name="button_submitlink(label, args, classes='', href=None)">
<a class="button_labeled_container ${classes}" ${' '.join(['%s="%s"'%(k,v) for k,v in args])|n}  ${(href and 'href="%s"'%href or '')|n}>
<div class="right_bracket"></div>${label}
</a>
</%def>


<%def name="black_submitlink_back(label, args, classes='', href=None)">
<a class="black_labeled_container ${classes}" ${' '.join(['%s="%s"'%(k,v) for k,v in args])|n}  ${(href and 'href="%s"'%href or '')|n}>
<div class="right_bracket_back">&nbsp;</div>
<div class="left_bracket_back">&nbsp;</div>
${label}</a>
</%def>


<%def name="black_input(id, name, label = None, type='text', value='', required = False, width='100', leftbrackettag=None, leftbracketclass=None, defaulting=True, default=None, baseclass=None)">
	<div class="inputcontainer">
		%if label is not None:
			<label class="black_labeled_container" for="${id}">${label}${required and "(*)" or ""}</label>
		%endif
		<div class="black_labeled_container${baseclass and '_%s'%baseclass or ''}" style="width:${width}px;" id="${id}_container">
			<div class="right_bracket">&nbsp;</div>
			<${leftbrackettag} class="${leftbracketclass}">&nbsp;</${leftbrackettag}>
			<input class="black_labeled_input${(not value and defaulting) and ' default' or ''}"
					%if defaulting and default:
						_default_text="${default}"
					%endif
					style="width:${width}px;" 
					type="${type}" 
					id="${id}" 
					name="${name}" 
					value="${value or default}"/>
		</div>
	</div>
</%def>


<%def name="black_input_datepicker(id, name, value, label=None, width='100', args=[])">
	<div class="black_labeled_container right" style="width:${width}px;">
		<div class="left_bracket">&nbsp;</div>
		<div class="black_labeled_input" style="width:${width}px;">
		<div id="${id}" jsid="${id}" type="text" name="${name}" value="${value}" dojoType="dijit.form.DateTextBox" ${' '.join(['%s="%s"'%(k,v) for k,v in args])|n}></div>
		</div>
		<a class="button_open_down" id="datepicker_opener">&nbsp;</a>
	</div>
	%if label:
		<label class="black_labeled_container right" for="${id}">${label}</label>
	%endif
</%def>


<%def name="black_input_select(id, name, choices, choicegetter = (lambda x: (x[0], x[1])), width='280')">
<div class="black_labeled_container" style="overflow: hidden; width: 280px; padding: 0px 10px;">
	<div style="left:0px" class="left_bracket">&nbsp;</div>
	<select id="${id}" name="${name}" class="black_labeled_input"> 
		%for key, val in map(choicegetter, choices): 
				<option value="${key}">${val}</option>
		%endfor
	</select>
	<a style="right:6px;" class="button_open_down" onclick="console.log(this)" href="#">&nbsp;</a>
</div>
</%def>


<%def name="input_text(group, name, label, type='text', with_value=True, with_errors=True, required = False, _classes = [],_labelclasses = [], _inputclasses = [], attribs = [])">
<%
	value = getattr(c, "%s_values"%group, dict()).get(name, "")
	if isinstance(value, float):
		value = h.format_number(value)
%>
	<label for="${group}_${name}" class="${' '.join(_classes+_labelclasses)}">${label}${required and "(*)" or ""}</label>
	<input type="${type}" id="${group}_${name}" name="${group}.${name}"
			${attribs and ' '.join('%s="%s"'%(k,v) for k,v in attribs) or ''|n}
			value="${value}"
			class="${(name in getattr(c, "%s_errors"%group, dict())) and 'error' or ''} ${' '.join(_classes+_inputclasses)}"
		/>
		%if with_errors and hasattr(c, "%s_errors"%group) and getattr(c, "%s_errors"%group).get(name, None):
			<div class="error_message error_input ${' '.join(_classes)}">${unicode(getattr(c, "%s_errors"%group).get(name, ""))|n}</div>
		%endif
</%def>


<%def name="input_textarea(group, name, label, with_value=True, with_errors=True)">
	<label for="${group}_${name}">${label}</label>
	<textarea id="${group}_${name}" name="${group}.${name}" 
		>${with_value and getattr(c, "%s_values"%group, "").get(name, "")}</textarea>
		%if with_errors and hasattr(c, "%s_errors"%group) and getattr(c, "%s_errors"%group).get(name, None):
			<div class="error_message error_textarea">${getattr(c, "%s_errors"%group).get(name, "")}</div>
		%endif
</%def>



<%def name="input_select(group, name, label, choices, choicegetter = (lambda x: (x[0], x[1])), with_value=True, with_errors = True, required = False)">
	%if label:
		<label for="${group}_${name}">${label}${required and "(*)" or ""}</label>
	%endif
	<select id="${group}_${name}" name="${group}.${name}" class="${(name in getattr(c, "%s_errors"%group, dict())) and 'error' or ''}"> 
		%for key, val in map(choicegetter, choices): 
			%if with_value and hasattr(c, "%s_values"%group):
				<option value="${key}" 
					${getattr(c, "%s_values"%group).get(name, "") == unicode(key) and 'selected="selected"' or ' '}>${val}</option>
			%else:
				<option value="${key}">${val}</option>
			%endif
		%endfor
		</select>
		%if hasattr(c, "%s_errors"%group) and getattr(c, "%s_errors"%group).get(name, None):
			<div class="error_message error_select">${getattr(c, "%s_errors"%group).get(name, "")}</div>
		%endif
</%def>


<%def name="input_checkbox(group, name, label, value, with_value=True, required = False)">
	<label for="${group}_${name}">${label}${required and "(*)" or ""}</label>
	<input type="checkbox" id="${group}_${name}" name="${group}.${name}" value="${value}"
		%if with_value and hasattr(c, "%s_values"%group):
			${self.input_checked(group, name, value)}
		%endif
		/>
		%if hasattr(c, "%s_errors"%group) and getattr(c, "%s_errors"%group).get(name, None):
			<div class="error_message error_checkbox">${getattr(c, "%s_errors"%group).get(name, "")}</div>
		%endif
</%def>



<%def name="input_selected(group, name, value)">${expression_quote(hasattr(c, "%s_values"%group) and getattr(c, "%s_values"%group).get(name, "") == value, "selected")|n}</%def>
<%def name="input_checked(group, name, value, default = False)">${expression_quote((name not in getattr(c, "%s_values"%group,dict()) and default) or hasattr(c, "%s_values"%group) and getattr(c, "%s_values"%group).get(name, "") == value, "checked")|n}</%def>

<%def name="expression_quote(expr, tagname, value=None)">${(expr and '%s="%s"'%(tagname, value or tagname) or '')|n}</%def>

<%def name="error_msg(group, name, msg = None, type='')">
		%if not msg and hasattr(c, "%s_errors"%group):
			<div class="error_message ${type}">
				${getattr(c, "%s_errors"%group).get(name, "")}
			</div>
		%else:
			<div class="error_message ${type}">
				${msg}
			</div>
		%endif
</%def>