<%namespace name="html" file="html_elems.html"/>


<%def name="render_default(msg = 'Give Together')">
%if c.settings.get('show_infographic', True):
	<div id="headerinfographic">
		${html.clearline()}
		<div class="infographics">
			<img src="/static/imgs/header/infographic_1.png"/>
			<div class="infographics_content_container">
				<div class="infographics_content">
					${msg}
				</div>
			</div>
		</div>
		<a class="infographic_closer" href="#" onclick="xhrPost('/hide_infographic');dojo.query('#headerinfographic').orphan()">X</a>
	</div>
%endif
</%def>