

${render_stream_block(c.recent_activity, c.uuid)}

<%def name="render_stream_block(recent_activity, uuid, offset = 0)">
	<%
		pools = recent_activity.pools
		total = len(pools)
	%>
	<div id="${uuid}" class="ra_scroller" style="position: relative;height:${170*total}px;margin-top:-${170*(total-offset)}px" _top="-${170*(total-offset)}">
	%for i, ra in enumerate(pools):
		<a href="${url(controller='pool', action='index', pool_url = ra.p_url)}">
		<div class="rabody" id="${uuid}_${i}">
			<div class="rabodycol col1"><img class="pool" src="${ra.get_pool_picture()}"/></div>
			<div class="rabodycol col2">
			<img class="product" src="${ra.get_product_pic()}" alt="${ra.product_name}"/></div>
			<div class="rabodycol col3"><img class="profile" src="${ra.get_profile_pic()}"/></div>
		</div>
		</a>
	%endfor
	</div>
</%def>