<%def name="render(lang)">
%if lang in ["de"]:
	<div class="boxGrayWrap box2">
		<div class="boxGray">
			<div class="grafx">&#8220;</div>
			<div class="contTestimonials">
			<p>"War echt die Überraschung für Alex und alle haben mitgemacht! Es war das Größte!"</p>
			<div style="margin-top:20px">
				<div class="avt">
					<div class="arrowAvatar"></div>
					<img src="/static/imgs/people/julia.jpg">
				</div>
				<span class="name bold">Julia</span>
				<span class="desc">Organisierte Ferrarifahren für ihren Alex. </span>
				<div class="clear"></div>
			</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="boxGrayWrap box3">
		<div class="boxGray">
			<div class="grafx">“</div>
			<div class="contTestimonials">
			<p>"Neue Tischtennisplatten für den Jugendclub hätten wir uns anders nicht leisten können!"</p>
			<div style="margin-top: 20px;">
				<div class="avt">
					<div class="arrowAvatar"></div>
					<img src="/static/imgs/people/peter.jpg">
				</div>
				<span class="name bold">Peter</span>
				<span class="desc">Sozialarbeiter</span>
				<div class="clear"></div>
			</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
%elif lang in ["es"]:
	<div class="boxGrayWrap box2">
		<div class="boxGray">
			<div class="grafx">&#8220;</div>
			<div class="contTestimonials">
			<p>"Increíble! Nunca podríamos haber hecho esto sin friendfund, gracias"</p>
			<div style="margin-top:20px">
				<div class="avt">
					<div class="arrowAvatar"></div>
					<img src="/static/imgs/people/amanda.jpg">
				</div>
				<span class="name bold">Patricia</span>
				<span class="desc">Organizó clases de piloto para su amigo Julian.</span>
				<div class="clear"></div>
			</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="boxGrayWrap box3">
		<div class="boxGray">
			<div class="grafx">“</div>
			<div class="contTestimonials">
			<p>"Su pagina web nos ha permitido recoger el dinero para redecorar nuestro centro social, gran trabajo!"</p>
			<div style="margin-top: 20px;">
				<div class="avt">
					<div class="arrowAvatar"></div>
					<img src="/static/imgs/people/Greg.jpg">
				</div>
				<span class="name bold">Juan Jose</span>
				<span class="desc">Trabajador Social</span>
				<div class="clear"></div>
			</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
%else:
	<div class="boxGrayWrap box2">
		<div class="boxGray">
			<div class="grafx">&#8220;</div>
			<div class="contTestimonials">
			<p>"Absolutely brilliant, we would never have been able to do this without friendfund, thanks!"</p>
			<div style="margin-top:20px">
				<div class="avt">
					<div class="arrowAvatar"></div>
					<img src="/static/imgs/people/amanda.jpg">
				</div>
				<span class="name bold">Amanda</span>
				<span class="desc">Organised flying lessons for her friend Megan. </span>
				<div class="clear"></div>
			</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="boxGrayWrap box3">
		<div class="boxGray">
			<div class="grafx">“</div>
			<div class="contTestimonials">
			<p>"Your site made it possible for us to collect the money to redecorate our community hall, great job!"</p>
			<div style="margin-top: 20px;">
				<div class="avt">
					<div class="arrowAvatar"></div>
					<img src="/static/imgs/people/Greg.jpg">
				</div>
				<span class="name bold">Greg</span>
				<span class="desc">Scout Dad</span>
				<div class="clear"></div>
			</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
%endif

</%def>