
<%def name="input_selected(name, value)">${expression_quote(c.values.get(name, "") == unicode(value), "selected")|n}</%def>

<%def name="input_checked(name, value, default = False)">${expression_quote((name not in c.values and default) or c.values.get(name, "") == value, "checked")|n}</%def>
<%def name="expression_quote(expr, tagname, value=None)">${(expr and '%s="%s"'%(tagname, value or tagname) or '')|n}</%def>




<%def name="renderSteps(step1, step2, step3, active = 1)">
<div class="steps">
	<div class="stepOne ${active==1 and "active" or ""} ${active>1 and "done" or ""}"><span>1.</span>${step1}</div>
	<div class="rightArrow ${active==1 and "active" or ""} ${active>1 and "done" or ""}"></div>
	<div class="leftArrow ${active==1 and "active" or ""} ${active>1 and "done" or ""}"></div>
	<div class="stepTwo ${active==2 and "active" or ""} ${active>2 and "done" or ""}"><span>2.</span>${step2}</div>
	<div class="rightArrow ${active==2 and "active" or ""} ${active>2 and "done" or ""}"></div>
	<div class="leftArrow ${active==2 and "active" or ""} ${active>2 and "done" or ""}"></div>
	<div class="stepThree ${active==3 and "active" or ""}"><span>3.</span>${step3}</div>
</div>
</%def>


<%def name="bigButton(text, href, classes = [])">
<div class="getStarted ${" ".join(classes)}">
	<a class="nolink" href="${href}">
		<span class="upperText">${text}<span class="lowerText">${text}</span><span class="lowestText">${text}</span></span>
	</a>
</div>
</%def>

<%def name="freeButton(text, classes = [], **kwargs)">
<div class="getStarted ${" ".join(classes)}">
	<a class="nolink" ${" ".join(['%s="%s"' % (k,v) for k,v in kwargs.iteritems()])|n}>
		<span class="upperText">${text}<span class="lowerText">${text}</span><span class="lowestText">${text}</span></span>
	</a>
</div>
</%def>

<%def name="protectedBigButton(text, href, classes = [], level = 3)">
<div class="getStarted ${" ".join(classes)}">
	<a class="nolink" _href="${href}" onclick="window.__auth__.checkLogin({level:${level}, success:ff.t.goto_url(this)})">
		<span class="upperText">${text}<span class="lowerText">${text}</span><span class="lowestText">${text}</span></span>
	</a>
</div>
</%def>





<%def name="renderPoolInfoContributors(locals)"><% 
		contributors_text = ungettext(u"FF_POOL_INFO_<strong>%(number_contributors)d</strong> contributor",
							u"FF_POOL_INFO_<strong>%(number_contributors)d</strong> contributors", locals['number_contributors']) 
	%>${contributors_text % locals|n}</%def>
<%def name="renderPoolInfoInvitees(locals)"><%
	invitees_text =  ungettext(u"FF_POOL_INFO_<strong>%(number_invitees)d</strong> invitee",
							u"FF_POOL_INFO_<strong>%(number_invitees)d</strong> invitees", locals['number_invitees'])
	%>${invitees_text % locals|n}</%def>
<%def name="renderPoolInfoDaysLeft(locals)"><%
	days_text =  ungettext(u"FF_POOL_INFO_<strong>%(days_left)d</strong> day left",
							u"FF_POOL_INFO_<strong>%(days_left)d</strong> days left", locals['days_left'])
	%>${days_text % locals|n}</%def>

<%def name="renderPoolInfoTimeLeft(time_left)">
<%
	d,hrs,m,s = time_left
	hrs = d*24+hrs
	m = hrs*60+m
	s = m*60+s
	map = {}
	if d>3:
		text = ungettext(u"FF_POOL_INFO_<strong>%(days_left)d</strong> day left",
							u"FF_POOL_INFO_<strong>%(days_left)d</strong> days left", d)
		map['days_left'] = d
	elif hrs>0:
		text = ungettext(u"FF_POOL_INFO_<strong>%(hours)d</strong> hour left",
							u"FF_POOL_INFO_<strong>%(hours)d</strong> hours left", hrs)
		map['hours'] = hrs
	elif m>0:
		text =  ungettext(u"FF_POOL_INFO_<strong>%(mins)d</strong> minute left",
							u"FF_POOL_INFO_<strong>%(mins)d</strong> minutes left", m)
		map['mins'] = m
	elif s>0:
		text = ungettext(u"FF_POOL_INFO_<strong>%(secs)d</strong> second left",
							u"FF_POOL_INFO_<strong>%(secs)d</strong> seconds left", s)
		map['secs'] = s
	else:
		text = _("FF_POOL_INFO_expired")
	%>${text % map|n}</%def>