<%inherit file="../common.html"/>

<%def name="title()">${_("FF_About Us")}</%def>
<%def name="heading()">${_("FF_About Us")}</%def>

<%def name="render_content()">
	<h4>About</h4>
	<div class="subHeading"></div>
	<p class="general">friendfund was founded July 2010 with the aim of building a platform which synthesises the internet’s most progressive aspects, the social web and ecommerce.</p>
	<p class="general">Our goal is to provide the online community with the financial tools which harness the power of the social web in a fun and simple way.</p>
	<p class="general">The friendfund beta was released in October 2010 and with the invaluable feedback from our members, an upgraded platform was released March 2011. The friendfund platform is now a tool for friends to collect money for anything they like with even better merchant white-label integration.</p>

	<h4>Our team</h4>
	<div class="subHeading"></div>
	<div class="team">
		<div class="borderBottom">
			<div class="avt">
				<div class="arrowAvatar"></div>
				<img width="48px" height="48px" src="/static/imgs/harry.jpg">
			</div>
			<h5>Harry McCarney <span>Founder/CEO</span></h5>
			<div class="contactLinksBox">
				<a href="http://www.linkedin.com/pub/harry-mccarney/12/35/120" target="_blank"><img src="/static/imgs/linkedin.gif"/></a>
				<a href="https://www.xing.com/profile/Harry_McCarney" target="_blank"><img src="/static/imgs/xing.png"/></a>
                <a href="http://twitter.com/hmccarney" target="_blank"><img src="/static/imgs/twitter-icon.png"/></a>

			</div>
			<p>Harry was the founder and director of several successful social entrepreneurship projects.
	The creation of these enterprises was greatly hindered by the lack of a flexible and convenient way for members to pool their resources.
	He co-founded friendfund to solve this problem by providing tools to clubs, communities and friends which facilitate dynamic financial collaborations.
	He has ten years experience  as an IT Consultant leading projects in a wide variety of organizations including Web start-ups and investment banks.
	Harry received his BA from Middlesex University, London and MA in Philosophy from the University of Sussex.</p>
		</div>
		<div class="borderBottom">
			<div class="avt">
				<div class="arrowAvatar"></div>
				<img width="48px" height="48px" src="/static/imgs/martin.jpg">
			</div>
			<h5>Martin Peschke <span>Founder/CTO</span></h5>
			<div class="contactLinksBox">
				<a href="http://www.linkedin.com/in/martinpeschke" target="_blank"><img src="/static/imgs/linkedin.gif"/></a>
				<a href="https://www.xing.com/profile/Martin_Peschke" target="_blank"><img src="/static/imgs/xing.png"/></a>
				<a href="http://twitter.com/MartinPeschke" target="_blank"><img src="/static/imgs/twitter-icon.png"/></a>
			</div>
			<p>Martin is a master of building innovative scalable web platforms having been a technical architect and CTO at chinasofti.com, edarling.de and billpay.de.  He was awarded a Diplom in Theoretical Computer Science from Dresden University of Technology before winning a German national Scholarship to continue his studies in Beijing, China. Whilst in Beijing he headed Chinasoft’s consulting services for Microsoft internal IT.</p>
		</div>
		<div class="colRightWhiteMargin"></div>
        <div class="borderBottom">
			<div class="avt">
				<div class="arrowAvatar"></div>
				<img width="48px" height="48px" src="/static/imgs/timothy.jpg">
			</div>
			<h5>Timothy Blake <span>Sales Director </span></h5>
			<div class="contactLinksBox">
				<a href="http://twitter.com/BlakeTimothy" target="_blank"><img src="/static/imgs/twitter-icon.png"/></a>
				
			</div>
			<p>Tim has more than 10 years of sales experience across a range of product categories, with a passion for online selling. Having founded and grown an internet focused professional training company, he is experienced in building a client base and driving sales through close online partnerships. Tim joined friendfund to further successful client relationships with online Merchants across Europe and the USA.</p>
		</div>
		<div class="borderBottom">
			<div class="avt">
				<div class="arrowAvatar"></div>
				<img width="48px" height="48px" src="/static/imgs/cristiano.jpg">
			</div>
			<h5>Cristiano Cardelli<span>Web Developer</span></h5>
			<div class="contactLinksBox">
				<a href="http://www.linkedin.com/in/cristianocardelli" target="_blank"><img src="/static/imgs/linkedin.gif"/></a>
			</div>
			<p>Cristiano loves to discover new technologies and solutions to give web users fresh online experiences.  First studying graphic design and then a Masters in Web and Visual Design from SPD Milano, he specialises in cross-browser compatibility, accessibility, usability and seo.  Previously working for XYZ Reply agency as a junior front end developer, Cristiano now works freelance with different agencies and private clients.  When not behind his computer you can find him checking out the local music scene.</p>
		</div>
		<div class="colRightWhiteMargin"></div>
		<div class="borderBottom noBorder">
			<div class="avt">
				<div class="arrowAvatar"></div>
				<img width="48px" height="48px" src="/static/imgs/alice.jpg">
			</div>
			<h5>Alice Mrongovius <span>Quality Assurance and Community Manager</span></h5>
			<div class="contactLinksBox">
				<a href="http://twitter.com/AliceMrongovius" target="_blank"><img src="/static/imgs/twitter-icon.png"/></a>
				<a href="http://alicemrongovius.blogspot.com/" target="_blank"><img src="/static/imgs/blogger.png"/></a>
                <a href="http://amrongovius.tumblr.com/" target="_blank"><img src="/static/imgs/tumblr-icon.png"/></a>
				
			</div>
			<p>With a broad range of experience in working in community focused organisations and in her own business, Alice brings to friendfund an infectious enthusiasm for creating genuine conversations in social media.  With a BFA from the University of Melbourne (VCA) and a Cert IV in Accounting from RMIT she has the unusual combination of creative and analytical skills, perfect for filling out QA spreadsheets!</p>
		</div>
		
		<h4>Advisors</h4>
		<div class="subHeading"></div>
		
        <div class="borderBottom noBorder">
			<div class="avt">
				<div class="arrowAvatar"></div>
				<img width="48px" height="48px" src="/static/imgs/amadeo.png">
			</div>
			<h5>Amadeo Brenninkmeijer<span>Advisor</span></h5>
			<div class="contactLinksBox">
                <a href="https://www.xing.com/profile/Amadeo_Brenninkmeijer2" target="_blank"><img src="/static/imgs/xing.png"/></a>
			</div>
			<p>Amadeo Brenninkmeijer is an entrepreneur and seed investor in several start-ups.  In 2009 he founded Nycon Energy AG, an energy services company providing financing, consulting and energy services as a product.  He currently advises several start-ups and is on the executive board of Nycon Energy AG.  Amadeo Brenninkmeijer has worked in the fields of energy (Nycon Energy AG), retail (C&A Buying, C&A Netherlands), real estate (Redevco Europe Services BV), investment banking (J.P. Morgan Chase & Co, Lazard Ltd.) and retail financial services (Banco IBI S.A.). Amadeo Brenninkmeijer holds a double Bachelor of Arts from the University College London in Anthropology and Ancient History.</p>
		</div>

	</div>
</%def>
