<%inherit file="../common.html"/>

<%def name="title()">${_("FF_About Us")}</%def>
<%def name="heading()">${_("FF_About Us")}</%def>

<%def name="render_content()">
<h4>Über Uns</h4>
<div class="subHeading"></div>
<p class="general">Friendfund wurde im Juli 2010 mit dem Ziel gegründet, eine Plattform zu bieten, die zwei wesentliche Aspekte des World Wide Web miteinander vereint: Ecommerce und Social Web.</p>
<p class="general">Unser Ziel ist es,  Online-Communities Mittel bereitzustellen, welche es auf einfachem Wege ermöglichen sollen, Geldsammlungen innerhalb einer Gruppe zu organisieren.</p>
<p class="general">friendfund ging mit einer Gruppenschenk Beta Webseite im Oktober 2010 online und wurde im M&auml;rz 2011 komplett &uuml;berarbeitet neu gelauncht. friendfund ist heute das Werkzeug, mit dem Freunde und Vereine f&uuml;r jeden Zweck Geld sammeln. Insbesondere die White Label H&auml;ndlerintegration erlaubt nun Gruppenschenken auf zahlreichen Seiten im Internet.</p>

<p class="general">Die Möglichkeit gegründete Pools zu bewerben wurde ausgebaut. Du kannst deinen friendfund Pool in Form eines Widgets auf deiner Website oder in deinem Blog platzieren. Auch gibt es die Möglichkeit für Online-Händler die Funktionen von friendfund in deren Onlineshops zu integrieren (wie z.b. bei unseren Partnern <a href="http://www.greatamericandays.com/adventure.php?adventure_id=2&price=&category=&finder=60">Great American Days</a> and <a href="http://www.caseable.com/gallery.php">Caseable</a>).</p>

<h4>Unser Team</h4>
<div class="subHeading"></div>
<div class="team">
	<div class="borderBottom">
		<div class="avt">
				<div class="arrowAvatar"></div>
				<img width="48px" height="48px" src="/static/imgs/harry.jpg">
		</div>
		<h5>Harry McCarney <span>Gründer/Geschäftsführer</span></h5>
		<div class="contactLinksBox">
				<a href="http://www.linkedin.com/pub/harry-mccarney/12/35/120" target="_blank"><img src="/static/imgs/linkedin.gif"/></a>
				<a href="https://www.xing.com/profile/Harry_McCarney" target="_blank"><img src="/static/imgs/xing.png"/></a>
				<a href="http://twitter.com/hmccarney" target="_blank"><img src="/static/imgs/twitter-icon.png"/></a>

		</div>
		<p>Harry war Gründer und Leiter vieler erfolgreicher Projekte als Social Entrepreneur. Häufig standen der Weiterentwicklung dieser Unternehmen fehlende oder schwierig zugänglich zu machende Ressourcen im Weg. Um dieses Problem zu lösen, gründete Harry friendfund, um Communities, Freunden, Vereinen und Clubs die Möglichkeit zu bieten, finanzielle Ressourcen zu bündeln. Seine zehnjährige Erfahrung als IT Berater in verschieden Projekten, umfasst ein breitgefächertes Spektrum an Organisationen wie zum Beispiel Web Startups oder Investment Banken. Seinen BA hat er an der Middlesex Universität London, seinen MA in Philosophie an der Universität Sussex abgeschlossen.</p>
	</div>
	<div class="borderBottom">
		<div class="avt">
				<div class="arrowAvatar"></div>
				<img width="48px" height="48px" src="/static/imgs/martin.jpg">
		</div>
		<h5>Martin Peschke <span>Gründer/CTO</span></h5>
		<div class="contactLinksBox">
				<a href="http://www.linkedin.com/in/martinpeschke" target="_blank"><img src="/static/imgs/linkedin.gif"/></a>
				<a href="https://www.xing.com/profile/Martin_Peschke" target="_blank"><img src="/static/imgs/xing.png"/></a>
				<a href="http://twitter.com/MartinPeschke" target="_blank"><img src="/static/imgs/twitter-icon.png"/></a>
		</div>
		<p>Martins Fähigkeiten liegen im Konstruieren innovativer, anpassbarer Internet Plattformen, welche er unter anderem als technischer Architekt und CTO bei chinasofti.com, edarling.de und billpay.de unter Beweis stellen konnte. Er absolvierte erfolgreich sein Studium "Theoretische Informatik" an der technischen Universität in Dresden mit Diplom und führte sein Studium mit einem Stipendium in Peking, China fort. Während seiner Zeit in China leitete er bei der Firma Chinasoft den Consulting Service für Microsoft International IT.</p>
	</div>
	
	<div class="borderBottom">
			<div class="avt">
					<div class="arrowAvatar"></div>
					<img width="48px" height="48px" src="/static/imgs/katrin.jpg">
			</div>
			<h5>Katrin Hagen <span>Designer UX</span></h5>
			<div class="contactLinksBox">
					<a href="http://twitter.com/MischiefChamp" target="_blank"><img src="/static/imgs/twitter-icon.png"/></a>

			</div>
			<p>Katrin bevorzugt saubere Designs! In Südafrika geboren, kam sie über  Neuseeland nach London und arbeitete dort für die Designerfirma LCD, bevor sie sich dem Team von friendfund anschloss. Die Elam School of Fine Arts schloss sie mit dem BFA ab und war eine der Gründerinnen des "Show me Shorts" Kurzfilmfestivals.</p>
	</div>
	
	<div class="colRightWhiteMargin"></div>
	<div class="borderBottom">
		<div class="avt">
				<div class="arrowAvatar"></div>
				<img width="48px" height="48px" src="/static/imgs/cristiano.jpg">
		</div>
		<h5>Cristiano Cardelli<span>Web Developer</span></h5>
			<div class="contactLinksBox">
				<a href="http://www.linkedin.com/in/cristianocardelli" target="_blank"><img src="/static/imgs/linkedin.gif"/></a>
			</div>

		<p>Cristiano ist immer auf der Suche nach neuen Technologien und Lösungen für die Gestaltung von Webseiten, um somit neue Erfahrungen im Umgang mit dem Internet zu ermöglichen. Nach seinem Studium in Grafikdesign, das er mit einem Master in Web- und Visual Design in Mailand abschloss, spezialisierte er sich auf  Cross-Browser Compatibility, Accessibility, Usability und SEO. Nachdem er als Front End Developer bei XYZ Reply Agency gearbeitet hatte, ist Christiano heute freiberuflich bei verschiedenen Unternehmen und privaten Kunden tätig. Wenn man ihn nicht hinter seinem Computer findet, ist er bestimmt in der lokalen Musikszene unterwegs. </p>
	</div>
	
	<div class="colRightWhiteMargin"></div>
	<div class="borderBottom noBorder">
		<div class="avt">
				<div class="arrowAvatar"></div>
				<img width="48px" height="48px" src="/static/imgs/alice.jpg">
		</div>
		<h5>Alice Mrongovius <span>Quality Assurance and Community Manager</span></h5>
		<div class="contactLinksBox">
			<a href="http://twitter.com/AliceMrongovius" target="_blank"><img src="/static/imgs/twitter-icon.png"/></a>
			<a href="http://alicemrongovius.blogspot.com/" target="_blank"><img src="/static/imgs/blogger.png"/></a>
			<a href="http://amrongovius.tumblr.com/" target="_blank"><img src="/static/imgs/tumblr-icon.png"/></a>
		</div>
		<p>Mit einem umfassenden Erfahrungsschatz im Arbeiten mit gemeinschaftlich orientierten Organisationen und ihrer eigenen Selbstständigkeit, bereichert Alice friendfund mit ihrem ansteckenden Enthusiasmus.  Durch den Erwerb des BFA an der Universität Melbourne (VCA) und des Cert IV im Rechnungswesen am RMIT, kann sie die ungewähnliche Kombination aus kreativen und analytischen Fähigkeiten vorweisen.</p>
	</div>

	<h4>Berater</h4>
	<div class="subHeading"></div>
    <div class="borderBottom noBorder">
        <div class="avt">
            <div class="arrowAvatar"></div>
            <img width="48px" height="48px" src="/static/imgs/amadeo.png">
        </div>
        <h5>Amadeo Brenninkmeijer<span>Advisor</span></h5>
        <div class="contactLinksBox">
            <a href="https://www.xing.com/profile/Amadeo_Brenninkmeijer2" target="_blank"><img src="/static/imgs/xing.png"/></a>
        </div>
        <p>Herr Brenninkmeijer ist Unternehmer und Seedinvestor in mehreren Startups. 2009 gründete er die Nycon Energy AG, eine Energiedienstleistungsfirma, die umfassende Finanzierungs-, Beratungs- und weitere Dienstleistungen rund um das Thema Energie anbietet. Gegenwärtig berät er mehrere Startups und ist Vorstandsmitglied in der Nycon Energy AG. Herr Brenninkmeijer arbeitete in vielfältigen Bereichen, wie Energie (Nycon Energy), Einzelhandel (C&A Einkauf, C&A Niederlande), Immobilien (Redevco Europe Services BV), Investmentbanking (J.P. Morgan Chase & Co, Lazard Ltd.). Herr Brenninkmeijer hat einen Doppelabschluss Bachelor of Arts am University College London in Anthropologie und Alte Geschichte erhalten.</p>
    </div>

	<div class="borderBottom noBorder">
		<div class="avt">
				<div class="arrowAvatar"></div>
				<img width="48px" height="48px" src="/static/imgs/jeff.jpg">
		</div>
		<h5>Jeff Coe<span>Managing Partner - Linden Ventures</span></h5>
		<div class="contactLinksBox">
				<a href="http://www.lindenvc.com/" target="_blank" title="Linden ventures"><img alt="Linden Ventures" src="/static/imgs/linden_logo.png"/></a>
		</div>
		<p>Jeff war verantwortlich für die Entwicklung und Expansion verschiedener Technologieunternehmen (u.a. für Mercury Mobility, LTD und sevenload GmbH). Jeff ist Mitbegründer von Halfahead. Sie gelten als Pioniere der digitalen Musikbranche in Europa und etablierten in Skandinavien die erste legale Musik-Plattform, die Inhalte von Plattenlabeln zum Download anbot. 2003 war er an der Gründung von Mercury Mobility beteiligt, einem Unternehmen, dass auf Mobile Entertainement  spezialisiert ist und in Australien 2007 erfolgreich an die Börse ging. Nach seinem Engagement in Australien zog es Jeff nach Europa, wo er sich an verschiedenen Unternehmen beteiligte. Jeff hält regelmäßig Vortäge auf Veranstaltungen des ICT und VD (u.a. The Next Web, SIME und SuperNova).</p>
	</div>
</div>
</%def>