<%inherit file="../common.html"/>

<%def name="title()">${_("FF_STATIC_MENU_Frequently Asked Questions")}</%def>
<%def name="heading()">${_("FF_STATIC_MENU_Frequently Asked Questions")}</%def>

<%def name="render_content()">
	<h4>The Basics</h4>
	<div class="subHeading"></div>
		<ul class="faqQuestions">
			<li><div class="heavyMd"></div><a href="#faq01">What is friendfund?</a></li>
			<li><div class="heavyMd"></div><a href="#faq02">Why have I received a friendfund Pool invitation?</a></li>
		</ul>
	<h4>Creating a Pool</h4>
	<div class="subHeading"></div>
		<ul class="faqQuestions">
			<li><div class="heavyMd"></div><a href="#faq21">How do I create a pool?</a></li>
			<li><div class="heavyMd"></div><a href="#faq03">What is “All or Nothing”?</a></li>
      <li><div class="heavyMd"></div><a href="#faq22">Why does it have to be “All or Nothing”?</a></li>
			<li><div class="heavyMd"></div><a href="#faq04">Why is the time limit set to ${app_globals.pool_service.pool_run_time} days?</a></li>
			<li><div class="heavyMd"></div><a href="#faq05">What happens if we don’t raise enough money before the Pool closes?</a></li>
		</ul>
	<h4>Pay out</h4>
	<div class="subHeading"></div>
		<ul class="faqQuestions">
			<li><div class="heavyMd"></div><a href="#faq20">How do I access the money in my pool?</a></li>
			<li><div class="heavyMd"></div><a href="#faq23">How do I get my voucher?</a></li>
      <li><div class="heavyMd"></div><a href="#faq06">Can I get something for myself?</a></li>
    </ul>
	<h4>Inviting Friends</h4>
	<div class="subHeading"></div>
		<ul class="faqQuestions">
			<li><div class="heavyMd"></div><a href="#faq07">Why am I receiving messages from friendfund Pools?</a></li>
			<li><div class="heavyMd"></div><a href="#faq08">I want my friends to opt into a Pool rather than being added through the invitation process?</a></li>
		</ul>
	<h4>Chipping In</h4>
	<div class="subHeading"></div>
		<ul class="faqQuestions">
			<li><div class="heavyMd"></div><a href="#faq09">Can I Chip In with another currency?</a></li>
			<li><div class="heavyMd"></div><a href="#faq11">What fees will I be charged?</a></li>
		</ul>
	<h4>My Profile</h4>
	<div class="subHeading"></div>
		<ul class="faqQuestions">
			<li><div class="heavyMd"></div><a href="#faq12">How do I change my password?</a></li>
			<li><div class="heavyMd"></div><a href="#faq13">Why do I have multiple accounts on the profile page?</a></li>
			<li><div class="heavyMd"></div><a href="#faq14">When connecting with my Facebook or Twitter account I receive a message saying that the account is already taken. Why is this?</a></li>
			<li><div class="heavyMd"></div><a href="#faq15">What is your Privacy Policy?</a></li>
		</ul>
	<h4>General</h4>
	<div class="subHeading"></div>
		<ul class="faqQuestions">
			<li><div class="heavyMd"></div><a href="#faq16">How do I delete a Pool?</a></li>
			<li><div class="heavyMd"></div><a href="#faq17">How do I get my Pool to be a featured Pool?</a></li>
			<li><div class="heavyMd"></div><a href="#faq18">I have a suggestion for friendfund, who should I tell?</a></li>
			<li><div class="heavyMd"></div><a href="#faq19">I have read all the FAQ’s and I still have a question. Now what?</a></li>
		</ul>
	
	<div class="faq">
		
		<h4>The Basics</h4>
				<div class="subHeading"></div>
					<h5><a name="faq01">What is friendfund?</a><a href="#" class="linkTop">Top</a></h5>
					<p>friendfund is a flexible crowdfunding platform that allows friends to collect money for a common goal in a very simple way. It can be used for shared funding of birthday gifts, anniversary presents, surprise parties or anything else you want to fund with a little help from your friends.</p>
					<h5><a name="faq02">Why have I received a friendfund Pool invitation?</a><a href="#" class="linkTop">Top</a></h5>
					<p>A friend has created a Pool for something they need help raising money for and invited you to chip in. Click on the Pools tab and you should see your friend's Pool in the <a href="${url(controller="mypools", action="index")}">“My Pools”</a> section.</p>

		<h4>Creating a Pool</h4>
		<div class="subHeading"></div>
					<h5><a name="faq21">How do I create a pool?</a><a href="#" class="linkTop">Top</a></h5>
					<p>Click the green "${_("Get Started")}" button on the <a href="/">home page</a>. Type in the required information and share your pool with your friends so they can contribute.</p>
					<h5><a name="faq03">What is “All or Nothing”?</a><a href="#" class="linkTop">Top</a></h5>
					<p>For the Pool to be successful it needs to reach its target within ${app_globals.pool_service.pool_run_time} days. 
          If this doesn't happen, all the contributors will get their money back. Credit cards will not get charged and payments done via Paypal will be refunded immediately. </p>
					<h5><a name="faq22">Why does it have to be “All or Nothing”?</a><a href="#" class="linkTop">Top</a></h5>
					<p>The ${app_globals.pool_service.pool_run_time} day time cap makes your fundraising process transparent and assures contributors their money will go where it’s supposed to go. At the same time, it will motivate your friends to contribute to your pool quicker and then help you promote it.</p>
					<h5><a name="faq04">Why is the time limit set to ${app_globals.pool_service.pool_run_time} days?</a><a href="#" class="linkTop">Top</a></h5>
					<p>By keeping it short and sweet you will see the result faster. It also creates some urgency, helping you keep the momentum of your Pool going.</p>
					<h5><a name="faq05">What happens if we don’t raise enough money before the Pool closes?</a><a href="#" class="linkTop">Top</a></h5>
					<p>If a Pool doesn’t raise enough money no contributions are paid out. Payments made with PayPal are fully refunded and credit card contributions are not charged. However, this doesn’t need to happen. There are lots of tools for sharing the Pool and sending out reminders so you shouldn’t have too hard of a time with drumming up some support for your Pool.</p>
	<h4>Pay out</h4>
		<div class="subHeading"></div>
					<h5><a name="faq20">How do I access the money in my pool?</a><a href="#" class="linkTop">Top</a></h5>
          <p>Before you can take the money out of your pool <a href="mailto:support@friendfund.com">our community support team</a> will check all the contributions to make sure no fraudulent funding was made. After this is done, we will release the money to your account. If all goes right, this won't take longer than 24-48 hours. </p>
					<h5><a name="faq23">How do I get my voucher?</a><a href="#" class="linkTop">Top</a></h5>
          <p>After our community support team will check your pool to make sure no fraudulent funding was made, we will send you the Amazon voucher code via the email you provided. This will take between 24-48 hours.</p>
					<h5><a name="faq06">Can I get something for myself?</a><a href="#" class="linkTop">Top</a></h5>
					<p>By all means. Just select yourself as the recipient and then do your best to get your friends to chip in.</p>
    
		<h4>Inviting Friends</h4>
		<div class="subHeading"></div>	
					<h5><a name="faq07">Why am I receiving messages from friendfund Pools?</a><a href="#" class="linkTop">Top</a></h5>	
					<p>friendfund is designed as a fun and social way for groups of friends to collect money. Pool messages help get everyone involved and excited about contributing and most importantly reaching the target. If you are not interested in receiving messages from the Pools you have been invited to, simply go to <a href="${url(controller="myprofile", action="account")}">“Settings”</a> in the drop down menu under your name (top right) and select the <a href="${url(controller="myprofile", action="notifications")}">“Notifications”</a> tab. You will find all the settings you need there.</p>
					<h5><a name="faq08">I want my friends to opt into a Pool rather than being added through the invitation process?</a><a href="#" class="linkTop">Top</a></h5>	
					<p>Simply share the link with your friends and when they visit the Pool page they can click on the ‘Join Pool’ button.</p>
		
		<h4>Chipping in</h4>
		<div class="subHeading"></div>
					<h5><a name="faq09">Can I Chip In with another currency?</a><a href="#" class="linkTop">Top</a></h5>
					<p>You can contribute money to any Pool, no matter the currency. Chip in with the currency stated on the Pool and your Paypal or Credit Card provider will exchange your chip in amount to your local currency. More information about exchanges rates can be found here:
            <a target="_blank" href="https://www.paypal.com/helpcenter/main.jsp?cmd=_help&solutionId=163394&t=solutionTab&bn_r=o">PayPal</a>, 
            <a target="_blank" href="http://usa.visa.com/personal/using_visa/exchange_rates_faq.html">Visa</a>, 
            <a target="_blank" href="http://www.mastercard.us/support/currency-conversion.html"> Mastercard</a>, 
            <a target="_blank" href="http://corp.americanexpress.com/gcs/travel/us/corp/sbt/resources/currency.aspx"> American Express</a></p>
					<h5><a name="faq11">What fees will I be charged?</a><a href="#" class="linkTop">Top</a></h5>
					<p>As a contributor you are not charged any transaction fees.<br/><br/>
          When you create a Pool you have the choice to receive the collected money as either a merchant voucher or via PayPal.<br/><br/>
					•	Merchant Vouchers do not have any fees. <br/>
					•	We charge 8% fee for payments through PayPal to cover the transaction costs of your contributors. PayPal may also charge you a receiving fee, this amount varies depending on the type of PayPal account you have and where you are located. Please check with PayPal in your region for more details.</p>
		
		<h4>My Profile</h4>
		<div class="subHeading"></div>
					<h5><a name="faq12">How do I change my password?</a><a href="#" class="linkTop">Top</a></h5>
					<p>Click your name at the top right of the screen, on the drop down menu select <a href="${url(controller="myprofile", action="account")}">“Settings”</a>, then select the <a href="${url(controller="myprofile", action="password")}">“Password”</a> tab.</p>
					<h5><a name="faq13">Why do I have multiple accounts on the profile page?</a><a href="#" class="linkTop">Top</a></h5>
					<p>friendfund allows you to combine your friend lists from different social networks. You can choose a name and match it with your picture from any of your network connections.</p>
					<h5><a name="faq14">When connecting with my Facebook or Twitter account I receive a message saying that the account is already taken. Why is this?</a><a href="#" class="linkTop">Top</a></h5>
					<p>This is because the particular network profile is already associated with another user. If you wish to use that account you must log out of friendfund and log in with that networks connect button and account.</p>
					<h5><a name="faq15">What is your Privacy Policy?</a><a href="#" class="linkTop">Top</a></h5>
					<p>You can find all our policies in the <a href="${url(controller="content", action="privacy")}">“${_("FF_STATIC_MENU_Privacy")}”</a> section of this site.</p>

		<h4>General</h4>
		<div class="subHeading"></div>
					<h5><a name="faq16">How do I delete a Pool?</a><a href="#" class="linkTop">Top</a></h5>
					<p>Please email us <a href="mailto:support@friendfund.com">support@friendfund.com</a>, if you have already collected money we will be able to organise the refunds from our end.</p>
					<h5><a name="faq17">How do I get my Pool to be a featured Pool?</a><a href="#" class="linkTop">Top</a></h5>
					<p>The admin of a Pool can email your Pool URL to our Community Manager: <a href="mailto:support@friendfund.com">support@friendfund.com</a>. Let us know what makes your Pool great and we will be in touch.</p>
					<h5><a name="faq18">I have a suggestion for friendfund, who should I tell?</a><a href="#" class="linkTop">Top</a></h5>
					<p>That’s Amazing, we’d love to hear all about it! You can head over to our <a href="http://friendfund.uservoice.com/forums/81919-general">Feedback Forum</a> and leave a message or <a href="mailto:support@friendfund.com">contact us directly</a>.</p>
					<h5><a name="faq19">I have read all the FAQ’s and I still have a question. Now what?</a><a href="#" class="linkTop">Top</a></h5>
					<p>Great! Email your ideas to <a href="mailto:support@friendfund.com">support@friendfund.com</a>, or head over to our <a href="http://friendfund.uservoice.com/forums/81919-general">Feedback Forum</a>.</p>
	</div>
</%def>