<%inherit file="../common.html"/>

<%def name="title()">${_("FF_STATIC_MENU_Frequently Asked Questions")}</%def>
<%def name="heading()">${_("FF_STATIC_MENU_Frequently Asked Questions")}</%def>

<%def name="render_content()">
	<h4>¿Qué es friendfund?</h4>
	<div class="subHeading"></div>
		<ul class="faqQuestions">
			<li><div class="heavyMd"></div><a href="#faq01">¿Qué es friendfund?</a></li>
			<li><div class="heavyMd"></div><a href="#faq02">¿Porque he recibido una invitación a un bote de friendfund?</a></li>
		</ul>
	<h4>Crear un Bote</h4>
	<div class="subHeading"></div>
		<ul class="faqQuestions">
			<li><div class="heavyMd"></div><a href="#faq03">¿Qué es Todo o Nada?</a></li>
			<li><div class="heavyMd"></div><a href="#faq04">¿Por qué es el plazo establecido de ${app_globals.pool_service.pool_run_time} días?</a></li>
			<li><div class="heavyMd"></div><a href="#faq05">¿Qué pasa si no alcanzamos el total antes de llegar a la fecha de caducidad del bote?</a></li>
			<li><div class="heavyMd"></div><a href="#faq06">¿Puedo conseguir algo para mí mismo?</a></li>
		</ul>
	<h4>Invitar Amigos</h4>
	<div class="subHeading"></div>
		<ul class="faqQuestions">
			<li><div class="heavyMd"></div><a href="#faq07">¿Por qué recibo mensajes de botes de friendfund?</a></li>
			<li><div class="heavyMd"></div><a href="#faq08">Quiero que mis amigos puedan optar a juntar a un bote en lugar de ser añadido a través del proceso de invitación</a></li>
		</ul>
	<h4>Contribuir</h4>
	<div class="subHeading"></div>
		<ul class="faqQuestions">
			<li><div class="heavyMd"></div><a href="#faq09">¿Puedo Contribuir con otra divisa?</a></li>
			<li><div class="heavyMd"></div><a href="#faq10">¿Puedo obtener un reembolso o devolver el regalo?</a></li>
			<li><div class="heavyMd"></div><a href="#faq11">What fees will I be charged?</a></li>
		</ul>
	<h4>Mi Peril</h4>
	<div class="subHeading"></div>
		<ul class="faqQuestions">
			<li><div class="heavyMd"></div><a href="#faq12">¿Cómo puedo cambiar mi contraseña?</a></li>
			<li><div class="heavyMd"></div><a href="#faq13">¿Por qué tengo varias cuentas en mi página de perfil?</a></li>
			<li><div class="heavyMd"></div><a href="#faq14">Estoy conectado a Facebook pero veo mi nombre y mi foto de perfil de Twitter.</a></li>
			<li><div class="heavyMd"></div><a href="#faq151">Al conectarme con mi cuenta de Facebook o Twitter he recibido un mensaje diciendo que mi cuenta ya está en uso. ¿A que se debe esto?  </a></li>
			<li><div class="heavyMd"></div><a href="#faq152">¿Cuál es nuestra política de privacidad?/a></li>
		</ul>
	<h4>Más</h4>
	<div class="subHeading"></div>
		<ul class="faqQuestions">
			<li><div class="heavyMd"></div><a href="#faq16">¿Cómo puedo borrar un bote?</a></li>
			<li><div class="heavyMd"></div><a href="#faq17">¿Cómo consigo que mi bote aparezca como “bote destacado”?</a></li>
			<li><div class="heavyMd"></div><a href="#faq18">¿Cómo puedo hacer una sugerencia a friendfund?</a></li>
			<li><div class="heavyMd"></div><a href="#faq19">He leído todas la Preguntas Frecuentes y no encuentro la pregunta que quiero formular ¿Qué hago ahora?</a></li>
		</ul>
	
	<div class="faq">
	<h4>¿Qué es friendfund?</h4>
			<div class="subHeading"></div>
				<h5><a name="faq01">¿Qué es friendfund?</a><a href="#" class="linkTop">Top</a></h5>
				<p>Friendfund es una plataforma de comercio social y flexible, que puede ser usada para cualquier cosa que necesite un grupo de amigos con el fin de recaudar dinero en un fondo común.</p>
				<h5><a name="faq02">¿Porque he recibido una invitación a un bote de friendfund?</a><a href="#" class="linkTop">Top</a></h5>
				<p>Un amigo ha creado un bote y te ha invitado para que contribuyas.  Pincha  en el botón de Botes y  deberías  ver el bote de tu amigo en el apartado de Mis Botes.</p>


		<h4>Crear un Bote</h4>
		<div class="subHeading"></div>
					<h5><a name="faq03">¿Qué es Todo o Nada?</a><a href="#" class="linkTop">Top</a></h5>
					<p>Como se deduce del nombre, para que el bote sea un éxito, tiene que llegar al total antes de la fecha de caducidad.  ¿Porque?  Está claro, dile a tus amigos para que es el bote, si les gusta la idea  y deciden contribuir. Su contribución sólo se cobra si el bote se completa. También sirve de motivación para conseguir que los contribuyentes te ayuden a promocionar el bote.</p>
					<h5><a name="faq04">¿Por qué es el plazo establecido de ${app_globals.pool_service.pool_run_time} días?</a><a href="#" class="linkTop">Top</a></h5>
					<p>Porque así los resultados se ven mas rápidos y se puede mantener el impulso 	de su bote.</p>
					<h5><a name="faq05">¿Qué pasa si no alcanzamos el total antes de llegar a la fecha de caducidad del bote?</a><a href="#" class="linkTop">Top</a></h5>
					<p>Las contribuciones hechas a través de tarjeta de crédito sólo se cobrarán cuanto el bote se complete con éxito y cualquier contribución hecha con PayPal sería devuelta. Hay muchas herramientas para enviar recordatorios y compartir el bote, con lo que no debería existir ningún problema para que consigas el apoyo suficiente por parte de tus amigos para completar el bote.</p>
					<h5><a name="faq06">¿Puedo conseguir algo para mí mismo?</a><a href="#" class="linkTop">Top</a></h5>
					<p>Sí. Cuando seleccionas el destinatario en el panel de tus amigos, solamente tienes que pinchar en tí mismo.</p>
	
		<h4>Invitar Amigos</h4>
		<div class="subHeading"></div>	
					<h5><a name="faq07">¿Por qué recibo mensajes de botes de friendfund?</a><a href="#" class="linkTop">Top</a></h5>	
					<p>friendfund está diseñado como una manera divertida y social para que grupos de amigos puedan recaudar dinero. Mensajes sobre los botes ayudan a involucrar y entusiasmar toda la gente relacionado y más importante llegar a la meta! Si no estás interesado en recibir los mensajes de los botes que has sido invitado, simplemente vaya a "Configuración de la cuenta" en el menú desplegable bajo su nombre (arriba a la derecha) y seleccione la pestaña "Notificaciones". Encontrarás todas las opciones que usted necesita aquí.</p>
					<h5><a name="faq08">Quiero que mis amigos puedan optar a juntar a un bote en lugar de ser añadido a través del proceso de invitación</a><a href="#" class="linkTop">Top</a></h5>
					<p>Simplemente compartir el enlace a tus amigos y cuando se visita la página del bote se puede hacer un clic en el botón "Únete al bote”.</p>
	
		<h4>Contribuir</h4>
		<div class="subHeading"></div>
					<h5><a name="faq09">¿Puedo Contribuir con otra divisa?</a><a href="#" class="linkTop">Top</a></h5>
					<p>Puedes contribuir a cualquier bote, independientemente de la divisa. Contribuir en la divisa indicada en el bote y tu Paypal o proveedor de tarjeta de crédito se cambiará el importe a su divisa local. Más información acerca de las tasas de intercambio se puede encontrar aquí: <a target="_blank" href="https://www.paypal.com/helpcenter/main.jsp?cmd=_help&solutio
nId=163394&t=solutionTab&bn_r=o">PayPal</a>, <a target="_blank" href="http://usa.visa.com/personal/using_visa/exchange_rates_faq.html">Visa</a>, <a target="_blank" href="http://www.mastercard.us/support/currency-conversion.html"> Mastercard</a>, <a target="_blank" href="http://corp.americanexpress.com/gcs/travel/us/corp/sbt/resources/currency.aspx"> American Express</a></p>
					<h5><a name="faq10">¿Puedo obtener un reembolso o devolver el regalo?</a><a href="#" class="linkTop">Top</a></h5>
					<p>Si por alguna razón el destinatario no está satisfecho con el producto, el administrador del bote puede devolver el producto directamente al comerciante y recibir un reembolso o un producto alternativo, dependiendo de las propias condiciones de devolución que tenga dicho vendedor.</p>
					<h5><a name="faq11">What fees will I be charged?</a><a href="#" class="linkTop">Top</a></h5>
					<p>As a contributor you are not charged any transaction fees.<br/><br/>When you create a Pool you have the choice to receive the collected money as either a merchant voucher or via PayPal.<br/><br/>
					•	Merchant Vouchers do not have any fees. <br/>
					•	Receiving payment via PayPal we charge a 3% fee to cover the transaction costs of your contributors.  PayPal may also charge you a receiving fee, this amount varies depending on the type of PayPal account you have and where you are located.  Please check with PayPal in your region for more details. </p>
	
		<h4>Mi Peril</h4>
		<div class="subHeading"></div>
					<h5><a name="faq12">¿Cómo puedo cambiar mi contraseña?</a><a href="#" class="linkTop">Top</a></h5>
					<p>Pincha tu nombre arriba y a la derecha de la pantalla, en el menú desplegable seleccionar Configuración de Cuenta, y al final, pincha en el botón Cambiar Contraseña.</p>
					<h5><a name="faq13">¿Por qué tengo varias cuentas en mi página de perfil?</a><a href="#" class="linkTop">Top</a></h5>
					<p>Friendfund te permite combinar tus listas de amigos de diferentes redes sociales. Puedes configurar como tu red social por defecto la que quieras en tu página de perfil.</p>
					<h5><a name="faq14">Estoy conectado a Facebook pero veo mi nombre y mi foto de perfil de Twitter.</a><a href="#" class="linkTop">Top</a></h5>
					<p>Esto ocurre porque Twitter está configurado como la red social por defecto. Puedes cambiarlo si pinchas en tu perfil y configuras Facebook como tu red social por defecto.</p>
					<h5><a name="faq151">Al conectarme con mi cuenta de Facebook o Twitter he recibido un mensaje diciendo que mi cuenta ya está en uso. ¿A que se debe esto?  </a><a href="#" class="linkTop">Top</a></h5>
					<p>Esto se debe a que este perfil en particular ya está asociado a otro usuario. Si quieres utilizar tu cuenta debes cerrar la sesión ya iniciada en friendfund e iniciar sesión de nuevo con tu red y cuenta deseada.</p>
					<h5><a name="faq152">¿Cuál es nuestra política de privacidad?</a><a href="#" class="linkTop">Top</a></h5>
					<p>Puedes encontrar  toda nuestra política en el apartado de “A cerca de”</p>
	
		<h4>Más</h4>
		<div class="subHeading"></div>		
					<h5><a name="faq16">¿Cómo puedo borrar un bote?</a><a href="#" class="linkTop">Top</a></h5>
					<p>Para eliminarlo, manda un correo electrónico a <a href="mailto:support@friendfund.com">support@friendfund.com</a> solicitándolo y  si el bote ya tiene contribuciones, devolveremos  el dinero desde nuestras cuentas de administración.</p>
					<h5><a name="faq17">¿Cómo consigo que mi bote aparezca como “bote destacado”?</a><a href="#" class="linkTop">Top</a></h5>
					<p>El administrador del bote  puede enviar tu URL bote a nuestra jefa de comunidad: <a href="mailto:alice@friendfund.com">alice@friendfund.com</a> y coméntanos por que tu bote es especial.</p>
					<h5><a name="faq18">¿Cómo puedo hacer una sugerencia a friendfund?</a><a href="#" class="linkTop">Top</a></h5>
					<p>Genial! Pincha en el botón de “Feedback” en la parte izquierda de la pantalla. Te llevará a nuestro <a href="http://friendfund.uservoice.com/forums/81919-general">foro de Feedback</a>. Estamos deseando recibir tus ideas!.</p>
					<h5><a name="faq19">He leído todas la Preguntas Frecuentes y no encuentro la pregunta que 	quiero formular ¿Qué hago ahora?</a><a href="#" class="linkTop">Top</a></h5>
					<p>Comprueba nuestro Feedback foro: el botón de feedback en la parte izquierda de la pantalla. Si todavía tienes una pregunta, crea un tema nuevo en el <a href="http://friendfund.uservoice.com/forums/81919-general">foro o envíanos</a> un email a <a href="mailto:support@friendfund.com">support@friendfund.com</a>.</p>
	</div>
</%def>