<%inherit file="../common.html"/>

<%def name="title()">${_("FF_Imprint")}</%def>
<%def name="heading()">${_("FF_Imprint")}</%def>

<%def name="render_content()">
	<h4>Impressum</h4>
	<div class="subHeading"></div>
	
	<p class="general">friendfund it!<br>
	Die friendfund GmbH ist ein Berliner Startup, dass das sozial integrierte Bezahlsystem friendfund entwickelt und betreibt. 
	Mit Hilfe der Facebook- und Twitterinfrastrukturen ermöglicht es friendfund dir, mit deinen Freunden finanzielle Lösungen für praktisch Alles zu finden.</p>  
	
	<p class="general">Ein friendfund Pool ermöglicht es Freunden Geld zusammenzulegen, einfach und flexibel. Sei es für ein Gruppengeschenk oder deinen Verein, Urlaub mit Freunden oder sonst irgendetwas.
	friendfund unterstützt alle Arten von Gruppenzahlungen. Deiner Phantasie sind keine Grenzen gesetzt.
	
	<p class="general">Sammle Geld mit deinen Freunden. Gründe einen Pool. Mach mit. friendfund it!</p>

	<p class="general">friendfund Gmbh<br>
	Landsberger Allee 117<br>
	10407 Berlin<br>
	+49 (30) 99272540<br>

	Handelsregisternummer: 127841 B,<br>
	Registergericht: Amtsgericht Berlin Charlottenburg,<br>
	Geschäftsführer: Henry George McCarney</p>
</%def>
