<%inherit file="../common.html"/>

<%def name="title()">${_("FF_Imprint")}</%def>
<%def name="heading()">${_("FF_Imprint")}</%def>

<%def name="render_content()">
	<h4>Pie de imprenta</h4>
	<div class="subHeading"></div>
	<p class="general">Friendfund permite la recaudación de dinero entre grupos de amigos. Ya sea para un regalo en grupo o un club local, friendfund facilita la rapida invitación de amigos de tu Facebook, Twitter o email con el fin de contribuir a un bote de manera divertida y social.</p>

	<p class="general">friendfund it!<br>Nuestra plataforma flexible de comercio social, <a href="${url("home")}">friendfund.com</a>, se puede utilizar para cualquier fin que hace falta una manera simple de recoger dinero entre un grupo de amigos.  Tenemos muchas herriamientas diseñadas para propagar tus botes y llegar al total nunca ha sido tan facil y divertido.</p>  

	<p class="general">Tambien Friendfund es también una gran manera de organizar un grupo de regalo con nuestra integración comercial.  Con el catálogo extenso de nuestros socios, 
		<a href="http://www.greatamericandays.com/adventure.php?adventure_id=2&price=&category=&finder=60">Great American Days</a> y <a href="http://www.caseable.com/gallery.php">Caseable</a>, hay un regalo para todos!  </p>

	<p class="general">Friendfund es muy facil utilizar. Crear un bote. Invitar a tus amigos. Contribuir!</p>

	<p class="general">Esperamos que disfutais regalando juntos con friendfund. </p>

	<p class="general">friendfund Gmbh<br>
	Landsberger Allee 117<br>
	10407 Berlin<br>
	+49 (30) 99272540<br>

	Handelsregisternummer: 127841 B,<br>
	Registergericht: Amtsgericht Berlin Charlottenburg,<br>
	Geschäftsführer: Henry George McCarney</p>
</%def>