<%inherit file="../common.html"/>

<%def name="title()">${_("FF_Imprint")}</%def>
<%def name="heading()">${_("FF_Imprint")}</%def>

<%def name="render_content()">
	<h4>Impressum</h4>
	<div class="subHeading"></div>
	
	<p class="general">friendfund it!<br>
	friendfund ist ein Berliner Startup, dass soyial integrierte das Bezahlsystem friendfund entwickelt und betreibt. Mit Hilfe der Netzwerkinfrastrukturen Facebook's und Twitter's ermöglicht  friendfund dir, mit deinen Freunden zusammen Finanzierungslösungen zu finden.</p>  
	
	<p class="general">Ein friendfund ermöglicht es Freunden Geld zusammenzulegen, einfach und flexibel. Sei es für ein Gruppengeschenk oder deinen Verein, Urlaub mit Freunden oder sonst irgend etwas.
	friendfund unterstützt alle Arten von Gruppenzahlungen, deiner Phantasie sind keine Grenzen gesetzt.
	
	<p class="general">Sammle Geld mit deinen Freunden. Gründe einen Pool. Mach mit. friendfund it!</p>

	<p class="general">friendfund Gmbh<br>
	Landsberger Allee 117<br>
	10407 Berlin<br>
	+49 (30) 99272540<br>

	Handelsregisternummer: 127841 B,<br>
	Registergericht: Amtsgericht Berlin Charlottenburg,<br>
	Geschäftsführer: Henry George McCarney</p>
</%def>
