<%inherit file="../common.html"/>

<%def name="title()">${_("FF_STATIC_MENU_How Does It Work")}</%def>
<%def name="heading()">What is friendfund, anyway?</%def>

<%def name="render_content()">
	<h4> Take a peek</h4>
	<div class="subHeading"></div>
	<div class="videoBig">
		<iframe src="http://player.vimeo.com/video/24455684?title=0&amp;byline=0&amp;portrait=0" width="663" height="370" frameborder="0"></iframe>
	</div>
	<div class="videoBigShadow"></div>
	<div class="videoDesc floatLeft">
		<a class="primaryButton floatRight" href="${h.create_pool_link(request, url)}">${_("FF_MYPOOLS_Create a Pool")}</a>
		<p>friendfund a group gift, purchase equipment for your local club, or organise a group holiday. Your imagination is the only limit!</p>
	</div>

	
	
	
	
	<h4>Create an awesome Pool (that gets funded)</h4>
	<div class="subHeading"></div>

	<div class="floatLeft colTips">
		<div>
			<div>
				<img src="/static/imgs/chemistry.png" style="width:auto" />
			</div>
		</div>
		<div class="colRightWhite"></div>
		<h5>Create a Pool for something real.</h5>
		<p>Make stuff happen together.</p>
	</div>
	<div class="floatLeft colTips">
		<div>
			<div>
				<img src="/static/imgs/ants.png" style="width:auto" />
			</div>
		</div>
		<h5>Less is more.</h5>
		<p>Keep the invite list tight and personal.</p>
	</div>
	<div class="floatLeft colTips omega">
		<div>
			<div>
				<img src="/static/imgs/microphone.png" style="width:auto" />
			</div>
		</div>
		<h5>Share!</h5>
		<p>Cheerlead using the widget and social networks.</p>
	</div>
</%def>