<%inherit file="../common.html"/>

<%def name="title()">${_("FF_STATIC_MENU_How Does It Work")}</%def>
<%def name="heading()">Gründe einen Pool (mit Erfolg).</%def>

<%def name="render_content()">
	<h4>Schau es dir kurz an</h4>
	<div class="subHeading"></div>
	<div class="videoBig">
		<iframe src="http://player.vimeo.com/video/24455684?title=0&amp;byline=0&amp;portrait=0" width="663" height="370" frameborder="0"></iframe>
	</div>
	<div class="videoBigShadow"></div>
	<div class="videoDesc floatLeft">
		<a class="primaryButton floatRight" href="${h.create_pool_link(request, url)}">${_("FF_MYPOOLS_Create a Pool")}</a>
		<p>friendfunde ein Gruppengeschenk, kauf Ausrüstung für deinen Verein oder organisier deinen nächsten Urlaub mit Freunden. Deiner Phantasie sind keine Grenzen gesetzt!</p>
	</div>

	
	
	<h4>${self.heading()}</h4>
	<div class="subHeading"></div>

	<div class="floatLeft colTips" style="border-top:0px solid transparent">
		<div>
			<div>
				<img src="/static/imgs/chemistry.png" style="width:auto" />
			</div>
		</div>
		<div class="colRightWhite"></div>
		<h5>Erstelle deinen Pool für etwas Greifbares.</h5>
		<p>Erreiche dein Ziel mit Freunden.</p>
	</div>
	<div class="floatLeft colTips" style="border-top:0px solid transparent">
		<div>
			<div>
				<img src="/static/imgs/ants.png" style="width:auto" />
			</div>
		</div>
		<h5>Weniger ist mehr.</h5>
		<p>Halte deine Einladungsliste kurz, knackig und pers&ouml;nlich.</p>
	</div>
	<div class="floatLeft colTips omega" style="border-top:0px solid transparent">
		<div>
			<div>
				<img src="/static/imgs/microphone.png" style="width:auto" />
			</div>
		</div>
		<h5>Teile!</h5>
		<p>Trommel Unterst&uuml;tzung mit dem Widget und Sozialen Netzwerken zusammen.</p>
	</div>
</%def>