<%inherit file="../common.html"/>

<%def name="title()">${_("FF_STATIC_MENU_How Does It Work")}</%def>
<%def name="heading()">Crea un bote impresionante (que se completa).</%def>

<%def name="render_content()">
	<h4>Echar un vistazo</h4>
	<div class="subHeading"></div>
	<div class="videoBig">
		<iframe src="http://player.vimeo.com/video/24455684?title=0&amp;byline=0&amp;portrait=0" width="663" height="370" frameborder="0"></iframe>
	</div>
	<div class="videoBigShadow"></div>
	<div class="videoDesc floatLeft">
		<a class="primaryButton floatRight" href="${h.create_pool_link(request, url)}">${_("FF_MYPOOLS_Create a Pool")}</a>
		<p>Friendfund un regalo en grupo, vacaciones con amigos o recaudar para un club local. Tu imaginación es el único limite.</p>
	</div>

	
	
	<h4>${self.heading()}</h4>
	<div class="subHeading"></div>

	<div class="floatLeft colTips" style="border-top:0px solid transparent">
		<div>
			<div class="videoBig">
				<img src="/static/imgs/chemistry.png" style="width:auto" />
			</div>
		</div>
		<div class="colRightWhite"></div>
		<h5>Crea un bote para algo tangible.</h5>
		<p>Juntos lo podemos conseguir.</p>
	</div>
	<div class="floatLeft colTips" style="border-top:0px solid transparent">
		<div>
			<div class="videoBig">
				<img src="/static/imgs/ants.png" style="width:auto" />
			</div>
		</div>
		<h5>Menos es más.</h5>
		<p>Mantén la lista de invitados lo más corta posible</p>
	</div>
	<div class="floatLeft colTips omega" style="border-top:0px solid transparent">
		<div>
			<div class="videoBig">
				<img src="/static/imgs/microphone.png" style="width:auto" />
			</div>
		</div>
		<h5>Comparte!</h5>
		<p>Anúncialo usando el Widget y a través de las redes sociales.</p>
	</div>
</%def>