<%inherit file="../common.html"/>

<%def name="title()">${_("FF_Privacy")}</%def>
<%def name="heading()">${_("FF_Privacy")}</%def>

<%def name="render_content()">
	<h4>Su privacidad</h4>
	<div class="subHeading"></div>
	<p>friendfund está comprometida a proteger su privacidad. Sólo utilizamos la información que recopilamos sobre usted para proporcionar una experiencia de usuario mejorada dentro de nuestro espacio web. Por favor, siga leyendo para más detalles sobre nuestra política de privacidad.</p>
	<p class="general bold">La siguiente información es recogida por friendfund.com de los visitantes:</p>

	<p>Su dirección IP. Si se registra para una cuenta, almacenaremos su dirección de correo electrónico, nombre de usuario y contraseña, si la hubiera. Si se utiliza una conexión de red social como Facebook Connect, vamos a guardar sólo aquella información que es compatible con la política de privacidad de terceros. No tenemos acceso a, o guardar, Facebook, Twitter u otros datos de inicio de sesiones de redes sociales.</p>

	<p class="general bold">Utilizamos la información para:</p>

	<p>Proporcionar la mejor experiencia posible al cliente, comunicarse con usted en relación con, ofertas y promociones; ofrecer un contenido personalizado y publicidad que pueda ser de su interés; Hacemos recolección de datos sobre cómo se utiliza el sitio web para poder mejorar su calidad.</p>

	<p class="general bold">¿Quién tiene acceso a la información personal?</p>

	<p>Información de su cuenta es solo accesible por nuestro personal. Nosotros no compartimos las direcciones de correo electrónico o cualquier otro dato de usuario con terceros, siempre y cuando no se indique lo contrario en las Condiciones del Servicio.</p>

	<p class="general bold">Nuestras medidas de seguridad</p>

	<p>Para proteger su información personal, ciframos todas las contraseñas. Nuestros datos se guardan en lugares seguros en equipos protegidos por la última tecnología de seguridad y cortafuegos.</p>

	<p class="general bold">Nuestra política de privacidad en línea para niños</p>

	<p>Nuestros sitios web no están diseñados para atraer a los niños menores de 16 años. No recopilamos información de identificación personal de cualquier persona menor de 16 años a menos que hemos obtenido el permiso de los padres de ese niño o tutor legal.</p>

	<p class="general bold">El uso de cookies</p>

	<p>Nuestro sitio web hace uso de "cookies" que son pequeños archivos digitales que se almacenan en el navegador web que nos permiten el seguimiento de sus visitas a nuestro sitio web. La configuración del navegador puede permitirle bloquear estas “cookies”, pero le recomendamos que les han permitido, porque nos ayuden a personalizar su experiencia de nuestro sitio web. 
Además, terceros anunciantes en nuestro sitio web puede utilizar cookies para fines de seguimiento.</p>

	<p class="general bold">Preguntas y comentarios</p>

	<p>Si usted tiene alguna pregunta o comentario relacionado con nuestra política de privacidad, por favor, envíenos un email a <a href="mailto:privacy@friendfund.com">privacy@friendfund.com</a>.</p>
</%def>