.underlined1 {border-bottom:1px solid #BBe3F7;}
.underlined2 {border-bottom:2px solid #BBe3F7;}
.underlined5 {border-bottom:5px solid #BBe3F7;}
.emphasis{color: #B70158;}

.inside{font-size:18px;font-family:"Trebuchet MS"}
.insideSmall{font-size:14px}

a.red_labeled_container {margin:63px auto 20px}

#pool_admin_pic{background-color: #bbe3f7}
#pool_admin_slogan{background-color: #bbe3f7}
.pcont_body .contributor{background-color: #bbe3f7}


div#fundstream_ra{background-color:#B9E2F6}
div#mypools.recentactivity div.rabody{background-color:#BBE3F7;}
div#lowerbody_container div.comment div.commentText {background-color: #BBE3F7}
.ctrbrText{background-color:#bbe3f7}




body {background-color: #fff;color:#fff;}
#outercontainer{background-color:#E8F7FD !important;padding: 0px 0px 30px 0px !important ;}
.logoHeader {float:left;margin:15px 0 17px 17px}
a.login_loginlink {color: #fff}
#loginpanel {color: #ffffff;}

div.frontpagebutton {background-color:#bbe3f7;width:229px;height:297px;}
div.frontpagebutton.first {width:230px;}
div.frontpagebutton.last {width:226px;}
div.frontpagebuttonhover {background-color: #c3e9fc;}
#pool_configurator {padding:0 30px 100px}
#pool_configurator.configurator_opened {padding:0 30px 30px}
#pool_configurator div.frontpagebutton div.extender {left: 0px;background-color:#ECF8Fd;}
#pool_configurator div.hpbutton {width: 100%;height: 100%;}
#pool_configurator div.front_panel_active{ background-color: #ECF8Fd}

#funders_panel_tooltip {top: -45px;}
#pool_configurator div.hpbutton div.button_content {position: relative;width:178px;margin: 0px auto;}
#pool_configurator div.hpbutton img.loaders_animation {position: absolute;top: 60px;left: 80px;}

#pool_configurator div.hpbutton img.button_content {height:111px;margin: 0 auto;padding-top:10px;max-width: 175px;}
#pool_configurator div.hpbutton div.label {margin-top: 10px;width:174px;height: 75px;}

#button_panel_container {float:left;display: None;margin-top: 2px;background-color:#ECF8Fd;clear: both;position: relative;}

div#occasion_container {
	float:left;
	background:none repeat scroll 0 0 #BBE3F7;
	border-top:1px solid #81CBEF;
	margin-top:-1px;
	padding: 15px 0px;
}
#occasion_date_input_bar {
	clear:both;float:right;width:100%;
	margin:0px;
	position:relative;
	text-align:center;
	background:none repeat scroll 0 0 #BBE3F7;
}



#receiver_selector_container {border-top: 1px solid #81CBEF;	background-color:#BBE3F7}

div#siteinfo {border-top:2px solid #D3EDFA;background:#fff;}
div#siteinfo div.siteinfo1 {border-top:1px solid #dadada;background:#fff;}
div#siteinfo div.siteinfo1 div.siteinfo2 {width:980px;margin:10px auto;}
div#siteinfo a.siteinfo_content {padding: 10px 10px 10px 10px;color:#333;}
div#siteinfo div.siteinfo_copyright {color:#eee;}

div.window_container div.window {border:15px solid #BBE3F7;}
.profilePictureContainer .profile-picture {background-color:#BBE3F7;}
.profile-picture{background-color:#BBE3F7;}
.payement-container #termsofservice {border:1px solid #BBE3F7;}
