<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<script type="text/javascript">
	//setTimeout(function(){window.location.href="/"},5000);
	if(opener['__auth__']){
		%if getattr(c, "message", None):
			opener.ff.w.displayMessage("${c.message}");
			if(opener.__auth__._twitterAction_){delete opener.__auth__._twitterAction_;}
		%else:
			%if getattr(c, "has_activity", False):
				if(opener.__auth__.fwd){
					opener.__auth__._fwd();
				} else {
					opener.__auth__.checkLogin({level:9,ignoreFB:true, success:opener.__auth__._twitterAction_});
				}
			%else:
				opener.__auth__.checkLogin({level:9,ignoreFB:true, success:opener.__auth__._twitterAction_});
			%endif
		%endif
	} else {}
	window.close(); 
</script>
</head>
<body>
Connected with Twitter, please wait a moment...
</body>
</html>