<%inherit file="../layout.html"/>
<%namespace name="common" file="common.html"/>
<%namespace name="forms" file="/widgets/forms.html"/>

<div class="wrapSubHeader">${self.renderMessages()|n}
	<div class="subHeader">
		<div class="userProfile">
			<div class="subUserProfile">
				<h2 class="padBtm">${_("FF_ACCOUNT_Connections")}</h2>
			</div>
			${common.render_tabs("connections")|n}
		<div class="clear"></div>
		</div>
	</div>
</div>
<div class="wrapSubContent">
	<div class="content">
		<div class="colRight"></div>
		<div class="colLeft">
			<h4>Log In Connections</h4>
			<div class="subHeadingSpecial"></div>
			<div class="networkDefaultAccountfacebook borderBottom">
			%if 'facebook' in c.myprofiles:
				<div class="">
					<div class="greyInsideFullWidth">
					<div class="first">
						<span>&nbsp;</span>
					</div>
					<div class="floatLeft" style="width:530px">
						<p class="fbIco bold floatLeft">Facebook</p>
						<div class="floatLeft" style="clear:both">
							<div class="avt">
								<img src="${c.myprofiles['facebook'].get_profile_pic("PROFILE_S")}"/>
							</div>
							<% locals = {"name":c.myprofiles['facebook'].name} %>
							<p>${_("FF_ACCOUNT_You are connected to Facebook as <b>%(name)s</b>")%locals|n}</p>
							<a onclick="fbDisconnect()" class="link">${_("FF_ACCOUNT_Disconnect")}</a>
						</div>
					</div>
					</div>
				</div>
			%else:
				<div class="">
					<div class="first">
						<span>&nbsp;</span>
					</div>
					<div class="floatLeft" style="padding:20px 0">
						<p>${_("FF_ACCOUNT_You're not connected with Facebook")}</p>
						<a onclick="fbLogin()" class="facebookBtn floatLeft" title="${_("FF_LOGIN_Log in with Facebook")}">
							<span>${_("FF_LOGIN_Log in with Facebook")}</span>
						</a>
					</div>
				</div>
			%endif
			</div>
			
			<div class="networkDefaultAccounttwitter borderBottom noBorder">
			%if 'twitter' in c.myprofiles:
				<div class="">
					<div class="greyInsideFullWidth">
					<div class="first">
						<span>&nbsp;</span>
					</div>
					<div class="floatLeft" style="width:530px">
						<p class="twIco bold floatLeft">Twitter</p>
						<div class="floatLeft" style="clear:both">
							<div class="avt">
								<img src="${c.myprofiles['twitter'].get_profile_pic("PROFILE_S")}"/>
							</div>
							<% locals = {"name":c.myprofiles['twitter'].name} %>
							<p>${_("FF_ACCOUNT_You are connected to Twitter as <b>%(name)s</b>")%locals|n}</p>
							<a href="#" class="link">${_("FF_ACCOUNT_Disconnect")}</a>
						</div>
					</div>
					</div>
				</div>
			%else:
				<div class="">
					 <div class="first">
						<span>&nbsp;</span>
					 </div>
					 <div class="floatLeft" style="padding:20px 0">
						 <p>${_("FF_ACCOUNT_You're not connected with Twitter")}</p>
						 <a onclick="twInit()" class="twitterBtn floatLeft" title="${_("FF_LOGIN_Log in with Twitter")}">
							<span>${_("FF_LOGIN_Log in with Twitter")}</span>
						</a>
					</div>
				</div>
			%endif
			</div>
			
		</div>
		<div class="clear"></div>
	</div>
</div>