<%namespace name="forms" file="/widgets/forms.html"/>


<%def name="renderPanel()">
		<% errors = getattr(c, "login_errors", dict()) %>
		
		<form id="login_panel_form" method="POST" class="inputFields" action="/" onsubmit="submitLoginPanel();return false;">
			<div class="${"email" in errors and ' error' or ''}">
				<label for="login_email">${_("FF_LOGIN_Email Address")}</label>
				<input type="text" value="${getattr(c, "login_values", dict()).get("email")}" name="login.email" id="login_email"/>
				%if "email" in errors:
					<span class="error">${getattr(c, "login_errors", dict()).get("email")}</span>
				%endif
			</div>
			<div class="${"email" in errors and ' error' or ''}" style="margin-top:5px" >
				<label for="login_pwd">${_("FF_LOGIN_Password")}</label>
				<input type="password" value="${getattr(c, "login_values", dict()).get("pwd")}" name="login.pwd" id="login_pwd"/>
				%if "pwd" in getattr(c, "login_errors", dict()):
					<span class="error">${getattr(c, "login_errors", dict()).get("pwd")}</span>
				%endif
				<div style="margin-top:5px">
					<a onclick="xhrPost('${url(controller='myprofile', action='rppopup')}', {});closeLoginPanel();" class="lostpass">${_("FF_LOGIN_Forgot Password?")}</a>
				</div>
			</div>
			<input type="submit" class="primarySmall floatLeft" style="width:auto;margin-top:7px" value="${_("FF_LOGINBUTTON_Log In")}"/>
		</form>
		<h3>${_("FF_LOGIN_Login with facebook or twitter")}</h3>
		<div class="inputline">
			<a title="${_("FF_LOGIN_Log in with Facebook")}" class="facebookBtn" onclick="fbLogin()">
				<span>${_("FF_LOGIN_Log in with Facebook")}</span>
			</a>
		</div><div class="inputline">
		<a title="${_("FF_LOGIN_Log in with Twitter")}" class="twitterBtn" onclick="twInit()">
			<span>${_("FF_LOGIN_Log in with Twitter")}</span>
		</a>
		</div>
		<p>${_("FF_LOGIN_Dont have an account yet?")} <a class="lostpass" href="/signup?furl=/">${_("FF_LOGIN_Sign up here")}</a></p>
</%def>

<div class="loginArea">
	%if c.user.is_anon:
		
		<div class="btn" id="loginlink">${_("FF_LOGIN_Login")}
		<div class="newFormControls loginPanel ${not getattr(c, "expanded", False) and "hidden" or ""}" id="loginPanelContent">
			${renderPanel()|n}
		</div>
		
		</div>
		<a href="/signup?furl=/" class="btn">${_("FF_LOGIN_Sign Up")}</a>
		
		<script type="text/javascript">
		var evts = [];
		submitLoginPanel = function(){
			xhrFormPost("${url(controller="myprofile", action="loginpanel")}", "login_panel_form", function(html){
					dojo.place(html, dojo.byId("loginPanelContent"), "only");
					var i = dojo.query("input", "loginPanelContent");
					if(i.length>0){i[0].focus()};
				});
			return false;
		};
		closeLoginPanel = function(evt){
			if(dojo.hasClass("loginlink", "active")){
				dojo.removeClass("loginlink", "active");
				dojo.addClass("loginPanelContent", "hidden");
				dojo.forEach(evts, dojo.disconnect);
			}   
		}
		toggleLoginPanel = function(evt){
			evt = evt||event;
			var target = evt.srcElement || evt.target;
			if(target.id == "loginlink"){
			if(dojo.hasClass(this, "active")){
				dojo.removeClass(this, "active");
				dojo.addClass("loginPanelContent", "hidden");
				dojo.forEach(evts, dojo.disconnect);
			} else {
				dojo.addClass(this, "active");
				dojo.removeClass("loginPanelContent", "hidden");
				evts.push(dojo.connect(document, "onkeydown", function(evt){if(evt.keyCode == 27){closeLoginPanel(evt);}}));
				evts.push(dojo.connect(document, "onclick", function(evt){if(!(evt.target.id=="loginlink")&&!findParent(evt.target, "loginPanel")){closeLoginPanel(evt);}}));
			}}else if(target.type=="submit"){submitLoginPanel();}
		}
		document.getElementById("loginlink").onclick = toggleLoginPanel;
		</script>
	%else:
		<img src="${c.user.get_profile_pic(secured = request.is_secured)}" ${c.user.get_failover(secured = request.is_secured)|n} width="25px" height="25px" />
		<div class="showHide">
			<span>${c.user.name or c.user.default_email}</span>
			<div class="widthGiver">
				<div>
					<a href="${url(controller="myprofile", action="account", host=app_globals.default_host, protocol="http")}">${_("FF_LOGINDROPDOWN_Account Settings")}</a>
					<a href="${url(controller="mypools", action="stream", host=app_globals.default_host, protocol="http")}">${_("FF_LOGINDROPDOWN_Profile")}</a>
					<a href="#" onclick="fbLogout(${int(c.user.is_logged_in_with("facebook"))});">${_("FF_LOGINDROPDOWN_Logout")}</a>
				</div>
			</div>
		</div>
	%endif
</div>


%if request.merchant.is_default:
<ul>
		<% route = request.environ["wsgiorg.routing_args"][1] %>
		<li><a href="${url('home', protocol="http")}" ${forms.expression_quote(route["controller"] == "index", "class", "navselected")} >${_("FF_MENU_Home")}</a></li>
		<li><a href="${url(controller="content", lang=session["lang"], action="learn_more", host=app_globals.default_host, protocol="http")}"
			${forms.expression_quote(route["controller"] == "content", "class", "navselected")}>${_("FF_MENU_Learn")}</a></li>
		<li><a href="${forms.create_pool_link()}" 
			${forms.expression_quote(route["controller"] == "pool" and route["action"] in ["details","create"], "class", "navselected")}>${_("FF_MENU_Create a pool")}</a></li>
		%if not c.user.is_anon:
			<li><a href="${url(controller="mypools", action="stream", protocol="http")}" 
				${forms.expression_quote(route["controller"] in ["myprofile", "mypools"], "class", "navselected")}>${_("FF_MENU_My_Pools")}</a></li>
		%endif
</ul>
%endif