div.wrapHeader {
    background: repeat scroll 0 0 #f10000 !important;
}
div.header{ padding: 0 25px 0 25px; background: white; }
div.header h1 {margin: 0; width: auto}
div.wrapSubContent{ background:#f10000}
div.content{ padding: 0 25px 60px 25px;
background: white}
div.loginArea{ right: 25px;}