<%inherit file="../layout.html"/>
<%namespace name="common" file="common.html"/>

<%def name="title()">${_("FF_TITLE_Account Password")}</%def>
<%def name="authperms()">{rld : true}</%def>
<%def name="onloadscripts()">parseDefaultsInputs("passwordForm");</%def>

<div class="wrapSubHeader">${self.renderMessages()|n}${common.render_tabs("password")|n}</div>

<div class="wrapSubContent">
<div class="content">
<div class="colRight"></div>
<div class="colLeft">
	%if c.is_pwd_create:
		<h4>${_("FF_PWD_PAGE_Create a Password fopr your account")}</h4>
	%else:
		<h4>${_("FF_PWD_PAGE_Change Your Password")}</h4>
	%endif
	<div class="subHeading"></div>
	
	<form name="passwordForm" id="passwordForm" action="${url(controller="myprofile",action="password")}" method="POST">
	<input type="hidden" name="is_create" value="${c.is_pwd_create}"/>
	
	
	%if not c.is_pwd_create:
		<div class="borderBottom onePixBtm ${"current_pwd" in c.errors and "error" or ""}">
			%if "current_pwd" in c.errors:
			<div class="tip">
				<div class="arrow"></div>
				<span>${c.errors['current_pwd']}</span>
			</div>
			%endif
			<div class="greyInsideFullWidth">
			<div class="first">
				<span>${_("FF_PWD_PAGE_Current Password")}</span>
			</div>
				<input type="password" value="${c.values.get("current_pwd")}" name="current_pwd">
			</div>
			<p class="info">
			<a onclick="window.__auth__.forgotPassword('${url(controller='myprofile', action='rppopup')}')" class="link">${_("FF_LOGIN_Forgot Password?")}</a></p>
		</div>
	%endif
	
	<div class="borderBottom onePixBtm ${"new_pwd" in c.errors and "error" or ""}">
		%if "new_pwd" in c.errors:
		<div class="tip">
			<div class="arrow"></div>
			<span>${c.errors['new_pwd']}</span>
		</div>
		%endif
	
		<div class="greyInsideFullWidth">
		<div class="first">
			<span>${_("FF_PWD_PAGE_New Password")}</span>
		</div>
			<input type="password" value="${c.values.get("new_pwd")}" name="new_pwd">
		</div>
		<p class="info">${_("FF_LOGIN_Min 6 characters. Letters and numbers only please.")}</p>
	</div>
	
	<div class="borderBottom  lastBtm  ${"new_pwd_confirm" in c.errors and "error" or ""}">
		%if "new_pwd_confirm" in c.errors:
		<div class="tip">
			<div class="arrow"></div>
			<span>${c.errors['new_pwd_confirm']}</span>
		</div>
		%endif
		
		<div class="greyInsideFullWidth">
		<div class="first">
			<span>${_("FF_PWD_PAGE_Confirm New Password")}</span>
		</div>
			<input type="password" value="${c.values.get("new_pwd_confirm")}" name="new_pwd_confirm">
		</div>
	</div>
	
	<div class="terms">
		<input type="submit" class="primaryButton" value="${_("FF_ACCOUNT_Save Changes")}">
	</div>
	</form>
</div>
<div class="clear"></div>
</div>
</div>
