<%inherit file="../layout.html"/>
<%namespace name="common" file="common.html"/>
<%namespace name="forms" file="/widgets/forms.html"/>

<%def name="title()">${_("FF_TITLE_Connections")}</%def>
<%def name="authperms()">{rld : true}</%def>


<div class="wrapSubHeader">${self.renderMessages()|n}${common.render_tabs("connections")|n}</div>

<div class="wrapSubContent">
	<div class="content">
		<div class="colRight"></div>
		<div class="colLeft">
			<h4>${_("FF_ACCOUNT_Log In Connections")}</h4>
			<div class="subHeadingSpecial"></div>
			<div class="networkDefaultAccountfacebook borderBottom">
			%if 'facebook' in c.myprofiles:
				<div class="">
					<div class="greyInsideFullWidth">
					<div class="first">
						<span>&nbsp;</span>
					</div>
					<div class="floatLeft" style="width:530px">
						<p class="fbIco bold floatLeft">Facebook</p>
						<div class="floatLeft" style="clear:both">
							<div class="avt">
								<img width="50px" height="50px" src="${c.myprofiles['facebook'].get_profile_pic("PROFILE_S")}"/>
							</div>
							<% locals = {"name":c.myprofiles['facebook'].name} %>
							<p>${_("FF_ACCOUNT_You are connected to Facebook as <b>%(name)s</b>")%locals|n}</p>
							<a href="${url(controller="fb",action="disconnect", network_id = c.myprofiles['facebook'].network_id)}" class="link">${_("FF_ACCOUNT_Disconnect")}</a>
						</div>
					</div>
					</div>
				</div>
			%else:
				<div class="">
					<div class="first">
						<span>&nbsp;</span>
					</div>
					<div class="floatLeft" style="padding:20px 0">
						<p>${_("FF_ACCOUNT_You're not connected with Facebook")}</p>
						<a onclick="window.__auth__.doF BLogin({success:ff.t.reload})" class="facebookBtn floatLeft" title="${_("FF_LOGIN_Log in with Facebook")}">
							<span>${_("FF_LOGIN_Log in with Facebook")}</span>
						</a>
					</div>
				</div>
			%endif
			</div>
			
			<div class="networkDefaultAccountfacebook borderBottom noBorder">
			%if 'twitter' in c.myprofiles:
				<div class="">
					<div class="greyInsideFullWidth">
					<div class="first">
						<span>&nbsp;</span>
					</div>
					<div class="floatLeft" style="width:530px">
						<p class="twIco bold floatLeft">Twitter</p>
						<div class="floatLeft" style="clear:both">
							<div class="avt">
								<img width="50px" height="50px" src="${c.myprofiles['twitter'].get_profile_pic("PROFILE_S")}"/>
							</div>
							<% locals = {"name":c.myprofiles['twitter'].name} %>
							<p>${_("FF_ACCOUNT_You are connected to Twitter as <b>%(name)s</b>")%locals|n}</p>
							<a href="${url(controller="twitter",action="disconnect", network_id = c.myprofiles['twitter'].network_id )}" class="link">${_("FF_ACCOUNT_Disconnect")}</a>
						</div>
					</div>
					</div>
				</div>
			%else:
				<div class="">
					 <div class="first">
						<span>&nbsp;</span>
					 </div>
					 <div class="floatLeft" style="padding:20px 0">
						 <p>${_("FF_ACCOUNT_You're not connected with Twitter")}</p>
						 <a onclick="window.__auth__.doTWLogin({success:ff.t.reload})" class="twitterBtn floatLeft" title="${_("FF_LOGIN_Log in with Twitter")}">
							<span>${_("FF_LOGIN_Log in with Twitter")}</span>
						</a>
					</div>
				</div>
			%endif
			</div>
			
		</div>
		<div class="clear"></div>
	</div>
</div>