img {border: 0px transparent solid;}
hr {	clear: both;}
h2 {font-family: "Trebuchet MS"; font-size: 20px !important; font-weight: bold !important; color:#403834 !important; margin: 0 !important; line-height: normal !important;}
h2.small{ font-size: 20px !important}
h3 {font-family: "Trebuchet MS" !important; font-size: 14px !important; font-weight: bold !important;; line-height: 14px !important}
textarea {font-family:arial;font-size:12px;}
a, a:visited, a:link, a:hover {
	text-decoration: None;
	outline: none;
	-moz-outline-style: none;
	cursor:pointer;
}
a.somelink:hover {	text-decoration: underline;}

.vertNoPadding {padding: 0px 30px 15px 30px;}
.vertHalfPadding {padding: 15px 30px 15px 30px;}
.horNoPadding {padding: 30px 0px;}
.horFullPadding {padding: 0px 30px;}
.horHalfPadding {padding: 0px 15px;}
.fullPadding {padding: 30px;}
.textCenter {text-align:center}
.marginTop{margin-top:30px;}

.bold {font-weight:bold}

.hidden {display: None !important;}
.white {background-color: white;}
.grey{ font-family: Arial; font-size: 11px; color: #999; display: block; padding-top: 10px}

.floaterLeft{ float: left; position: relative}
.alignerRight {text-align:right}
.floaterRight{ float: right}
.clearer{ clear:both}

.hlast {	margin-right: 0px !important;}
.vlast {	margin-bottom: 0px !important;}
.hover {cursor:pointer}


.wide{ width: 100% !important;border-top:1px solid #E9E9E9 !important; margin-top: 15px}
.fixedW{ width: 100%;height: 23px; padding-top: 12px}
.fixedW input{ width: 160px}


.inside{font-weight:bold; margin-top:15px !important;padding:0 4px;}
.insideSmall{font-weight:bold; margin-top:15px;padding:0 4px;}
.smallInside{ float: left; font-weight: bold;margin-top: 5px;padding: 0 4px;}
h4.inside span{ float: right; font-size: 12px; font-weight: normal}
div.insider{padding:0 4px 5px 4px;}
.minispaced{padding:4px 0}

/*-------------------------------- BUTTONS ------------------------------------*/
.BtnRed {background:url("../custom_imgs/inputfield.png?20101129") no-repeat scroll 100% -1145px transparent;
	bottom:0;
	display:block;
	float:right;
	font-family:Arial,Helvetica,Jamrul,Arial,sans-serif;
	font-size:18px;
	font-style:normal;
	left:0;
	min-width: 50px;
	text-align:center;
	padding-right:15px;
	z-index:2;
}
.BtnRed:hover {background-position:100% -1078px}
.BtnRed span{background:url("../custom_imgs/inputfield.png?20101129") no-repeat scroll 0 -1111px transparent;
	color:white;
	cursor:pointer;
	display:block;
	font-size:18px;
	height:33px;
	line-height:33px;
	padding-left:15px;
	text-shadow:0 -1px 0 #770B3E;
}
.BtnRed:hover span{background-position:0 -778px;}
.BtnGold{
	background:url("../custom_imgs/inputfield.png?20101129") no-repeat scroll 100% -1281px transparent;
	bottom:0;
	display:block;
	float:left;
	min-width: 50px;
	text-align:center;
	padding-right:19px;
}
.BtnGold span{
	background:url("../custom_imgs/inputfield.png?20101129") no-repeat scroll 0 -1226px transparent;
	display:block;
	float:left;
	font-family:Arial,Helvetica,Jamrul,Arial,sans-serif;
	font-size:28px;
	font-style:normal;
	color:white;
	padding-left:19px;
	height:53px;
	line-height:53px;
	text-align:center;
	z-index:2;
	text-shadow:0  1px 0 #D58000;
}
.BtnGold:hover{background-position:100% -1388px;}
.BtnGold:hover span{background-position:0 -1333px;}

.submitSmall {
	background:url("../custom_imgs/inputfield.png?20101129") no-repeat scroll 100% -213px transparent;
	display:block;
	padding-right:20px;
	float:right;
	min-width: 50px;
	text-align:center;
	z-index:2;}
.submitSmall span{background:url("../custom_imgs/inputfield.png?20101129") no-repeat scroll 0 -1111px transparent;
	color:white;
	cursor:pointer;
	display:block;
	font-size:18px;
	height:33px;
	line-height:33px;
	padding-left:15px;
	padding-right:5px;
	text-shadow:0 -1px 0 #770B3E;}
.submitSmall:hover {background-position:100% -812px;}
.submitSmall:hover span{background-position:0 -778px;}

.submitSmallLeft {
	background:url("../custom_imgs/inputfield.png?20101129") no-repeat scroll 100% -1477px transparent;
	display:block;
	float:left;
	padding-right:8px;
	min-width: 50px;
	text-align:center;
}
.submitSmallLeft span {
	background:url("../custom_imgs/inputfield.png?20101129") no-repeat scroll 0 -1443px transparent;
	color:white;
	cursor:pointer;
	display:block;
	font-size:18px;
	height:33px;
	line-height:33px;
	padding-left:24px;
	padding-right:5px;
	text-shadow:0 -1px 0 #770B3E;
}
.submitSmallLeft:hover span {background-position:0 -1012px;}
.submitSmallLeft:hover {background-position:100% -1045px;}


.submitMini {padding-right:15px;text-align:right;cursor:pointer;position:relative;}
.submitMini span{background:url("../custom_imgs/inputfield.png?20101129") no-repeat scroll -304px -4px transparent;
	position:absolute;right:0px;display:block;height:15px;width:10px;top:2px;}
.submitMini:hover span{background-position:-285px -4px}

.submitExtraMini {padding-right:8px;text-align:right;cursor:pointer;position:relative;}
.submitExtraMini span{background:url("../custom_imgs/inputfield.png?20101129") no-repeat scroll -381px -3px transparent;
	position:absolute;right:0px;display:block;height:15px;width:5px;top:2px;}
.submitExtraMini:hover span{background-position:-376px -3px}





.facebookBtn {background:url("../custom_imgs/inputfield.png?20101129") no-repeat scroll 100% -695px transparent;
	cursor:pointer;
	display:block;
	height:26px;
	line-height:26px;
	padding-right:15px;
	width:185px;margin:0px auto;}
.facebookBtn span{background:url("../custom_imgs/inputfield.png?20101129") no-repeat scroll 0 -668px transparent;
		font-family:Arial,Helvetica,sans-serif;
		color:white;
		cursor:pointer;
		display:block;
		font-size:13px;
		font-weight:bold;
		height:26px;
		line-height:25px;
		padding-left:36px;
		text-shadow:0 -1px 0 #333333;text-align:center;}
.twitterBtn {
	background:url("../custom_imgs/inputfield.png?20101129") no-repeat scroll 100% -749px transparent;
	cursor:pointer;
	display:block;
	height:26px;
	line-height:26px;
	padding-right:15px;
	width:185px;margin:0px auto;}
.twitterBtn span{
		background:url("../custom_imgs/inputfield.png?20101129") no-repeat scroll 0 -722px transparent;
		font-family:Arial,Helvetica,sans-serif;
		color:#25568e;
		cursor:pointer;
		display:block;
		font-size:13px;
		font-weight:bold;
		height:26px;
		line-height:25px;
		padding-left:36px;text-align:center;}

/* ================== RED Submit ================== */

a.red_labeled_container {
	background:url("../custom_imgs/inputfield.png?20101129") no-repeat scroll 100% 1px transparent;
	color:#FFFFFF;
	cursor:pointer;
	display:block;
	font-size:20px;
	height:44px;
	line-height:45px;
	padding-right:25px;
	position:relative;
	text-align:center;
	text-shadow:0 -1px 0 #770B3E;
	width:160px;
}
a.red_labeled_container span {background:url("../custom_imgs/inputfield.png?20101129") no-repeat scroll 0 -166px transparent;display:block;padding-left:18px;}
a.red_labeled_container:hover {background-position:100% -43px;}
a.red_labeled_container:hover span {background:url("../custom_imgs/inputfield.png?20101129") no-repeat scroll 0 -1178px transparent;}
.inactive {background-position:100% -545px !important;}
.inactive span {background-position:0 -490px !important;}





/*-------------------------------- black_labeled_input ------------------------------------*/

input.small{width:50px;}
#receiver_selector_container .inputcontainer {
	position: relative;
	float: left;
	width: 100%;
	background-color: white;
	padding-bottom: 0;
	margin-bottom: 0
}

.inputcontainer {position: relative;float: left;width: 100%;padding-bottom: 5px;}
input.default {color: #999 !important;}
.black_labeled_input {-moz-border-radius: 5px;border-radius: 5px;background-color:#EEF8FD;border: 1px solid #BBE3F7;padding: 2px 6px;margin: 0 0 10px;}
.black_labeled_input.dijitTextBox {cursor:pointer;background:#EEF8FD url(../custom_imgs/inputfield.png?20101129) 100% -430px no-repeat !important;padding: 0px 24px 0px 4px;margin: 0;}

.black_labeled_input .dijitInputField {color:#333;margin:2px 5px 0 !important;}
.black_labeled_input .dijitTextBox {border: 0px solid transparent;color: #333;z-index:2px;}
.dijitTextBoxError,
	.dijitTextBoxError .dijitInputContainer {background-color: #EEF8FD !important;}
.dijitTextBoxFocused .dijitInputContainer, 
	.dijitTextBox {background-color: #EEF8FD !important;color: #333 !important;width: auto;}

.dijitTooltipContainer {left: 10px;}
.claro .dijitTextBox .dijitInputInner {padding: 1px 2px 1px 0;}

label.black_label {color: #403834;font-family: "Trebuchet MS",Helvetica,Jamrul,Arial,sans-serif;font-size: 16px;font-weight: bold;padding-right: 30px;}


div.black_labeled_container a.left_button_search {
	position: absolute;
	top: 0px;
	left: -20px;
	width: 25px;
	height: 25px;
	background: url(../custom_imgs/inputfield.png?20101129) 0px -27px no-repeat;
}
a.black_labeled_container {
	position: relative;
	padding: 5px 5px 6px 2px;
	line-height:25px;
	border: 0px solid transparent;
	color: #ffffff;
	font-size: 13px;
	font-weight:bold;
	background: url(../custom_imgs/inputfield.png?20101129) 0px -56px no-repeat;
	cursor:pointer;
}
a.black_labeled_container div.right_bracket {
	height:27px;
	position:absolute;
	right:-14px;
	top:0;
	width:14px;
	background:url("../custom_imgs/inputfield.png?20101129") no-repeat scroll -142px -27px transparent;
}
a.black_labeled_container:hover div.right_bracket {
	background-position:-159px -27px
}
a.black_labeled_container div.left_bracket {
	position: absolute;
	top: 0px;
	height:27px;
	width:12px;
	left: -12px;
	background: url(../custom_imgs/inputfield.png?20101129) -110px -27px no-repeat;
}
a.black_labeled_container div.right_bracket_back {
	height:27px;
	position:absolute;
	right:-11px;
	top:0;
	width:11px;
	background: url(../custom_imgs/inputfield.png?20101129) -127px -27px no-repeat;
}
a.black_labeled_container div.left_bracket_back {
	position: absolute;
	top: 0px;
	height:27px;
	width:14px;
	left: -14px;
	background:url("../custom_imgs/inputfield.png?20101129") no-repeat scroll -192px -27px transparent;
}
a.black_labeled_container:hover div.left_bracket_back {
	background-position:-176px -27px
}


/* ================== BIG INPUT ================== */

#messaging_container {
	float:right;
	position:relative;
	right:0;
	top:0;
	width:350px;
	z-index:3;
}

#message_container {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #B70158;
	color: #333;
	margin: 10px 0px;
	padding: 1px 0px;
}
#message_container div.message {
	background-color: white;
	position: relative;
	height: 100%;
	margin: 5px 19px 5px 5px;
}
#message_container ul{
	list-style-type: None;
	margin: 0px;
	padding: 5px;
}

#message_container ul li{
	margin: 5px 0px;
	line-height: 110%;
	padding: 0px;
}

.pageSlogan {background-color:white;float:left;width:920px;padding: 30px 30px 0}
body.popup .pageSlogan {padding:0 !important;width:100%;}
.pageSubSlogan {padding: 15px 0}
#page_slogan {
	color: #5A4129;
	font-family: "Trebuchet MS",Helvetica,Arial,sans-serif;
	font-size: 28px;
	padding: 0 0 10px;
	position: relative;
}

#page_slogan .subtext{
	font-family: Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: #403834;
	position: relative;
	display: block;
	width: 550px;
}


a.panel_closer {
	position: absolute;
	top: 0px;
	right: -14px;
	width: 14px;
	height: 22px;
	background-image: url(../imgs/button_close_info.png);
}

/*=========================================== BUTTON ===========================================*/
a.button_container{
	position: relative;
	float: right;
	margin: 0px 10px;
	height: 32px;
	background-image:url(../imgs/button_big_middle.png);
	color: white;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-style: normal;
}

a.button_container.red.red_small{
	background-image:url(../imgs/button_chipin_middle.png);
	height: 56px;
	float: None;
	width: 110px;
	display: block;
	font-size:22px;
	line-height:36px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	left: 34px;
}

a.button_container.large{
	font-size: 22px;
	font-family: Arial, Helvetica, sans-serif;
}

a.button_container:hover{
	cursor:pointer;
}
a.button_container div.button_left {
	background:url(../imgs/button_big_left.png) no-repeat top left;
	width: 11px;height:32px;position:absolute;top:0px;left:-11px;
}
a.button_container div.button_right{
	background:url(../imgs/button_big_right.png) no-repeat top right;
	width: 11px;height:32px;position:absolute;top:0px;right:-11px;
}


a.buttonRed{ 
	display: block;
	margin: 0 auto;
	background: url(../custom_imgs/inputfield.png?20101129) 100% -901px no-repeat;
	height: 53px;
	line-height: 53px;
	font-size: 28px;
	padding-right: 20px;
	cursor:pointer;
}
a.buttonRed span{ display: block;
	color:white;
	padding-left: 20px;
	background: url(../custom_imgs/inputfield.png?20101129) 0 -845px no-repeat;
	line-height: 53px;
}
a.buttonRed_right{float:right;margin:30px 30px 0px;width:auto;}
a.buttonRed_left{float:left;margin:30px;width:auto;}

a.button_container span.button_label{position: relative;top: 4px;line-height: 25px;}
a.button_container.large span.button_label{top: 3px;}
a.button_container.red span.button_label{top: 8px;}
a.button_container span.button_label img{position: relative;top: 2px;margin: 0px 0px 0px 5px;}

/*=========================================== LOWER BODY ==========================================*/

span.showme{position:absolute;right:6px;bottom:16px;}
.popuplink{color:#C11164; display: block}
span.showme img{margin: 0 5px;position:relative;top:10px;}
span.showme a.showme{color: #c11164; text-decoration: none !important}
span.showme a.showme:hover{color: #c11164; text-decoration: underline !important}


.list{ margin:0 20px 0 30px; padding-bottom: 10px; float: left; }
.list a{ display: block; float: left; width: 158px; padding-right: 10px; font-size: 14px; color: #403834; font-family: Arial}
.listContainer{ float: left; padding-bottom: 15px}
.amount{width: 417px; margin-right: 45px;}

.flagContainer{ margin:15px auto;padding-bottom:15px;position:relative;width:150px; }
.flagContainer a{ height:13px;width:20px; background:white; display:block;margin: 0px 0px 0px 13px;float:left}
.flagContainer a.flag_de_DE{ background: url(../imgs/flags.gif) 0px 0px no-repeat;}
.flagContainer a.flag_en_GB{ background: url(../imgs/flags.gif) 0px -13px no-repeat;}
.flagContainer a.flag_en_US{ background: url(../imgs/flags.gif) 0px -26px no-repeat;}
.flagContainer a.flag_es_ES{ background: url(../imgs/flags.gif) 0px -39px no-repeat;}