#homeurlexpander .title input{ margin-left: -10px}
 input.primaryButton, input.primaryLarge{ line-height: 30px}
div.showHide{ width: 170px}
div.boxContributors{ padding-bottom: 4px}
div.footer div.showHide {
    width:120px
}

div.borderBottom .home_expander input#tracking_link_edit, div.borderBottom #homeurlexpander input#tracking_link_edit {
	margin-left:-10px
}
.forward{ max-width: 150px}
div.outerPopupFrame div.whitePopupFrameLarge, div.outerPopupFrame div.whitePopupFrame{position: absolute}
div.timeCounterRight{ margin-top: -15px}
.txtArea textarea { border:1px solid white; height: 45px}
.smallTable a.link {
    top: 105px;}