.simpleeditable:hover, .editable:hover{background-color:yellow;cursor:pointer}
.invitee_row.nonselectable {	display:none;}
div.loginArea a.btn:hover {background:#cacaca;}

.upImgCnt {width:190px;height:150px;}

div.weNeed .verticalTip {display:None}
div.weNeed .showToolTip .verticalTip {display:block}