<%inherit file="master.html"/>
<%namespace name="links" file="links.html"/>
<%def name="title()">FF PCT</%def>
<%def name="page_slogan()">
	<div id="page_slogan"><span class="emphasis">HUHU and welcome to the new and shiny PCT!</span></div>
</%def>


<table class="curation" border="1">
<tr><th>Product</th><th>Action</th></tr>
%for cp in c.curation_queue.cp:
	<tr>
	<td class="curation">${display_product(cp.versions)}</td>
	<td>Do Something Withit:
		<ul>
			<li>Cat1</li>
			<li>Cat2</li>
			<li>Cat3</li>
			<li>Cat4</li>
			<li>Cat5</li>
		</ul>
	</td>
	</tr>
%endfor

</table>



<%def name="display_product(cp)">
%if product is not None:
	<table class="curation_product" cellspacing="0" cellpadding="0">
		%for k in c.curation_queue.key_order:
			<tr  class="curation_product">
				<td  class="curation_product"><div class="label">${k.replace('_', ' ').title()}:</div></td>
				%for key in sorted(cp, reverse=True):
				<td  class="curation_product">
					<div class="property name">${getattr(cp[key].product, k)}</div>
				</td>
				%endfor
			</tr>
		%endfor
		%for k in c.curation_queue.image_keys:
			<tr  class="curation_product">
				<td  class="curation_product"><div class="label">${k}:</div></td>
				%for key in sorted(cp):
				<td  class="curation_product">
					<div class="property name"><img src="${getattr(cp[key].product, k)}"/></div>
				</td>
				%endfor
			</tr>
		%endfor
	</table>
%else:
	No Product Info
%endif
</%def>