<%inherit file="master.html"/>
<%namespace name="links" file="links.html"/>
<%def name="title()">FF PCT</%def>
<%def name="page_slogan()">
	<div id="page_slogan"><span class="emphasis">HUHU and welcome to the new and shiny PCT!</span></div>
</%def>


<table class="curation" border="1" cellspacing="20">
<tr><th>Product</th><th>Action</th></tr>
%for cp in c.curation_queue.cp:
	<tr>
	<td class="curation">${display_product(cp.versions)}</td>
	<td class="curation" valign="bottom">
		<form action="/index/curate" method="post"/>
			<textarea style="display:none" name="curation_xml">${cp.xml}</textarea>
			<input type="hidden" name="region" value="${c.curation_queue.region}"/>
			<input type="submit" name="outcome" value="ACCEPT"/>
			<input type="submit" name="outcome" value="REJECT"/>
		</form>
	</td>
	</tr>
%endfor

</table>



<%def name="display_product(cp)">
<%
	versions = sorted(cp, reverse=True)
%>
%if product is not None:
	<table class="curation_product" cellspacing="0" cellpadding="0">
		%for k in c.curation_queue.key_order:
			<tr class="curation_product">
				<td  class="curation_product"><div class="label">${k.replace('_', ' ').title()}:</div></td>
				%for key in versions:
				<td  class="curation_product ${len(set(map(lambda x: getattr(cp[x].product, k), cp))) > 1 and 'different' or 'same'}">
					<div class="property ${k}">${getattr(cp[key].product, k)}</div>
				</td>
				%endfor
			</tr>
		%endfor
		%for k in c.curation_queue.image_keys:
			<tr  class="curation_product">
				<td  class="curation_product"><div class="label">${k}:</div></td>
				%for key in versions:
				<td  class="curation_product ${len(set(map(lambda x: getattr(cp[x].product, k), cp))) > 1 and 'different' or 'same'}">
					<div class="property ${k}"><img src="${getattr(cp[key].product, k)}"/></div>
				</td>
				%endfor
			</tr>
		%endfor
		<tr  class="curation_product">
			<td  class="curation_product"><div class="label">Categories:</div></td>
			%for key in versions:
			<td  class="curation_product">
				<ul>
					%for cat in app_globals.categories.list:
					<li><input type="checkbox" name="category" value="${cat.name}" checked="${cat.name in cp[key].categories.map and 'checked' or ''}"
							${key=='OLD' and 'disabled="disabled"' or ''}>${cat.name}</li>
					%endfor
				</ul>
			</td>
			%endfor
		</tr>
	</table>
%else:
	No Product Info
%endif
</%def>