<%inherit file="master.html"/>
<%namespace name="links" file="links.html"/>
<%def name="title()">FF PCT</%def>
<%def name="page_slogan()">
	<div id="page_slogan"><span class="emphasis">HUHU and welcome to the new and shiny PCT!</span></div>
</%def>
<%def name="headscripts()">
handleResult = function(id, data){
	if(data.success==true){
		dojo.query('#'+id).orphan();
		if(dojo.query('tr.curation_queue_item').length == 0)
			{window.location.reload();}
	} else {
		alert(data.error_data);
	}
}
</%def>

<table class="curation" border="1" cellspacing="20">
<tr><th>Product</th><th>Action</th></tr>
%for cp in c.curation_queue.cp:
	<% 
		pc_id = 'cp_%s' % '_'.join(str(cp.versions[cpv].pc_id) for cpv in cp.versions) 
	%>
	<tr class="curation_queue_item" id="${pc_id}">
	<form action="${url.current(action='curate')}" method="post" id="form_${pc_id}">
	<td class="curation">${display_product(cp.versions)}</td>
	<td class="curation curation_action" valign="bottom">
			<textarea style="display:none" name="curation_xml">${cp.xml}</textarea>
			<input type="hidden" name="region" value="${c.curation_queue.region}"/>
			<input type="hidden" id="outcome_${pc_id}" name="outcome" value=""/>
			
			<div style="margin-top: 250px;">
			<div style="float:left">
			%for cat in app_globals.categories.list:
				<div class="label"><input id="new_category_${cat.name}" type="checkbox" name="category" value="${cat.name}" ${cat.name in cp.versions['NEW'].categories.map and 'checked="checked"' or ''}/>
					<label for="new_category_${cat.name}">${cat.name.replace('_',' ').title()}</label>
				</div>
			%endfor
			</div>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<input type="button" value="ACCEPT" onclick="dojo.byId('outcome_${pc_id}').value='ACCEPT';xhrFormPost('${url.current(action='curate')}', 'form_${pc_id}', dojo.hitch(null, handleResult, '${pc_id}'))"/>
			<input type="button" value="REJECT" onclick="dojo.byId('outcome_${pc_id}').value='REJECT';xhrFormPost('${url.current(action='curate')}', 'form_${pc_id}', dojo.hitch(null, handleResult, '${pc_id}'))"/>
			</div>
	</td>
	</form>
	</tr>
%endfor

</table>



<%def name="display_product(cp)">
<%
	versions = sorted(cp, reverse=True)
%>
%if product is not None:
	<table class="curation_product" cellspacing="0" cellpadding="0">
		%for k in c.curation_queue.key_order:
			<tr class="curation_product">
				<td  class="curation_product"><div class="label">${k.replace('_', ' ').title()}:</div></td>
				%for key in versions:
				<td  class="curation_product ${len(set(map(lambda x: getattr(cp[x].product, k), cp))) > 1 and 'different' or 'same'}">
					<div class="property ${k}">${getattr(cp[key].product, k)}</div>
				</td>
				%endfor
			</tr>
		%endfor
		%for k in c.curation_queue.image_keys:
			<tr  class="curation_product">
				<td  class="curation_product"><div class="label">${k}:</div></td>
				%for key in versions:
				<td  class="curation_product ${len(set(map(lambda x: getattr(cp[x].product, k), cp))) > 1 and 'different' or 'same'}">
					<div class="property ${k}"><img src="${getattr(cp[key].product, k)}"/></div>
				</td>
				%endfor
			</tr>
		%endfor
		<tr  class="curation_product">
			<td  class="curation_product"><div class="label">Categories:</div></td>
			%for key in versions:
			<td  class="curation_product">
				%if key !='NEW':
					%for cat in app_globals.categories.list:
						<span class="label"><input id="category_${cat.name}" type="checkbox" name="category" value="${cat.name}" ${cat.name in cp[key].categories.map and 'checked="checked"' or ''}
								${key=='OLD' and 'disabled="disabled"' or ''}/>
							<label for="category_${cat.name}">${cat.name}</label>
						</span>
					%endfor
				%endif
			</td>
			%endfor
		</tr>
	</table>
%else:
	No Product Info
%endif
</%def>