<%namespace name="links" file="links.html"/>
${self.master_head()}
${self.body()}
${self.master_foot()}

<%def name="master_head()">
	<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
		<title>pct.friendfund.com | ${self.title()}</title>
		${links.css('master.css')}
		${links.css('message_block.css')}
		${self.scripts_styles()}
	</head>
	<body>
	<div id="outercontainer">
	<div id="container" class="${self.headerclass()}">
	<div id="top"></div>
	${self.header()}
	${self.footer_navigation()}
	<div id="body_outer_container">
		<div id="body_container" class="${self.bodyclass()}">
</%def>

<%def name="master_foot()">
		</div>
	</div>
	
	${self.lowerbody()}
		<div id="accountcontainer">
			<div id="loginpanel">
				Hi ${c.username}
			</div>
		</div>
		<div class="clear"></div>
	</div>
	</div>
	<input type="hidden" id="furl" value="${getattr(c, 'furl', '')}"/>
	
	
	<!-- scripts -->
	<link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/dojo/1.5/dijit/themes/claro/claro.css"/>
	<script type="text/javascript"> 
		djConfig = {
			baseUrl: "./",
			modulePaths: {
				"friendfund": "/static/js/friendfund"
			},
			dojoBlankHtmlUrl : '/static/blank.html',
			xdWaitSeconds: 10
		};
	</script> 
	<script src="https://ajax.googleapis.com/ajax/libs/dojo/1.5/dojo/dojo.xd.js" type="text/javascript"></script>
	${links.js('loader.js')}
	${self.scripts()}
	<div id="generic_popup"></div>
	<script type="text/javascript">
		${self.headscripts()}
		dojo.addOnLoad( function() {
			${self.onloadscripts()}
		});
	</script>
	</body>
	</html>
</%def>

<%def name="title()"></%def>
<%def name="bodyclass()"></%def>

<%def name="footer_end()">
</%def>
<%def name="scripts_styles()">
</%def>

<%def name="scripts()"></%def>
<%def name="headscripts()"></%def>

<%def name="onloadscripts()">
</%def>

<%def name="headerclass()">normal</%def>

<%def name="header()">
	<div id="headercontainer">
		<a href="${url('home', protocol='http')}" class="logoHeader"><img src="/static/imgs/header/logo_banner.png"/></a>
		${self.header_navigation()}
	</div>
</%def>

<%def name="header_navigation()">
	<ul class="navigation">
		%for title, path, token in app_globals.globalnav:
			<li class="${(c.navposition==token) and 'selected' or ''}"><a href="${url(*path['args'], **path['kwargs'])}">${_(title)}</a></li>
		%endfor
	</ul>
</%def>

<%def name="page_slogan()"></%def>
<%def name="lowerbody()"></%def>
<%def name="footer_navigation()"></%def>