<div class="popupBackground dark"></div>
<div class="outerPopupFrame">
	<div class="whitePopupFrameLarge fixed" id="popupContentFrame">
	<span class="panelcloser panelclosing_x">x</span>
		<div>
        	<h3 class="borderSmall">${_("FF_HOWINVITEDPOPUP_How will my friends be notified?")}</h3>
			<div class="popupPadder" style="padding-top:0">
				<p class="big">
				
				${_(u"FF_HOWINVITEDPOPUP_Your invitees will be notified of your Pool in three different ways:<br><br>Facebook friends will be invited to a Facebook Event, Email friends will be emailed,and Twitter friends will receive an @message. <br><br> Don’t worry, your privacy is sacred to us so we’ll never spam your friends or abuse your personal details.")|n}
				
				</p>
<a style="margin: 10px 0pt;" class="primarySmall panelcloser floatLeft ">${_("FF_Close")}</a>
<div class="clear"></div>
			</div>
        </div>
	</div>
</div>