<div class="popupBackground dark"></div>
<div class="outerPopupFrame">
	<div class="whitePopupFrameLarge fixed popupContentWindow">
	<span class="panelcloser panelclosing_x">x</span>
		<div>
			<h3 class="borderSmall">${_("FF_REQUIRE_SHIPPING_ADDRESS_POPUP_This gift still needs a shipping address!")}</h3>
			<div class="popupPadder" style="padding-top:0px">
			<p class="big">${_("FF_REQUIRE_SHIPPING_ADDRESS_POPUP_Your gift cannot be sent until we know where its going")}</p>
			<a class="primarySmall panelcloser floatLeft" href="${url("pool_edit", pool_url=c.pool.p_url, action="address")}" 
				style="margin:10px 0 10px 0">${_("FF_REQUIRE_SHIPPING_ADDRESS_POPUP_BUTTON_Add a Shipping Address")}</a>
			<div class="clear"></div>
			</div>
		</div>
	</div>
</div>