<html>
<head><title>Admin</title></head>
<body>

<div id="message_container" class="${not h.has_ne_prop(c, '_msgs') and 'hidden' or ''}"><%include file="/messages/standard.html"/></div>


<table border="1px" cellpadding="15px">
<tr><th>Pool Url</th><th>Shipping Address</th><th>Purchasing Link</th></tr>
%for pool in c.pools:
	<tr>
		<td><a href="/pool/${pool.p_url}">${pool.p_url}</a></td>
		<td>
			<div>Shipping Address</div>
			<div>Line1: ${pool.address.line1}</div>
			<div>Line2: ${pool.address.line2}</div>
			<div>Line3: ${pool.address.line3}</div>
			<div>ZIP: ${pool.address.zipcode}</div>
			<div>Country: ${pool.address.country}</div>
			<div>Phone: ${pool.address.phone}</div>
		</td>
		<td><a href="${pool.external_link}">Purchasing Link</a></td>
		<td><a href="#" onclick="if(confirm('Purchase is really been done? Double Check Please!'))window.location.href='/admin/${pool.p_url}/complete';">Purchase Done?</a></td>
	</tr>
%endfor

</table>

</body>
</html>