<%namespace name="inviter" file="inviter.html"/>
<%namespace name="html" file="../widgets/html_elems.html"/>

${self.mailinvitedinvitees()}

<%def name="mailinvitees()">
	<div id="email_invitees" class="invited_list">
		${mailinvitedinvitees()}
	</div>
	</%def>
<%def name="twitterinvitees()">
	<div id="twitter_invitees" class="invited_list">
		<div class="seperator"><img src="/static/imgs/icon_tw_connect.png"/></div>
		${inviter.render_network_friends(c.invitees.get("twitter", dict()))|n}
		${html.clearline()}
	</div>
</%def>
<%def name="fbinvitees()">
	<div id="facebook_invitees" class="invited_list">
		<div class="seperator"><img src="/static/imgs/icon_fb_connect.png"/></div>
		${inviter.render_network_friends(c.invitees.get("facebook", dict()))|n}
		${html.clearline()}
	</div>
</%def>

<%def name="mailinvitedinvitees()">
	<div class="seperator"><img src="/static/imgs/icon_mail.png"/></div>
	${inviter.render_email_friends(c.invitees.get("email", dict()))}
</%def>