<%!
	import md5
%>
<%namespace name="html" file="../widgets/html_elems.html"/>
<%namespace name="forms" file="../widgets/forms.html"/>


%if c.method == 'facebook':
	${networkinviter("facebook", c.friends, True)}
%elif c.method == 'twitter':
	${networkinviter("twitter", c.friends, False)}
%elif c.method == 'email':
	${mailinviter()}
%endif

<%def name="networkinviter(network_name, friends, mutuals)">
	<div class="arrowSubTab"></div>
	<div class="boxSearchFriend" id="inviteheader">
		<input type="text" id="fb_filter"  value="Search Friends" _default_text="Search Friends" class="searchFriends default" />
		%if mutuals:
			<span><input id="toggle_mutuals" type="checkbox"/><label for="toggle_mutuals">Mutual Friends</label></span>
		%endif
		<a href="#" class="floatRight inviteAll" id="inviteall">Invite All</a>
	</div>
	 <div class="friendsList ${network_name}" id="friend_list">
		<ul>
			{render_network_friends(friends, mutuals = mutuals)|n}
		</ul>
	</div>
</%def>

<%def name="render_network_friends(friends, active = True, mutuals = False, show_birthdays = False, add_label = None, rem_label = None)">
%for i,(id, user_data) in enumerate(friends.iteritems()):
	<%
		if "mutual_with" in user_data:
			mutual_class = "mutual"
		elif mutuals:
			mutual_class = "nonmutual hidden"
		else:
			mutual_class = "nonmutual"
	%>
		<li class="invitee_row ${active and 'selectable' or 'selected'} ${mutual_class}" id="${user_data['network']}_${id}"
			%if active:
				pos="${i}" ${h.attrib_keys(user_data)|n}
			%endif
		>
			<div class="avt">
				<img src="${user_data['profile_picture_url']}">
			</div>
			<p>${user_data['name']}</p>
			<a href="#">Invite &raquo;</a>
		</li>
%endfor
</%def>





<%def name="mailinviter()">
<div id="networkinviter_email">
	<div id="inviteheader">
		${html.clearline()}
	</div>
	<div class="perm_dialog" style="text-align:left;padding:0 0 0 30px;">
		<div class="headline">
			Select Friend from:
			<img src="/static/imgs/button_mail_gmail.png" class="networkicon" alt="GMail" />
			<img src="/static/imgs/button_mail_yahoo.png" class="networkicon" alt="Yahho Mail" />
		</div>
		<form action="" method="POST" id="emailinviter">
			<div id="inviter_name" class="input_field">
			<div class="label">
				<label for "email_networkname">${_("INVITE_PAGE_LABEL_Name of your friend:")}</label>
			</div>
			<input type="text" id="email_networkname" class="black_labeled_input" name="invitee.name" value=""/>
			</div>
			
			<div id="inviter_email" class="input_field">
			<div class="label">
			<label for "email_email">${_("INVITE_PAGE_LABEL_Email address of your friend:")}</label>
			</div>
			<input type="text" id="email_email" name="invitee.network_id" class="black_labeled_input" value=""/>
				<span id="email_inviter_error"></span>
			</div>
			<br/>
			<input type="hidden" name="invitee.network" value="email"/>
			<input type="hidden" name="invitee.notification_method" value="email"/>
			
			<div style="float: right; margin:0px 50px 0px;position: relative;">
				<a class="submitSmall selector" id="emailsubmitter" _imgurl="/static/imgs/default_m.png"><span>${_("INVITE_PAGE_LABEL_Submit")}</span></a>
			</div>
		</form>
		<div style="clear:both"></div>
	</div>
</div>
</%def>

<%def name="render_email_friends(friends, active = True, class_='selectable', add_label = None, rem_label = None)">
	%for i,(id, user_data) in enumerate(friends.items()):
	<div class="invitee_row ${class_}" id="email_${ md5.new(id).hexdigest() }"
			%if active:
				pos="i" ${h.attrib_keys(user_data)|n}
			%endif
		>
		%if active:
			<a class="selector invite" title="${user_data['name']}">${add_label or _("INVITE_LABEL_Invite")|n}<span class="selector invite"></span></a>
			<a class="selector remove" title="${user_data['name']}">${rem_label or _("INVITE_LABEL_Remove")|n}<span class="selector remove"></span></a>
		%endif
		<img src="${user_data['profile_picture_url']}" class="fbprofilepic">
		<span class="label">${user_data['name']}<br/>${id}</span>
	</div>
	%endfor
</%def>