<%inherit file="../layout_layer.html"/>
<%namespace name="links" file="../links.html"/>
<%namespace name="html" file="../widgets/html_elems.html"/>
<%namespace name="forms" file="../widgets/forms.html"/>
<%namespace name="inviter" file="inviter.html"/>
<%def name="title()">${_("INVITE_PAGE_FB_LOGIN_Invite")}</%def>


<%def name="scripts()">
	${links.js('friendfund/FriendSelector.js')}
	${links.js('friendfund/InvitePage.js')}
</%def>

<%def name="onloadscripts()">
	page = new friendfund.InvitePage({
			container : "lowerbody_container",
			invited_node :"invited",
			method : "${c.method}",
			fb_api_key : "",
			base_url : "${url('invite_index', controller='invite', pool_url=c.pool.p_url)}"
		});
	page_reloader = dojo.hitch(null, page.prepareSubmit, page);
	dojo.query(".popuplink", "lowerbody_container").onclick(dojo.hitch(null, loadPopup));
</%def>

<%def name="page_slogan()">
	<% locals = {"receiver_name" : c.pool.receiver.name } %>
	<div id="page_slogan">${(_("INVITE_PAGE_FB_LOGIN_Invite Your friends to chip in for <span class=\"emphasis\">%(receiver_name)s's</span> gift.") % locals)|n}</div>
</%def>

<div class="innerbody" id="invite_panel_header">
	<div class="invite_pool_panel hpbutton first">
		<div class="picture receiver"><span class="icon"></span><img src="${c.pool.receiver.get_profile_pic('RA')}"/>
		</div>
		<div class="label">${c.pool.receiver.get_receiver_label()}</div>
	</div>
	<div class="invite_pool_panel hpbutton">
		<div class="picture occasion"><span class="icon"></span><img src="/static/imgs/${c.pool.occasion.picture_url}"/></div>
		<div class="label">${c.pool.occasion.display_label}</div>
	</div>
	<div class="invite_pool_panel hpbutton">
		<div class="picture gift"><span class="icon"></span><img src="${c.pool.product.get_product_pic()}"/></div>
		<div class="label">${c.pool.product.get_display_label()|n}</div>
	</div>
	${html.clearline()}
</div>



<%def name="lowerbody()">
<% 
	i_am_admin = c.pool.am_i_admin(c.user)
%>

<div id="lowerbody_container" class="networkinviter fullbackgroundwhite marginTop">
	<form action="${url(controller='invite', pool_url=c.pool_url, action='friends')}" onsubmit="return prepareSubmit()" method="POST" id="invitees">
	<div class="lowerbody">
		<div id="network_methodselector" class="TabsContainer">
				<a class="methodselector ajaxlink ${c.method == 'facebook' and 'selected' or ''}" _target="inviter" _type="facebook"><span><img src="/static/imgs/icon_fb_connect.png"> Facebook</span></a>
				<a class="methodselector ajaxlink ${c.method == 'twitter' and 'selected' or ''}" _target="inviter" _type="twitter"><span> <img src="/static/imgs/icon_tw_connect.png"> Twitter</span></a>
				<a class="methodselector ajaxlink ${c.method == 'email' and 'selected' or ''}" _target="inviter" _type="email"><span><img src="/static/imgs/icon_mail.png"> Email</span></a>
		</div>
		${html.clearline()}
		<div id="invitescontainer" class="innerbody">
			<div id="invites">
				<div id="inviter"></div>
				
				<div id="invited">
				%if c.pool.require_pselector:
					<div id="PendingSelectorSelector" class="placeholder">
						<span id="PendingPlaceHolder" class="gift">${_("INVITE_PAGE_Click on one of the gift icons below to nominate a friend to choose a gift for this pool.")}</span>
						<span id="PendingNominator" class="nominator hidden"><img/>${_("INVITE_PAGE_<span class=\"name\">%s</span> has been nominated to choose a gift for this pool.")%""|n}</span>
					</div>
				%elif c.pool.selector:
					<div id="PendingSelectorSelector" class="placeholder" _network="${c.pool.selector.network}" _network_id="${c.pool.selector.network_id}">
						<span id="PendingPlaceHolder" class="gift hidden">${_("INVITE_PAGE_Click on one of the gift icons below to nominate a friend to choose a gift for this pool.")}</span>
						<span id="PendingNominator" class="nominator"><img src="${c.pool.selector.profile_s_pic}"/>${_("INVITE_PAGE_<span class=\"name\">%s</span> has been nominated to choose a gift for this pool.")%c.pool.selector.name|n}</span>
					</div>
				%else:
					<div class="placeholder">
					</div>
				%endif
				<div class="invitedBody">
					<div id="email_invitees" class="invited_list">
						<div class="seperator"><img src="/static/imgs/icon_mail.png"/></div>
						${inviter.render_email_friends(c.invitees.get("email", dict()), with_pending = c.pool.require_pselector)}
						<div style="clear:both;"></div>
					</div>
					<div id="twitter_invitees" class="invited_list">
						<div class="seperator"><img src="/static/imgs/icon_tw_connect.png"/></div>
						${inviter.render_network_friends(c.invitees.get("twitter", dict()), with_pending = c.pool.require_pselector)|n}
						<div style="clear:both;"></div>
					</div>
					<div id="facebook_invitees" class="invited_list">
						<div class="seperator"><img src="/static/imgs/icon_fb_connect.png"/></div>
						${inviter.render_network_friends(c.invitees.get("facebook", dict()), with_pending = c.pool.require_pselector)|n}
						<div style="clear:both;"></div>
					</div>
				</div>
				<div style="clear:both;"></div>
			</div>
			<div style="clear:both;"></div>
		</div>
	</div>
	</div>
	
	
	${html.clearline()}
	
	<div class="lowerbody invitepage newFormControls">
		<div class="invite_body underlined2">
			<h4 class="inside">${_("INVITE_PAGE_LABEL_Edit your invitation message:")}</h4>
			<div class="insider underlined1" style="padding:4px;">${_("INVITE_PAGE_LABEL_This message will included in your Facebook and Email invitations.")}</div>
			
			<% locals = {"admin_name":c.pool.admin.name, "receiver_name" : c.pool.receiver.name, "occasion_name": c.pool.occasion.get_display_name()} %>
			<textarea name="description" id="default_slogan" cols="60" rows="5">${c.pool.description|n}</textarea>
			<a style="margin-left:4px;" class="floaterLeft popuplink submitExtraMini" href="#" _href="${url(controller='content', action='invite_preview')}">${_("INVITE_PAGE_BUTTON_Preview your invitations")}<span></span></a>
		</div>
		
		<div class="invite_body underlined2">
			<h4 class="inside">${_("INVITE_PAGE_LABEL_Invitation Settings:")}</h4>
			<div class="insider underlined1" style="padding:4px;margin-bottom:15px;">${_("INVITE_PAGE_LABEL_Edit your invitation settings")}</div>
			
			<div class="invite_secret">
				<% locals = {"receiver_name" : c.pool.receiver.get_receiver_label()} %>
				<input type="checkbox" id="check_opt_out" name="opt_out" value="true"/>
				<label for="check_opt_out">${(_("INVITE_PAGE_LABEL_I will invite my friends manually, do not send out automated messages!")%locals)|n}</label>
				<div class="tooltip"><span class="triangle"></span><div class="content">${_("INVITE_PAGE_SLOGAN_Tick this box if you're absolutely sure you don't want our help sending invites. This way, your friends will ONLY be notified of the pool once you have personally invited them.")}</div></div>
			</div>
			
			%if i_am_admin and not c.pool.product.is_virtual:
			<div class="invite_secret">
				<% locals = {"receiver_name" : c.pool.receiver.get_receiver_label()} %>
				<input type="checkbox" id="check_is_secret" name="is_secret" value="true" ${forms.expression_quote(c.pool.is_secret or False, "checked")|n}/>
				<label for="check_is_secret">${(_("INVITE_PAGE_LABEL_Keep pool a secret from %(receiver_name)s")%locals)|n}</label>
			</div>
			%endif
			
		</div>
		
		<div class="floaterRight horNoPadding clearer">
			<div id="inviters_panel_tooltip" class="hidden">
				${_("INVITE_PAGE_TIP_Please invite some friends first!")}
			</div>
			<div id="inviters_selector_tooltip" class="hidden">
				<span id="PendingPlaceHolder" class="gift">${_("INVITE_PAGE_TIP_Please chose a Gift Selector First!")}</span>
			</div>
			<a class="submitSmall" id="invite_submitter"><span>${_("INVITE_PAGE_BUTTON_Send Invites")}</span></a>
		</div>

		
	</div>
	</form>
</div>
</%def>


