<%! from operator import add %>
<%inherit file="sublayout.html"/>
<%namespace name="links" file="../widgets/links.html"/>
<%namespace name="inviter" file="inviter.html"/>

<%def name="title()">${_("FF_TITLE_Invite to %s") % c.pool.title}</%def>

<%def name="scripts()">
	${links.js('build/friendfund.js')}
	${links.js('friendfund/EmailFriendSelector.js')}
	${links.js('friendfund/FriendSelector.js')}
	${links.js('friendfund/InvitePage.js')}
	${links.js('friendfund/NetworkFriendSelector.js')}
	${links.js('friendfund/PartnerPanel.js')}
</%def>
<%def name="authperms()">{requireFBPerms : true, fwd:false,rld:false}</%def>
	
<%def name="onloadscripts()">
	ff.w.parseDefaultsInputs("inviteMessage");
	page = new friendfund.InvitePage({
			container : "inviteContainer"
			,auth_provider : window.__auth__
			,invited_node :"invitedContainer"
			,method : "${c.method}"
			,mutuals : ${request.merchant.type_is_group_gift and "true" or "false"}
			,base_url : "${url('invite_index', controller='invite', pool_url=c.pool.p_url)}"
			,target_form : "invitees"
		});
	page.selector.draw("${c.method}");
	ff.w.parseSelectables("invitees", "wrapInside");
	ff.w.connectPopupLinks("inviteMessage");
	dojo.connect(dojo.byId("invite_submitter"), "onclick", dojo.hitch(null, page.prepareSubmit, page, ${c.pool.am_i_admin(c.user) and 9 or 6}));
</%def>


<div class="colRight moreMarginTop">
	<span class="floatRight link" id="removeall">${_("FF_INVITEPAGE_Remove All")}</span>
	<h3>${_("FF_INVITEPAGE_HEADER_Invited Friends")} (<span id="invitedCounter">${reduce(add, map(len, c.invitees.values()) or [0])}</span>)</h3>
	<form action="${url(controller='invite', pool_url=c.pool.p_url, action='friends')}" method="POST" id="invitees">
		<div class="listSelectedFriends" id="invitedContainer" >
			<p class="inviterTwo ${bool(c.invitees) and "hidden" or ""}">${_("FF_INVITER_EMAIL_Invite your friends from<br /> the left panel")|n}</p>
			<ul id="network_invitees" class="invited_list">
				${inviter.render_email_friends(c.invitees.get("email", dict()))}
				${inviter.render_network_friends(c.invitees.get("twitter", dict()))|n}
				${inviter.render_network_friends(c.invitees.get("facebook", dict()))|n}
			</ulv>
		</div>
		<input type="hidden" _source="ref_subject" class="addRefContent" name="subject" value="${c.values.get("subject")}"/>
		<input type="hidden" _source="ref_message" class="addRefContent" name="message" value="${c.values.get("message")}"/>
		<input type="hidden" name="v" value="${c.workflow}"/>
	</form>
</div>


<div class="colLeft">
	<div class="invited" id="inviteContainer">
		<h4><a class="link floatRight popuplink" _href="${url(controller="content", action="invite_info")}">${_("FF_INVITEPAGE_how will my friends be notified?")}</a>${_("FF_INVITEPAGE_HEADER_Invite your friends from Facebook, Twitter or Email")}</h4>
		<div class="subHeading"></div>
		 
		<div class="wrapTabs">
			<div class="tabs"> 
				<span class="methodselector ajaxlink ${c.method == 'facebook' and 'selected' or ''}" _type="facebook">Facebook</span> 
				<span class="methodselector ajaxlink ${c.method == 'twitter' and 'selected' or ''}" _type="twitter">Twitter</span> 
				<span class="methodselector ajaxlink ${c.method == 'email' and 'selected' or ''}" _type="email">Email</span> 
			</div>
		</div>
		  
		<div class="subTab" id="inviter"></div>
		
		<h4>${_("FF_INVITEPAGE_Add a Personal Message to your Invitees <span>(optional)</span>")|n}</h4>
		<div class="subHeading"></div>
		<div style="border-top:none" class="borderBottom">
			<div class="wrapInside ${('subject' in c.errors) and "error" or ""}">
				<div class="tip">
					<div class="arrow"></div>
					%if 'subject' in c.errors:
						<span>${c.errors['subject']}</span>
					%else:
						<span>${_("FF_INVITEPAGE_SUBJECT_Tip goes here")}</span>
					%endif
				</div>
				<div class="first"> <span>${_("FF_INVITEPAGE_Subject")}</span> </div>
				<input type="text" id="ref_subject" class="default" _default_text="${_("FF_INVITEPAGE_Write your subject here...")}" value="${c.values.get("subject", _("FF_INVITEPAGE_Write your subject here..."))}"/>
			</div>
			<div class="padSpacer"></div>
			<div class="wrapInside ${('message' in c.errors) and "error" or ""}">
				<div class="tip">
						<div class="arrow"></div>
					%if 'message' in c.errors:
						<span>${c.errors['message']}</span>
					%else:
						<span>${_("FF_INVITEPAGE_MESSAGE_Tip goes here")}</span>
					%endif
				</div>
				
				<div class="first"> <span>${_("FF_INVITEPAGE_Your message")}</span> </div>
				<div class="containerTxtArea">
				  <textarea id="ref_message" class="default" rows="6" _default_text="${_("FF_INVITEPAGE_Write your message here...")}">${c.values.get("message", _("FF_INVITEPAGE_Write your message here..."))}</textarea>
				</div>
			</div>
			<% 
				invitemethod = c.method
				if invitemethod == 'facebook':
					invitemethod = "stream_publish"
			%>
			<p class="info"><a class="message_preview" _href="${url(controller="invite", pool_url = c.pool.p_url, action="preview")}" _method="${invitemethod}">${_("FF_INVITEPAGE_How will my message be displayed?")}</a></p>
		</div>
		<div class="inviteBottom">
		   <div class="spacerPadLeft floatLeft">
				<p>${_("FF_INVITEPAGE_If you are inviting friends manually, here's a link to your pool:")}</p>
				<input type="text" class="copy" value="${url("get_pool", pool_url = c.pool.p_url, protocol="http")}" onclick="this.select();"/>
			</div>
			
			<div class="btnContainer">
			%if len(c.pool.invitees) or c.workflow=="3":
				<input type="button" id="invite_submitter" value="${_("FF_INVITEPAGE_BUTTON_Invite Friends")}" class="primaryButton" />
			%else:
				<input type="button" id="invite_submitter" value="${_("FF_INVITEPAGE_BUTTON_Create Pool")}"  class="primaryButton" />
			%endif
			</div>
		</div>
	</div>
  <div class="clear"></div>
</div>
