<%inherit file="../master.html"/>
<%namespace name="links" file="../links.html"/>
<%namespace name="html" file="../widgets/html_elems.html"/>
<%namespace name="forms" file="../widgets/forms.html"/>
<%namespace name="invited" file="invited.html"/>
<%def name="title()">${_("INVITE_PAGE_FB_LOGIN_Invite")}</%def>

<%def name="scripts()">
	${links.js('friendfund/NetworkFriendSelector.js')}
	${links.js('friendfund/EmailFriendSelector.js')}
	${links.js('friendfund/InvitePage.js')}
</%def>

<%def name="onloadscripts()">
	page = new friendfund.InvitePage({
			container : "lowerbody_container",
			invited_node :"invited",
			method : "${c.method}",
			fb_api_key : "",
			base_url : "${url('invite_index', controller='invite', pool_url=c.pool.p_url)}"
		});
	page.selector.${c.method}.draw();
	
	page_reloader = dojo.hitch(null, page.prepareSubmit, page);
</%def>

<%def name="page_slogan()">
	<% locals = {"receiver_name" : c.pool.receiver.name } %>
	<div id="page_slogan">${(_("INVITE_PAGE_FB_LOGIN_Invite Your friends to chip in for <span class=\"emphasis\">%(receiver_name)s's</span> gift.") % locals)|n}</div>
</%def>

<div class="innerbody" id="invite_panel_header">
	<div class="invite_pool_panel hpbutton first">
		<div class="picture"><img src="${c.pool.receiver.get_profile_pic('RA')}"/></div>
		<div class="label">${c.pool.receiver.get_receiver_label()}</div>
	</div>
	<div class="invite_pool_panel hpbutton">
		<div class="picture"><img src="/static/imgs/${c.pool.occasion.picture_url}"/></div>
		<div class="label">${c.pool.occasion.display_label}</div>
	</div>
	<div class="invite_pool_panel hpbutton">
		<div class="picture"><img src="${c.pool.product.get_product_pic()}"/></div>
		<div class="label">${c.pool.product.get_display_label()|n}</div>
	</div>
	${html.clearline()}
</div>



<%def name="lowerbody()">
<% 
	i_am_admin = c.pool.am_i_admin(c.user)
%>

<div id="lowerbody_container" class="networkinviter fullbackgroundwhite">
	<div style="padding:0px 30px 30px;">
		<div id="network_methodselector" class="panel_title"><span class="selectFriend">${_("INVITE_PAGE_LABEL_Select your friends from:")} </span>
				<a class="methodselector ajaxlink ${c.method == 'facebook' and 'selected' or ''}" _target="inviter" _type="facebook"><span><img src="/static/imgs/icon_fb_connect.png"> Facebook</span></a>
				<a class="methodselector ajaxlink ${c.method == 'twitter' and 'selected' or ''}" _target="inviter" _type="twitter"><span> <img src="/static/imgs/icon_tw_connect.png"> Twitter</span></a>
				<a class="methodselector ajaxlink ${c.method == 'email' and 'selected' or ''}" _target="inviter" _type="email"><span><img src="/static/imgs/icon_mail.png"> Email</span></a>
		</div>
		${html.clearline()}
		<div id="invitescontainer" class="innerbody">
			<form action="${url(controller='invite', pool_url=c.pool_url, action='friends')}" onsubmit="return prepareSubmit()" method="POST" id="invitees">
			<div id="invites">
				<div id="inviter">
					Loading...
				</div>
				<div id="invited">
					${invited.mailinvitees()}
					${invited.twitterinvitees()}
					${invited.fbinvitees()}
				</div>
				${html.clearline()}
			</div>
			<div id="invite_message">
				<div class="invite_message">${_("INVITE_PAGE_LABEL_Send a personal message to all invitees:")}
				<% locals = {"admin_name":c.pool.admin.name, "receiver_name" : c.pool.receiver.name, "occasion_name": c.pool.occasion.get_display_name()} %>
				<textarea name="description" id="default_slogan" cols="60" rows="5">${c.pool.description or (_("INVITE_PAGE_DEFAULT_MSG_%(admin_name)s has created a Friend Fund for %(receiver_name)s's %(occasion_name)s. Come and chip in!")%locals)|n}</textarea></div>
				%if i_am_admin and not c.pool.product.is_virtual:
				<div class="invite_secret">
					<% locals = {"receiver_name" : c.pool.receiver.get_receiver_label()} %>
					${(_("INVITE_PAGE_LABEL_Keep pool a secret from %(receiver_name)s")%locals)|n}:
					<div class="yes">
					<input type="checkbox" id="check_is_secret" name="is_secret" value="true" ${forms.expression_quote(c.pool.is_secret or False, "checked")|n}/><label for="check_is_secret">${_("INVITE_PAGE_BUTTON_Yes, please.")}</label></div>
				</div>
				%endif
				
				<div id="inviters_panel_tooltip" class="hidden">
					${_("INVITE_PAGE_TIP_Please invite some friends first!")}
				</div>
				
				<a class="submitSmall" id="invite_submitter"><span>${_("INVITE_PAGE_BUTTON_Send Invites")}</span></a>
			</div>
			</form>
		</div>
	</div>
	${html.clearline()}
</div>
</%def>


