<%!
	import md5
%>
<%namespace name="html" file="../widgets/html_elems.html"/>
<%namespace name="forms" file="../widgets/forms.html"/>


%if c.method == 'facebook':
	${networkinviter("facebook", c.friends, True, with_pending = c.pool.require_pselector)}
%elif c.method == 'twitter':
	${networkinviter("twitter", c.friends, False, with_pending = c.pool.require_pselector)}
%elif c.method == 'email':
	${mailinviter(with_pending = c.pool.require_pselector)}
%endif

<%def name="networkinviter(network_name, friends, mutuals, with_pending = False)">
	<div id="networkinviter_${network_name}" class="invitepage">
	<div id="inviteheader" class="${network_name}">
		%if mutuals:
			<div class="mutual_toggle_container">
				<input type="checkbox" id="toggle_mutuals" checked="checked"/>
				<label for="toggle_mutuals">${_("INVITE_PAGE_Only Mutual Friends")}</label>
			</div>
		%endif
		<input type="text" value="${_("INVITE_PAGE_LABEL_Search friends ...")}" name="fb_filter" id="fb_filter" _default_text="${_("INVITE_PAGE_LABEL_Search friends ...")}" class="default">
		<a class="submitMini" id="inviteall">${_("INVITE_PAGE_LABEL_Invite All")}<span></span></a>
	</div>

	<div id="friend_list" class="${network_name}">
		${render_network_friends(friends, mutuals = mutuals, with_pending=with_pending)|n}
		${render_network_friends(c.already_invited, active=False, mutuals = mutuals, with_pending=with_pending)|n}
	</div>
	</div>
</%def>

<%def name="render_network_friends(friends, active = True, mutuals = False, show_birthdays = False, with_pending=False, add_label = None, rem_label = None)">
%for i,(id, user_data) in enumerate(friends.iteritems()):
	<%
		if "mutual_with" in user_data:
			mutual_class = "mutual"
		elif mutuals:
			mutual_class = "nonmutual hidden"
		else:
			mutual_class = "nonmutual"
	%>
	<div class="invitee_row ${active and 'selectable' or 'selected'} ${mutual_class}" id="${user_data['network']}_${id}"
			%if active:
				pos="${i}" ${h.attrib_keys(user_data)|n}
			%endif
		>
		<img src="${user_data['profile_picture_url']}" class="fbprofilepic" alt="${user_data['name']}"/>
		<span class="label"><b>${user_data['name']}</b>
		%if show_birthdays and 'dob' in user_data:
			<% user_data["dob_fmt"] = h.format_short_date(user_data["dob"]) %>
			<div class="birthdaylabel">${(_("RECEIVER_BIRTHDAY_LABEL_Birthday: %(dob_fmt)s")%user_data)|n}
			%if user_data['dob_difference'] < 60:
				<div>${(_("RECEIVER_BIRTHDAY_LABEL_%(dob_difference)s days to go")%user_data)|n}</div>
			%endif
			</div>
		%endif
		</span>
		%if active:
			<a class="selector invite" title="${user_data['name']}">${add_label or _("INVITE_LABEL_Invite")|n}<span class="selector invite"></span></a>
			<a class="selector remove" title="${user_data['name']}">${rem_label or _("INVITE_LABEL_Remove")|n}<span class="selector remove"></span></a>
			%if with_pending:
				<a class="pending" title="${_("PENDINGPRODUCT_SELECTOR")}">&nbsp;</a>
			%endif
		%endif
	</div>
%endfor
</%def>





<%def name="mailinviter(with_pending = False)">
	<div id="inviteheader">
		${html.clearline()}
		<div class="headline">
			Select Friend from:
			<img src="/static/imgs/button_mail_gmail.png" class="networkicon" alt="GMail" />
			<img src="/static/imgs/button_mail_yahoo.png" class="networkicon" alt="Yahho Mail" />
		</div>
		${html.clearline()}
		<form action="" method="POST" id="emailinviter">
			<div id="inviter_name" class="input_field">
			<div class="label">
				<label for "email_networkname">${_("INVITE_PAGE_LABEL_Name of your friend:")}</label>
			</div>
			<input type="text" id="email_networkname" name="invitee.name" value=""/>
			</div>
			
			<div id="inviter_email" class="input_field">
			<div class="label">
			<label for "email_email">${_("INVITE_PAGE_LABEL_Email address of your friend:")}</label>
			</div>
			<input type="text" id="email_email" name="invitee.network_id" value=""/>
				<span id="email_inviter_error"></span>
			</div>
			<br/>
			<input type="hidden" name="invitee.network" value="email"/>
			<input type="hidden" name="invitee.with_pending" value="${with_pending and "1" or ""}"/>
			<input type="hidden" name="invitee.notification_method" value="email"/>
			
			<div style="float: right; margin:0px 50px 0px;position: relative;">
				<a class="submitSmall selector" id="emailsubmitter" _imgurl="/static/imgs/default_m.png"><span>${_("INVITE_PAGE_LABEL_Submit")}</span></a>
			</div>
		</form>
	${html.clearline(20)}
	</div>
	<div id="friend_list" class="emailpopup">
		
	</div>
</%def>

<%def name="render_email_friends(friends, active = True, class_='selectable', with_pending = False, add_label = None, rem_label = None)">
	%for i,(id, user_data) in enumerate(friends.items()):
	<div class="invitee_row ${class_}" id="email_${ md5.new(id).hexdigest() }"
			%if active:
				pos="i" ${h.attrib_keys(user_data)|n}
			%endif
		>
		%if active:
			<a class="selector invite" title="${user_data['name']}">${add_label or _("INVITE_LABEL_Invite")|n}<span class="selector invite"></span></a>
			<a class="selector remove" title="${user_data['name']}">${rem_label or _("INVITE_LABEL_Remove")|n}<span class="selector remove"></span></a>
			%if user_data['with_pending'] or with_pending:
				<a class="pending" title="${_("PENDINGPRODUCT_SELECTOR")}">&nbsp;</a>
			%endif
		%endif
		<img src="${user_data['profile_picture_url']}" class="fbprofilepic">
		<span class="label">${user_data['name']}<br/>${id}</span>
	</div>
	%endfor
</%def>