<%inherit file="sublayout.html"/>
<%def name="title()">${_("FF_CONTRIB_FAIL_Thanks for NOT Chipping In!")}</%def>
<% locals = {"pool_title":c.pool.title} %>

<div class="success">
	<p><img src="/static/imgs/crossed.png"/>${_("FF_CONTRIB_FAIL_You've failed to contribute.")%locals|n}</p> 
	<div style="margin-top:30px">
		
		<a href="${url("payment", pool_url=c.pool.p_url, protocol=app_globals.SSL_PROTOCOL, amount=c.values.get("baseUnits"))}" class="primaryButton floatLeft"  style="margin-right:20px">${_("FF_CONTRIB_Try again")}</a>
		<a href="${url("get_pool", pool_url=c.pool.p_url)}" class="secondary floatLeft">${_("FF_CONTRIB_SUCCESS_Back to Pool")}</a>
		<div class="clear"</div>
	</div>
</div>
