<%
	product = getattr(getattr(c, 'pool', None), 'product', None)
%>
<div id="button_product" class="hpbutton gift hover">
	<a class="button">
		<img src="/static/imgs/header/panel_header_gift.png"/>
	</a>
	<div class="button_content">
		<a class="content"><img class="button_content" src="${getattr(product, "picture_large", "/static/imgs/header/panel_content_gift.png")}"/></a>
		<div class="label">${getattr(product, 'display_label', _('PAGE_INDEX_BUTTON_Select a Gift'))|n}
		%if not product:
			<div class="sub_label ">${_("PAGE_INDEX_BUTTON_Find the perfect gift from a selection of thousands.")}</div>
		%endif
		</div>
	</div>
	<input type="hidden" id="product_guid" name="product.guid" value="${getattr(product, 'guid', '')}"/>
	<input type="hidden" id="product_net"  name="product.aff_net" value="${getattr(product, 'aff_net', '')}"/>
	<input type="hidden" id="product_progid" value="${getattr(product, 'aff_program_id', '')}"/>
</div>
<div class="extender hidden">&nbsp;</div>