<%
	pool = getattr(c, "pool", None)
	product = getattr(pool, "product", None)
%>
<div id="button_product" class="hpbutton gift">
	<a class="button">
		<img src="/static/legacy/imgs/header/panel_header_gift.png"/>
	</a>
	%if product:
		<div class="button_content">
			<a class="content withbg">
				<img class="loaders_animation" src="/static/legacy/imgs/ajax-loader.gif"/>
				<img class="button_content" src="${getattr(product, 'picture')}"/>
			</a>
			<div class="label">${getattr(pool, 'product_display_label')|n}</div>
		</div>
	%else:
		<div class="button_content">
			<a class="content nobg"></a>
			<div class="label">${_('PAGE_INDEX_BUTTON_Select a Gift')}
				<div class="sub_label ">${_("PAGE_INDEX_BUTTON_Find the perfect gift from a selection of thousands.")}</div>
			</div>
		</div>
	%endif
</div>
<div class="extender">&nbsp;</div>