<%namespace name="forms" file="../widgets/forms.html"/>
<%namespace name="html" file="../widgets/html_elems.html"/>

<%def name="display_region_picker(title)">
	<div class="region_picker underlined2">
		<span>${title|n} &nbsp;&nbsp;</span>
		<select name="region" id="region_picker" style="padding: 3px;" _base_url="${c.panel}">
			%for country_code, amazon_service in sorted(c.region_amazon_map.items()):
				<option value="${country_code}" ${forms.expression_quote(country_code==c.region, "selected")|n}>${amazon_service.domain}</option>
			%endfor
		</select>
	</div>
</%def>

<%def name="display_product_browser(searchresult, word_truncate = 200)">
%if searchresult and searchresult.items > 0:
	<div class="productSorterContainer">
		%for i, elem in enumerate(searchresult.products):
			${display_product(i, elem, word_truncate)}
		%endfor
	</div>
	<div style="clear:both"></div>
	${display_paginator(c.searchresult)}
%else:
	<div class="panel_content_no_margin">
	%if len(getattr(c ,"product_messages", [])) > 0:
		%for m in c.product_messages:
			<p>${m}</p>
		%endfor
	%else:
		%if getattr(c ,"max_price", None) is not None and  getattr(c ,"currency", None):
			${(_("PRODUCT_SEARCH_PANEL_Nothing Really Found with a Price of %s or less, search for something else?") % (h.format_currency(c.max_price/100, c.currency)))|n}
		%else:
			${_("PRODUCT_SEARCH_PANEL_Nothing Really Found, search for something else?")}
		%endif
	%endif
	</div>
%endif
</%def>

<%def name="display_topsellers(top_sellers, scroller_page_size)">
	<div id="scrollingproductsuggestions" class="anythingSlider">
	<span class="arrow back arrowback anchorelem"><a>&lt;&lt;</a></span>
	<span class="arrow forward arrowforward anchorelem"><a>&gt;&gt;</a></span>
	<div dojoType="friendfund.AutoRotator" class="rotator" suspendOnHover="true" id="productslider" jsId="productsuggestionscroller1" fwdtransition="dojox.widget.rotator.panLeft" rwdtransition="dojox.widget.rotator.panRight" autoStart="true">
			<% last_prod = len(top_sellers)-1 %>
			%for i, prod in enumerate(top_sellers):
				%if i%scroller_page_size == 0:
					<div class="pane pane${i%scroller_page_size}">
				%endif
				<div _target_id="slider${i}_elem"  class="productsuggestion ${i%scroller_page_size<(scroller_page_size-1) and 'psmiddle' or ''}">
					<a class="productsuggestion">
						<img id="slider${i}_elem" src="${prod.picture}" class="productsuggestion"><span>${prod.name}</span>
					</a>
					<textarea style="display:none">
						${display_product(0, prod)|n}
						<div style="clear:both"></div>
					</textarea>
				</div>
				%if i%scroller_page_size == (scroller_page_size-1) or i==last_prod:
					</div>
				%endif
			%endfor
		</div>
	</div>
</%def>



<%def name="display_paginator(searchresult)">
	<%
		pages = searchresult.pages
		page_no = searchresult.page_no
		page_field = searchresult.page_field()
	%>
	%if pages > 1:
		<div id="product_paginator">
			%if page_no > 1:
				<span class="veryfirst">
				<a class="paginator anchorelem" _base_url="${c.search_base_url}" ${h.attrib_keys(c.search_keys, [('page', page_no-1)])|n} >&lt;&lt;${_("PRODUCT_SEARCH_PANEL_Back")}</a>
				</span>
			%endif
			%for i in page_field:
				<span class="${(i==1 and 'first' or i==pages and 'last' or 'middle')}">
				%if i == page_no:
					<span class="selected">${i}</span>
				%else:
					<span>
						<a class="paginator anchorelem" _base_url="${c.search_base_url}" ${h.attrib_keys(c.search_keys, [('page', i)])|n} >${i}</a>
					</span>
				%endif
				</span>
			%endfor
			%if page_no < pages:
				<span class="verylast">
				<a class="paginator anchorelem" _base_url="${c.search_base_url}" ${h.attrib_keys(c.search_keys, [('page', page_no+1)])|n}>${_("PRODUCT_SEARCH_PANEL_Next")}&gt;&gt;</a>
				</span>
			%endif
		<div style="clear:both"></div>
		</div>
		<div style="clear:both"></div>
	%endif
</%def>



<%def name="display_product(counter, product, word_truncate = 200)">
	<div class="productSorter ${counter%2==1 and "marginRightClean" or ""}">
		<div class="colSx">
			<img class="productImage" src="${product.picture}"/>
			<img src="${c.merchant_logo_url}" alt="${request.merchant.name}" class="productMerchantImage" />
		</div>
		<div class="colDx">
			<p class="product"><span>${product.name|n}</span> <span class="currency">${h.format_currency(product.get_price_float(include_shipping = False), product.currency, extended = True)|n} ${product.display_shipping|n}</span></p>
			
			<p class="productText">${h.word_truncate_by_letters(product.description, word_truncate)|n}</p>
			
			%if product.tracking_link:
				<a href="${product.tracking_link}" target="_blank" class="productMore">${_("PRODUCT_SEARCH_PANEL_Read More")} AMAZON</a>
			%endif
			
			
		</div>
			<a class="submitSmall"><span class="anchorelem productselector" _merchant_ref="${product.merchant_ref}" _search_keys="_affnet,_imgurl,_label,_merchant_ref"
				_imgurl="${product.picture}" _label=${quoteattr(product.display_label)} _affnet="AMAZON">${_("PRODUCT_SEARCH_PANEL_Select")}</span></a>
				<div class="footer-small"></div>
				<div style="clear:both"></div>
	</div>
</%def>






