<%namespace name="forms" file="../legacy/widgets/forms.html"/>
<%namespace name="html" file="../legacy/widgets/html_elems.html"/>
<%namespace name="common" file="common.html"/>


<div id="button_panel" class="product">
	<div class="TabsContainer">
		%for panel in c.gift_panel_tabs:
			<a class="methodselector anchorelem ajaxlink ${panel[0] == c.panel and 'selected' or ''}" _base_url="${panel[0]}">${_(panel[1])}</a>
		%endfor
	</div>
	<a class="button_panel_closer">&nbsp;</a>
	
	${self.body()}
	
	<div style="clear:both"></div>
</div>
