<%inherit file="panel.html"/>
<%namespace name="forms" file="../widgets/forms.html"/>
<%namespace name="html" file="../widgets/html_elems.html"/>


<div class="whiteContainer">
<div class="region_picker">
	<span>${(_("PRODUCT_SEARCH_PANEL_Your pools shipping address is in <b>%(countryname)s</b>, change it:") % dict([("countryname", app_globals.country_choices.get_region_name(c.region))]))|n} &nbsp;&nbsp;</span>
	<select name="region" id="region_picker" style="padding: 3px;" >
		%for country in sorted(app_globals.country_choices.countries, key=lambda x: _(x.name)):
			<option value="${country.code}" ${forms.expression_quote(country.code==c.region, "selected")|n}>${_(country.name)}</option>
		%endfor
	</select>
	</div>
    <h4 class="inside">Top sellers</h4>
   
<ul id="slider1">

				<li>
                	<div class="productsuggestion"><a aff_net_ref="2196" is_virtual="true" aff_net="AFFILIATE_WINDOW" sort="PRICE_DOWN" searchterm="appliances" class="productsuggestion"><img src="/static/imgs/suggestion/unicorn.jpg" class="productsuggestion"><span>Virtual Gifts</span><span class="showme"></span></a></div>
                    <div class="productsuggestion"><a aff_net_ref="2196" is_virtual="true" aff_net="AFFILIATE_WINDOW" sort="PRICE_DOWN" searchterm="appliances" class="productsuggestion"><img src="/static/imgs/suggestion/unicorn.jpg" class="productsuggestion"><span>Virtual Gifts</span><span class="showme"></span></a> </div>
                    <div class="productsuggestion"><a aff_net_ref="2196" is_virtual="true" aff_net="AFFILIATE_WINDOW" sort="PRICE_DOWN" searchterm="appliances" class="productsuggestion"><img src="/static/imgs/suggestion/unicorn.jpg" class="productsuggestion"><span>Virtual Gifts</span><span class="showme"></span></a> </div>
                    <div class="productsuggestion"><a aff_net_ref="2196" is_virtual="true" aff_net="AFFILIATE_WINDOW" sort="PRICE_DOWN" searchterm="appliances" class="productsuggestion"><img src="/static/imgs/suggestion/unicorn.jpg" class="productsuggestion"><span>Virtual Gifts</span><span class="showme"></span></a> </div>
                    <div class="productsuggestion"><a aff_net_ref="2196" is_virtual="true" aff_net="AFFILIATE_WINDOW" sort="PRICE_DOWN" searchterm="appliances" class="productsuggestion"><img src="/static/imgs/suggestion/unicorn.jpg" class="productsuggestion"><span>Virtual Gifts</span><span class="showme"></span></a> </div>
                
                </li>

				<li>
                	<div class="productsuggestion"><a aff_net_ref="2196" is_virtual="true" aff_net="AFFILIATE_WINDOW" sort="PRICE_DOWN" searchterm="appliances" class="productsuggestion"><img src="/static/imgs/suggestion/unicorn.jpg" class="productsuggestion"><span>Virtual Gifts</span><span class="showme"></span></a> </div>
                    <div class="productsuggestion"><a aff_net_ref="2196" is_virtual="true" aff_net="AFFILIATE_WINDOW" sort="PRICE_DOWN" searchterm="appliances" class="productsuggestion"><img src="/static/imgs/suggestion/unicorn.jpg" class="productsuggestion"><span>Virtual Gifts</span><span class="showme"></span></a> </div>
                    <div class="productsuggestion"><a aff_net_ref="2196" is_virtual="true" aff_net="AFFILIATE_WINDOW" sort="PRICE_DOWN" searchterm="appliances" class="productsuggestion"><img src="/static/imgs/suggestion/unicorn.jpg" class="productsuggestion"><span>Virtual Gifts</span><span class="showme"></span></a> </div>
                    <div class="productsuggestion"><a aff_net_ref="2196" is_virtual="true" aff_net="AFFILIATE_WINDOW" sort="PRICE_DOWN" searchterm="appliances" class="productsuggestion"><img src="/static/imgs/suggestion/unicorn.jpg" class="productsuggestion"><span>Virtual Gifts</span><span class="showme"></span></a> </div>
                    <div class="productsuggestion"><a aff_net_ref="2196" is_virtual="true" aff_net="AFFILIATE_WINDOW" sort="PRICE_DOWN" searchterm="appliances" class="productsuggestion"><img src="/static/imgs/suggestion/unicorn.jpg" class="productsuggestion"><span>Virtual Gifts</span><span class="showme"></span></a> </div>
                
                </li>

				<li>
                	<div class="productsuggestion"><a aff_net_ref="2196" is_virtual="true" aff_net="AFFILIATE_WINDOW" sort="PRICE_DOWN" searchterm="appliances" class="productsuggestion"><img src="/static/imgs/suggestion/unicorn.jpg" class="productsuggestion"><span>Virtual Gifts</span><span class="showme"></span></a> </div>
                    <div class="productsuggestion"><a aff_net_ref="2196" is_virtual="true" aff_net="AFFILIATE_WINDOW" sort="PRICE_DOWN" searchterm="appliances" class="productsuggestion"><img src="/static/imgs/suggestion/unicorn.jpg" class="productsuggestion"><span>Virtual Gifts</span><span class="showme"></span></a> </div>
                    <div class="productsuggestion"><a aff_net_ref="2196" is_virtual="true" aff_net="AFFILIATE_WINDOW" sort="PRICE_DOWN" searchterm="appliances" class="productsuggestion"><img src="/static/imgs/suggestion/unicorn.jpg" class="productsuggestion"><span>Virtual Gifts</span><span class="showme"></span></a> </div>
                    <div class="productsuggestion"><a aff_net_ref="2196" is_virtual="true" aff_net="AFFILIATE_WINDOW" sort="PRICE_DOWN" searchterm="appliances" class="productsuggestion"><img src="/static/imgs/suggestion/unicorn.jpg" class="productsuggestion"><span>Virtual Gifts</span><span class="showme"></span></a> </div>
                    <div class="productsuggestion"><a aff_net_ref="2196" is_virtual="true" aff_net="AFFILIATE_WINDOW" sort="PRICE_DOWN" searchterm="appliances" class="productsuggestion"><img src="/static/imgs/suggestion/unicorn.jpg" class="productsuggestion"><span>Virtual Gifts</span><span class="showme"></span></a> </div>
                
                </li>


				<li>
                	<div class="productsuggestion"><a aff_net_ref="2196" is_virtual="true" aff_net="AFFILIATE_WINDOW" sort="PRICE_DOWN" searchterm="appliances" class="productsuggestion"><img src="/static/imgs/suggestion/unicorn.jpg" class="productsuggestion"><span>Virtual Gifts</span><span class="showme"></span></a> </div>
                    <div class="productsuggestion"><a aff_net_ref="2196" is_virtual="true" aff_net="AFFILIATE_WINDOW" sort="PRICE_DOWN" searchterm="appliances" class="productsuggestion"><img src="/static/imgs/suggestion/unicorn.jpg" class="productsuggestion"><span>Virtual Gifts</span><span class="showme"></span></a> </div>
                    <div class="productsuggestion"><a aff_net_ref="2196" is_virtual="true" aff_net="AFFILIATE_WINDOW" sort="PRICE_DOWN" searchterm="appliances" class="productsuggestion"><img src="/static/imgs/suggestion/unicorn.jpg" class="productsuggestion"><span>Virtual Gifts</span><span class="showme"></span></a> </div>
                    <div class="productsuggestion"><a aff_net_ref="2196" is_virtual="true" aff_net="AFFILIATE_WINDOW" sort="PRICE_DOWN" searchterm="appliances" class="productsuggestion"><img src="/static/imgs/suggestion/unicorn.jpg" class="productsuggestion"><span>Virtual Gifts</span><span class="showme"></span></a> </div>
                    <div class="productsuggestion"><a aff_net_ref="2196" is_virtual="true" aff_net="AFFILIATE_WINDOW" sort="PRICE_DOWN" searchterm="appliances" class="productsuggestion"><img src="/static/imgs/suggestion/unicorn.jpg" class="productsuggestion"><span>Virtual Gifts</span><span class="showme"></span></a> </div>
                
                </li>

			</ul>




</div>
