<%inherit file="panel.html"/>
<%namespace name="forms" file="../widgets/forms.html"/>
<%namespace name="html" file="../widgets/html_elems.html"/>
<%namespace name="common" file="common.html"/>
<%!
	from operator import mod
%>

<div class="whiteContainer">
	${common.display_region_picker(_("PRODUCT_SEARCH_PANEL_Your pools shipping address is in <b>%(countryname)s</b>, change it:") % dict([("countryname", app_globals.country_choices.get_region_name(c.region))]))|n}
   
	${common.display_topsellers(c.top_sellers, c.SCROLLER_PAGE_SIZE)}

	<h4 class="inside">${_("PRODUCT_BROWSER_TITLE_Find a Gift by Personality")}</h4>
	<div class="personalityBox">
		%for cat in c.categories:
		<div class="productsuggestion psmiddle">
			<a class="productsuggestion categorytype anchorelem" _sort="${c.sort}" _category="${cat.name}" _search_keys="_category,_sort" _base_url="${c.search_base_url}">
				<img class="productsuggestion" src="${h.get_category_picture(cat.picture_url)|n}">
				<span>${_(cat.name)}</span>
			</a>
		</div>
		%endfor
	</div>
	<div class="footer-big"></div>
	<div style="clear:both" id="scroller_anchor"></div>
	
	<div id="product_browser_container">
		<%include file="recommended_tab_search.html"/>
	</div>
</div>