<%inherit file="panel.html"/>
<%namespace name="forms" file="../widgets/forms.html"/>
<%namespace name="html" file="../widgets/html_elems.html"/>
<%
	if c.amazon_available:
		default_text = _("Search for almost anything ... or paste a link from Amazon")
	else:
		default_text = _("Search for almost anything ...")
%>




	<div class="region_picker">
	<span>${(_("PRODUCT_SEARCH_PANEL_Your pools shipping address is in <b>%(countryname)s</b>, change it:") % dict([("countryname", app_globals.country_choices.get_region_name(c.region))]))|n} &nbsp;&nbsp;</span>
	<select name="region" id="region_picker" style="padding: 3px;" _base_url="${c.panel}">
		%for country in sorted(app_globals.country_choices.countries, key=lambda x: _(x.name)):
			<option value="${country.code}" ${forms.expression_quote(country.code==c.region, "selected")|n}>${_(country.name)}</option>
		%endfor
	</select>
	</div>
	
	<form id="product_search_form" onsubmit="return false;" >
		<a name="product_search" id="product_search"></a> 
		<div class="inputcontainer"><div id="pq_container" style="" class="black_labeled_container_big">
			<div class="right_bracket">&nbsp;</div>
			<div class="left_button_search">&nbsp;</div>
			<input type="text" value="${default_text}" name="q" id="pq" _default_text="${default_text}" class="black_labeled_input default">
		</div>
		<div style="margin:28px 15px 30px;">
			<a class="submitSmall anchorelem searcher" id="searchsubmitter" _base_url="${c.search_base_url}" ${h.attrib_keys(c.search_keys, [("page", 1)])|n}><span>${_("PRODUCT_SEARCH_PANEL_Search")}</span></a>
		</div>
		</div>
		%if c.amazon_available:
			<span class="showme"><a href="#" _href="${url(controller='content', action='amazonhowto')}" class="showme anchorelem popuplink">${_("PRODUCT_PANEL_LABEL_Show me how")}<img src="/static/imgs/icon_amazon.png"/></a></span>
		%endif
	</form>
		
		
	<div class="clear"></div>
	<div id="product_suggestions">
	%for i, ps in enumerate(c.psuggestions):
		<div class="productsuggestion${(i+1)%5==0 and ' hlast' or ''}">
			<a class="productsuggestion anchorelem" _search_keys="_searchterm,_sort,_aff_net,_aff_net_ref" _base_url="${c.search_base_url}"
			_searchterm="${ps.search}" _sort="${ps.sort or c.sort}" _aff_net="${ps.aff_net}" _aff_net_ref="${ps.aff_net_ref or ''}">
				<img class="productsuggestion" src="/static/imgs/suggestion/${ps.picture_url}"/>
				<span>${ps.name}</span>
				%if ps.help_link_href:
					<span class="showme"><a href="#" _href="${url(controller='content', action=ps.help_link_href)}" class="showme anchorelem popuplink">${_(ps.help_link_title)}</a></span>
				%endif
			</a>
		</div>
	%endfor
	</div>
	<div class="clear"></div>
	<div id="product_browser_container">
		<%include file="recommended_tab_search.html"/>
	</div>