<%inherit file="../layout_layer.html"/>
<%namespace name="links" file="../links.html"/>
<%namespace name="html" file="../widgets/html_elems.html"/>
<%namespace name="forms" file="../widgets/forms.html"/>
<%def name="title()">${_("PENDING_PRODUCT_SELECTION_PAGE_TITLE")}</%def>


<%def name="scripts()">
	${links.js('friendfund/AutoRotator.js')}
	${links.js('friendfund/ProductSearch.js')}
</%def>
<%def name="onloadscripts()">
	var productsearch = new friendfund.ProductSearch({
			ref_node:"button_panel_container",
			searchMixin:function(){return {panelcloser:'',minimal:true};},
			onSelected : function(selection_args){
						var params = {};
						params["product.guid"] = selection_args.guid;
						params["product.is_virtual"] = selection_args.is_virtual;
						params["product.is_curated"] = selection_args.is_curated;
						params["product.is_amazon"] = selection_args.is_amazon;
						params["product.is_pending"] = selection_args.is_pending;
						xhrPost("${url(controller='product', pool_url = c.pool.p_url, action='set_pending')}", params);
				}
			});
	productsearch.productLoaded(productsearch);
</%def>

<div class="innerbody productSelectionPage" id="invite_panel_header">
	<div class="invite_pool_panel hpbutton first">
		<div class="picture receiver"><span class="icon"></span><img src="${c.pool.receiver.get_profile_pic('RA')}"/>
		</div>
		<div class="label">${c.pool.receiver.get_receiver_label()}</div>
	</div>
	<div class="invite_pool_panel hpbutton">
		<div class="picture occasion"><span class="icon"></span><img src="/static/imgs/${c.pool.occasion.picture_url}"/></div>
		<div class="label">${c.pool.occasion.display_label}</div>
	</div>
	<div class="invite_pool_panel hpbutton">
		<div class="picture gift"><span class="icon"></span><img src="${c.pool.product.get_product_pic()}"/></div>
		<div class="label">${c.pool.product.get_display_label()|n}</div>
	</div>
	${html.clearline()}
</div>

<div id="lowerbody_container" class="fullbackgroundwhite productSelectionPage">
	<div id="button_panel_container" style="margin:30px;display:block;">
		<%include file="recommended_tab.html"/>
	</div>
</div>