<%inherit file="panel.html"/>
<%namespace name="forms" file="../widgets/forms.html"/>
<%namespace name="html" file="../widgets/html_elems.html"/>


<div class="productSorterContainer">
	<div class="productSorter">
		<div class="colSx">
			<img class="productImage" src="/static/imgs/suggestion/unicorn.jpg">
			<p class="productMerchant">Product Merchant</p>
			<img src="/static/imgs/virgin-dummy.png" class="productMerchantImage" />
		</div>
		<div class="colDx">
			<p class="product">Ipad <span>$ 10.000</span></p>
			<p class="productText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rutrum, neque vitae feugiat porta, diam magna dignissim justo, at sodales nunc massa ac sem. Duis at massa sed eros cursus sagittis. Proin et risus vitae nunc adipiscing tincidunt. Aenean sed turpis purus, vitae ullamcorper dolor. Praesent porta, magna eu cursus tristique, odio odio lobortis dolor, eget condimentum eros odio vel urna. Sed varius adipiscing accumsan. </p>
			<a href="#" class="productMore">More at Debenhams</a>
			<a href="#" class="submitSmall"><span>Submit</span></a>
		</div>
	
	</div>
	<div class="productSorter marginRightClean">
		<div class="colSx">
			<img class="productImage" src="/static/imgs/suggestion/unicorn.jpg">
			<p class="productMerchant">Product Merchant</p>
			<img src="/static/imgs/virgin-dummy.png" class="productMerchantImage" />
		</div>
		<div class="colDx">
			<p class="product">Ipad <span>$ 10.000</span></p>
			<p class="productText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rutrum, neque vitae feugiat porta, diam magna dignissim justo, at sodales nunc massa ac sem. Duis at massa sed eros cursus sagittis. Proin et risus vitae nunc adipiscing tincidunt. Aenean sed turpis purus, vitae ullamcorper dolor. Praesent porta, magna eu cursus tristique, odio odio lobortis dolor, eget condimentum eros odio vel urna. Sed varius adipiscing accumsan. </p>
			<a href="#" class="productMore">More at Debenhams</a>
			<a href="#" class="submitSmall"><span>Submit</span></a>
		</div>
	
	</div>
	<div class="productSorter">
		<div class="colSx">
			<img class="productImage" src="/static/imgs/suggestion/unicorn.jpg">
			<p class="productMerchant">Product Merchant</p>
			<img src="/static/imgs/virgin-dummy.png" class="productMerchantImage" />
		</div>
		<div class="colDx">
			<p class="product">Ipad <span>$ 10.000</span></p>
			<p class="productText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rutrum, neque vitae feugiat porta, diam magna dignissim justo, at sodales nunc massa ac sem. Duis at massa sed eros cursus sagittis. Proin et risus vitae nunc adipiscing tincidunt. Aenean sed turpis purus, vitae ullamcorper dolor. Praesent porta, magna eu cursus tristique, odio odio lobortis dolor, eget condimentum eros odio vel urna. Sed varius adipiscing accumsan. </p>
			<a href="#" class="productMore">More at Debenhams</a>
			<a href="#" class="submitSmall"><span>Submit</span></a>
		</div>
	
	</div>
	<div class="productSorter marginRightClean">
		<div class="colSx">
			<img class="productImage" src="/static/imgs/suggestion/unicorn.jpg">
			<p class="productMerchant">Product Merchant</p>
			<img src="/static/imgs/virgin-dummy.png" class="productMerchantImage" />
		</div>
		<div class="colDx">
			<p class="product">Ipad <span>$ 10.000</span></p>
			<p class="productText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rutrum, neque vitae feugiat porta, diam magna dignissim justo, at sodales nunc massa ac sem. Duis at massa sed eros cursus sagittis. Proin et risus vitae nunc adipiscing tincidunt. Aenean sed turpis purus, vitae ullamcorper dolor. Praesent porta, magna eu cursus tristique, odio odio lobortis dolor, eget condimentum eros odio vel urna. Sed varius adipiscing accumsan. </p>
			<a href="#" class="productMore">More at Debenhams</a>
			<a href="#" class="submitSmall"><span>Submit</span></a>
		</div>
	
	</div>
	</div>
	<div style="clear:both"></div>