<%inherit file="panel.html"/>
<%namespace name="common" file="common.html"/>


<div class="whiteContainer">
${common.display_region_picker(_("PRODUCT_SEARCH_PANEL_Your virtual gifts recipient lives in <b>%(countryname)s</b>, change it:") % dict([("countryname", app_globals.country_choices.get_region_name(c.region))]))|n}
<div style="clear:both"></div>
<div id="product_browser_container">
	<%include file="virtual_tab_search.html" />
</div>
<div style="clear:both"></div>
</div>
%if hasattr(c, "searchresult"):
	${common.display_paginator(c.searchresult)}
%endif