div#headercontainer{
	background: #333;
}

#body_outer_container{
	float:left;
	width: 100%;
}
div#container {
	text-align:left;
	margin: 0;
	width: auto;
}

table.curation {
	width:920px;
	position:relative;
}

table.curation tr{
	margin: 20px 0px;
	position:relative;
}
table.curation th{
	text-align:center;
}

table.curation input[type=button]{
	position:relative;
	top:400px;
}
table.curation td.curation{
	padding: 0px;
	vertical-align:top;
	border: 10px solid #333;
}

table.curation td div.property
{

}
table.curation_product td.curation_product.different {
	background-color: orange;
}

table.curation_product td.curation_product{
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
	padding: 3px;
}
table.curation_product td.curation_product li{
	margin: 10px;
}
