table.curation {
	width:920px;
}

table.curation th{
	text-align:center;
}
table.curation td.curation{
	padding: 20px;
	vertical-align:top;
}

table.curation td div.property
{

}

table.curation_product td.curation_product{
	border-top: 1px solid #333;
	border-right: 1px dotted #333;
	border-left: 1px dotted #333;
	border-bottom: 1px solid #333;
	padding: 3px;
}