<div class="popupBackground dark"></div>
<div class="outerPopupFrame">
	<div class="whitePopupFrameLarge popupContentWindow">
	<span class="panelcloser panelclosing_x">x</span>
		<div>
			<h3 class="borderSmall">${_("FF_LOGINPOPUP_Hi %(name)s, please add your Email") % dict([("name", c.user.name)])}</h3>
            <div class="colRightWhite"></div>
			
            <div class="popupPadder">
			<h4>${_("FF_LOGINPOPUP_Please add an email address")}</h4>
			<form id="login_popup_form" action="${url(controller='myprofile', action='addemailpopup')}" class="loginAction">
			<div class="inputFields Fw">
				<div class="inputName  floatLeft ${"email" in c.errors and "error" or ""}">
					<label for="login_email">${_("FF_LOGIN_Email Address")}</label>
					<input type="text" value="${getattr(c, "values", dict()).get("email")}" name="form.email" id="login_email"/>
					%if "email" in c.errors:
						<p class="error">${c.errors.get("email")}</p>
					%endif
				</div>
				
				<div class="clear"></div>
			</div>
			<input style="margin:30px 0 0 0" type="submit" class="primarySmall floatLeft" value="${_("FF_LOGINBUTTON_Add Emailauith")}"/>
			</form>
            <p>${_("FF_LOGINBUTTON_Log in with <a %s>Facebook</a> instead.")%'class="loginFBAction"'|n}</p>
            <div class="clear"></div>
            </div>
        </div>
	</div>
</div>