<%inherit file="../master.html"/>
<%namespace name="links" file="../links.html"/>
<%namespace name="forms" file="/widgets/forms.html"/>
<%namespace name="html" file="/widgets/html_elems.html"/>
<%def name="title()">${_("MYPROFILE_PAGE_TITLE_My Profile")}</%def>
<%
	profiles = c.myprofiles.profiles
%>



<div id="login_signup_container">
	<form id="myprofile_form" action="${url(controller='myprofile', action='save')}" method="POST" enctype="multipart/form-data">
	<div class="subCategories">Manage your User Accounts</div>
	<div class="profilePictureContainer" style="margin-right:30px">
	<p class="facebookTxt"><img src="/static/imgs/icon_fb_connect.png"/>Facebook</p>
	<div class="profile-picture">
	<div class="inside-profile-picture">
	%if 'facebook' in profiles:
		<div class="imageBadgeContainer">
			<img class="myProfilePicture" src="${profiles["facebook"].get_profile_pic('MYPROFILE')}">
		</div>
		<div class="floaterLeft selectImage">
			<div class="borderBottom">
				<div class="floaterLeft">${_("MYPROFILE_PAGE_LABEL_Username")}</div>
				<div class="floaterRight">${profiles["facebook"].name}</div>
			</div>
			<div class="borderBottomSecond">
				<div class="floaterLeft">${_("MYPROFILE_PAGE_LABEL_Set it as Default")}<a href="#">${_("MYPROFILE_PAGE_LABEL_what's this?")}</a></div>
				<div class="floaterRight"><input type="radio" name="myprofile.is_default" value="facebook" ${forms.expression_quote(profiles["facebook"].is_default==True, "checked")|n} /></div>
			</div>
		</div>
	%else:
		<div class="profilebuttonBtn"><a onclick="fbLogin()" class="facebookBtn"><span>Connect with Facebook</span></a></div>
	%endif
	</div>
	</div>
	</div>
	
	<div class="profilePictureContainer">
	<p class="facebookTxt"><img src="/static/imgs/icon_tw_connect.png"/>Twitter</p>
	<div class="profile-picture">
	<div class="inside-profile-picture">
	%if 'twitter' in profiles:
		<div class="imageBadgeContainer">
			<img class="myProfilePicture" src="${profiles["twitter"].get_profile_pic('MYPROFILE')}">
		</div>
		<div class="floaterLeft selectImage">
			<div class="borderBottom">
				<div class="floaterLeft">${_("MYPROFILE_PAGE_LABEL_Username")}</div>
				<div class="floaterRight">${profiles["twitter"].name}</div>
			</div>
			<div class="borderBottomSecond">
				<div class="floaterLeft">${_("MYPROFILE_PAGE_LABEL_Set it as Default")}<a href="#">${_("MYPROFILE_PAGE_LABEL_what's this?")}</a></div>
				<div class="floaterRight"><input type="radio" name="myprofile.is_default" value="twitter" ${forms.expression_quote(profiles["twitter"].is_default==True, 'checked')|n} /></div>
			</div>
		</div>
	%else:
		<div class="profilebuttonBtn"><a href="${url(controller='twitter', action='login')}?furl=/myprofile" class="twitterBtn"><span>Connect with Twitter</span></a></div>
	%endif
	</div>
	</div>
	</div>
	%if 'email' in profiles:
			<div style="margin-top: 20px; clear: both;" class="profilePictureContainer big">
			<p class="facebookTxt"><img src="/static/imgs/icon_mail.png"/>Email</p>
			<div class="profile-picture">
				<div class="inside-profile-picture">
					<div class="smallInside" style="margin-right:60px">
						<div class="subTitle">${_("MYPROFILE_PAGE_LABEL_Change Your Profile Picture")}</div>
						<div class="imageBadgeContainer">
							<img class="myProfilePicture" src="${profiles["email"].get_profile_pic('MYPROFILE')}">
						</div>
						<div class="subInfo">
							<span>${_("MYPROFILE_PAGE_LABEL_Select an image file from your computer:")}</span>
							<input  name="myprofile.profile_pic" id="profile_pic" type="file" size="10" maxlength="100000" accept="image/*" />
							<span class="small">${(_("MYPROFILE_PAGE_LABEL_By uploading this image you agree not to violate the <a href=\"%s\">Terms and Conditions</a>") % url(controller='content', action='tos'))|n}</span>
						
						</div>
					
						<div class="subTitle" style="padding-top:15px; border-top:1px solid #dadada; margin-top:15px">${_("MYPROFILE_PAGE_LABEL_Change Your Username and Email")}</div>
						<div class="floaterLeft fixedW">
							${forms.input_text("myprofile", "name", _("MYPROFILE_PAGE_LABEL_Name"), _labelclasses=['floaterLeft'], _inputclasses=['floaterRight'])|n}
						</div>
						<div class="floaterLeft fixedW">
							<label class="floaterLeft">${_("MYPROFILE_PAGE_LABEL_Email")}</label>
							<span class="floaterRight" style="width:162px;">${c.myprofile_values.get("email")}</span>
						</div>
					</div>
					
					<div class="smallInside">
						<div class="subTitle">${_("MYPROFILE_PAGE_LABEL_Change Your Password")}</div>
						<div class="floaterLeft passwordFields ">
						<div class="spacerInput">
							${forms.input_text("myprofile", "pwd", _("MYPROFILE_PAGE_LABEL_New Password"), "password", attribs=[('autocomplete', 'off')])|n}
						</div>
						<div>
							${forms.input_text("myprofile", "pwd_confirm", _("MYPROFILE_PAGE_LABEL_Confirm New Password"), "password", False, attribs=[('autocomplete', 'off')])|n}
						</div>
						</div>
					
						<div class="borderBottomSecond wide">
							<div class="floaterLeft">${_("MYPROFILE_PAGE_LABEL_Set it as Default")}<a href="#">${_("MYPROFILE_PAGE_LABEL_what's this?")}</a></div>
							<div class="floaterRight"><input type="radio" name="myprofile.is_default" value="email" ${forms.expression_quote(profiles["email"].is_default==True, 'checked')|n} /></div>
						</div>
					</div>
				</div>
			</div>
			</div>
		</form>
	%else:
		</form>
		<div style="margin-top: 20px; clear: both;" class="profilePictureContainer big">
		<p class="facebookTxt"><img src="/static/imgs/icon_mail.png"/>Email</p>
	   <div class="profile-picture">
		<form id="signup_form" action="${url(controller='myprofile', action='add_email')}" method="POST" enctype="multipart/form-data">
		<div class="inside-profile-picture">
			<div class="smallInside" style="margin-right:60px">
				<div class="subTitle">${_("MYPROFILE_PAGE_LABEL_Sign Up With Email")}</div>
				
				<div class="floaterLeft fixedW">
					${forms.input_text("signup", "name", _("MYPROFILE_PAGE_LABEL_Name"), _labelclasses=['floaterLeft'], _inputclasses=['floaterRight'])|n}
				</div>
				<div class="floaterLeft fixedW">
					${forms.input_text("signup", "email", _("MYPROFILE_PAGE_LABEL_Email"), required = True, _labelclasses=['floaterLeft'], _inputclasses=['floaterRight'])|n}
				</div>
                <div class="floaterLeft fixedW">
					${forms.input_text("signup", "email", _("MYPROFILE_PAGE_LABEL_Password"), required = True, _labelclasses=['floaterLeft'], _inputclasses=['floaterRight'])|n}
				</div>
                <div class="floaterLeft fixedW">
					${forms.input_text("signup", "email", _("Confirm_Password"), required = True, _labelclasses=['floaterLeft'], _inputclasses=['floaterRight'])|n}
				</div>
                <div class="forminputline maleFemaleContainer" style="padding-top:12px">
				<div class="maleFemale">
                <p style="width: 155px; float: left;">${_("LOGIN_PAGE_LABEL_Gender")}</p>
                <input type="radio" value="m" name="signup.gender" id="signup_gender_m">
					<label for="signup_gender_m">${_("LOGIN_PAGE_LABEL_Male")}</label>
					
<input type="radio" value="f" name="signup.gender" id="signup_gender_f">
					<label for="signup_gender_m">${_("LOGIN_PAGE_LABEL_Female")}</label>
					
				</div>
					
			<div class="error_message error_checkbox">
				
			</div>

				</div>
			</div>
			<div class="smallInside">
				<div class="imageBadgeContainer">
					<img src="${h.get_user_picture(getattr(profiles.get('email'), 'profile_picture_url', ''), 'MYPROFILE')}">
				</div>
				<div class="subInfo" style="margin-top:23px">
					<span>${_("MYPROFILE_PAGE_LABEL_Select an image file from your computer:")}</span>
					<input  name="signup.profile_pic" id="profile_pic" type="file" size="10" maxlength="100000" accept="image/*" />
					<span class="small">${(_("MYPROFILE_PAGE_LABEL_By uploading this image you agree not to violate the <a href=\"%s\">Terms and Conditions</a>") % url(controller='content', action='tos'))|n}</span>
				
				</div>
                <div class="borderBottomSecond" style="border-top:1px solid #E9E9E9; margin-top:15px; width:400px">
				<div class="floaterLeft">${_("MYPROFILE_PAGE_LABEL_Set it as Default")}<a href="#">${_("MYPROFILE_PAGE_LABEL_what's this?")}</a></div>
				<div class="floaterRight"><input type="radio" checked="checked" value="facebook" name="myprofile.is_default"></div>
			</div>
            <div class="subInfo" style="width:400px; margin-top:-10px"><span class="small">${(_("MYPROFILE_PAGE_LABEL_* Mandatory Fields<br /> By clicking \"Sign Up\" you confirm that you accept the <a href=\"%s\">Terms and Conditions</a>") % url(controller="content", action="tos"))|n}</span></div>
				
				<a onclick="dojo.byId('signup_form').submit();" class="Save"><span>${_("MYPROFILE_PAGE_LABEL_Signup")}</span></a>
			</div>
		</div>
		</form>
		</div>
		</div>
		%endif
</div>
	<a onclick="dojo.byId('myprofile_form').submit();" class="Save marginSpecialSave"><span>${_("MYPROFILE_PAGE_LABEL_Save")}</span></a>
${html.clearline()}