<%namespace name="html" file="../widgets/html_elems.html"/>
<%namespace name="forms" file="../widgets/forms.html"/>
<%namespace name="login_panel_content" file="login_panel_content.html"/>



<div id="loginpanel">
	%if c.user.is_anon:
		${login_panel_content.render(getattr(c, "expanded", False))|n}
		
		<b class="floaterLeft">${_(u"PANEL_LOGIN_Login with")}</b>
		<a onclick="fbLogin()" class="login_loginlink first"><img  class="floaterLeft" src="/static/imgs/icon_fb_connect.png"/></a>
		<a onclick="twInit('${getattr(c, 'furl', url('home'))}')" class="login_loginlink"><img  class="floaterLeft" src="/static/imgs/icon_tw_connect.png"/></a>
		<a class="login_loginlink ${getattr(c, "expanded", False) and 'selected' or ''}" onclick="toggleLoginPanel(this)"><span>${_("PANEL_LOGIN_Log In")}</span></a>
		<a href="${url('index', action='signup')}?furl=${getattr(c, 'furl', url('home'))}" class="floaterLeft login_loginlink">${_("PANEL_LOGIN_Sign Up")}</a>
	%else:
		<a class="login_loginlink" href="${url('controller', controller='mypools')}">
			${_("PANEL_LOGIN_Welcome")}
			<img id="login_panel_profile_pic" src="${c.user.get_profile_pic()}"/>
			<span class="name login_loginlink">${c.user.name or c.user.email}</span></a>
		%if 'facebook' not in c.user.networks:
			<a href="#" onclick="fbLogin()" class="login_loginlink"><img src="/static/imgs/icon_fb_connect.png"/></a>
		%endif
		<a href="#" class="login_loginlink" onclick="fbLogout();">${_("PANEL_LOGIN_logout")}</a>
	%endif
	
	<script type="text/javascript"> 
		toggleLoginPanel = function(link){
			if(dojo.hasClass(link, "selected")){
				dojo.removeClass(link, "selected");
				dojo.addClass("loginPanelContent", "hidden");
			} else {
				dojo.addClass(link, "selected");
				dojo.removeClass("loginPanelContent", "hidden");
			}
		}
	</script>
</div>
