<%inherit file="../master.html"/>
<%namespace name="links" file="../links.html"/>
<%namespace name="forms" file="/widgets/forms.html"/>
<%namespace name="html" file="/widgets/html_elems.html"/>
<%def name="title()">${_("LOGIN_PAGE_TITLE_Login")}</%def>
<%def name="page_slogan()">&nbsp;</%def>

<div id="login_signup_container" class="">

	<div id="login_form_container" class="left">
		<div  class="panel_title">
			${_("LOGIN_PAGE_TITLE_TEXT_Login")}
		</div>
			<div class="panel_content_inner">
			<!--<div class="forminputline">
                    <label>${_("LOGIN_PAGE_LABEL_Login with")}</label>
			</div>-->
				<div class="forminputline" style="margin:26px 0 0 0" >
					<a onclick="fbLogin()" class="facebookBtn" title="${_("Connect with Facebook")}">
						<span>${_("Connect with Facebook")}</span>
					</a>
				</div>
				
				<div class="forminputline" style="margin:15px 0  26px 0">
					<a href="${url(controller='twitter', action='login')}?furl=/" class="twitterBtn" title="${_("Connect with Twitter")}">
						<span>${_("Connect with Twitter")}</span>
					</a>
				</div>
			</div>
            <p class="facebookTxt" style="margin-top:15px"><img src="/static/imgs/icon_mail.png" complete="complete"/>Email</p>
			<div  class="panel_content_inner" style="margin-top:0px">
			<form action="${url('index', action='login')}" method="POST" id="login_form">
				<!--<div class="forminputline">
					<label>${_("LOGIN_PAGE_LABEL_or by")}</label><br>
				</div>-->

				<div class="forminputline signup_login">
					${forms.input_text("login", "email", _("LOGIN_PAGE_LABEL_Email"))|n}
				</div>
				<div class="forminputline signup_login" style="padding-top:0; padding-bottom:0px">
					${forms.input_text("login", "pwd", _("LOGIN_PAGE_LABEL_Password"), "password", False)|n}
					<div><a class="lostpass" href="${url(controller='myprofile', action='password')}">${_("LOGIN_PAGE_LABEL_Forgot Password?")}</a></div>
				</div>
				<div >
				
                    <a onclick="dojo.byId('login_form').submit();" class="BtnRed" style="margin:0 15px 15px 0"><span>Login</span></a>

				</div>
			</form>
			</div>
	</div>

	<div id="signup_form_container" class="right">
		<div  class="panel_title">
			${_("LOGIN_PAGE_LABEL_Signup")}
		</div>
			<div class="panel_content_inner">
			<form id="signup_form" action="${url('index', action='signup')}" method="POST" enctype="multipart/form-data">
				<div class="forminputline">
					${forms.input_text("signup", "name", _("LOGIN_PAGE_LABEL_First_Name"))|n}
				</div>
                <div class="forminputline">
					${forms.input_text("signup", "name", _("LOGIN_PAGE_LABEL_Last_Name"))|n}
				</div>
                <div class="forminputline">
					${forms.input_text("signup", "name", _("LOGIN_PAGE_LABEL_Username"))|n}
				</div>
				<div class="forminputline">
					${forms.input_text("signup", "email", _("LOGIN_PAGE_LABEL_Email"), required = True)|n}
				</div>
				<div class="forminputline">
					${forms.input_text("signup", "pwd", _("LOGIN_PAGE_LABEL_Password"), "password", False, required = True)|n}
				</div>
				<div class="forminputline">
					${forms.input_text("signup", "pwd_confirm", _("LOGIN_PAGE_LABEL_Confirm Password"), "password", False, required = True)|n}
				</div>
				<div class="forminputline">
					<label for="profile_pic">${_("LOGIN_PAGE_LABEL_Profile Picture")}</label>
					<input name="signup.profile_pic" id="profile_pic" type="file" size="10" maxlength="100000" accept="image/*">
				</div>
				<div class="forminputline maleFemaleContainer">
				<div  class="maleFemale">
                <p style="width:150px; float:left">Gender</p>
                <input type="radio" id="signup_gender_m" name="signup.gender" value="m" ${forms.input_checked('signup', 'gender', 'm')} />
					<label for="signup_gender_m">${_("LOGIN_PAGE_LABEL_Male")}</label>
					
<input type="radio" id="signup_gender_f" name="signup.gender" value="f" ${forms.input_checked('signup', 'gender', 'f')} />
					<label for="signup_gender_m" >Female</label>
					
				</div>
					${forms.error_msg("signup", "gender", type="error_checkbox")}
				</div>
				
				
				
					<p class="termsOf">By clicking on 'Sign Up' on the right, you confirm that you accept the <a href="#">Terms and Conditions.</a></p>
				
					
                    
                    <a onclick="dojo.byId('signup_form').submit();" class="BtnRed" style="margin:0; clear:none"><span>Sign Up</span></a>

			</form>
			</div>
		
	</div>
	${html.clearline()}
</div>
