<%namespace name="html" file="/widgets/html_elems.html"/>
<%namespace name="forms" file="/widgets/forms.html"/>

<div id="loginpanel">
	%if c.user.is_anon:
		<b>${_(u"PANEL_LOGIN_Connect")}</b>
		<a onclick="fbLogin(forward('${getattr(c, 'furl', '/')}'))" class="login_loginlink"><img src="/static/imgs/icon_fb_connect.png"/></a>
		<a onclick="twInit('${getattr(c, 'furl', '/')}')" class="login_loginlink"><img src="/static/imgs/icon_tw_connect.png"/></a>
		<a href="${url('index', action='login')}?furl=${getattr(c, 'furl', '/')}" class="login_loginlink"><img src="/static/imgs/icon_mail.png"/></a>
	%else:
		<a href="${url('controller', controller='mypools')}">
			${_("PANEL_LOGIN_Welcome")}
			<img id="login_panel_profile_pic" src="${c.user.get_profile_pic()}"/>
			<span class="name">${c.user.name or c.user.email}</span></a> |
		%if 'facebook' not in c.user.networks:
			<a href="#" onclick="fbLogin()" class="login_loginlink"><img src="/static/imgs/icon_fb_connect.png"/></a> |
		%endif
		<a href="#" onclick="fbLogout();">${_("PANEL_LOGIN_logout")}</a>
	%endif
</div>
