<%inherit file="../layout.html"/>

<%def name="title()">${_("FF_TITLE_Sign Up")}</%def>
<%def name="authperms()">{fwd : true, _workflow : {success : function(){window.location.href = "${getattr(c, 'furl', '/')}";}}}</%def>

<div class="wrapSubContent">${self.renderMessages()|n}
<div class="content">
	<form id="signup_form" action="${url('index', action='signup')}" method="POST" enctype="multipart/form-data">
	<input type="hidden" name="furl" value="${getattr(c, 'furl', '/')}"/>
	<div class="colLeftLogin floatLeft">
		<div class="loginPanelBig">
			<h3>${_("FF_LOGIN_You're just seconds away from your new account!")}</h3>
			<h4>${_("FF_LOGIN_Sign in with Facebook or Twitter")}</h4>
			<div class="subHeading lastOne"></div>
			<div class="loginSocialWrap">
				<a title="${_("FF_LOGIN_Log in with Facebook")}" class="facebookBtn" _href="${getattr(c, 'furl', '/')}" onclick="window.__auth__.doFBLogin({success:ff.t.goto_url(this)})">
					<span>${_("FF_LOGIN_Log in with Facebook")}</span>
				</a>

				<a title="${_("FF_LOGIN_Log in with Twitter")}" class="twitterBtn" _href="${getattr(c, 'furl', '/')}" onclick="window.__auth__.doTWLogin({success:ff.t.goto_url(this)})">
					<span>${_("FF_LOGIN_Log in with Twitter")}</span>
				</a>
				
			</div>
			<h4>${_("FF_LOGIN_Sign up with a password instead")}</h4>
			<div class="subHeading lastOne"></div>
			<div class="logInOnePx ${('name' in c.signup_errors) and "error" or ""}">
				<div class="greyInsideFullWidth floatLeft">
					<div class="first">
						<span>${_("FF_LOGIN_Your Name")}</span>
					</div>
					<input name="signup.name" value="${c.signup_values.get("name")}" type="text" class=""/>
					%if "name" in c.signup_errors:
						<span class="error floatLeft" style="margin-left: 160px;">${c.signup_errors['name']}</span>
					%endif
				</div>
			</div>
            <div class="colRightWhite"></div>
			<div class="logInOnePx ${('email' in c.signup_errors) and "error" or ""}">
				<div class="greyInsideFullWidth floatLeft">
					<div class="first">
						<span>${_("FF_LOGIN_Email Address")}</span>
					</div>
					<input  name="signup.email" value="${c.signup_values.get("email")}" type="text" class=""/>
					%if "email" in c.signup_errors:
						<span class="error floatLeft" style="margin-left: 160px;">${c.signup_errors['email']}</span>
					%endif
				</div>
			</div>
            <div class="colRightWhite"></div>
			<div class="logInOnePx ${('pwd' in c.signup_errors) and "error" or ""}">
				<div class="greyInsideFullWidth floatLeft">
					<div class="first">
						<span>${_("FF_LOGIN_Password")}</span>
					</div>
					<input name="signup.pwd"  value="${c.signup_values.get("pwd")}" type="password" class=""/>
					%if "pwd" in c.signup_errors:
						<span class="error floatLeft" style="margin-left: 160px;">${c.signup_errors['pwd']}</span>
					%endif
				</div>
				%if "email" not in c.signup_errors:
					<p class="twonine">${_("FF_LOGIN_Min 6 characters. Letters and numbers only please.")}</p>
				%endif
			</div>
			 <div class="colRightWhite"></div>
			<p class="twonine">
				${(_("FF_LOGIN_By clicking \"Sign Up\", you confirm that you accept the <a href=\"%s\">FF_LOGIN_Terms and Conditions.</a>")%url(controller="content", lang=session["lang"], action="tos"))|n}
			</p>
			<div class="padLeft" style="padding-top:20px"><input type="submit" value="${_("FF_LOGINBUTTON_Sign Up")}"  class="primaryButton"/></div>
			<div class="clear"></div>
		</div>
	</div>
	</form>
	<div class="colRightLogin floatLeft">
		<h3>${_("FF_LOGINEXPLAIN_Q1__What is friendfund")}</h3>
		${_("FF_LOGINEXPLAIN_Q1_A1__<p>some text explaining what friendfund is.</p>")|n}
		<h3>${_("FF_LOGINEXPLAIN_Q2__Privacy")}</h3>
		${_("FF_LOGINEXPLAIN_Q2_A1__<p>Some Text explaining what Privacy means for friendfund.</p><p>you can use multiple p-Tags</p>")|n}	
	</div>
	<div class="clear"></div>
</div>
</div>



