<%inherit file="../master.html"/>
<%namespace name="links" file="../links.html"/>
<%namespace name="forms" file="/widgets/forms.html"/>
<%namespace name="html" file="/widgets/html_elems.html"/>
<%def name="title()">${_("MYPROFILE_PAGE_TITLE_My Profile")}</%def>

<div class="tabContainer">
		<a href="/myprofile/index"><span>Account</span></a>
		<a href="/myprofile/notifications"><span>Notifications</span></a>
		<a href="/myprofile/network" class="selected"><span>Networks</span></a>
		</div>
<div id="login_signup_container">
		
		
		<div class="subCategories">You are connected to the following networks: </div>

		<div class="profile-picture">
		<div class="inside_row">
			<div class="borderRow floaterLeft">
				<div class="floaterLeft"><img src="/static/imgs/icon_fb_connect.png"> <span>Facebook</span></div>
				<div class="floaterRight"><a href="#">Remove</a> from my networks</div>
			</div>
			<div class="borderRow floaterLeft">
				<div class="floaterLeft"><img src="/static/imgs/icon_tw_connect.png"> <span>Twitter</span></div>
				<div class="floaterRight"><a href="#">Remove</a> from my networks</div>
			</div>
			<div class="borderRow floaterLeft">
				<div class="floaterLeft"><img src="/static/imgs/icon_mail.png"> <span>Mail</span></div>
				<div class="floaterRight"><a href="#">Remove</a> from my networks</div>
			</div>		
		</div>	
		</div>
		
${html.clearline()}
</div>
