<%inherit file="../layout.html"/>
<%namespace name="common" file="common.html"/>
<%namespace name="forms" file="/widgets/forms.html"/>

<div class="wrapSubHeader">${self.renderMessages()|n}
	${common.render_tabs("notifications")|n}
</div>
<div class="wrapSubContent"><div class="shadowEverywhereElse"></div>
	<div class="content">
		<div class="colRight"></div>
		<div class="colLeft">
			<form action="${url.current()}" method="POST">
			<h4>${_("FF_NOTIFICATIONS_Please email me when...")}</h4>
			<div class="subHeading" style="margin-bottom:10px"></div>
			%for tpltype in c.templatetypes:
			<div class="borderBottom noBorder lessPad">
				<div class="greyInsideFullWidth">
					<div class="first"> <span>&nbsp;</span> </div>
					<input type="checkbox" class="chkbox" ${forms.expression_quote(not tpltype.opt_out, "checked")} value="no" name="optout.${tpltype.name}" id="optout_${tpltype.name}"/>
						<label for="optout_${tpltype.name}">${_(tpltype.name)}</label>
				</div>
			</div>
			%endfor
			<div class="terms" style="margin-top:20px">
				<input type="submit" class="primaryButton" value="${_("FF_ACCOUNT_Save Changes")}">
			</div>
			</form>
		</div>
		<div class="clear"></div>
	</div>
</div>