<%inherit file="../layout_layer.html"/>
<%namespace name="links" file="../links.html"/>
<%namespace name="form_widgets" file="../widgets/forms.html"/>
<%def name="title()">${_("PASSWORD_RESET_TITLE_Reset Password")}</%def>

<%def name="page_slogan()">
	<div id="page_slogan">${_("PASSWORD_RESET_SLOGAN_Here you can reset your account's password.")}</div>
</%def>


<div id="pwd_form_container" class="innerbody">
	<div class="panel_content white newFormControls">
		<form action="${url(controller='myprofile', action='resetpwd', furl=c.furl)}" id="reset_password_form" method="POST">
			<div class="inputline">
				${form_widgets.input_text("pwdreset", "pwd",_("PASSWORD_RESET_LABEL_Password"),type="password")|n}
			</div>
			<div class="inputline">
				${form_widgets.input_text("pwdreset", "pwd_confirm", _("PASSWORD_RESET_LABEL_Password Confirmation"),type="password")|n}
			</div>
		</form>
	</div>
</div>
<div style="text-align: right;position:relative;bottom:15px;right:30px;">
	<a class="selector submitSmall" onclick="document.getElementById('reset_password_form').submit()"><span>${_("PASSWORD_REQUEST_BUTTON_Select")}</span></a>
</div>
