<%inherit file="../master.html"/>
<%namespace name="links" file="../links.html"/>
<%namespace name="form_widgets" file="../widgets/forms.html"/>
<%def name="title()">${_("PASSWORD_RESET_TITLE_Reset Password")}</%def>
<%def name="page_slogan()">&nbsp;</%def>

<div id="pwd_form_container" class="innerbody">
	<div  class="panel_title">
		${_("PASSWORD_RESET_TITLE_Set your new password")}
	</div>

	<div class="panel_content">
		<form action="$(url(controller='myprofile', action='resetpwd')}" method="POST">
			<div class="forminputline">
				${form_widgets.input_text("pwdreset", "pwd",_("PASSWORD_RESET_LABEL_Password"),type="password")|n}
			</div>
			<div class="forminputline">
				${form_widgets.input_text("pwdreset", "pwd_confirm", _("PASSWORD_RESET_LABEL_Password Confirmation"),type="password")|n}
			</div>
			<div class="forminputline" style="margin: 15px 0px;">
			<input type="submit" value="Submit"/>
			</div>
		</form>
	</div>
</div>