<%inherit file="../master.html"/>
<%namespace name="links" file="../links.html"/>
<%namespace name="forms" file="../widgets/forms.html"/>
<%def name="title()">${_("PASSWORD_REQUEST_TITLE_Request Password")}</%def>
<%def name="page_slogan()">&nbsp;</%def>

<div id="pwd_form_container" class="innerbody">
<div class="panel_title">
	${_("PASSWORD_REQUEST_TITLE_Request a password change")}
</div>

<div class="panel_content white">
<form id="reset_password_form" action="${url(controller='myprofile', action='password')}" method="POST">
	<div>
		${forms.input_text("pwd", "email", _("PASSWORD_REQUEST_LABEL_Email"))|n}
	</div>
	<div style="text-align: right;position:absolute;bottom:15px;right:30px;">
		<a class="selector submitSmall" onclick="document.getElementById('reset_password_form').submit()"><span>${_("PASSWORD_REQUEST_BUTTON_Select")}</span></a>
	</div>
</form>
</div>
</div>
