<%namespace name="forms" file="../../widgets/forms.html"/>
<%namespace name="html" file="../../widgets/html_elems.html"/>
<%namespace name="product" file="../../product/panel.html"/>

<div class="forminputline" id="product_browser">
	${product.display_product(0, c.product, 1)}
	<div style="margin:30px;float:right;position:relative;">
		<a class="submitSmall" href="${url(controller="pool", pool_url=c.pool_url, action="setaltproduct")}?guid=${c.product.guid}&aff_net=${c.product.aff_net}" id="submitter"><span>${_("POOL_SETTINGS_ACTION_ALTPRODUCT_Confirm")}</span></a>
	</div>
</div>