<%! 
from datetime import date, timedelta
%>
<%namespace name="forms" file="../../widgets/forms.html"/>

<%def name="render(action, psettings)">
	<div id="actionbutton_${action.name}" class="poolaction">
		<a id="actionlink_${action.name}" _action="${action.name}" href="#" class="poolaction">
			<div class="title_container"><div class="title">${action.get_display_name()}</div></div>
			%if action.remaining is not None:
				<div class="remaining_counter">${(_("POOLSETTINGS_LABEL_%(number_remaining)sx Remaining")%dict([('number_remaining', action.remaining)]))|n}</div>
			%endif
		</a>
		<div class="extender hidden">&nbsp;</div>
	</div>
</%def>