<%inherit file="../master.html"/>
<%namespace name="links" file="../links.html"/>
<%namespace name="forms" file="/widgets/forms.html"/>
<%namespace name="html" file="/widgets/html_elems.html"/>
<%def name="title()">${_("MYBADGES_TITLE_My Badges")}</%def>
<%def name="onloadscripts()">
	onLoadPagelets("friendsBadgesContainer");
</%def>


<%
	last_badge = c.mybadges.last_awarded
%>

<div id="mybadge_container" >
	<div class="myBadge">
		<h2>${_("MYBADGES_TITLE_My Latest Badge")}</h2>
		<div class="myBadgeInfo">
			<div class="imageBadgeContainer">
				<img src="${c.user.get_profile_pic("RA")}" />
				%if last_badge and last_badge.details.get("has_badge"):
					<img class="miniBadge" src="${last_badge.get_badge_picture('icon')}" />
				%endif
			</div>
			<div class="myBadgeInfoText">
				<h3>${getattr(last_badge, "display_name", '')}</h3>
				<div class="borderBottom">
					<div class="floaterLeft">${_("MYBADGES_LABEL_Awarded on")}</div>
					<div class="floaterRight">${last_badge and h.format_date(last_badge.award_date) or ''}</div>
				</div>
				<div class="borderBottom">
					<div class="floaterLeft">${_("MYBADGES_LABEL_Awarded for")}</div>
					<div class="floaterRight fixedWidth">${last_badge and last_badge.get_display_description() or ''}</div>
				</div>	
				<div class="borderBottom">
					<div class="floaterLeft">Badges left to collect</div>
					<div class="floaterRight">${len(c.mybadges.all_badges) - len(c.mybadges.badges)}</div>
				</div>
			</div>
		</div>
	</div>
	<div class="friendsBadge" id="friendsBadgesContainer">
		<h2 class="small">${_("MYBADGES_LABEL_Friends' Latest Badges")}</h2>
		<div id="friendsBadges" class="pagelet" pagelet_href="/mybadges/friends">
			${html.loading_animation()|n}
		</div>
	</div>
	
	<h2 style=" clear:both; padding-top:25px; float:left">${_("MYBADGES_LABEL_My Collection")}</h2>
	<div class="badgeBox">
	<div class="badgeBoxBorder">
	<div class="badge_container">
		%for badge, has_outline, has_logo, bage_url, x in c.mybadges.all_badges:
			<div class="mybadge">
				%if badge in c.mybadges.badge_map:
					%if has_logo:
						<img src="${c.mybadges.badge_map[badge].get_badge_picture('small')}" alt="${_(badge)}"/>
					%else:
						<img src="${h.get_badge_default_picture()}"/>
					%endif
					<div class="badge_name_awarded">${_(badge)}</div>
				%elif has_outline:
					<img src="${h.get_badge_picture(bage_url, 'outline')}"/>
				%else:
					<img src="${h.get_badge_default_picture()}"/>
				%endif
			</div>
		%endfor
	</div>
	</div>
	</div>
${html.clearline()}
</div>
