<%inherit file="generic_popup.html"/>

<div class="header">${_("AMAZON_POPUP_How do I paste a link from Amazon")}</div>
<a href="#" class="panelclosing_x">x</a>
<div class="popupContent">
<ol>
	<li>
	${_("AMAZON_POPUP_Open Amazon in a new Window and find your perfect gift")}
	<div class="explanation">
		<div class="text">${_("AMAZON_POPUP Step_1 Go to an amazon site of your receivers location, i.e. www.amazon.com, www.amazon.co.uk or www.amazon.de, and find your gift.")}</div>
		<img src="/static/imgs/content/amazon_howto_Step_1.png"/></div>
	</li>
	<li>
	${_("AMAZON_POPUP_Right click with your mouse and click copy")}
	<div class="explanation">
		<div class="text">${_("AMAZON_POPUP Step_2 Copy the amazon url from your browsers address bar when you have found your perfect gift.")}</div>
		<img src="/static/imgs/content/amazon_howto_Step_2.png"/></div>
	</li>
	<li>
	${_("AMAZON_POPUP_Go back to friendfund and paste the link to your gift")}
	<div class="explanation">
		<div class="text">${_("AMAZON_POPUP Step_3 Paste that url into the friendfund gift search bar and enjoy!")}</div>
		<img src="/static/imgs/content/amazon_howto_Step_3.png"/></div>
	</li>
</ol>
	<div class="text">${_("AMAZON_POPUP Please observe that we currently only accept Articles that are sold directly by Amazon. Marketplace articles can currently not be purchased via friendfund.")}</div>
</div>