## -*- coding: utf-8 -*-
<%inherit file="generic_popup.html"/>

<div class="header">${_("POPUP_HEADER_What happens if we raise less money?")}</div>
<a href="#" class="panelclosing_x">x</a>
<div class="popupContent">
<ol>
	<li>
	What happens if we don’t raise enough money before the pool closes?
	<div class="explanation">
		Don’t worry. The pool admin has the chance to extend the pool and send out more invites reminders. He can even ask the gift recipient if they would like to make up the difference themselves. IF all else fails he can select a new product which there is enough funds for or if they prefer they can send the recipient a gift voucher instead.</div>
	</li>
</ol>
</div>