img {border: 0px transparent solid;}
hr {	clear: both;}
h2 {font-family: "Trebuchet MS"; font-size: 20px !important; font-weight: bold !important; color:#403834 !important; margin: 0 !important; line-height: normal !important;}
h3 {font-family: "Trebuchet MS" !important; font-size: 14px !important; font-weight: bold !important;; line-height: 14px !important}

a, a:visited, a:link, a:hover {
	text-decoration: None;
	outline: none;
	-moz-outline-style: none;
}
a.somelink {	color: #333;}

.underlined1 {border-bottom:1px solid #FFEEB9;}
.underlined2 {border-bottom:2px solid #FFEEB9;}
.underlined5 {border-bottom:5px solid #FFEEB9;}
.vertNoPadding {padding: 0px 30px 15px 30px;}
.vertHalfPadding {padding: 15px 30px 15px 30px;}
.horFullPadding {padding: 0px 30px;}
.horHalfPadding {padding: 0px 15px;}
.fullPadding {padding: 30px;}
.textCenter {text-align:center}
.marginTop{margin-top:30px;}

.emphasis{color: #B70158;}
.bold {font-weight:bold}

.hidden {display: None !important;}
.white {background-color: white;}

.floaterLeft{ float: left; position: relative}
.right {position: relative;float: right;}
.floaterRight{ float: right}
.clearer{ clear:both}

.hlast {	margin-right: 0px !important;}
.vlast {	margin-bottom: 0px !important;}
.hover {cursor:pointer}

.inside{color: #C5C5C5;font-size: 28px;font-weight: bold;margin-top: 5px;padding: 0 4px;}
.smallInside{color: #a5a5a5;font-size: 18px;font-weight: bold;margin-top: 5px;padding: 0 4px;}
h4.inside span{ float: right; font-size: 12px; font-weight: normal}
div.insider{padding:0 4px 5px 4px;}

/*-------------------------------- BUTTONS ------------------------------------*/
.BtnRed {background:url("../imgs/inputfield.png?20101123") no-repeat scroll 100% -1145px transparent;
	bottom:0;
	display:block;
	float:right;
	font-family:Arial,Helvetica,Jamrul,Arial,sans-serif;
	font-size:18px;
	font-style:normal;
	left:0;
	min-width: 50px;
	text-align:center;
	padding-right:15px;
	z-index:2;
}
.BtnRed:hover {background-position:100% -1078px}
.BtnRed span{background:url("../imgs/inputfield.png?20101123") no-repeat scroll 0 -1111px transparent;
	color:white;
	cursor:pointer;
	display:block;
	font-size:18px;
	height:33px;
	line-height:33px;
	padding-left:15px;
	text-shadow:0 -1px 0 #770B3E;
}
.BtnRed:hover span{background-position:0 -778px;}
.BtnGold{
	background:url("../imgs/inputfield.png?20101123") no-repeat scroll 100% -1281px transparent;
	bottom:0;
	display:block;
	float:left;
	min-width: 50px;
	text-align:center;
	padding-right:19px;
}
.BtnGold span{
	background:url("../imgs/inputfield.png?20101123") no-repeat scroll 0 -1226px transparent;
	display:block;
	float:left;
	font-family:Arial,Helvetica,Jamrul,Arial,sans-serif;
	font-size:28px;
	font-style:normal;
	color:white;
	padding-left:19px;
	height:53px;
	line-height:53px;
	text-align:center;
	z-index:2;
	text-shadow:0  1px 0 #D58000;
}
.BtnGold:hover{background-position:100% -1388px;}
.BtnGold:hover span{background-position:0 -1333px;}

.submitSmall {
	background:url("../imgs/inputfield.png?20101123") no-repeat scroll 100% -213px transparent;
	display:block;
	padding-right:20px;
	float:right;
	min-width: 50px;
	text-align:center;
	z-index:2;}
.submitSmall span{background:url("../imgs/inputfield.png?20101123") no-repeat scroll 0 -1111px transparent;
	color:white;
	cursor:pointer;
	display:block;
	font-size:18px;
	height:33px;
	line-height:33px;
	padding-left:15px;
	padding-right:5px;
	text-shadow:0 -1px 0 #770B3E;}
.submitSmall:hover {background-position:100% -812px;}
.submitSmall:hover span{background-position:0 -778px;}

.submitSmallLeft {
	background:url("../imgs/inputfield.png?20101123") no-repeat scroll 100% -1477px transparent;
	display:block;
	float:left;
	padding-right:8px;
	min-width: 50px;
	text-align:center;
}
.submitSmallLeft span {
	background:url("../imgs/inputfield.png?20101123") no-repeat scroll 0 -1443px transparent;
	color:white;
	cursor:pointer;
	display:block;
	font-size:18px;
	height:33px;
	line-height:33px;
	padding-left:24px;
	padding-right:5px;
	text-shadow:0 -1px 0 #770B3E;
}
.submitSmallLeft:hover span {background-position:0 -1012px;}
.submitSmallLeft:hover {background-position:100% -1045px;}


.submitMini {padding-right:15px;text-align:right;cursor:pointer;position:relative;}
.submitMini span{background:url("../imgs/inputfield.png?20101123") no-repeat scroll -304px -4px transparent;
	position:absolute;right:0px;display:block;height:15px;width:10px;top:2px;}
.submitMini:hover span{background-position:-285px -4px}

.submitExtraMini {padding-right:8px;text-align:right;cursor:pointer;position:relative;}
.submitExtraMini span{background:url("../imgs/inputfield.png?20101123") no-repeat scroll -381px -3px transparent;
	position:absolute;right:0px;display:block;height:15px;width:5px;top:2px;}
.submitExtraMini:hover span{background-position:-376px -3px}





.facebookBtn {background:url("/static/imgs/inputfield.png?20101123") no-repeat scroll 100% -695px transparent;
	cursor:pointer;
	display:block;
	height:26px;
	line-height:26px;
	padding-right:15px;
	width:185px;margin:0px auto;}
.facebookBtn span{background:url("/static/imgs/inputfield.png?20101123") no-repeat scroll 0 -668px transparent;
		font-family:Arial,Helvetica,sans-serif;
		color:white;
		cursor:pointer;
		display:block;
		font-size:13px;
		font-weight:bold;
		height:26px;
		line-height:25px;
		padding-left:36px;
		text-shadow:0 -1px 0 #333333;text-align:center;}
.twitterBtn {
	background:url("/static/imgs/inputfield.png?20101123") no-repeat scroll 100% -749px transparent;
	cursor:pointer;
	display:block;
	height:26px;
	line-height:26px;
	padding-right:15px;
	width:185px;margin:0px auto;}
.twitterBtn span{
		background:url("/static/imgs/inputfield.png?20101123") no-repeat scroll 0 -722px transparent;
		font-family:Arial,Helvetica,sans-serif;
		color:#25568e;
		cursor:pointer;
		display:block;
		font-size:13px;
		font-weight:bold;
		height:26px;
		line-height:25px;
		padding-left:36px;text-align:center;}

/* ================== RED Submit ================== */

a.red_labeled_container {
	background:url("../imgs/inputfield.png?20101123") no-repeat scroll 100% 1px transparent;
	color:#FFFFFF;
	cursor:pointer;
	display:block;
	font-size:20px;
	height:44px;
	line-height:45px;
	margin: 23px 26px 23px 60px;
	padding-right:25px;
	position:relative;
	text-align:center;
	text-shadow:0 -1px 0 #770B3E;
	width:160px;
}
a.red_labeled_container span {background:url("../imgs/inputfield.png?20101123") no-repeat scroll 0 -166px transparent;display:block;padding-left:18px;}
a.red_labeled_container:hover {background-position:100% -43px;}
a.red_labeled_container:hover span {background:url("../imgs/inputfield.png?20101123") no-repeat scroll 0 -1178px transparent;}
.inactive {background-position:100% -545px !important;}
.inactive span {background-position:0 -490px !important;}





/*=========================================== COUNTER ===========================================*/
#countdown {margin-left:105px;background:url(/static/imgs/counter_frame.png) no-repeat top right;width:200px;height:75px;}
#countdown div.countdown_days{position: relative;float:left;margin-top:10px;width:100px;}
#countdown div.countdown_hours{position: relative;float:left;margin-top:10px;width:100px;}
div.counter_container{margin:4px auto;text-align:center;}

div.counter_container div.subscript{font-size: 14px;margin: 1px;font-family:"Trebuchet MS";font-weight:bold;}
div.counter{
	color: white;
	display: inline;
	position: relative;
	height: 40px;
	font-size: 32px;
	line-height: 34px;
	font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-style: normal;
}
.counter_number{	background:url(/static/imgs/countdown_middle.png) 0 0 repeat-x;text-shadow:#d8f0fb 0px -1px 0px}
div.counter div.counter_left {
	background:url(/static/imgs/countdown_left.png) no-repeat top left;
	width: 4px;height:39px;position:absolute;top:0px;left:-4px;
}
div.counter div.counter_right{
	background:url(/static/imgs/countdown_right.png) no-repeat top right;
	width: 4px;height:39px;position:absolute;top:0px;right:-4px;
}

div.counter hr{
	position: absolute;
	left: 2px;					/* for left position in WebKit only */
	top: 0px;
	margin: 20px 0px 0px 0px;			/* for left position in IE and WebKit */
	display: inline;			/* for left position in FF only */
	line-height: 1px; height: 1px;
	border: 0px solid transparent;
	background-color: black; 	/* for FF/WebKit */
	color: black; 				/* for IE */
	width:100%;		/* necessary for FF/WebKit so line width does not collapse */
}







/*-------------------------------- black_labeled_input ------------------------------------*/

input.small{width:50px;}
#receiver_selector_container .inputcontainer {
	position: relative;
	float: left;
	width: 100%;
	background: white;
	padding-bottom: 0;
	margin-bottom: 0
}

.inputcontainer {
	position: relative;
	float: left;
	width: 100%;
	padding-bottom: 5px;
}
#button_panel.product .inputcontainer{
 padding-bottom: 15px;
 background:url("/static/imgs/rounded-corner-big.png") no-repeat scroll 0 0 white;
}

label.black_labeled_container {
	position: relative;
	float: left;
	padding-right: 30px;
	font-size: 20px;
	font-weight: bold;
	color: #403834;
	font-family: "Trebuchet MS", Helvetica, Jamrul, Arial, sans-serif;
}
div.black_labeled_container, div.white_labeled_container {
	position: relative;
	height:25px;
	float: left;
	margin-left: 12px;
}

div.black_labeled_container.right, div.white_labeled_container.right {float: right;}
label.black_labeled_container.right {float: right;}

div.black_labeled_container div.right_bracket {
	position: absolute;
	top: 0px;
	height:25px;
	width:12px;
	right: -12px;
	background: url(../imgs/inputfield.png?20101123) -80px -27px no-repeat;
}
div.black_labeled_container div.left_bracket {
	position: absolute;
	top: 0px;
	height:25px;
	width:10px;
	left: -10px;
	background: url(../imgs/inputfield.png?20101123) -95px -27px no-repeat;
}
div.black_labeled_container .black_labeled_input {
	position: absolute;
	left:0px;
	padding:5px 0 4px;
	height:16px;
	color: #ffffff;
	font-size: 13px;
	border: 0px solid transparent;
	background: url(../imgs/inputfield.png?20101123) 0px 0px no-repeat;
}

input.default {
	color: #999 !important;
}

div.black_labeled_container input.black_labeled_input:focus div.black_labeled_container .black_labeled_input input:focus {
	border: 0px solid transparent;
	outline: none;
}
div.black_labeled_container a.button_open_down {
	position: absolute;
	top: 0px;
	right: -20px;
	width: 25px;
	height: 25px;
	cursor:pointer;
	background: url(../imgs/inputfield.png?20101123) -24px -27px no-repeat;
}
div.black_labeled_container .black_labeled_input * {
	color: #ffffff;
}
div.black_labeled_container .black_labeled_input div.dijitInputField {
	margin: 5px 5px 0px 5px;
	color: #ffffff;
}
div.black_labeled_container .black_labeled_input .dijitTextBox {
	border: 0px solid transparent;
	color: #ffffff;
	width:90px;
	margin-top:-5px;
	z-index:2px;
}
div.black_labeled_container a.left_button_search {
	position: absolute;
	top: 0px;
	left: -20px;
	width: 25px;
	height: 25px;
	background: url(../imgs/inputfield.png?20101123) 0px -27px no-repeat;
}
a.black_labeled_container {
	position: relative;
	padding: 5px 5px 6px 2px;
	line-height:25px;
	border: 0px solid transparent;
	color: #ffffff;
	font-size: 13px;
	font-weight:bold;
	background: url(../imgs/inputfield.png?20101123) 0px -56px no-repeat;
	cursor:pointer;
}
a.black_labeled_container div.right_bracket {
	height:27px;
	position:absolute;
	right:-14px;
	top:0;
	width:14px;
	background:url("../imgs/inputfield.png?20101123") no-repeat scroll -142px -27px transparent;
}
a.black_labeled_container:hover div.right_bracket {
	background-position:-159px -27px
}
a.black_labeled_container div.left_bracket {
	position: absolute;
	top: 0px;
	height:27px;
	width:12px;
	left: -12px;
	background: url(../imgs/inputfield.png?20101123) -110px -27px no-repeat;
}
a.black_labeled_container div.right_bracket_back {
	height:27px;
	position:absolute;
	right:-11px;
	top:0;
	width:11px;
	background: url(../imgs/inputfield.png?20101123) -127px -27px no-repeat;
}
a.black_labeled_container div.left_bracket_back {
	position: absolute;
	top: 0px;
	height:27px;
	width:14px;
	left: -14px;
	background:url("../imgs/inputfield.png?20101123") no-repeat scroll -192px -27px transparent;
}
a.black_labeled_container:hover div.left_bracket_back {
	background-position:-176px -27px
}


/* ================== BIG INPUT ================== */

div.black_labeled_container_big div.right_bracket {display:none}
div.black_labeled_container_big div.left_button_search {
	background:url("/static/imgs/search_icon.png") no-repeat scroll right bottom  transparent;
	height:72px;
	width:59px;
	float: left;
	padding: 10px 0 0 15px;
	z-index: 999;
	position: relative
}
div.black_labeled_container_big .black_labeled_input {
	background:url("/static/imgs/input-search.png") no-repeat scroll -19px 0 transparent;
	border:0 solid transparent;
	color:#FFFFFF;
	float:left;
	font-size:14px;
	height:20px;
	margin-left:-13px;
	margin-top:30px;
	padding:7px 10px 5px 15px;
	width:650px;
}

#messaging_container {
	float:right;
	position:relative;
	right:0;
	top:0;
	width:350px;
	z-index:3;
}

#message_container {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #B70158;
	color: #333;
	margin: 0px 30px 10px 0px;
	padding: 1px 0px;

}
#message_container div.message {
	background-color: white;
	position: relative;
	height: 100%;
	margin: 5px 19px 5px 5px;
}
#message_container ul{
	list-style-type: None;
	margin: 0px;
	padding: 5px;
}

#message_container ul li{
	margin: 5px 0px;
	line-height: 110%;
	padding: 0px;
}

#page_slogan{
	font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
	font-size: 28px;
	color: #333;
	position: relative;
	padding: 20px 0px 10px 0px;
	margin: 0px 30px 0px 30px;
	z-index:1
}
#page_slogan .emphasis{
	color: #b75182;
}


#page_slogan .subtext{
	font-family: Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: #403834;
	position: relative;
	display: block;
	width: 550px;
}


a.panel_closer {
	position: absolute;
	top: 0px;
	right: -14px;
	width: 14px;
	height: 22px;
	background-image: url(/static/imgs/button_close_info.png);
}

#pool_admin_pic{
	position: relative;
	width: 75px;
	height: 75px;
	background-color: #FFF5D7;
	margin-left: 30px
}

#pool_admin_pic img{
	width: 75px;
	height: 75px;
}

#pool_admin_slogan{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;color:#333;
	position: relative;
	margin: 0px 30px 15px 0px;
	min-height:75px;
	height:auto !important;  /* für moderne Browser */
	height:75px;  /*für den IE */
	width: 830px;
	float: right;
	background-color: #FFE493;
	line-height: 140%;
}
#pool_admin_slogan .slogan {margin: 10px;}
#pool_admin_slogan .sloganText {padding-top:5px;font-size: 12px;overflow:hidden}


/*=========================================== Contributors ===========================================*/
#pool_contributors{margin-left: 30px;float:left;}
.pcont_body .contributor{position: relative;height: 85px;width: 286px;margin: 0px 30px 15px 0px;background-color: #FFE493;float: left}
.pcont_body img.contributor{position: relative;width: 75px;height: 75px;float: left;margin: 5px;}
.pcont_body .contributor_name{position: relative;padding: 5px;font-weight:bold;}
.pcont_body .contributor_contributed{background:url("../imgs/inputfield.png?20101123") no-repeat scroll -395px -4px transparent;display:block;height:24px;position:absolute;right:-4px;top:-3px;width:26px;}

/*============================ CONTRIBUTOR ==========================*/

#contribute {
	position:relative;
	width:260px;
	float: left;
	padding-bottom:30px;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}

#contribute .button_container{width:200px;}

#contribute div.contribute_body {
	position:relative;
	width: 220px;
	margin: 0px auto;
}

#contribute div.contribute_body img.contributor_picture{
	position: relative;
	margin: 0 auto 15px auto;
	width: 75px;
	height: 75px;
	display: block;
}
#contribute a div.poolaction {
	position: relative;
	width: 200px;
	height: 200px;
	border: solid 1px black;
	overflow: hidden;
}

#pool_close_button {
	padding: 0 15px
}

/*=========================================== BUTTON ===========================================*/
a.button_container{
	position: relative;
	float: right;
	margin: 0px 10px;
	height: 32px;
	background-image:url(/static/imgs/button_big_middle.png);
	color: white;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-style: normal;
}

a.button_container.red.red_small{
	background-image:url(/static/imgs/button_chipin_middle.png);
	height: 56px;
	float: None;
	width: 110px;
	display: block;
	font-size:22px;
	line-height:36px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	left: 34px;
}

a.button_container.large{
	font-size: 22px;
	font-family: Arial, Helvetica, sans-serif;
}

a.button_container:hover{
	cursor:pointer;
}
a.button_container div.button_left {
	background:url(/static/imgs/button_big_left.png) no-repeat top left;
	width: 11px;height:32px;position:absolute;top:0px;left:-11px;
}
a.button_container div.button_right{
	background:url(/static/imgs/button_big_right.png) no-repeat top right;
	width: 11px;height:32px;position:absolute;top:0px;right:-11px;
}


a.buttonRed{ 
	display: block;
	margin: 0 auto;
	background: url(../imgs/inputfield.png?20101123) 100% -901px no-repeat;
	height: 53px;
	line-height: 53px;
	font-size: 28px;
	padding-right: 20px;
	cursor:pointer;
}
a.buttonRed span{ display: block;
	color:white;
	padding-left: 20px;
	background: url(../imgs/inputfield.png?20101123) 0 -845px no-repeat;
	line-height: 53px;
}
a.buttonRed_right{float:right;margin:30px 30px 0px;width:auto;}
a.buttonRed_left{float:left;margin:30px;width:auto;}
a.buttonChipIn{text-align:center;width:140px;float: none;margin: 11px auto}
a.buttonChipIn.de_de, a.buttonChipIn.es_es{width:190px;}
a.buttonChipIn.poolaction{width:190px;}
a.buttonChipIn.extrawide{width:220px;font-size: 22px;}
a.buttonChipIn.superextrawide{width:250px;font-size: 22px;}
a.buttonChipIn.inactive{background-position:100% -1676px !important;cursor:default ;}
a.buttonChipIn.inactive span{background-position:0 -1620px !important;cursor:default ;}

a.button_container span.button_label{position: relative;top: 4px;line-height: 25px;}
a.button_container.large span.button_label{top: 3px;}
a.button_container.red span.button_label{top: 8px;}
a.button_container span.button_label img{position: relative;top: 2px;margin: 0px 0px 0px 5px;}

a.button_container.orange{
	background:url(../imgs/inputfield.png?20101123) -20px -220px no-repeat;
	height: 51px;
	font-size: 28px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	height:51px;
	display: block;
	float: left;
	text-shadow:0 -1px 0 #B55A00;
}
a.button_container.orange div.button_left {
	background:url(../imgs/inputfield.png?20101123) 0px -220px no-repeat;
	width: 20px;height:51px;position:absolute;top:0px;left:-20px;
}
a.button_container.orange div.button_right{
	background:url(../imgs/inputfield.png?20101123) -480px -220px no-repeat;
	width: 20px;height:51px;position:absolute;top:0px;right:-20px;
}
a.button_container.orange span.button_label{
	line-height: 42px;
}
/*=========================================== LOWER BODY ==========================================*/

div#fundstream_ra{
	background:none repeat scroll 0 0 #FFF5D7;
	height:855px;
	margin-left:30px;
	overflow:hidden;
	position:relative;
	width:645px;
}
div#fundstream.recentactivity {overflow: hidden;position:relative;width: 670px;height: 970px;float: left;}
div#fundstream.recentactivity .raheader{border-bottom:5px solid #403835;float:left;margin:0 30px 15px;position:relative;width:645px;}
div#fundstream.recentactivity .raheadercol{position:relative;float: left;text-align: left;
	font-size: 14px;font-weight: bold;color: #333;font-weight: bold;font-family: "Trebuchet MS",Helvetica,Jamrul,Arial,sans-serif;}
div#fundstream.recentactivity .raheadercol span {background:url("../imgs/current_pool_header.png") repeat scroll 0 0 white;display:block;float:left;height:40px;width:45px;}
div#fundstream.recentactivity .raheadercol span.raheadgift {background-position: -55px 0;width:27px;}
div#fundstream.recentactivity .raheadercol span.raheadrecipient {background-position:-100px 0;width:24px;}
div#fundstream.recentactivity .raheadercol div {float:left;position:relative;top:15px;margin-left:15px;}
div#fundstream.recentactivity .raheadercol.col1 {margin-left:15px;width:185px}
div#fundstream.recentactivity .raheadercol.col2 {margin-left:25px;width:185px}
div#fundstream.recentactivity .raheadercol.col3 {margin-left:15px;width:185px}

div#fundstream.recentactivity div.rabody{clear:both;height: 140px;cursor:pointer; padding: 15px 0px 15px 28px}
div#fundstream.recentactivity div.rabodycol{position:relative;float: left;text-align: center;width: 185px;height: 130px;
		background: url(../imgs/backgroundScrollerShadow.png) 0 0 no-repeat;margin-right:15px; padding-top: 10px;}

div#fundstream.recentactivity div.rabodycol img {position: relative;width: 161px;height: 120px;}
div#fundstream.recentactivity div.rabodycol img.profile {width: 120px;}


div#mypools.recentactivity {position:relative;float: left;}
div#mypools.recentactivity div.raheader{background-color:#FFF5D7;padding-bottom:55px;padding-top:30px;}
div#mypools.recentactivity div.raheadercol{border-bottom: dotted 3px white;margin: 0px 20px 0px 0px; 
			position:relative;float: left;text-align: center;
			font-size: 20px;font-weight: bold;color: white;font-style: italic;font-family: "Trebuchet MS",Helvetica,Jamrul,Arial,sans-serif;}
div#mypools.recentactivity div.raheadercol_profile { width: 120px; margin-left: 10px;}
div#mypools.recentactivity div.raheadercol_product { width: 310px;}
div#mypools.recentactivity div.raheadercol_pool { width: 165px; }
div#mypools.recentactivity div.raheadercol_details { width: 220px; margin-right:0;}
div#mypools.recentactivity div.raheadercol img{margin:0 10px -5px;}

div#mypools.recentactivity div.rabody{
	background-color:#FFF5D7;
	clear:both;
	float:left;
	margin:15px 0 0;
	width:890px;
	position: relative;
	padding: 15px
}

div#mypools.recentactivity div.rabodycol{
	position:relative;
	float: left;
	text-align: left;
	font-size: 12px;
	color: #333;
	font-style: normal;
	font-family: Arial,Helvetica,Jamrul,sans-serif;
	width: 160px;
	margin-right: 30px;
	font-weight: bold;
	height: 155px;
	line-height: 15px;
	}
div#mypools.recentactivity div.rabodycol div.imgContainer{ position: absolute; left: 0; bottom:0}
div#mypools.recentactivity div.rabodycol div.desc { overflow:hidden; height: 30px}
div#mypools.recentactivity div.rabodycol.details 	{height: auto;}
div#mypools.recentactivity div.details div.imgContainer{ padding: 10px; height:auto;width:140px; position: relative; margin-top: 34px; float: left}

div#mypools.recentactivity div.rabodycol img.profile  	{position: relative;display: block; margin: 0 auto;width:120px;height:120px;}
div#mypools.recentactivity div.rabodycol img.product	 {position: relative; width: 158px;height: 119px;display: block; margin: 0 auto}
div#mypools.recentactivity div.rabodycol img.pool 		 {position: relative; display: block; margin: 20px auto}

div#mypools.recentactivity div.rabodycol.details div.row { font-size: 12px; position: relative;  text-align: right; padding-bottom:7px; float: left; width: 100%}
div#mypools.recentactivity div.rabodycol.details div.row.days { padding-bottom: 0px; background-color: white; height: 30px}
div#mypools.recentactivity div.rabodycol.details span.money,
div#mypools.recentactivity div.rabodycol.details span.currency{position: relative;color: #333;font-size: 20px; font-weight: bold; line-height: 20px}
.lastPad{ padding-bottom: 0 !important}

div#mypools.recentactivity div.rabodycol.details span.money.red {color: #b20155;}
div#mypools.recentactivity div.rabodycol.details span.money.green {color: #009900;}
div#mypools.recentactivity div.rabodycol.details span.currency.red {color: #b20155;}
div#mypools.recentactivity div.rabodycol.details span.currency.green {color: #009900;}

div.contributor_chippid_in{background:url("/static/imgs/badges/chippedin.png") no-repeat scroll center 0 transparent;color:white;top:0;padding-top: 65px;}
div.poolpage_contributor{margin-top: 30px;}
div.contributor_chippid_in.mypoolspage_contributor{width: 115px;left:190px;position:absolute;}
div.contributor_chippid_in div.content{font-size:12px;font-weight:bold;text-align:center;font-family: Arial;color:#333333;}


div#successtream {position: relative;width: 250px;float: right;margin: 50px 30px 0;}
div#successtream .successtory_outer{border-bottom:1px solid #CCCCCC;border-left:1px solid #CCCCCC;border-right:1px solid #CCCCCC;height:267px;margin:5px 0 23px;position:relative;width:248px;}
div#successtream .successtory_outer.last{margin:5px 0 0 0;}
div#successtream .successtory{border:1px solid #EEEEEE;height:270px;position:absolute;text-align:center;top:-5px;width:246px;}
div#successtream .successtory h3{margin:0 0 5px 0;}
div#successtream .successtory div{margin:5px;}
div#successtream .successtory div .quote{margin: 0px 5px; font-size:22px;line-height:0;position:relative;top:6px;}
div#successtream .successtory img.product {margin: 18px;width:180px;height:135px;}
div#successtream .successtory .submitMini {position:absolute;bottom:5px;right:5px;}

div#successtream .inside{border-bottom:5px solid #403835;padding-bottom:4px;}
div#successtream div.panel_content_no_padding {clear:both;position: relative;margin:20px 0 0;height:auto}



div#lowerbody_container div.heading {
	position: relative;margin: 7px 0px 5px 0px;line-height: 28px;
	font-family: "Trebuchet MS", Helvetica, Arial, sans-serif; font-size: 28px;}

div#lowerbody_container div.comment {padding: 15px 0 0;clear:both;float:left}

div#lowerbody_container div.comment img.commentAuthor{position: relative;float: left;width: 50px;height: 50px;}
div#lowerbody_container div.comment div.commentText {background-color: #FFE493;min-height:50px;margin: 0px 0px 0px 15px;width:855px; float:left;position:relative}
div#lowerbody_container div.comment div.commentContent{margin:0px 10px;padding:5px;}
div#lowerbody_container div.comment .commentAuthorName {font-weight:bold}

div#lowerbody_container div.comment_input_panel{
	line-height: 20px;
	margin-top: 15px;
	margin-bottom: 10px;
	font-size: 20px;
	font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
}

div#lowerbody_container textarea.comment_text_input {background:none repeat scroll 0 0 #fff8e5;border:1px solid #faba00;height:60px;margin:15px 0px 15px;width:918px;}

/* ========================POOL SETTINGS ====================== */

.addressContainer select,.addressContainer input{position: relative;width: 250px;}
.addressContainer  label{width: 100px;}
.addressContainer select {width: 253px;}
.addressContainer div.error_message{color: red;}
.addressContainer label{ display: block; padding-bottom: 3px; padding-top: 8px }

#poolsettings div.poolaction{
	float:left;
	margin:0 14px 0 0;
	position:relative;
	width:95px;
}

#poolsettings div.poolaction a.poolaction{
	color:#403834;
	display:block;
	height:145px;
	position:relative;
}

#poolsettings div.poolaction  div.extender {
	background-color: white;
	bottom: -22px;
	height: 22px;
	left: 0px;
	position: absolute;
	width: 95px;
	z-index: 5;
}
#poolsettings div.poolaction div.hidden{background: url(../imgs/down_arrow.png) 0 0 no-repeat !important; display: block !important}
#poolactioncontent{
	clear:both;
	background-color: white;
	position: relative;
	min-height:150px;
	margin:10px 30px 0 0;}
#poolactions a div.title_container{ background: #FFF5D7; height: 45px;position:relative;}
#poolactions a div.title{ font-size: 12px; font-family: "Trebuchet MS"; position:absolute;bottom:5px;}
#actionlink_ADMIN_ACTION_ISSUE_GIFT_VOUCHERS{ background:white url(../imgs/icon-gift-voucher.png) center 60px no-repeat; }
#actionbutton_ADMIN_ACTION_ASK_CONTRIBUTORS_TO_INVITE{ background:white url(../imgs/icon-invite.png) center 60px no-repeat; }
#actionbutton_ADMIN_ACTION_REMIND_INVITEES{ background:white url(../imgs/icon-remind.png) center 60px no-repeat; }
#actionbutton_ADMIN_ACTION_ASK_CONTRIBUTORS{ background:white url(../imgs/icon-ask-contibutors.png) center 60px no-repeat;  }
#actionbutton_ADMIN_ACTION_ASK_RECEIVER{ background:white url(../imgs/icon-ask-receiver.png) center 60px no-repeat; }
#actionlink_ADMIN_ACTION_CHEAPER_PRODUCT{background:white url(../imgs/icon-cheaper-products.png) center 60px no-repeat;}
#actionbutton_ADMIN_ACTION_INVITE{background:white url(../imgs/icon-invite2.png) center 60px no-repeat;}
#actionbutton_ADMIN_ACTION_CHIP_IN_REMAINDER{background:white url(../imgs/icon-cheap-in.png) center 60px no-repeat;}
#poolactioncontent div .panel_title{ padding-bottom: 0 !important}
#poolactioncontent div.pool_action_subtitle {padding: 30px;}
#poolactioncontent div .panel_content{ margin: 0 !important}
#poolactioncontent div .panel_content label.black_labeled_container.right{ float: left}
#poolactioncontent div .panel_content div.black_labeled_container{ margin-right: 352px}
#poolactioncontent  #button_panel{ margin-top: -20px}
#poolactioncontent  #button_panel h2{ padding-left: 15px}
#poolactioncontent  #button_panel.product div.productsuggestion{ margin-right: 20px; padding-top: 15px }

#poolactioncontent.ADMIN_ACTION_CHEAPER_PRODUCT {margin:10px 15px 0 -15px;}


.remaining_counter{bottom:67px;
color:#FFF5D7;
font-family:"Trebuchet MS";
font-size:28px;
left:10px;
position:absolute;
text-align:center;text-shadow: 1px 1px 0px #333}

#button_panel.receiver .panel_title, #lowerbody_container.networkinviter .panel_title{padding: 15px 0px 0 0px; float:left}
.prod_title{ color:#333333;
	float:left;
	font-weight:bold;
	padding:5px 15px;
	width:215px; height: 20px; line-height: 20px; }
	span.showme{position:absolute;
	right:174px;
	top:116px;
	z-index:999;
}
.popuplink{color:#C11164; text-align: center; display: block}
span.showme img{margin-left:10px;position:relative;top:10px;}
span.showme a.showme{color: #c11164; text-decoration: none !important}
span.showme a.showme:hover{color: #c11164; text-decoration: underline !important}


.list{ margin:0 20px 0 30px; padding-bottom: 10px; float: left; }
.list a{ display: block; float: left; width: 158px; padding-right: 10px; font-size: 14px; color: #403834; font-family: Arial}
.listContainer{ float: left; padding-bottom: 15px}
.amount{width: 417px; margin-right: 45px;}

#contributioncontainer input#chipin_amount{ border:2px solid #131313;}
.contributionAmount{ position: relative}
.contributionAmount label{ width: 100px;position: relative}
.contributionAmount .contrib_error_message{ color: red;float: left;font-size: 18px;font-weight: bold;margin:0px 0px 0px 10px;position: relative;width: 145px;}
.contributionAmount .currencyDisplay{ font-size:18px;font-weight:bold;position:relative;top:12px;float:left;}
.contributionAmount input{ width: 147px;  width: 100px;float:left}
.contributionAmount { font-family: Arial}
.contributionAmount div.forminputline{ height:auto;clear:both;}
.contributionAmount label, .contributionAmount .label{ display:block;width:120px;float:left;font-size:12px;
				margin-top:14px;padding-right:5px;text-align:right;}


.inputInfo a{color:#B20155;}
.confidential{padding-bottom: 20px }
#contributioncontainer .panel_content{ padding: 0px; margin: 10px 20px 20px 20px}
#contributioncontainer h2{ font-family: "Trebuchet MS"; font-size: 20px; font-weight: bold; color: #5a4129; margin: 0; padding: 0; line-height: 20px; font-style: italic; padding:0 0 10px;}
.whiteBoxSmall{ background: white; width: 850px; margin-top: 10px;  padding: 15px}
#contributioncontainer input{ height: 24px; margin: 10px 5px 0 0;}
#contributioncontainer input[type=text]{ background: white;border: 0px solid transparent;padding: 4px 4px 0px 2px;}
#contributioncontainer input[type=text].contrib_amount{ text-align:right;width:100px }
span.grey{ font-family: Arial; font-size: 11px; color: #999; display: block; padding-top: 10px}
#chipin_anonymous{ margin: 0 !important}
#contributioncontainer .keepsecret input{ position: absolute; left:0; top:0; height: 13px; width: 13px; border: none}
#contributioncontainer .keepsecret label{ padding-left: 18px; display: block; float: left}
#contributioncontainer span.fixedvalue {margin:0px 0 0 20px;position:relative;top:3px;font-size:24px;font-weight: bold;}
#contributioncontainer label {font-family: Arial;font-size: 12px;color:#333;}
#contributioncontainer label.paymenticon img {position:relative;top:-3px;}
#contributioncontainer label.paymenticon span.methodname {position:relative;top:-8px;margin-left:10px;}

#contributioncontainer div.error_message {clear: both;color: red;font-size: 14px;font-weight: bold;left: 192px;}
.radioContainer{ width: 150px}
.radioContainer2{ width: 200px}
#contributioncontainer .radioContainer input, #contributioncontainer .radioContainer2 input, #contributioncontainer .payement_method input{ margin: 0; height: 13px}
#contributioncontainer .radioContainer label, #contributioncontainer .radioContainer2 label,  #contributioncontainer .payement_method label{ display: inline}
.radioContainer2 div{ padding-bottom: 3px} 
#chipin_message{ width: 350px; float:left}
#chipin_message_remLen{float:left;text-align:right;width:25px;margin:0 0px 0px 10px !important;}

.heightAuto{ height: auto !important}
.terms{ float: left; width:850px; padding-top: 0px}
.payement_method{ float: left;}
.payement_method div{ padding-bottom: 10px}
.payement_method div.payement-container, .terms div.payement-container{ float: left; background: white; margin-top: 10px; padding: 15px 15px 5px 15px; width: 850px}
.payement_method div.payement-container div input{ float: left; margin-right: 5px !important; display: block}
.payement_method div.payement-container div{ padding-bottom: 15px; clear: both; float: left; height: 20px}
.payement_method div.payement-container div img{display: block; float: left}
.payement-container textarea{ width: 100%; height: 70px}
.agree{ position: relative;  margin-top: 10px; padding-bottom: 10px}
.agree label{display:block;
float:left;
padding-left:18px;}
.agree input{border:medium none;
height:13px !important;
left:0;
position:absolute;
top:0;
width:13px; margin: 0 !important; }
.message{ margin-right:20px}
.spacerInput{ padding-bottom: 12px}
#poolactions{ margin: 0 0 0 30px }

div.black_labeled_container .black_labeled_input div.dijitInputField {
	color:#FFFFFF;
	margin:2px 5px 0 !important;
}
.marginRight30{ margin-right: 30px; width:425px;}
.marginRight45{ margin-right: 45px; width:410px;}


.flagContainer{ margin:0px auto;padding:5px 0px 15px;position:relative;width:100px; }
.flagContainer a{ height:13px;width:20px; background:white; display:block;margin: 0px 0px 0px 13px;float:left}
.flagContainer a.flag_de_DE{ background: url(../imgs/flags.gif) 0px 0px no-repeat;}
.flagContainer a.flag_en_GB{ background: url(../imgs/flags.gif) 0px -13px no-repeat;}
.flagContainer a.flag_en_US{ background: url(../imgs/flags.gif) 0px -26px no-repeat;}
.flagContainer a.flag_es_ES{ background: url(../imgs/flags.gif) 0px -39px no-repeat;}
.pog_currency_symbol img.currency_symbol {position: relative;margin-top:-3px;top:3px;white-space:pre;}
.pog_currency_symbol {font-family:Arial;font-weight:normal;position:relative;white-space:pre;}
.pog_currency_symbol_subtype {height:1em;overflow:hidden;position:absolute;right:0;top:0;white-space:pre;}




#poolresult {margin:90px auto;width:720px;position:relative;}
#poolresult .social_tools {margin:30px 0px 0px 0px;}
#poolresult .retweet {margin:0px;float:right;}
#poolresult .poolresult{min-height:100px;
	border: 1px solid #E8E8E8;
	border-bottom-left-radius: 10px 10px;
	border-bottom-right-radius: 10px 10px;
	border-top-left-radius: 10px 10px;
	border-top-right-radius: 10px 10px;
	-moz-border-radius:10px 10px 10px 10px;
	-webkit-box-shadow: #777 0px 0px 10px;
	-moz-box-shadow:0 0 10px #777;
	box-shadow: 0 0 10px #777; /*CSS3 Standard*/
	background: #F5FBFE; /* muss definiert werden, da sonst der IE jedem Kind-Element einen Schatten verpasst */
	zoom: 1;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#aaaaaa', Direction=0, Strength=6)
		    progid:DXImageTransform.Microsoft.Shadow(color='#aaaaaa', Direction=45, Strength=4)
		    progid:DXImageTransform.Microsoft.Shadow(color='#aaaaaa', Direction=90, Strength=6)
		    progid:DXImageTransform.Microsoft.Shadow(color='#aaaaaa', Direction=135, Strength=6)
		    progid:DXImageTransform.Microsoft.Shadow(color='#aaaaaa', Direction=180, Strength=6)
		    progid:DXImageTransform.Microsoft.Shadow(color='#aaaaaa', Direction=225, Strength=4)
		    progid:DXImageTransform.Microsoft.Shadow(color='#aaaaaa', Direction=260, Strength=6)
		    progid:DXImageTransform.Microsoft.Shadow(color='#aaaaaa', Direction=305, Strength=4);
}


#poolresult .completeRcpt{float:left}
#poolresult .title {color:#B70158;font-size: 42px;font-weight: bold;padding: 45px 30px 25px;font-family:"Trebuchet MS", Arial, sans-serif; text-shadow:0 1px 0 #777;}
#poolresult .margin {margin: 5px 10px 0px 10px;}
#poolresult .heading {font-family:"Trebuchet MS", Arial, sans-serif; font-weight:bold;font-size:14px;text-shadow:0 1px 0 #ccc;}
#poolresult .inside {margin:0px;padding: 0px 0px 15px 30px;clear:both;float:left;width:700px;}

.rcptPicture {background:white;width:225px;height:225px;float:left;margin: 0px 15px 15px 30px;border:#ccc solid 2px;position:relative;}
.rcptPicture img {width:205px;height:205px;margin:10px 10px;}
.rcptPicture .rcptRcvrIcon {background:url("../imgs/pool_result_rcvr.png") repeat scroll 0 0 transparent;bottom:-25px;height:85px;left:-20px;position:absolute;width:55px;}
.rcptThankYouNotice {background: #ffe67d;width:420px;height:98px;float:left;position:relative;}
.rcptThankYou {margin:0px 10px 0px 10px;overflow:hidden;height:75px;}
.rcptContribMsg {margin: 0px 10px;}
div.rcptProductPicture{margin:15px 0px; background: #fff;float:left; border:#ccc solid 2px;}
.rcptProductPicture {width:150px;height:112px;position:relative;}
.rcptProductPicture .rcptGiftIcon {background:url("../imgs/pool_result_rcvr.png") repeat scroll -72px -15px transparent;bottom:-18px;height:58px;left:-19px;position:absolute;width:56px;}
.rcptProductText {margin:15px 15px; width:250px;height:110px;float:left;}
.rcptProductText .rcptProductTextBody {margin:10px 0 0 0 ;}

.triangle {position:absolute;display:block;width:10px;height:20px;top:10px;left:-10px;background:url("../imgs/inputfield.png?20101123") no-repeat scroll -320px 0px transparent;}
.bottomYellowTriangle {position:absolute;display:block;width:20px;height:10px;bottom:-10px;margin:0px auto;background:url("../imgs/inputfield.png?20101123") no-repeat scroll -320px -10px transparent;}
.triangle.bluetriangle{background-position:-344px 0px;}

.rcptRibbon {background:url("../imgs/pool_result_ribbon.png") no-repeat scroll 0 0 transparent;height:163px;position:absolute;right:-9px;top:-22px;width:288px;z-index:2;}

.pcontBodyComplete {margin: 15px 0px 30px 0px;clear:both;float:left;}
.pcontBodyComplete img.contributor{position: relative;width: 75px;height: 75px;float: left;margin: 0px 0px 15px 30px;}
.ctrbrText{position: relative;height: 75px;width: 230px;margin: 0px 0px 15px 10px;background-color:#FFEEB9; float:right}


.editIcon {position:absolute;display:block;width:25px;height:25px;top:10px;right:-10px;background:url("../imgs/edit-icon.png") no-repeat scroll 0px 0px transparent;cursor:pointer;z-index:3}
.raisedEditIcon {background: transparent url("http://dev.friendfund.de/static/imgs/edit-icon.png") scroll 100% 0px no-repeat;
				cursor: pointer;display: block;height: 25px;padding: 9px 29px 0 ;position: absolute;right: 0px;top: -28px;z-index: 3;}
#thankyou_editor .editIcon{right:-10px;top:23px;}