<%inherit file="common.html"/>

<%def name="title()">${_("FF_Contact")}</%def>
<%def name="heading()">${_("FF_Contact")}</%def>

<%def name="render_content()">
		<h4>${_("FF_CONTACT_Send Us a Message")}</h4>
		<div class="subHeading"></div>
		
		<form action="${url(controller="content", action="contact", lang=h.get_language_locale())}" method="POST" name="contactForm" id="contactForm" onsubmit="onSubmitCleaner(this)">
			<div class="borderBottom ${"subject" in c.errors and "error" or ""}">
				<div class="greyInsideFullWidth">
				<div class="first">
					<span>${_("FF_CONTACT_Subject")}</span>
				</div>
				<input type="text" value="${c.values.get("subject", _("FF_CONTACT_Write your subject here..."))}" class="default" _default_text="${_("FF_CONTACT_Write your subject here...")}" _length="60" name="subject">
				
			</div>
			%if "subject" in c.errors:
					<p class="info error">${c.errors.get("subject")}</p>
				%endif
			</div>
			<div class="borderBottom ${"message" in c.errors and "error" or ""}">
				<div class="greyInsideFullWidth">
				<div class="first">
					  <span>${_("FF_CONTACT_Message")}</span>
				</div>
				<div class="containerTxtArea">
					<textarea class="default" _default_text="${_("FF_CONTACT_Write your message here...")}" name="message">${c.values.get("message", _("FF_CONTACT_Write your message here..."))}</textarea>
				</div>
				
				</div>
				%if "message" in c.errors:
					<p class="info error">${c.errors.get("message")}</p>
				%endif
			</div>
			<div class="borderBottom ${"name" in c.errors and "error" or ""}">
				<div class="greyInsideFullWidth">
				<div class="first">
					<span>${_("FF_CONTACT_Name")}</span>
				</div>
				<input type="text" value="${c.values.get("name", _("FF_CONTACT_Write your name here..."))}" class="default" _default_text="${_("FF_CONTACT_Write your name here...")}" _length="60" name="name">
				
				</div>
				%if "name" in c.errors:
					<p class="info error">${c.errors.get("name")}</p>
				%endif
			</div>
			<div class="borderBottom noBorder ${"email" in c.errors and "error" or ""}">
				<div class="greyInsideFullWidth">
				<div class="first">
					<span>${_("FF_CONTACT_Email")}</span>
				</div>
				<input type="text" value="${c.values.get("email", _("FF_CONTACT_Write your email here..."))}" class="default" _default_text="${_("FF_CONTACT_Write your email here...")}" _length="60" name="email">
				
				</div>
				%if "email" in c.errors:
					<p class="error info">${c.errors.get("email")}</p>
				%endif
			</div>
			<div class="borderBottom noBorder" style="border-top:none">	
				<div class="greyInsideFullWidth">
				<div class="first">
					<span>&nbsp;</span>
				</div>
				<input type="submit" value="${_("FF_CONTACT_Send")}" class="primaryButton floatLeft" />
				</div>
			</div>
		</form>
		
		<h4>${_("FF_CONTACT_Other Ways to Get in Touch")}</h4>
		<div class="subHeadingSpecial"></div>
		<div class="borderBottom special2">	
				<div class="greyInsideFullWidth">
				<div class="first">
					<span>${_("FF_CONTACT_Email")}</span>
				</div>
				<p class="second"><a href="mailto:feedback@friendfund.com">feedback@friendfund.com</a></p>
				</div>
			</div>
			<div class="borderBottom special2">	
				<div class="greyInsideFullWidth">
				<div class="first">
					<span>${_("FF_CONTACT_Phone")}</span>
				</div>
				<p class="second">+49 (30) 99272540</p>
				</div>
			</div>
			<div class="borderBottom special2">	
				<div class="greyInsideFullWidth">
				<div class="first">
					<span>${_("FF_CONTACT_Mail")}</span>
				</div>
				<p class="second">friendfund GmbH<br />
					Landsberger Allee 117<br />
					10407 Berlin<br /><br />

					Handelsregisternummer: 127841 B<br />
					Registergericht: Amtsgericht Berlin Charlottenburg<br /> 
					Geschäftsführer: Henry George McCarney </p>
				</div>
			</div>
            <div class="borderBottom special2 noBorder">	
				<div class="greyInsideFullWidth">
				<div class="first ">
					<span class="megaphon floatRight">Uservoice</span>
				</div>
				<p class="second">${_("FF_CONTACT_We'd love to hear how you'd <a target=\"_blank\" href=\"%s\">improve friendfund.</a>")%"http://friendfund.uservoice.com/forums/81919-general"|n} </p>
				</div>
			</div>
</%def>
