<%namespace name="html" file="/widgets/html_elems.html"/>
<%namespace name="links" file="../links.html"/>



<%def name="includes()">
	${links.js('friendfund/FriendSelector.js')}
</%def>


<%def name="scripts(user)">
	%if user.network in ['twitter', 'facebook']:
		var selector = new friendfund.NetworkFriendPanel(
				{	ref_node: "friend_list_container",
					base_url : "/myfriends/get",
					network : "${user.network}",
					onSelect : function(ctx, params, target, evt){
						xhrPost("/receiver/set", params, function(){window.location.href="${url('home')}";});
					}
				});
		selector.draw(selector);
	%else:
		var selector = new friendfund.EmailFriendSelector(
				{	ref_node: "friend_list_container",
					base_url : "/myfriends/get",
					network : "${user.network}",
					onSelect : function(ctx, params, target, evt){
						xhrPost("/receiver/set", params, function(){window.location.href="${url('home')}";});
					}
				});
		selector.draw(selector);
	%endif
</%def>

<%def name="body(title)">
	<div class="floaterLeft" id="birthdayselector">
		<div class="panel_title">
			${title}
		</div>
		<div id="friend_list_container">
			${html.loading_animation()|n}
		</div>
	</div>
</%def>