<%inherit file="../layout_layer.html"/>
<%namespace name="mypools_body" file="mypools_body.html"/>
<%namespace name="bdayfriends" file="../myfriends/birthday_friends_scripts.html"/>

<%def name="title()">${_("FRIENDSPOOLS_TITLE_Friends' Pools")}</%def>

${mypools_body.render_tabs("friends")|n}

<%def name="scripts()">
	${bdayfriends.includes()|n}
</%def>
<%def name="onloadscripts()">
	%if not len(c.my_pools.pools):
		${bdayfriends.scripts(c.user)|n}
	%endif
</%def>


<div id="mypools" class="recentactivity">
	%if c.my_pools.open_pools:
		<div class="subCategories">${_("FRIENDSPOOLS_CONTENT_Friends Open Pools")}</div>
		<div class="tooltipBoxMyPools">
			<img src="/static/imgs/mypools_friend_header.png" />
		</div>
		%for pool in c.my_pools.open_pools:
			${mypools_body.render(pool)}
		%endfor
	%endif
	%if c.my_pools.closed_pools:
		<div class="subCategories">${_("FRIENDSPOOLS_CONTENT_Friends Closed Pools")}</div>
		<div class="tooltipBoxMyPools">
			<img src="/static/imgs/mypools_friend_header.png" />
		</div>
		%for pool in c.my_pools.closed_pools:
			${mypools_body.render(pool)}
		%endfor
	%endif
	%if not c.my_pools.pools:
		<div>${_("MYPOOLS_NOPOOLS_Sorry, None of your friends have created any pools!")}</div><div style="clear:both"></div>
		${bdayfriends.body(_("CONTRIBSUCCESSPAGE_TITLE_Whose Birthday is next?"))|n}
	%endif
</div>