<%inherit file="../layout.html"/>
<%namespace name="common" file="common.html"/>

<%def name="title()">${_("FF_TITLE_Friend's pools")}</%def>

<%def name="scripts()">
	<script type="text/javascript">
		var addthis_config = {"data_track_clickback":true};
		
	</script>
	<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=friendfund"></script>
</%def>


<div class="wrapSubHeader">${self.renderMessages()|n}
	<div class="subHeader">
		<div class="userProfile">
			<img src="${c.user.get_profile_pic("PROFILE_M")}" width="60px" height="60px"/>
			<div class="subUserProfile">
				<h2>${c.user.name}</h2>
				####TODO:<!--TODO
				####TODO:<div class="subTitleUserProfile">
				####TODO:	<span class="link twitter">@ Judyface</span><span class="link facebookName">Judy Stevens</span>
				####TODO:</div>
				####TODO:-->
			</div>
			
			${common.render_tabs("friends")|n}
		<div class="clear"></div>
		</div>
	</div>
</div>
<div class="wrapSubContent">
<div class="content fullWidth">
	%if len(c.my_pools.pools) == 0:
		<div class="noContainer">
			<p class="no">${_("FF_MYPOOLS_Your friends haven't created any Pools yet, to which you are not invited.")}</p>
			<a href="${h.create_pool_link(request, url)}" class="primaryButton fixedWidth">${_("FF_MYPOOLS_Create a Pool")}</a>
		</div>
	%else:
		%for pool in c.my_pools.pools:
			${common.render_pool_card(pool, True)|n}
		%endfor
		<div class="clear"></div>
	%endif
</div>
</div>
