<%inherit file="../master.html"/>
<%namespace name="html" file="../widgets/html_elems.html"/>
<%namespace name="mypools_body" file="mypools_body.html"/>
<%def name="title()">${_("MYPOOLS_TITLE_My Pools")}</%def>

${mypools_body.render_tabs("mypools")|n}

<div id="mypools" class="recentactivity">
	%if c.my_pools.admin_pools:
		<div class="subCategories">${_("MYPOOLS_CONTENT_Pools I created")}</div>
		<div class="tooltipBoxMyPools">
			<img src="/static/imgs/mypools_header.png" />
		</div>
		%for pool in c.my_pools.admin_pools:
			${mypools_body.render(pool)}
		%endfor
	%endif
	
	%if c.my_pools.nonadmin_pools:
		<div class="subCategories">${_("MYPOOLS_CONTENT_Pools I've been invited to")}</div>
		<div class="tooltipBoxMyPools">
			<img src="/static/imgs/mypools_header.png" />
		</div>
		%for pool in c.my_pools.nonadmin_pools:
			${mypools_body.render(pool)}
		%endfor
	%endif
	
	%if c.my_pools.closed_pools:
		<div class="subCategories">${_("MYPOOLS_CONTENT_Closed Pools")}</div>
		<div class="tooltipBoxMyPools">
			<img src="/static/imgs/mypools_header.png" />
		</div>
		%for pool in c.my_pools.closed_pools:
			${mypools_body.render(pool)}
		%endfor
	%endif
	<!--
<div style="margin-top: 20px">
	<%html:button href="/">${_("MYPOOLS_CONTENT_Create new Pool")}</%html:button>
	</div>
-->
</div>