<%namespace name="html" file="../widgets/html_elems.html"/>

<%def name="render_tabs(selected)">
	<div class="tabContainer">
		%if selected=="mypools":
			<a class="selected"><span>${_("MYPOOLS_TAB_My Pools")}</span></a>
			<a class="unselected" href="${url(controller='mypools', action='friends')}"><span>${_("MYPOOLS_TAB_Friends' Pools")}</span></a>
		%else:
			<a class="unselected" href="${url('controller', controller='mypools')}"><span>${_("MYPOOLS_TAB_My Pools")}</span></a>
			<a class="selected"><span>${_("MYPOOLS_TAB_Friends' Pools")}</span></a>
		%endif
	</div>
</%def>

<%def name="render_header()">
	<div class="raheader">
		<div class="raheadercol raheadercol_profile"><span class="Icon"></span><div>Recipient</div></div>
		<div class="raheadercol raheadercol_product"><span class="Icon"></span><div>Gift</div></div>
		<div class="raheadercol raheadercol_pool"><span class="Icon"></span><div>Funders</div></div>
		<div class="raheadercol raheadercol_details"><span class="Icon"></span><div>Details</div></div>
	</div>
</%def>
<%def name="render(ra_entry)">
	<div class="rabody ${ra_entry.is_admin and 'rabody_admin' or ''} ${ra_entry.is_contributor and 'rabody_contributor' or ''} rabody_${ra_entry.status.lower()}">
		<div class="rabodycol profile">
			<div class="desc">${ra_entry.receiver}</div>
			<div class="imgContainer"><img class="profile" src="${ra_entry.get_profile_pic('RA')}"/></div>
		</div>
		<div class="rabodycol product">
			<div class="desc">${ra_entry.get_product_display_name()}</div>
			<div class="imgContainer"><img class="product" src="${ra_entry.get_product_pic('RA')}" alt="${ra_entry.get_product_display_name()}"/></div>
		</div>
		<div class="rabodycol pool">
			
			<div class="desc">${_("MYPOOLS_CONTENT_Funders invited:")} ${ra_entry.no_invitees}<br>
			${_("MYPOOLS_CONTENT_Already chipped in:")} ${ra_entry.no_contributors}</div>
			<div class="imgContainer"><img class="pool" src="${ra_entry.get_pool_picture('MYPOOLS')}"/></div>
		</div>
		
		<div class="rabodycol details">
			
				<div class="imgContainer">
				%if ra_entry.is_contributor:
					<div class="contributor_chippid_in mypoolspage_contributor"><div class="content">${_("MYPOOLS_CONTENT_Chipped In")|n}</div></div>
				%endif
				<div class="row">
				%if ra_entry.is_closed():
					<span class="money">${_("MYPOOLS_CONTENT_Closed")}</span>
				%else:
						<span class="label">${_("MYPOOLS_CONTENT_Days Left:")}</span>
						<span class="floaterRight"><span class="money">${ra_entry.get_remaining_days_tuple()[0]}</span></span>
				%endif
				</div>
				<div class="row">
					<span class="label">${_("MYPOOLS_CONTENT_Price:")}</span>
					<span class="floaterRight"><span class="money">
						%if not ra_entry.is_pending:
							${h.format_currency(ra_entry.get_amount_float(),ra_entry.currency)|n}
						%else:
							???
						%endif
					</span></span>
				</div>
				<div class="row">
					<span class="label">${_("MYPOOLS_CONTENT_Already Funded:")}</span>
					<span class="floaterRight"><span class="money green">
						%if not ra_entry.is_pending:
							${h.format_currency(ra_entry.get_total_contribution_float(),ra_entry.currency)|n}
						%else:
							???
						%endif
						
						</span></span>
				</div>
				<div class="row lastPad">
					<span class="label">${_("MYPOOLS_CONTENT_Open:")}</span>
					<span class="floaterRight"><span class="money red">
						%if not ra_entry.is_pending:
							${h.format_currency(ra_entry.get_amount_left_float(),ra_entry.currency)|n}
						%else:
							???
						%endif
					</span></span>
				</div>
				
				
				
				</div>
		</div>
		
			<div class="floaterLeft width150px">
				<span class="privatePublic red">${ra_entry.is_secret and _("MYPOOLS_CONTENT_Secret") or ""} </span>
			%if ra_entry.friend_profile_picture:
				<div class="alsoInvited">
					<img src="${ra_entry.get_friend_profile_pic('PROFILE_S')}" />
					<p class="bold">${ra_entry.friend_name}</p>
					<p>${_("MYPOOLS_LABEL_is in this Pool")}</p>
				</div>
			%endif
			</div>
		
		<div style="position: absolute;right:20px;bottom:18px;"><a class="submitSmall bottom"  href="${url('get_pool', pool_url=ra_entry.p_url)}"><span>${_("MYPOOLS_CONTENT_View")}</span></a></div></div>
	
</%def>