<%namespace name="html" file="../widgets/html_elems.html"/>

<%def name="render_tabs(selected)">
	<div class="tabContainer">
		%if selected=="mypools":
			<a class="selected"><span>${_("MYPOOLS_TAB_My Pools")}</span></a>
			<a class="unselected" href="${url(controller='mypools', action='friends')}"><span>${_("MYPOOLS_TAB_Friends' Pools")}</span></a>
		%else:
			<a class="unselected" href="${url('controller', controller='mypools')}"><span>${_("MYPOOLS_TAB_My Pools")}</span></a>
			<a class="selected"><span>${_("MYPOOLS_TAB_Friends' Pools")}</span></a>
		%endif
	</div>
</%def>

<%def name="render(pool)">
	<div class="rabody ${pool.is_admin and 'rabody_admin' or ''} ${pool.is_contributor and 'rabody_contributor' or ''} rabody_${pool.status.lower()}">
		<div class="rabodycol profile">
			<div class="desc">${pool.receiver}</div>
			<div class="imgContainer"><img class="profile" src="${pool.get_profile_pic('RA')}"/></div>
		</div>
		<div class="rabodycol product">
			<div class="desc">${pool.product_name}</div>
			<div class="imgContainer"><img class="product" src="${pool.get_product_pic('RA')}" alt="${pool.product_name}"/></div>
		</div>
		<div class="rabodycol pool">
			
			<div class="desc">${_("MYPOOLS_CONTENT_Funders invited:")} ${pool.no_invitees}<br>
			${_("MYPOOLS_CONTENT_Already chipped in:")} ${pool.no_contributors}</div>
			<div class="imgContainer"><img class="pool" src="${pool.get_pool_picture('MYPOOLS')}"/></div>
		</div>
		
		<div class="rabodycol details">
			
				<div class="imgContainer">
				%if pool.is_contributor:
					<div class="contributor_chippid_in mypoolspage_contributor"><div class="content">${_("MYPOOLS_CONTENT_Chipped In")|n}</div></div>
				%endif
				<div class="row">
				%if pool.is_closed():
					<span class="money">${_("MYPOOLS_CONTENT_Closed")}</span>
				%else:
						<span class="label">${_("MYPOOLS_CONTENT_Days Left:")}</span>
						<span class="floaterRight"><span class="money">${pool.get_remaining_days_tuple()[0]}</span></span>
				%endif
				</div>
				<div class="row">
					<span class="label">${_("MYPOOLS_CONTENT_Price:")}</span>
					<span class="floaterRight"><span class="money">${h.format_currency(pool.get_amount_float(),pool.currency)|n}</span></span>
				</div>
				<div class="row">
					<span class="label">${_("MYPOOLS_CONTENT_Already Funded:")}</span>
					<span class="floaterRight"><span class="money green">${h.format_currency(pool.get_total_contribution_float(),pool.currency)|n}</span></span>
				</div>
				<div class="row lastPad">
					<span class="label">${_("MYPOOLS_CONTENT_Open:")}</span>
					<span class="floaterRight"><span class="money red">${h.format_currency(pool.get_amount_left_float(),pool.currency)|n}</span></span>
				</div>
				
				
				
				</div>
		</div>
		
			<div class="floaterLeft width150px">
				<span class="privatePublic red">${pool.is_secret and _("MYPOOLS_CONTENT_Secret") or ""} </span>
			%if pool.friend_profile_picture:
				<div class="alsoInvited">
					<img src="${pool.get_friend_profile_pic('PROFILE_S')}" />
					<p class="bold">${pool.friend_name}</p>
					<p>${_("MYPOOLS_LABEL_is in this Pool")}</p>
				</div>
			%endif
			</div>
		
		<div style="position: absolute;right:20px;bottom:18px;"><a class="submitSmall bottom"  href="${url('get_pool', pool_url=pool.p_url)}"><span>${_("MYPOOLS_CONTENT_View")}</span></a></div></div>
	
</%def>