.wrapHeaderIframe {background-color:#f4f4f4;border-bottom:1px solid #e5e5e5;float: left;width: 100%;}
.contentIframe h2 {float: left;line-height: 45px;margin: 5px 30px 0;}
.contentIframe h3.subheading {line-height: 36px;margin: 10px 30px 0;}
.merchantLogo {border: 1px solid #E5E5E5;margin: 4px 0 2px 30px;float: left;}

.sliderContainer {width:660px;position:relative;margin: 0 30px;}
.sliderContainerWindow {width:660px;overflow:hidden;position: relative;height:210px;background:url("../partner/slides/background.png");}

.sliderContainer .sliderController{height:60px; width:72px;position:absolute;top:75px;background-image:url("../partner/slides/arrows.png");cursor:pointer;}
.sliderContainer .controllerLeft{left:-20px;background-position:0 0;}
.sliderContainer .controllerRight{right:-20px;background-position:0 -60px;}
.sliderContainer .controllerLeft:hover{background-position:-72px 0;}
.sliderContainer .controllerRight:hover{background-position:-72px -60px;}

.contentSlider{height:210px;position:absolute;left:0px;top:0px;}
.sliderPane {height:210px;width:660px;position:relative;float:left}
.sliderPane .slideText{position:absolute;top:40px;left:70px;width:165px;text-shadow: 0 -1px 0 #2C2C2C;color:white}
.sliderPane .firstSlide{color:black;text-shadow: 0px 1px 0 white;}
.sliderPane .slideTitle{display: block;font-size: 16px;font-weight: bold;line-height:40px;}
.sliderPane .slideCaption{}
.controllerNumbered {position:absolute;top:10px;right:0px}
.controllerNumbered .sliderNumberControl{
	text-indent: -1px;width:20px;height:20px;font-weight:bold;font-size:12px;color:#adadad;cursor:pointer;line-height: 20px;text-align: center;margin-right: 10px;
	background-image:url("../partner/slides/slider_numbers.png");
	background-position:-21px 0;
}
.controllerNumbered .sliderNumberControl.selected{color:white;background-position:0 0;cursor:default;}
.controllerNumbered .sliderNumberControl:hover{color:white;background-position:0 0;}

.contentIframe .iFrameHomeBoxes {float: left;margin: 0 0 30px 30px;}
.contentIframe .iFrameHomeBox {float:left;position:relative;border:1px solid #e5e5e5;width:148px;margin-right:20px;}
.contentIframe .iFrameHomeBox img{border-bottom:1px solid #e5e5e5;padding:5px;}
.contentIframe .iFrameHomeBox .pLink{display: block;font-size: 10px;line-height: 30px;margin: 0 10px;overflow: hidden;white-space: nowrap;width: 128px;}

.shadBigCorner{background: url("/static/imgs/shadow-corner.png") no-repeat scroll 0 -11px transparent;bottom: -15px;height: 15px;left: 1px;position: absolute;width: 650px;}
.shadTinyBottom{display:block;background: url("/static/imgs/shadow-corner.png") no-repeat scroll 100% 0px transparent;bottom: -10px;height: 10px;position: absolute;width:148px}

.wrapContentIframe {float:left;width:100%}
.wrapFooterIframe{border-top:1px solid #e5e5e5;clear:both;height:40px;position:absolute;width:100%;bottom:0px}
.wrapFooterIframe .footerIframe {border-top:1px solid white;background-color:#f4f4f4;float:left;width:100%}
.wrapFooterIframe span{color: #ADADAD;font-size: 10px;line-height: 40px;text-shadow: 0 1px 0 white;}
.wrapFooterIframe span img{position:relative;top:4px;margin-left:5px;}


.wrapContentIframe .getStarted{margin: 15px 0 0 30px;}
.wrapIframeProductArea {position:relative;margin: 30px 0 0 0}
.wrapIframeProductArea .selectedProduct { margin: 0 0 0 90px;}
.wrapIframeProductArea .selectedProduct .prod {height:115px;width:150px;position:relative;border: 1px solid #e4e4e4;text-align:center;float:left;}
.wrapIframeProductArea .selectedProduct .prod div{height:105px;width:140px;overflow:hidden;position:relative;margin: 5px auto;text-align:center;}
.wrapIframeProductArea .selectedProduct .prod div img{height:105px;}
.wrapIframeProductArea .selectedProduct .price {clear: both;color: #2C2C2C;float: left;font-size: 14px;margin-right: 10px;}
.wrapIframeProductArea .selectedProduct .shipping {color: #adadad;float: left;font-size: 11px;margin-right: 15px;}
.wrapIframeProductArea .selectedProduct .productDetails {float:left;margin: 28px 0 0 30px;width: 420px;line-height: 40px;}

.wrapIframeProductArea .productSelector {position:absolute;top:0px;left:269px;font-size:14px;font-weight:bold;padding: 2px 0;color:#333;max-width: 420px;white-space:nowrap;overflow:hidden;font-family: Arial,Helvetica,sans-serif;}
.wrapIframeProductArea select.productSelector {border: 1px solid #E5E5E5;}


.wrapTypeAheadTabs {width: 98.5%;float:right;background-color:white;border:1px solid #f3f3f3;}
.wrapTypeAheadTabs .waTabs{float:right;padding:10px 0;background-color: #f3f3f3;}
div.waTabs span {
    color: #999999;
    cursor: pointer;
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: 40px;
    text-align: left;
    width: 140px;
	padding-left:30px;
}
div.waTabs span.selected {
    background: url("../imgs/recipient_selector_frame.png") no-repeat scroll 100% 0 transparent;
    color: #2C2C2C !important;
	position:relative
}

.wrapTypeAheadTabs  .first {margin-top: 15px;}
.wrapTypeAheadTabs .subTypeAheadTab{background-color: white;border-right: 1px solid #F3F3F3;float: left;width: 507px !important;padding: 0 !important;height: 140px;}
.receiverFilter.selected {width:169px;margin-left:5px;}
.typeAheadSelector{width: 278px;float:left;position:relative;height:140px;}
.typeAheadSelector img.smallProfPic{height: 30px;position: relative;float:left;width: 30px;margin-top: 15px;border: 1px solid #D1D1D1;}
.typeAheadSelector .close{cursor: pointer;position: absolute;right: 0;text-transform: lowercase;top: 15px;}
.typeAheadSelector .close:hover{background-color:#d1d1d1}


.receiverTypeAhead{border: 1px solid #B9B9B9;font-size: 12px;line-height: 30px;width: 278px !important;margin: 5px 10px}
.receiverTypeAhead > div {float:None !important}

.wrapTypeAheadTabs .twitterBtn, .wrapTypeAheadTabs .facebookBtn {margin: 55px auto}
.wrapTypeAheadTabs .txtMail{margin: 15px 0 0;width:50%;}
.wrapTypeAheadTabs .btnContainer{padding-top:5px;}

.receiverFilter {width:206px;margin-top: 15px;}

.receiverList{border: 1px solid #D1D1D1;max-height: 204px;padding: 0 5px;position: absolute;top: 45px;width: 206px;z-index: 1;}
.receiverList ul li.invitee_row {width:100%;}
.receiverList ul li.invitee_row .spacer {padding: 3px;border:1px solid transparent;float: None !important;position: relative;}
.receiverList ul li.invitee_row:hover .spacer, .inviterList ul li.invitee_row:hover{border:1px solid #d6d6d6;background-color:#f4f4f4;cursor:pointer}
