.wrapHeaderIframe {background-color:#f4f4f4;border-bottom:1px solid #e5e5e5;}
.contentIframe h2 {line-height: 50px;margin: 0 30px;}
.contentIframe h3.subheading {line-height: 36px;margin: 10px 30px 0;}

.sliderContainer {width:660px;position:relative;margin: 0 30px;}
.sliderContainerWindow {width:660px;overflow:hidden;position: relative;height:210px;}
.sliderContainer .controllerLeft{height:30px; width:40px;background-color:blue;position:absolute;top:90px;left:-5px}
.sliderContainer .controllerRight{height:30px; width:40px;background-color:blue;position:absolute;top:90px;right:-5px}

.contentSlider{height:210px;position:relative;position:absolute;left:0px;top:0px;}
.sliderPane {height:208px;width:658px;border:1px solid black;background:lightblue;float:left}
.controllerNumbered {position:absolute;top:10px;right:4px}
.controllerNumbered .sliderControl{margin: 0 5px;padding: 0 5px;font-weight:bold;font-size:14px;cursor:pointer;
	background:white;
	-moz-border-radius:15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	border-top: 1px solid black;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	border-left: 1px solid black;
}
.controllerNumbered .sliderControl.selected{color:white;cursor:normal;
	background:black;
	border-top: 1px solid white;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	border-left: 1px solid white;
}
.contentIframe .iFrameHomeBoxes {float: left;margin: 0 0 30px 30px;}
.contentIframe .iFrameHomeBox {float:left;position:relative;border:1px solid #e5e5e5;width:148px;margin-right:20px;}
.rosePlacement {position:relative}
.rosePlacement span.rose{float:left;position:absolute;left:0px;top:15px;display:block;padding:0 10px;font-size:11px;}
.contentIframe .iFrameHomeBox img{border-bottom:1px solid #e5e5e5;padding:5px;}
.contentIframe .iFrameHomeBox .pLink{display: block;font-size: 10px;line-height: 30px;margin: 0 10px;overflow: hidden;white-space: nowrap;width: 128px;}

.shadBigCorner{background: url("/static/imgs/shadow-corner.png") no-repeat scroll 0 -10px transparent;bottom: -15px;height: 15px;left: 1px;position: absolute;width: 650px;}
.shadBigLeftCorner{background: url("/static/imgs/shadow-corner.png") no-repeat scroll 0 -12px transparent;bottom: -10px;height: 10px;position: absolute;}
.shadBigRightCorner{background: url("/static/imgs/shadow-corner.png") no-repeat scroll 100% -12px transparent;bottom: -10px;height: 10px;position: absolute;}
.contentIframe .iFrameHomeBox .shadBigLeftCorner{width:74px;left:0px;}
.contentIframe .iFrameHomeBox .shadBigRightCorner{width:74px;right:0px;}

.wrapContentIframe {border-bottom:1px solid #e5e5e5;float:left}
.wrapFooterIframe{border-top:1px solid white;background-color:#f4f4f4;clear:both;height:40px}
.wrapFooterIframe span{color:#666;font-size: 10px;line-height:40px}
.wrapFooterIframe span img{position:relative;top:4px;margin-left:5px;}


.wrapContentIframe .getStarted{margin: 15px 0 0 30px;}
.wrapIframeProductArea {position:relative;margin: 30px 0 0 0}
.wrapIframeProductArea .selectedProduct { margin: 0 0 0 90px;}
.wrapIframeProductArea .selectedProduct .prod {height:115px;width:150px;position:relative;border: 1px solid #e4e4e4;text-align:center;float:left;}
.wrapIframeProductArea .selectedProduct .prod div{height:105px;width:140px;overflow:hidden;position:relative;margin: 5px auto;text-align:center;}
.wrapIframeProductArea .selectedProduct .prod div img{height:105px;}
.wrapIframeProductArea .selectedProduct .price {float:left;clear:both;font-size:14px;color:#666;margin-right:15px;}
.wrapIframeProductArea .selectedProduct .productDetails {float:left;margin: 28px 0 0 30px;width: 420px;}

.wrapIframeProductArea .productSelector {position:absolute;top:0px;left:269px;font-size:14px;font-weight:bold;padding: 2px 0;color:#333;max-width: 420px;white-space:nowrap;overflow:hidden}



.productBox {margin: 30px 0 0;border-bottom: 1px solid #fff;}
.productBoxInner {background-color: #F9FAF5;border: 1px solid #E5E5E5;padding: 5px 3px;width: 220px;}
.productBox img {margin:0 !important;border:0px solid transparent !important;height:58px !important; max-width:60px;}
.productBox.rosePlacement span.rose {font-size: 9px;left: 0;padding: 0 5px;position: absolute;top: 5px;}
.productBox p.title{padding: 0 5px;overflow: hidden;}
.productBox p.title span{display:block;max-height: 35px;}

.wrapTypeAheadTabs {width: 98.5%;float:right;background-color:white;border:1px solid #f3f3f3;}
.wrapTypeAheadTabs .waTabs{float:right;padding:10px 0;background-color: #f3f3f3;}
div.waTabs span {
    color: #999999;
    cursor: pointer;
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: 40px;
    text-align: left;
    width: 140px;
	padding-left:30px;
}
div.waTabs span.selected {
    background: url("../imgs/recipient_selector_frame.png") no-repeat scroll 100% 0 transparent;
    color: #2C2C2C !important;
	position:relative
}
div.waTabs span .hider{background-color: white;display: none;left: -4px;line-height: 30px;position: absolute;top: 5px;width: 3px;}
div.waTabs span.selected .hider{display:block;}

.wrapTypeAheadTabs  .first {margin-top: 15px;}
.wrapTypeAheadTabs .subTypeAheadTab{background-color: white;border-right: 1px solid #F3F3F3;float: left;width: 507px;}
.receiverFilter.selected {width:169px;margin-left:5px;}
.typeAheadSelector{width: 278px;float:left;position:relative;height:140px;}
.typeAheadSelector img.smallProfPic{height: 30px;position: relative;float:left;width: 30px;margin-top: 15px;border: 1px solid #D1D1D1;}


.receiverTypeAhead{border: 1px solid #B9B9B9;font-size: 12px;line-height: 30px;width: 278px !important;margin: 5px 10px}
.receiverTypeAhead > div {float:None !important}

.wrapTypeAheadTabs .twitterBtn, .wrapTypeAheadTabs .facebookBtn {margin: 32px auto}
.receiverFilter {width:206px;margin-top: 15px;}

.receiverList{border: 1px solid #D1D1D1;max-height: 204px;padding: 0 5px;position: absolute;top: 45px;width: 206px;z-index: 1;}
.receiverList ul li.invitee_row {width:100%;}
