body {
	margin: 0px;
	text-align: center;
	font-family: Arial, "MS Trebuchet", sans-serif !important;
	font-size:12px !important;
	background-color: #333333 !important;
}

div#outercontainer {
	width:100%;
	padding: 0px 0px 30px 0px !important ;
	background: #e8f7fd url(../imgs/body_bg.png) 0 0 repeat-x !important;
	float:left;
}

* { margin: 0; padding: 0; outline: none}

a.gotopage {
	background:url("/static/imgs/button_gotopage.png") no-repeat scroll 0 0 transparent;
	height:18px;
	position:absolute;
	right:10px;
	width:25px;
	top: 3px;
}
a.gotopage:hover {
	background-position: 0px -18px;
}
img {
	border: 0px transparent solid;
}
hr {
	clear: both;
}
h2 { 
	font-family: "Trebuchet MS"; font-size: 20px !important; font-weight: bold !important; color:#403834 !important; margin: 0 !important; line-height: normal !important;;
}
h3 { 
	font-family: "Trebuchet MS" !important; font-size: 14px !important; font-weight: bold !important;; line-height: 14px !important
}

.inactive .right_bracket {
	background:url("/static/imgs/inputfield.png") no-repeat scroll -475px -545px transparent !important;
}
.inactive .left_bracket {
	background:url("/static/imgs/inputfield.png") no-repeat scroll -454px -545px transparent !important;
}


.hidden {
	display: None;
}
.left {
	position: relative;
	float: left;
}
.right {
	position: relative;
	float: right;
}
.hlast {
	margin-right: 0px !important;
}
.vlast {
	margin-bottom: 0px !important;
}
.hover {cursor:pointer}

/*-------------------------------------Standard Inputs------------------------------------------------------*/
div.forminputline {
	position: relative;
	height: 50px;
}
div.forminputline label {
	display: block;
}

input.error, select.error {
	border: 1px solid #ff0000;
}
div.forminputline div.error_message {
	color:#FF0000;
margin-left:150px;
margin-top:3px;
right:0;
text-align:left;
top:19px;
width:200px;
}
/*
div.forminputline div.error_checkbox {
	margin: 6px 0px;
}
*/

/*-------------------------------------Header------------------------------------------------------*/

.logoHeader {
	display:block;
	float:left;
	height:75px;
	margin:15px 0 0 17px;
	width:372px;
}
ul.navigation {
	list-style-type:none;
	padding:0;
	margin:0;
	clear: both;
	float:left;
	z-index: 999;
	position: relative;
	width: 100%;
	border-top:2px solid white;
	background:  url("../imgs/menu_tab_bg.png")  0 0 repeat-x;
}
ul.navigation li {
	float:left;
}
ul.navigation li a {
	color:#333333;
	display:block;
	font-family:"Trebuchet MS",Helvetica,Jamrul,Arial,sans-serif;
	font-size:15px;
	height:39px;
	line-height:45px;
	margin-left:30px;
	padding-bottom:10px;
	text-decoration:none;
}
ul.navigation li.selected a {
	background: url(../imgs/arrow.gif) bottom center no-repeat;
}
div#headercontainer a.button_container {
	width: 110px;
	text-align: center;
}
#home_create_pool_button {
	bottom:13px;
	position:absolute;
	right:30px;
	z-index:999;
}

.BtnRed{ float:right !important}
/*-------------------------------------Main Structure Outline -------------------------------------*/
div#container {
	text-align: left;
	margin: 0px auto;
	position: relative;
	width: 980px;
}
div#headercontainer {
	background:white url(/static/imgs/header/header_bg.png) center top no-repeat;
	position: relative;
	float: left;
	width: 100%
}
#page_slogan_info {
	color:#B70158;
	font-family:"Trebuchet MS", Helvetica, Arial, sans-serif;
	font-size:28px;
	font-style:italic;
	height:50px;
	margin:10px 0 10px 30px;
	position:absolute;
	right:10px;
	top:90px;
}
#page_slogan_info .subtext {
	color:#FFFFFF;
	display:block;
	font-family:Helvetica, Arial, sans-serif;
	font-size:14px;
	font-style:normal;
	position:relative;
}


#loginpanel {
	position: absolute;
	top: 10px;
	right: 30px;
	color: #ffffff;
}
#loginpanel * {
	color: #ffffff;
	font-size: 11px;
	line-height: 11px
}
#loginpanel a.login_loginlink{
	cursor:pointer;
}
#loginpanel a.login_loginlink img{
	position: relative;
	top: 5px;
	padding-left:10px;
}
#login_panel_profile_pic {
	width: 30px;
	height: 30px;
	position: absolute;
}
span.name {
	margin-left: 33px
}
#body_outer_container {
	background-color: #ffffff;
	position: relative;
	clear: both;
}
#body_container {
	clear:both;
	background-color: #ffffff;
	display: block;
	padding: 0px;
	position: relative;
}
#body_container.index{min-height:405px;}

#body_container div.innerbody {
	background-color:  #bbe3f7;
	padding-top: 1px;
}
#body_container div.innerbody_blue {
	background-color:  #fff;
	padding-top: 1px;
}
div.darkborder {
	border-bottom: 1px solid #7a9299;
	border-right: 1px solid #7a9299;
	border-left: 1px solid #b6dae5;
	border-top: 1px solid #b6dae5;
}
div.lightborder {
	border-bottom: 1px solid #95b1ba;
	border-right: 1px solid #95b1ba;
	border-left: 1px solid #d4e6ec;
	border-top: 1px solid #d4e6ec;
}
/*-------------------------------------Frontpage Panels/Popups-------------------------------------*/

div.frontpagebutton {
	position: relative;
	float: left;
	background-color:#bbe3f7;
	width:228px;
	height:300px;
	margin: 1px;
}
div.frontpagebutton.first {
	margin: 1px 1px 1px 0px;
}
#pool_configurator div.frontpagebutton div.extender {
	position: absolute;
	width: 228px;
	height: 25px;
	left: 0px;
	bottom: -25px;
	background-color:#ECF8Fd;
}

div.frontpagebutton.funders {
	position: relative;
	height: 120px;
	width: 136px;
	margin-right: 22px;
	margin-top: 40px;
}
#funders_panel .hpbutton  .button_content {
	width: 202px !important
}
#funders_panel_tooltip {
	color:#B70158;
	font-weight:bold;
	position:absolute;
	top: -45px;
}
#pool_configurator div.hpbutton {
	position: relative;
	width: 100%;
	height: 100%;
	padding-top: 1px;
}
#pool_configurator div.front_panel_active{ background-color: #ECF8Fd}
#pool_configurator div.hpbutton a.button {
	position: relative;
	margin: 15px;
	display:block;
	text-align: center;
	font-family: "Trebuchet MS", Helvetica, Jamrul, Arial, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color:#333;
}
#pool_configurator div.hpbutton a.button.funders {
	margin: 24px;
}
#pool_configurator div.hpbutton div.button_content {
	position: relative;
	width:178px;
	margin: 0px auto;
}
#pool_configurator div.hpbutton div.button_content img.loaders_animation {
	position: absolute;
	top: 55px;
	left: 80px;
}
#pool_configurator div.hpbutton a.content {
	display:block;
	position: relative;
	text-align: left;
	height:123px;
	width:174px;
	padding: 0 2px 2px 2px;
	background: url(../imgs/header/backgroundHomeShadow.png) 0 0 no-repeat;
}
#pool_configurator div.hpbutton a.content.funders {
	margin:60px 0 50px;
	height:52px;
}
#pool_configurator div.hpbutton img.button_content {
	height:123px;
	width:auto;
	max-width:174px;
	text-align: left;
	display: block;
	margin: 0 auto;
	position: relative;
}
#pool_configurator div.hpbutton div.label {
	text-align: left;
	margin-top: 10px;
	font-family: "Trebuchet MS", Helvetica, Jamrul, Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color:#403834;
	overflow: hidden;
	width:174px;
	height: 75px;
}
#pool_configurator div.hpbutton div.sub_label {
	text-align: left;
	margin-top: 5px;
	font-family: Arial, Helvetica, Jamrul, Arial, sans-serif;
	font-size: 12px;
	font-weight:normal;
}
#button_panel_container {
	display: None;
	margin-top: 20px;
	background-color:#ECF8Fd;
	clear: both;
	position: relative;
	margin-right: 30px
}
#button_panel.product {
	padding:15px 0 15px 0;
	position: relative;
}
#button_panel.receiver {
	padding:0px;
	position: relative;
}
#button_panel.occasion {
	position: relative;
}

#button_panel h2{
	margin:0;
	color:#403834;
	font-family:"Trebuchet MS",Helvetica,Jamrul,Arial,sans-serif;
	font-size:20px;
	font-weight:bold;
}
#button_panel a.button_panel_closer {
	background:url("/static/imgs/inputfield.png") no-repeat scroll -271px -30px transparent;	
	height:19px;
	position:absolute;
	right:5px;
	top:5px;
	width:17px;
	cursor:pointer;
}
#get_started {
	float:right;
	font-weight:normal;
	position:relative;
}
#get_started div.content {
	float:right;
	margin:30px 30px 15px 15px;
	position:relative;
}
div.panel_title, div.panel_title_no_margin, div.panel_title_black, div.panel_title_left_margin {
	display: block;
	position: relative;
	font-size: 20px;
	font-weight: bold;
	color: #403834;
	font-family: "Trebuchet MS", Helvetica, Jamrul, Arial, sans-serif;
	line-height: 30px
}
div.panel_title {
	padding: 15px 30px
}
div.panel_title_no_margin {
	margin: 15px 0px;
}
div.panel_title_left_margin {
	padding: 15px 0px 0 0px;
}

div.panel_title a, div.panel_title span {
	display: block;
	float:left
}
div.panel_title_black {
	margin: 15px 0px;
	padding: 10px;
	background-color:#403834;
	color:white;
}
div.panel_content {
	clear:both;
	padding: 20px;
	margin: 20px;
	position: relative;
}
div.panel_content_no_margin {
	clear:both;
	padding: 20px;
	position: relative;
}

div.panel_content.white {
	background-color: white;
}
div.panel_content_inner {
	margin: 40px 20px 20px;
}
/* -------------------------- OCCASION Panel ------------------------- */
#button_panel.occasion {
}
div#occasion_button_bar {
	width: 920px;
	float: left;
}
#button_panel.occasion a.occasion_panel_button {
	position: relative;
	margin: 0px 15px 20px 30px;
	float: left;
}
#button_panel.occasion div.selector {
	margin: 1px 1px 1px 1px;
	width: 132px;
	float: left;
}
#button_panel.occasion div.selector.selected {
	margin: 0px 0px 0px 0px;
	border: 1px solid #ffffff;
	background: white;
}
#button_panel.occasion div#occasion_date_input_bar {
	clear:both;
	margin:10px 30px 30px 0px;
	position:relative;
	text-align:center;
	width:920px;
}
#button_panel.occasion div#occasion_date_input_bar input[type=button] {
	float: right;
}
#widget_datestamp {
	width: 100px;
}
#button_panel.occasion a.occasion_panel_button img {
	position: relative;
	width: 132px;
	height: 83px;
	margin-bottom: 5px;
}
#button_panel.occasion a.occasion_panel_button div.label {
	text-align:center;
	color:#403834;
}
.dijitTextBoxFocused .dijitInputContainer, .dijitTextBox {
	background-color: transparent !important;
	color: #ffffff !important;
}
.dijitTextBoxError,  .dijitTextBoxError .dijitInputContainer {
	background-color: transparent !important;
}
.dijitTextBoxError input.dijitValidationInner, .dijitTextBox input.dijitArrowButtonInner {
	height: 20px !important;
}
.dijitTooltipContainer {
	left: 10px;
}
#product_suggestions {
	padding-bottom:20px;
	margin-left: 30px;
	float:left;
	width: 100%;
}
#button_panel.product div.productsuggestion {
	cursor:pointer;
float:left;
font-size:13px;
margin-right:30px;
position:relative;
width:136px;
}
a.productsuggestion{ display:block; background:url("../imgs/backgroundSearchProducts.png") no-repeat scroll 0 0 transparent;padding:3px 0 0;
}
a.productsuggestion span{ display:block; margin-top:10px; font-family:Trebuchet MS; font-size:14px; font-weight:bold; text-align:center}
a.productsuggestion img{ display:block; margin:0 auto}
#button_panel.product div.productsuggestion img.productsuggestion {
	width: 129px;
	height:129px;
}
#product_search_form {
	padding-top:10px;
}
#product_browser_container {
	position: relative;
	background-color: white;
	padding-top: 1px;
}
#product_browser {
	position: relative;
	background-color: white;
	border-top: solid 6px #bbe3f7;
	margin-top: 30px;
}
#product_browser div.product_sorter {
	float:right;
	position:relative;
	top:0px;
}
#product_browser div.product_display {
	position: relative;
	clear: both;
	height: 110px;
}
#product_browser div.product_display.middle {
	border-bottom:solid 2px #bbe3f7;
}
#product_browser div.product_display div.pcol {
	position: relative;
	float: left;
	height: 92px;
	margin-top: 18px;
	margin-right: 10px;
	overflow:hidden;
}
#product_browser div.product_display div.programimage {
	margin-right: 0px;
}
#product_browser div.pimage {
	width: 75px;
	margin-left:10px;
	margin-right:10px;
	text-align:center;
}
#product_browser div.pimage.pcol img.productimage.widthfirst {
	max-width: 75px;
	max-height: 75px;
 width: expression(this.height > 75 ? "auto" : true);
 height: expression(this.height > 75 ? "75px" : true);
}
#product_browser div.pimage.pcol div.imageborder {
	width: 75px;
	height: 75px;
	overflow:hidden;
}
#product_browser div.ptitle_price {
	width:120px;
}
#product_browser div.ptitle_price.pcol div.product_title {
	overflow: hidden;
	font-weight: bold;
	height:60px;
	color: #648997;
	font-size: 13px;
	line-height:115%;
}
#product_browser div.ptitle_price.pcol div.product_price {
	bottom: 18px;
	font-weight: bold;
	font-size: 13px;
}
#product_browser div.ptitle_price.pcol div.product_shipping {
	position: absolute;
	bottom: 2px;
	font-weight: normal;
	font-size: 10px;
}
#product_browser div.pdescription {
	width: 410px;
}
#product_browser div.pselector {
	position: relative;
	float: right;
	margin: 40px 20px 0px 0px;
}
#product_browser a.more_link {
	position: absolute;
	right: 10px;
	bottom: 2px;
	color: #C11164;
}
#category_tags {
	position: absolute;
	width: 920px;
	top:-25px;
	height: 20px;
	overflow: hidden
}
#category_tags div.category_tags {
	position: relative;
	padding: 2px 5px;
	float:left;
	border: 1px solid #bbe3f7;
}
#category_tags div.category_tags.selected {
	color: white;
	position: relative;
	padding: 2px 5px;
	background-color:#648997;
	border: 1px solid #bbe3f7;
}
#product_paginator {
	text-align: center;
	padding: 0px 10px 10px;
}
#product_paginator div.product_paginator {
	margin: 15px auto;
}
#product_paginator div.product_paginator span {
	margin: 2px;
	padding: 1px 5px;
	position: relative;
	color:#999;
}
#product_paginator div.product_paginator span.selected {
	color: white;
	background-color:#648997;
	border: 1px solid #bbe3f7;
}
#product_paginator div.product_paginator span.middle, #product_paginator div.product_paginator span.first {
	padding-right: 5px;
	border-right: 1px solid #999;
}
/*------------------------------------- LOGIN/SIGNUP PAGE -------------------------------------*/

#login_form_container {
	width: 445px;
}
#login_form .forminputline{ padding:15px}
#signup_form_container {
	width: 445px;
}
#login_form_container div.panel_content {
	height: 360px;
	padding: 0px;
	padding: 1px 0px 0px 0px;
}
#login_signup_container div.panel_title{ padding:0; line-height:26px;}
.forminputline.signup_login input {
	width:229px;
}
#signup_form_container div.panel_content {
	height: 360px;
	padding: 1px 0px 0px 0px;
}
.forminputline.signup_login label {
	width: 60px;
	text-align: right;
	margin: 5px;
}

#signup_form_container label {
	width: 80px;
	text-align: right;
	margin-left: 0px;
	margin-right: 0px;
}
#signup_form_container input {
	width: 229px; display:bloc
}
#signup_form_container .forminputline{ padding-bottom:15px}

#login_signup_container div.forminputline, #pwd_form_container div.forminputline {height:auto;position:relative;}
#login_signup_container div.forminputline .error_message, #pwd_form_container div.forminputline .error_message{left:185px}
#login_signup_container div.forminputline label, #pwd_form_container div.forminputline label {
margin:3px 0 0 0;
text-align:left;
width:150px;
float:left;
font-size:12px;
font-family:Arial, Helvetica, sans-serif
}
#login_signup_container  .panel_content_inner{ border:15px solid #BAE3F7;
float:left;
margin:10px 0 0;
width:415px;}
#signup_form_container .panel_content_inner{ width:385px; padding:15px;	min-height:312px;
}
.lostpass{ display: block; margin-top: 10px; color:#B70158;margin-left:150px;
margin-top:3px; font-size:11px}
.maleFemale {}
.mandatoryPad{ padding-top: 20px}
.maleFemaleContainer{ padding-bottom: 5px; float:left}
p.termsOf{ clear:both; font-size:11px; width:280px; float:left}
p.termsOf a{ color:#B70158;}
/*------------------------------------- INVITE PAGE -------------------------------------*/

#receiver_selector_container {
	position:relative;
	background-color:#BBE3F7;
}
#invite_panel_header .invite_pool_panel.first {
	margin: 30px 0px 0px 120px;
}
#invite_panel_header .invite_pool_panel {
	position: relative;
	width:185px;
	float: left;
	color: #333;
	margin: 30px 0px 0px 60px;
}
#invite_panel_header .invite_pool_panel div.label {
	text-align: left;
	margin: 5px 0px;
	font-family: "Trebuchet MS", Helvetica, Jamrul, Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color:#403834;
	overflow: hidden;
}
#invite_panel_header .invite_pool_panel .picture {
	background:url("../imgs/header/backgroundHomeShadow.png") no-repeat scroll 0 0 transparent;
display:block;
height:123px;
padding:0 2px 2px;
position:relative;
text-align:left;
width:174px;
}
#invite_panel_header .invite_pool_panel .picture img {
	height:123px;
	max-width:174px;
	text-align:left;
	width:auto;
	margin: 0 auto;
	display: block
}
#inviteheader {
	position:relative;
	text-align: left;
	padding-top: 1px;
	border-top:1px solid #81cbef;
	margin-top: -1px
}
#inviteheader.fb {
	height: 80px;
}
#inviteheader.inviteelist {
	height:55px;

}
#inviteall {
	margin-bottom:20px;
}
#inviteheader .mutual_toggle_container {
	position: absolute;
	top: 37px;
	left: 0px;
}
#inviteheader input, #inviteheader .mutual_toggle_container {float:left;}
#inviteheader input{ margin-right:10px}

div.panel_title a.methodselector,  {
	font-family:Arial, Helvetica, Jamrul, Arial, sans-serif;
	font-style: normal;
	padding-right:15px;
	position:relative;
	text-align:center;
	z-index:2;
}
div.panel_title a.methodselector span {
	padding-left: 15px;
	padding-bottom: 2px;
	padding-top: 2px;
	font-family: Trebuchet MS;
	font-weight: normal !important;
	height: 30px;
	line-height: 30px;
}
div.panel_title a.methodselector.ajaxlink span {
	cursor: pointer;
}
#lowerbody_container.networkinviter a.selected span {
	background: url(../imgs/inputfield.png) 0 -272px no-repeat;
	padding-left: 15px;
	cursor: pointer;
	padding-bottom: 2px;
	padding-top: 2px
}
.selectFriend {
	padding-right: 15px;
	padding:0px 10px 0px 0;
	float: left;
	display: block;
	height: 30px;
	line-height: 30px;
	font-size:18px
}
.panel_title a.methodselector, .panel_title a.methodselector img {
	position:relative;
}
#button_panel a.methodselector{ display: block; position: relative; z-index: 2; float: left;margin-left: 5px;padding-right:15px;}
#button_panel.receiver a.methodselector.selected, #button_panel.product a.methodselector.selected {
	/*front page only*/
	background:url("../imgs/inputfield.png") no-repeat scroll 100% -322px transparent;
	font-family:Arial, Helvetica, Jamrul, Arial, sans-serif;
	font-style:normal;
	padding-right:15px;
	position:relative;
	text-align:center;
	z-index:2;
	margin-left:0px;	
	line-height:30px;
	height:30px;
	display:block;
	float:left;
	margin-left: 5px
}
#button_panel.receiver a.selected span, #button_panel.product a.selected span {
	/*front page only*/
	background:url("../imgs/inputfield.png") no-repeat scroll 0 -272px transparent;
	cursor:pointer;
	padding-bottom:0px;
	padding-left:15px;
	padding-top:0px;
	line-height:30px;
	height:30px;
	display:block;
	float:left;
	margin-right: 0px
	
}
#button_panel a.methodselector span {
	padding-bottom:0;
	padding-left:15px;
	padding-top:0;
	font-size:18px;
	color:#403834;
	float:left;
	line-height:30px; height:30px
}
#button_panel a.methodselector.ajaxlink span {
	cursor:pointer;
}
.selectyourself {
	padding-left: 30px !important;
	position: relative;
	cursor: pointer
}
.selectyourself img {
	position: absolute;
	left: 0;
	top: -5px
}
#lowerbody_container a.selected {
	/*invite page only*/
	/* background-color:#BBE3F7; */
	font-family:Arial, Helvetica, Jamrul, Arial, sans-serif;
	font-style: normal;
	padding-right:15px;
	position:relative;
	text-align:center;
	z-index:2;
	background: url(../imgs/inputfield.png) 100% -322px no-repeat;
}
#receiver_selector_container #inviteheader div.headline {
	margin:20px;
}
#inviter #inviteheader div.headline {
}
#inviteheader div.headline {
	float: left;
	font-size: 14px;
	font-weight: bold;
	color: #403834;
	line-height:28px;
	font-family: "Trebuchet MS", Helvetica, Jamrul, Arial, sans-serif;
	margin-top:-10px
}
#inviteheader div.headline img.networkicon {
	position:relative;
	top:10px;
	margin-left:7px
}
#inviteheader div.perm_dialog {
	position: relative;
	margin: 60px 0px;
	text-align:center;
	font-size:12px
}
#inviteheader a.perm_dialog {
	text-align: center;
	margin: 10px auto;
	position: relative;
	font-size: 14px;
	font-weight: bold;
	color: #403834;
	font-family: "Trebuchet MS", Helvetica, Jamrul, Arial, sans-serif;
	cursor:pointer;
}
#friend_list {
	position:relative;
}
#friend_list.emailpopup {
	clear:both;
}
#friend_list.fb {
	overflow: auto;
	height: 445px;
}
#friend_list.inviteelist {
	background-color:#FFFFFF;
	border:1px solid #AAAAAA;
	height:550px;
	width:395px;
	overflow:auto;
}

#friend_list .invitee_row, #invited .invitee_row {
	position: relative;
	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
	height: 50px;
}

#receiver_selector_container .invitee_row{
	/*front page only*/
	margin:5px 10px 0px 18px;
	float: left;
	width: 250px;
}
#receiver_selector_container .invitee_row span.label{ width:170px; }


div#lowerbody_container {
	position: relative;
	margin: 30px 0px 0px;
	width: 980px;
	margin-top: 20px;
	float: left;
	background: white ;
	padding-bottom: 30px
}
div#lowerbody_container.fullbackground{background-color: #BBE3F7;}
div#lowerbody_container.fullbackgroundwhite{background-color: #fff;padding-top: 1px;}
div#lowerbody {margin: 0px 30px 0px 30px;}
#lowerbody_container .invitee_row {
	/*invite page only*/
	margin: 5px 5px 0px 5px;
}
#lowerbody_container .invitee_row span.label{ width:250px;}

#invited .invitee_row img, #friend_list .invitee_row img {
	width: 50px;
	height: 50px;
	z-index:1;
	display: block; float: left
}
#invited .invitee_row span.label, #friend_list .invitee_row span.label {
	position: relative;
	overflow:hidden;
	float:left;
	padding-left: 10px
}
#invited .invitee_row a.selector {
	background:url("/static/imgs/inputfield.png") no-repeat scroll -266px -25px transparent;
	bottom:15px;
	height:30px;
	position:absolute;
	width:30px;
}
#friend_list .invitee_row a.selector {
	background:url("/static/imgs/inputfield.png") no-repeat scroll -206px -25px transparent;
	bottom:15px;
	height:30px;
	position:absolute;
	width:30px;
}
#invited .invitee_row a.selector, #friend_list.fb .invitee_row a.selector {
	right:0px;
}
#invited .invitee_row a.selector, #friend_list.inviteelist .invitee_row a.selector {
	right:0px;
}
#emailinviter div.input_field {
	margin: 10px 0px;
	float:left;
	clear:both;
}
#emailinviter div.input_field div.label {
	float:left;
	margin-right:10px;
	position:relative;
	text-align:right;
	width:128px;
}
#inviter_name{ margin-top:23px !important}
#invitescontainer img.fbprofilepic {
	position: relative;
	height: 50px;
	width: 50px;
}
#invites {
	background-color:  #BBE3F7;
	position: relative;
	margin: 0 auto;
}
#inviter {
	float:left;
	margin:15px 30px 30px;
	position:relative;
	width:395px;
}
#invited {
	margin: 71px 30px 30px 30px;
	position: relative;
	width:395px;
	height:550px;
	float: right;
	overflow:auto;
	border: 1px solid #aaa;
	background-color:  #ffffff;
}
#button_panel #network_methodselector{ padding-left: 10px}
#invited #mail_invitees .seperator img{ display:block; position:relative; left:-2px; top:-2px}
#invited div.seperator {
	border-bottom: 3px solid #bbe3f7;
	padding: 15px 15px 0px 15px;
	clear:both;
}
.invitee_row.selectable {
	cursor:pointer;
}
.invitee_row.nonselectable {
	display:none;
}
#invites .invitee_row.selected {
	background-color: #aaa;
	margin: 0px;
	padding: 5px;
	cursor:normal;

}
.whiteContainer{ background: #BBE3F7; border-top:1px solid #81cbef; position: relative; padding:15px; margin-top: -1px; z-index: 1; float: left; width:890px}


#invites .invitee_row.fixed {
	border: 1px gray dotted;
}
#invite_message {
	clear:both;
	float:left;
	margin:25px 0 0;
	position:relative;
	width:100%;
}
#invite_message div.submit {
	position: absolute;
	right:0px;
	bottom: 0px;
}
#invite_message div.submit a.skipper {
	position: absolute;
	bottom: -20px;
	width: 100px;
	left: 5px;
}
#invite_message div.invite_message, #invite_message div.invite_secret {
	font-size: 20px;
	font-weight: bold;
	color: #403834;
	float:left;
	font-family: "Trebuchet MS", Helvetica, Jamrul, Arial, sans-serif;
}
#invite_message div.invite_message {
	width:760px;
	float:left;
	font-size: 20px;
}
#invite_message div.invite_secret {
	width:135px;
	float:right;
	font-size: 12px;
	margin-top:33px;
	font-family: Arial;
	font-weight: normal;
}
#invite_message div.invite_secret input {
	position: relative;
	top: 2px;
}
#invite_message div.invite_message textarea {
	border:15px solid #BBE3F7;
font-family:arial;
font-size:12px;
height:100px;
margin-top:10px;
padding:10px;
width:710px;
}
#invite_message #inviters_panel_tooltip {
	bottom:45px;
color:#B70158;
font-weight:bold;
position:absolute;
right:0;
width:136px;
}
#invite_message .submitSmall {
	position: absolute;
	bottom: 0px;
	right: 0px;
}
/*------------------------------------- CONTRIBUTION PAGE -------------------------------*/

#paymentdetailscontainer div.forminputline {
	padding-top: 5px
}
#paymentdetailscontainer label {
	width: 170px;
	text-align: left;
	padding-bottom: 3px
}
#paymentdetailscontainer div.error_message {
	left:210px;
	bottom: 5px;
}
#paymentdetailscontainer .floaterLeft div.error_message {
	color:#FF0000 !important;
	left:0;
	position:relative !important;
	top:0;
	width:150px !important;
}


#paymentdetailscontainer{ margin-top: 20px !important; float: left; width: 920px}
#paymentdetailscontainer .panel_content{ float:left;height:auto;margin-top:0;padding:10px 15px 0;width:850px;}
#paymentdetailscontainer div.validUntil{ float:left}
.validUntil select{ display: inline !important}


#payment_details_status{clear:both;}
#payment_details_amount{position:relative;width:300px;padding: 15px;float: left;}
#payment_details_amount .amount {margin: 3px;width: 120px;text-align:right}
#payment_details_amount .totalsum span.total_label {position:absolute;bottom:0px;left:0px;}
#payment_details_amount .totalsum{font-weight:bold;border-top:2px solid #333;position:relative;}

/* --------------------------------------- FOOTER ----------------------------------------- */

div#siteinfo {
	clear:both;
	width: 100%;
	border-top:2px solid #D3EDFA;
	background:#333;
}
div#siteinfo div.siteinfo1 {
	border-top:1px solid #dadada;
	width: 100%;
	float:left;
	background:#333;
	text-align:center;
}
div#siteinfo div.siteinfo1 div.siteinfo2 {
	position: relative;
	width:980px;
	margin:10px auto;
	text-align:center;
}


div#siteinfo a.siteinfo_content {
	padding: 10px 10px 10px 10px;
	color:#eee;
}
div#siteinfo div.siteinfo_copyright {
	text-align:right;
	position:absolute;right:0px;
	padding: 0px 0px 10px 20px;
	color:#eee;
}

/* --------------------------------------- ------ ----------------------------------------- */
/* --------------------------------------- POPUPS ----------------------------------------- */
/* --------------------------------------- ------ ----------------------------------------- */
#badge_popup div.badge_background, .window_background {
	position: fixed;
	width: 100%;
	height: 100%;
	text-align:center;
	background-color: #333;
	top:0px;
	left:0px;
	z-index:1000;
	opacity: .5;
	filter: alpha(opacity=50);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
#badge_popup div.window, div.window_container {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index:1005;
}
#badge_popup div.badge_window {
	z-index:1005;
	margin: 200px auto;
	width: 800px;
	height: 400px;
	background-color: white;
	border: 10px solid #bbe3f7;
	position:relative;
	overflow:hidden;
}
#mybadge_container {
	padding: 15px 30px 30px;
}
#mybadge_container .mybadge {
	float:left;
	height:115px;
	margin-bottom:15px;
	margin-right:32px;
	overflow:hidden;
	padding-bottom:30px;
	position:relative;
	width:140px;
}
#mybadge_container .mybadge img{ width: 140px; height: 115px; display: block}
#mybadge_container .badge_name {
	font-size:12px;
	font-weight:bold;
	position:absolute;
	text-align:center;
	top:93px;
	width:230px;
}
#mybadge_container .badge_name_awarded {
	border-bottom:2px solid #DADADA;
height:30px;
left:0;
line-height:30px;
position:absolute;
text-align:center;
top:113px;
width:140px;
z-index:999;
font-family: Trebuchet MS;
font-size: 14px
}
#mybadge_container .badge_container {
	float: left;
	background: white;
	padding: 30px 0 15px 30px;
}

#badge_popup_content{margin: 0px;font-family: Arial, Helvetica, sans-serif;position:relative;height:100%}
#badge_popup_content .header {
			padding:15px;
			background-color:#333;
			position: relative;text-align: center;
			font-family:"Trebuchet MS",Helvetica,Arial,sans-serif;
			font-size:28px;font-weight:normal; color: #fff;
		}
#badge_popup_content .badge_text {float:right;font-size:20px;margin:90px 80px 0 0px;position:relative;width:300px;text-align: left;}
#badge_popup_content .badge_icon {width: 350px;height: 300px;position: relative; float: left;margin:0px 0px 0px 30px;}
.panelclosing_x {position: absolute;top: 3px; right: 10px;text-decoration: none;color:white;font-weight:bold;font-size:16px}
.panelclosing_x_black {position: absolute;top: 3px; right: 10px;text-decoration: none;color:#333;font-weight:bold;font-size:16px;cursor:pointer;}
#badge_popup_content .share_link {bottom: 10px; position:absolute;right:10px;}
#badge_popup_content .share_link img {top:2px;position:relative;margin-right:5px;}

/* *************************************** BLOCKS ***************************************** */
div.window_container div.window {
	background-color:white;
	border:15px solid #BBE3F7;
	margin:150px auto;
	position:relative;
	width:700px;
	z-index:1010;
}

div.window_container  div.window .header {
	padding:15px;
	position: relative;text-align: left;
	background-color:#403834;
	font-family:"Trebuchet MS",Helvetica,Arial,sans-serif;
	font-size:28px;font-weight:normal; color: #fff;
}

div.window_container  div.window .subheader {
	padding:30px 30px 10px;
	position: relative;text-align: left;
	font-family:"Trebuchet MS",Helvetica,Arial,sans-serif;
	font-size:14px;font-weight:bold; color: #333;
}
div.window_container  div.window div.popupContent {
	color:#333;
	font-family:Arial,Helvetica,sans-serif;
	padding: 10px 30px 30px 30px;
	text-align:left;
}

div.window_container  div.window div.popupContent ol li{
	margin-top: 30px;
	font-size:14px;
	font-weight:bold;
}
.explanation {
	background-color: #f2f2f2;
	border: 1px solid #dadada;
	margin:10px 0px;
	padding:15px 15px 10px 15px;
	font-size:12px;
	font-weight:normal;
	font-weight:normal;
}
.explanation .text{
	float:right;
	width:190px;
}
#blocking_msgs div.blocking .block_header{
	font-family:"Trebuchet MS", Helvetica, Jamrul, Arial, sans-serif;
	font-size: 14px;
	font-weight:bold;
}
#blocking_msgs div.blocking .block_intro{
	padding: 15px 15px 15px 0px;
	font-weight:normal;
}
#blocking_msgs div.blocking .facebookBtn{
	margin: 0px 0px 0px 10px;
	width: 210px;
}
#blocking_msgs div.blocking label { margin-right:15px;}
#blocking_msgs div.blocking.block_grantboth{
	padding: 30px 0px 0px 0px;
}
#blocking_msgs div.blocking .grantboth{
	position: relative;
	padding-top: 5px;
	padding-right:15px;
	font-weight:bold;
}

/* *************************************** ****** ***************************************** */
/* *************************************** POPUPS ***************************************** */
/* *************************************** ****** ***************************************** */

#mypools {
	padding: 30px;
}
#pool_configurator {
	padding-left: 30px;
	padding-bottom: 30px;
}
.tabContainer {
	background-color:#E9E9E9;
	border-bottom:1px solid #DADADA;
	height:35px;
	left:0;
	padding:18px 0 0 30px;
	position:absolute;
	top:-9px;
	width:950px;
	z-index:998;
}
.tabContainer a.selected {
	background:url("../imgs/inputfield.png") no-repeat scroll 100% -435px transparent;
	font-family:Arial, Helvetica, Jamrul, Arial, sans-serif;
	font-style:normal;
	padding-right:15px;
	position:relative;
	text-align:center;
	z-index:2;
	display: block;
	float: left;
	color: #403834;
	font-size: 18px
}
.tabContainer a.selected span {
	background:url("../imgs/inputfield.png") no-repeat scroll 0 -379px transparent;
	color:#403834;
	cursor:pointer;
	display:block;
	float:left;
	font-size:18px;
	padding-bottom:8px;
	padding-left:15px;
	padding-top:7px;
}
.tabContainer a {
	color:#403834;
display:block;
float:left;
font-family:Trebuchet MS;
font-size:18px;
font-style:normal;
padding-right:15px;
position:relative;
text-align:center;
z-index:2;
background: none

}
.tabContainer a span {
	background:none;
	color:#403834;
cursor:pointer;
display:block;
float:left;
font-size:18px;
padding-bottom:8px;
padding-left:15px;
padding-top:7px;
font-family: Trebuchet MS
}
.subCategories{clear:both; font-size: 20px ; font-weight: bold; font-family: Arial; color: #403834; height: 47px; line-height: 47px;padding-top: 28px; font-family: Trebuchet MS}
.tooltipBoxMyPools{ height: 45px; background:none repeat scroll 0 0 #403835; position: relative}
.tooltipBoxMyPools img{ position: absolute; display: block; left: 80px; bottom: 2px}
.imgContainer{ background: url(../imgs/bg-rabody.png) left bottom no-repeat; width: 158px; height: 119px; padding: 0 1px 2px 1px}
#invite_panel_header {margin: 0 30px 30px; padding-bottom:20px}
span.label{ float: left; display: block; padding-top: 2px}
span.money{ float: left; line-height: 24px}
span.currency{ float: left; line-height: 24px}
div.days span.label{ padding-top: 13px; padding-left: 5px}
.floaterRight{ float: right}
.clearer{ clear:both}

div.days { margin-top: 10px}
div.days span.money{ padding: 5px 5px 0 0 }
.floaterLeft{ float: left; position: relative}
.width150px{ width: 125px;}
.privatePublic{ float: right; font-weight: bold}
.red{color:#B20155;}
.alsoInvited{ position: absolute; left: 0px; top: 34px}
.alsoInvited img{ width: 50px; height: 50px; display: block; float: left; margin-right: 5px}
.alsoInvited p{ float: right; margin: 0; width: 70px; color:#333333; overflow:hidden}
.alsoInvited p.bold{ font-weight: bold; line-height: 13px}

.fixedWidth{text-align:right;
width:230px;}
.clear{ line-height: 0; font-size: 0; height: 0; clear: both}
.myBadge{ width: 500px; margin-right: 25px; float: left; position: relative}
.myBadge img{ float: left; display: block; width: 120px; height: 120px; margin-right: 30px}
.friendsBadge{ float: left;  width: 385px}
.myBadgeInfo{ width: 500px; float: left; padding-top: 10px}
.myBadgeInfoText{ float: left; width: 340px}
.myBadgeInfoText h3{ border-bottom: 2px solid #dadada;   padding-bottom: 4px; margin-top: 0 !important;
line-height: normal !important; margin-top: -2px !important}
.borderBottom{ float: left; width: 340px; padding: 8px 0; border-bottom: 1px solid #e9e9e9}
.myBadgeInfo .imageBadgeContainer{ float: left; width: 150px; height: 120px; position: relative}
.profile-picture .borderBottom {
border-bottom:1px solid #E9E9E9;
float:left;
padding:0 0 8px 0;
width:280px;
}
.profilebuttonBtn{ display: block; margin: 32px auto; width: 180px}
.profile-picture .borderBottomSecond { border-bottom:1px solid #E9E9E9;
float:left;
padding:8px 0 8px 0;
width:280px; }
.smallInside{ float: left; width: 400px}
.subTitle{font-family:Trebuchet MS;
font-size:14px;
font-weight:bold;
border-bottom: 2px solid #dadada; padding-bottom: 7px; clear: both; float: left; width: 400px}
.subInfo{ float: left; width: 295px; margin-top: 15px}
.smallInside .imageBadgeContainer{ margin-top: 23px}
.fixedW input{ width: 240px !important}

.big{ width:920px !important}
.big .profile-picture{ width: 890px !important}
.big .inside-profile-picture{ width: 860px !important}
.profile-picture .borderBottomSecond a{ display:block;color:#C11164; font-size: 11px; text-decoration: underline; padding-top: 3px }
.passwordFields { padding-top: 15px; width: 100%}
.passwordFields input{ float: right}
.spacerInput{ float: left; width: 100%}
.imageBadgeContainer{ float: left; width: 105px; height: 90px; position: relative}
.myBadge  img.miniBadge{ width: 80px; height: 65px; margin: 0; position: absolute; bottom:-20px; right:10px}
.friendsBadgesContainer{ float: left; width: 385px; padding-top: 10px}
.friendsBadgesContainer .badge_user_pic{ float: left; width: 90px; height: 90px; margin-right: 30px; position: relative }
.wide{ width: 100% !important;border-top:1px solid #E9E9E9 !important; margin-top: 15px}
.fixedW{ width: 100%;
height: 23px; padding-top: 12px}
.fixedW input{ width: 160px}
.friendsBadgesContainer .badge_user_pic img { float: left; width: 90px; height: 90px; }
h2.small{ font-size: 20px !important}
.friendsBadgesContainer .badge_user_pic img.miniBadge{ position: absolute; right: -15px; bottom:-15px; width: 65px; height: 50px}
.friendsBadgesContainer div.label{ position:relative;text-align:right;top:12px;}
.inside{ padding: 30px 0 30px 30px ; background: white }
.badgeBox{ float: left; background: white; margin-top: 10px}
.badgeBoxBorder{ float: left; background-color: #bae3f7; padding: 15px}
#login_signup_container, #pwd_form_container{ margin:0 30px 30px 30px; float: left; width: 920px}
#login_signup_container .subCategories { padding-top: 0px}
.profilePictureContainer{ float: left; width: 445px}
.profilePictureContainer .profile-picture {
background-color:#BBE3F7;
float:left;
padding:15px;
width:415px;
}
.profilePictureContainer .inside-profile-picture {
background:none repeat scroll 0 0 white;
float:left;
padding:15px;
width:385px;
}
.profilePictureContainer  .selectImage{}
.facebookTxt{ font-family: Trebuchet MS; font-size: 14px; font-weight: bold; padding-bottom: 10px; padding-top: 10px; float:left}
.facebookTxt img{ margin-right: 5px;}
.imageBadgeContainer img.myProfilePicture{ margin-right: 5px;width:90px;height:90px;}
.maleFemale label{ display:block !important;width:90px !important; float:left !important; margin:0 0 0 5px !important}
.maleFemale input{ display:block !important;width:15px !important; float:left}
.passwordFields .maleFemale label{ float: right !important;}
#poolsettings{ margin:0 30px 30px 30px}
#emailinviter input{ border: 1px solid #999999}

#contributioncontainer{ margin:0px 30px 30px; padding-top: 5px !important}

#paymentdetailscontainer input, #paymentdetailscontainer,{ border: 1px solid #999999}
#paymentdetailscontainer{ margin: 0 30px 30px}
.profile-picture{background-color:#BBE3F7; width: 445px ; padding: 15px; float: left;}
.inside-profile-picture{ float: left; padding: 15px; background: white; width:415px;}
.inside_row{ float: left; padding:10px 15px 15px 15px; background: white; width:415px;}
.selectImage{ width: 280px}
.subInfo span{ display: block; padding-bottom: 12px; font-size: 12px; font-family: Arial}
.subInfo input{ display: block;}
.subInfo span.small{ padding-top: 15px; font-size: 11px; padding-bottom: 0px}
.subInfo span.small a{color:#B70158; text-decoration: underline}
.paddingZero{ padding: 15px  0 0 0 !important}
.passwordFields label{ display: block; float: left; width: 140px}
a.Save{ float: right; clear: both; font-family: Arial; font-size: 18px;  color:#333; display:block;  margin-top: 30px; padding-right: 10px; background: url(../imgs/inputfield.png) 100% -632px no-repeat; height: 35px; line-height: 35px}
a.Save span{ display: block; float: right; cursor: pointer; padding-left: 10px;  background: url(../imgs/inputfield.png) 0 -597px no-repeat;text-shadow:0 2px 0 #fff;}
.borderRow{ width: 100%; border-bottom: 1px solid #e9e9e9; height: 25px; margin-top: 5px; font-family: Arial; font-size: 12px; line-height: 21px}
.borderRow .floaterLeft img{ display: block; float: left; margin-right: 10px}
.inside_row a{ text-decoration: underline; color: #b70158}
.subHeader{ font-size: 14px; font-weight: bold; font-family: "Trebuchet MS", Arial,Helvetica,Jamrul,Arial,sans-serif;; padding-top: 15px; border-bottom: 2px solid #e9e9e9; padding-bottom: 5px; float: left; width: 100%}
.messageContainer{ margin:0 30px; background: white; padding: 15px; float: left; width: 830px;position:relative;}
.messageContainer textarea{float: right; width: 740px; height: 72px}
.messageContainer img{ width: 75px; height: 75px; float: left}
.messageContainerlong img{ padding-bottom:50px;}


.addressContainerLeft {margin:30px 15px 30px 30px; float: left;position: relative;width:414px;}
.addressContainerRight {margin:30px 30px 30px 15px; float: left;position: relative;width:414px; }
.addressContainerLeft div.addressHeader, .addressContainerRight div.addressHeader {height:55px; overflow:hidden;position:relative;}
.addressContainerLeft h2, .addressContainerRight h2 {position: absolute;bottom:5px;}
.addressContainer {background: white;padding: 30px 30px 60px 30px;float: left;width:354px; position:relative;}

#poolsettings .panel_title{ font-style: italic }
.panel_content white h1{ margin: 0; padding: 20px 0}



.yes{ padding-top: 10px;}
.yes label{ margin-left: 5px}



.facebookBtn {background:url("/static/imgs/inputfield.png") no-repeat scroll 100% -695px transparent;
	cursor:pointer;
	display:block;
	height:26px;
	line-height:26px;
	padding-right:15px;
	width:185px;margin:0px auto;}
.facebookBtn span{background:url("/static/imgs/inputfield.png") no-repeat scroll 0 -668px transparent;
		font-family:Arial,Helvetica,sans-serif;
		color:white;
		cursor:pointer;
		display:block;
		font-size:13px;
		font-weight:bold;
		height:26px;
		line-height:25px;
		padding-left:36px;
		text-shadow:0 -1px 0 #333333;text-align:center;}
.twitterBtn {
	background:url("/static/imgs/inputfield.png") no-repeat scroll 100% -749px transparent;
	cursor:pointer;
	display:block;
	height:26px;
	line-height:26px;
	padding-right:15px;
	width:185px;margin:0px auto;}
.twitterBtn span{
		background:url("/static/imgs/inputfield.png") no-repeat scroll 0 -722px transparent;
		font-family:Arial,Helvetica,sans-serif;
		color:#25568e;
		cursor:pointer;
		display:block;
		font-size:13px;
		font-weight:bold;
		height:26px;
		line-height:25px;
		padding-left:36px;text-align:center;}

.boxTitle { 	position: relative;padding: 30px 20px 0px 30px;font-size: 20px;font-weight: bold;color: #403834;
	font-family: "Trebuchet MS", Helvetica, Jamrul, Arial, sans-serif;}
.borderBox {	width: 920px;float:left;margin: 15px 30px 30px;background-color:#BAE3F7}
.borderBox .borderBoxContent{background-color:white;margin:15px;padding:15px; min-height:250px;}
.borderBox .subheader{margin: 0px 0px 15px 0px;font-size:14px;font-weight:bold;}

.payement-container #termsofservice {height:100px; border:1px solid #BBE3F7;padding:5px;overflow:auto;}
#termsofservice .tosheading {margin:0px 0px 0px 0px;font-weight:bold;font-size:14px;text-align:center;}
#termsofservice .tosheading.effectivedate {margin:0px 0px 15px 0px;font-weight:normal;font-size:1em;}
#termsofservice .preamble {margin:0px 0px 15px 0px;}
#termsofservice p span{margin: 0px 10px;}
#termsofservice p {margin:10px 30px;}
#termsofservice p.tosmainsection {margin:30px 0px 0px 0px;font-weight:bold}
#termsofservice p.tosmainsection span {width:30px;margin:0px;position:relative;display:block;float:left;text-align:center;}

#privacy .tosheading {margin:0px 0px 0px 0px;font-weight:bold;font-size:14px;text-align:center;}
#privacy .tosheading.effectivedate {margin:0px 0px 15px 0px;font-weight:normal;font-size:1em;}
#privacy .preamble {margin:0px 0px 15px 0px;}
#privacy p span{margin: 0px 10px;}
#privacy p {margin:10px 30px;}
#privacy p.tosmainsection {margin:30px 0px 0px 0px;font-weight:bold}
#privacy p.tosmainsection span {width:30px;margin:0px;position:relative;display:block;float:left;text-align:center;}


#faq {margin:30px;}
#faq li {font-weight:bold; font-size: 12px;margin: 15px 0px;}
#faq li p{font-weight:normal;font-size: 12px;}

#verisignsealindex{
	left:25px;
	top:315px;
	position:absolute;
	overflow:hidden;
	height:77px;
}
#verisignseal{
	left:30px;
	top:0px;
	position:absolute;
}
.marginSpecialSave{ margin:0 30px 30px 0 !important}
.region_picker {background-color:#BBE3F7; padding:10px; width:390px }





div.anythingSlider .anythingWindow {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
}
div.anythingSlider {
	position: relative;
	padding:0;
	margin:15px 0 0 28px
}
ul.anythingBase {
	background: transparent;
	list-style: none;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}
ul.anythingBase li.panel {
	background: transparent;
	display: block;
	float: left;
	padding: 0;
	margin: 0;
}

div.anythingSlider .arrow {
	background-color:white;
color:white;
display:block;
position:absolute;
top:0;
width:40px;
z-index:2000;
height: 180px
}
div.anythingSlider .arrow a {
	color:white;
display:block;
height:50px;
margin:35px 0 0 0;
outline:0 none;
text-align:center;
width:40px;
 
}
div.anythingSlider .forward { right: -13px; background: white }
div.anythingSlider .back { left: -40px;  }
div.anythingSlider .forward a {background: url(../imgs/arrow-forward.png) center center no-repeat  }
div.anythingSlider .back a {background: url(../imgs/arrow-back.png) center center no-repeat   }


/* Navigation Links */
div.anythingSlider .anythingControls { outline: 0; display:none }
div.anythingSlider .thumbNav { margin: 0; }
div.anythingSlider .thumbNav li { display: inline; }
div.anythingSlider .thumbNav a {
	font: 11px/18px Georgia, Serif;
	display: inline-block;
	text-decoration: none;
	padding: 2px 8px;
	height: 18px;
	margin: 0 5px 0 0;
	background-image: url(../images/cellshade.png);
	background-repeat: repeat-x;
	text-align: center;
	outline: 0;
	border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
}
div.anythingSlider .thumbNav a:hover {
	background-image: none;
}

div.anythingSlider.rtl .thumbNav a { float: right; } /* reverse order of nav links */
div.anythingSlider.rtl .thumbNav { float: left; }    /* move nav link group to left */



div.anythingSlider .start-stop {
	background-image: url(../images/cellshade.png);
	background-repeat: repeat-x;
	background-position: center top;
	padding: 2px 5px;
	width: 40px;
	text-align: center;
	text-decoration: none;
	float: right;
	z-index: 100;
	outline: 0;
	border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
}
div.anythingSlider .start-stop:hover, div.anythingSlider .start-stop.hover { background-image: none; }

div.anythingSlider, div.anythingSlider .anythingWindow, div.anythingSlider .thumbNav a, div.anythingSlider .arrow a, div.anythingSlider .start-stop {
	transition-duration: 0;
	-o-transition-duration: 0;
	-moz-transition-duration: 0;
	-webkit-transition-duration: 0;
}
.inside{ font-size:18px; font-weight:bold; padding:0; margin-top:15px}
.personalityBox{ float: left;margin:15px 0 0 28px;}
.personalityBox span{ padding-bottom: 10px}
h4.inside span{ float: right; font-size: 12px; font-weight: normal;}
.productSorterContainer{ float: left; width: 100%}
.productSorter{ background-color:#BBE3F7;
float:left;
margin-right:15px;
width:422px;
margin-top: 15px}
.marginRightClean{ margin-right:0 !important}
.productSorter .colSx{ float: left; width: 155px; background: url(/static/imgs/backgroundSearchProducts124.png) center 15px no-repeat; padding-bottom: 15px}
.productSorter .colDx{ float: left; width: 265px}
.productImage{ display: block;   width: 120px; height: 120px; margin: 16px auto 0 auto}
.productMerchant{ font-size: 14px; font-weight: bold; font-family: Trebuchet MS; display: block; line-height: 14px; margin: 15px auto 0 auto ; padding: 0 0 10px 0; text-align: center}
.productMerchantImage{ display: block; margin: 0 auto; height: 55px;}
#emailinviter{ margin-left: 20px}
.TabsContainer{ float: left; padding-left: 10px}