* { margin: 0; padding: 0; outline: none}
body.claro {
	margin: 0px;
	text-align: center;
	font-size:12px;
	font-family:Arial, Helvetica, Jamrul, sans-serif;
}
div#outercontainer {background: #fff url(../custom_imgs/body_bg.png) 0 0 repeat-x;width:100%;float:left;}
div#outercontainer_themed {width:100%;background: transparent url(../imgs/themes/christmas/bg.png) 0 0 repeat;float:left;}
#container {text-align: left;margin: 0px auto;position: relative;width:980px;}
body.popup #container {background-color:white;width:auto;float:left}
#headercontainer {position: relative;float: left;width: 100%}
#body_outer_container {position: relative;clear: both;float: left;}
#body_container {width:100%;	clear:both;background-color: #ffffff;display: block;position: relative;float:left;}
#body_container .innerbody {background-color:  #bbe3f7;padding: 1px 0;clear: both;}

/*-------------------------------------Standard Inputs------------------------------------------------------*/
div.forminputline {position: relative;height: 50px;}
div.forminputline label {display: block;}

input.error, select.error {border: 1px solid #ff0000;}
div.forminputline div.error_message {
	color:#FF0000;
	margin-left:150px;
	margin-top:3px;
	right:0;
	text-align:left;
	top:19px;
	width:200px;
}

/*-------------------------------------Header------------------------------------------------------*/
ul.navigation {
	list-style-type:none;
	clear: both;
	float:left;
	position: relative;
	width: 100%;
	border-top:2px solid white;
	background:  url("../imgs/menu_tab_bg.png")  0 0 repeat-x;
}

ul.navigation li {z-index:3;}
ul.navigation li a {
	color:#333333;
	display:block;
	font-family:"Trebuchet MS",Helvetica,Jamrul,Arial,sans-serif;
	font-size:15px;
	height:39px;
	line-height:45px;
	margin-left:30px;
	padding-bottom:10px;
	text-decoration:none;
}
ul.navigation li.selected a {background: url(../imgs/arrow.gif) bottom center no-repeat;}
#home_create_pool_button {
	bottom:13px;
	position:absolute;
	right:30px;
}
/*-------------------------------------Main Structure Outline -------------------------------------*/
#loginpanel {position: absolute;	top: 10px;right: 30px;color: #ffffff;}
a.loginlink {font-size: 12px;color:#333;font-family:Arial, Helvetica, sans-serif}
#login_panel_profile_pic {width: 30px;height: 30px;float:left;position:relative;}

#loginPanelContent {border:10px solid #BBe3F7;padding:10px 20px 20px;background-color:white;color:#333;margin-top:20px;
	box-shadow:2px 2px 8px #666,-2px 0px 8px #666;
	-webkit-box-shadow:2px 2px 8px #666,-2px 0px 8px #666;
	-moz-box-shadow:2px 2px 8px #666,-2px 0px 8px #666;
	min-height:300px;clear:both;position:absolute;right:0px;
}
.newFormControls.loginPanel input{width:250px;}
.newFormControls.loginPanel select{width:260px;}

.login_loginlink {font-size: 11px;line-height:20px;padding:0px 10px;display: block; position: relative;float: left;}
.login_loginlink.narrow {padding:0px 10px 0 0;}
a.login_loginlink {cursor:pointer;}
a.login_loginlink.selected{padding:0 10px 0 0;text-align:center;
	background:url("../custom_imgs/inputfield.png?20101129") no-repeat scroll 100% -277px; transparent;color:#403834}
a.login_loginlink.selected span {padding:0 0 0 10px;color:#403834;display:block;
	cursor:pointer;background:url("../custom_imgs/inputfield.png?20101129") no-repeat scroll 0 -247px transparent;}
#loginPanelContent h3{margin-top:20px;text-align:center;}


/*-------------------------------------Frontpage Panels/Popups-------------------------------------*/

div.frontpagebutton {
	position: relative;
	float: left;
	margin: 1px;
}
div.frontpagebutton.first {margin: 1px 1px 1px 0px;}
body.popup div.frontpagebutton.first {margin:0;width:100%;}
div.frontpagebutton.last {margin: 1px 0px 1px 1px;}

#pool_configurator {float:left}
#pool_configurator div.frontpagebutton div.extender {
	position: absolute;
	width: 100%;
	height: 3px;
	bottom: -3px;
	display:None;
}
#pool_configurator div.frontpagebutton.front_panel_active div.extender {display:Block;}

div.frontpagebutton.funders {
	position: relative;
	height: 120px;
	width: 136px;
	margin-right: 22px;
	margin-top: 40px;
}

#funders_panel_tooltip {
	color:#B70158;
	font-weight:bold;
	position:absolute;
}
#pool_configurator div.hpbutton {
	position: relative;
	padding-top: 1px;
}

#pool_configurator div.frontpagebutton.enabled {cursor:pointer}

.hpbutton .button {
	position: relative;
	margin: 15px 0px 10px;
	display:block;
	text-align: center;
	font-family: "Trebuchet MS", Helvetica, Jamrul, Arial, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color:#333;
}
.hpbutton .button_label {color: #B70158; font-family: "Trebuchet MS"; font-weight: bold; font-style: italic; font-size: 28px;line-height:52px;position:relative}
.hpbutton .button_label_q {font-style:normal;font-size:52px;top:10px;position:relative}

body.popup #pool_configurator {padding: 0px 15px 15px;}
body.popup #pool_configurator .hpbutton {float:left;width:100%;}
body.popup #pool_configurator div.hpbutton.gift {margin:10px;width:auto;}
body.popup #pool_configurator div.hpbutton.gift div.label { margin:0px 10px;float:right;width: 700px;}
body.popup #pool_configurator div.hpbutton.gift img.button_content {margin:0 auto;max-width:160px;height:111px;padding:0;}
body.popup #funders_panel_tooltip {top: -27px;}

body.popup #pool_configurator .hpbutton div.button_content {position: relative;width:178px;margin: 0px auto;}
body.popup #pool_configurator .hpbutton img.loaders_animation {position:absolute;top:30px;left:40px;}
body.popup #pool_configurator .hpbutton img.button_content {	height:68px;width:auto;max-width:98px;margin:0 auto;padding-top:5px;}
body.popup #pool_configurator .hpbutton div.label {margin:10px 10px 10px 0px;}
body.popup #pool_configurator .hpbutton a.content {float:left;margin:5px 10px;}
body.popup #pool_configurator .hpbutton.gift a.content {margin:0px !important;}

#pool_configurator div.hpbutton a.button.funders {margin: 24px;}
#pool_configurator div.hpbutton a.content {
	display:block;
	position: relative;
	text-align: left;
}
.hpbutton 			a.content.withbg {background: url(../imgs/header/backgroundHomeShadow.png) 0 0 no-repeat;height:131px;width:174px;padding: 0 2px 2px 2px;}
.hpbutton 			a.content.nobg {height:133px;width:178px;background:url("../imgs/infographic_icons.png") 0px 0px transparent;}
#outercontainer_themed .hpbutton  a.content.nobg {height:133px;width:178px;background:url("../imgs/themes/christmas/infographic_icons.png") 0px 0px transparent;}
.hpbutton.receiver	a.content.nobg {}
.hpbutton.gift		a.content.nobg {background-position:-179px 0px;}
.hpbutton.occasion	a.content.nobg {background-position:-358px 0px;}


body.popup .hpbutton a.content.nobg {height:76px;width:98px;background-image:url("../imgs/infographic_icons_mini.png");}
body.popup .hpbutton a.content.withbg {height:74px;width:96px}


#pool_configurator div.hpbutton a.content.funders {
	margin:60px 0 50px;
	height:52px;
}
#pool_configurator div.hpbutton img.button_content {
	width:auto;
	text-align: left;
	display: block;
	position: relative;
}
#pool_configurator div.hpbutton div.label {
	text-align: left;
	font-family: "Trebuchet MS", Helvetica, Jamrul, Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color:#403834;
	overflow: hidden;
}

#pool_configurator div.hpbutton div.label.minified .minified_title {padding:5px;background-color: #E8EEEC;}
#pool_configurator div.hpbutton div.label.minified .minified_title_text {padding:5px;float:left}
#pool_configurator div.hpbutton div.label.minified .minified_title #product_selector{float:right;padding:3px}

#pool_configurator div.hpbutton div.sub_label {
	text-align: left;
	margin-top: 5px;
	font-family: Arial, Helvetica, Jamrul, Arial, sans-serif;
	font-size: 12px;
	font-weight:normal;
	max-height:90px;overflow:hidden;
}

#button_panel h2{
	margin:0;
	color:#403834;
	font-family:"Trebuchet MS",Helvetica,Jamrul,Arial,sans-serif;
	font-size:20px;
	font-weight:bold;
}
#button_panel a.button_panel_closer {
	background:url("../custom_imgs/inputfield.png?20101129") no-repeat scroll -271px -30px transparent;	
	height:19px;
	position:absolute;
	right:5px;
	top:5px;
	width:17px;
	cursor:pointer;
}
#get_started div.content {
	float:right;
	margin:30px 30px 15px 15px;
	position:relative;
}
div.panel_title {
	display: block;
	position: relative;
	font-size: 20px;
	font-weight: bold;
	color: #403834;
	font-family: "Trebuchet MS", Helvetica, Jamrul, Arial, sans-serif;
	line-height: 30px;
	padding: 13px 30px
}
div.panel_title a, div.panel_title span {
	display: block;
	float:left
}
div.panel_content {
	clear:both;
	padding: 20px;
	margin: 20px;
	position: relative;
}
div.panel_content_no_margin {
	clear:both;
	padding: 20px;
	position: relative;
}
div.panel_content_inner {margin: 40px 20px 20px;}


.whiteContent{background-color:white;}

/* -------------------------- OCCASION Panel ------------------------- */

#button_panel.occasion a.occasion_panel_button {
	position: relative;
	margin: 0px 15px 20px 30px;
	float: left;
}
#button_panel.occasion div.selector {
	margin: 1px 1px 1px 1px;
	width: 132px;
	float: left;
}
#button_panel.occasion div.selector.selected {
	margin: 0px 0px 0px 0px;
	border: 1px solid #ffffff;
	background: white;
}


#button_panel.occasion a.occasion_panel_button img {
	position: relative;
	width: 132px;
	height: 83px;
	margin-bottom: 5px;
}
#button_panel.occasion a.occasion_panel_button div.label {
	color:#403834;
	font-family:Trebuchet MS;
	font-size:13px;
	font-weight:bold;
	text-align:center;
}
#product_suggestions {
	padding-bottom:20px;
	float:left;
	height:170px;
	overflow:hidden;
	margin-top: 15px
}
#button_panel.product div.productsuggestion {
	cursor:pointer;
	float:left;
	font-size:13px;
	position:relative;
	width:136px;
}
div.productsuggestion.psmiddle{margin-right:30px;}
a.productsuggestion{ display:block; background:url("../imgs/backgroundSearchProducts.png") no-repeat scroll 0 0 transparent;padding:3px 0 0;}
a.productsuggestion span{ display:block; margin-top:10px; font-family:Trebuchet MS; font-size:14px; font-weight:bold; text-align:center}
a.productsuggestion img{ display:block; margin:0 auto}
#button_panel.product div.productsuggestion img.productsuggestion {width: 129px;height:129px;}

.product_search_container_outer{background-color:white;padding:15px;}
.product_search_container {padding-bottom:15px;margin:0px auto;width:730px;position:relative}
.search_container {background: url("../imgs/Magnifying_Glass.png") no-repeat scroll 0 0 transparent;padding: 22px 13px 28px 55px;}
.search_container input {background-color: transparent;border: 0 solid transparent;font-size: 18px;padding: 8px;text-shadow: 1px 0 0 #FFFFFF;width: 550px;}

.searchButton {background:url("../imgs/Magnifying_Glass.png?20101129") no-repeat scroll 100% -128px transparent;
	float:right;
	font-family:Arial,Helvetica,Jamrul,Arial,sans-serif;
	font-size:18px;
	font-style:normal;
	text-align:center;
	padding-right:10px;
	min-width:75px;
}
.searchButton:hover {background-position:100% -206px}
.searchButton span{background:url("../imgs/Magnifying_Glass.png?20101129") no-repeat scroll 0 -89px transparent;
	color:white;
	cursor:pointer;
	display:block;
	font-size:18px;
	height:38px;
	line-height:38px;
	padding-left:10px;
	text-shadow:0 -1px 0 #770B3E;
}
.searchButton:hover span{background-position:0 -167px;}


#product_browser_container {position: relative;background-color: white;}
#product_browser {position: relative;background-color: white;border-top: solid 6px #bbe3f7;margin-top: 30px;}
/*------------------------------------- LOGIN/SIGNUP PAGE -------------------------------------*/

#login_form_container {width: 445px;margin-top:30px;}
#login_form_container h3 {margin: 0px 0px 20px 0px;}
div.legende {clear:both;float:left;margin-top:25px;}
div.legende span.Counter {
	color:#BAE3F7;
	font-family:"Trebuchet MS", Arial, sans-serif;
	font-size:28px;
	font-weight:bold;
	float:left;
}
div.legende .Icon {margin:0px auto;float:None}
div.legende .IconContainer {float:left;width:75px;margin-top:5px;}
div.legende div.text {float:left;margin-top:5px; line-height: 19px;width:300px;}

#signup_form_container {width: 445px;margin-top:10px;}
#signup_form_container .inputline {margin-top:20px}
#signup_form_container input {width: 380px;}
#signup_form_container .underlined2 {margin-top:20px;clear:both}

.mandatoryPad{ padding-top: 20px}
.maleFemaleContainer{ padding-bottom: 5px; float:left}
p.termsOf{ clear:both; font-size:11px;float:left; margin: 20px 0px}
p.termsOf a{ color:#B70158;}

/*------------------------------------- INVITE PAGE -------------------------------------*/

#receiver_selector_container {
	position:relative;
	margin-top:-1px;
	min-height:100px;
	float:left;width:100%
}

.invite_pool_panel.first {margin: 30px 0px 0px 120px;}
.invite_pool_panel {
	position: relative;
	width:185px;
	float: left;
	color: #333;
	margin: 30px 0px 0px 60px;
}
.invite_pool_panel div.label {
	text-align: left;
	margin: 5px 0px;
	font-family: "Trebuchet MS", Helvetica, Jamrul, Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color:#403834;
	overflow: hidden;
}
.invite_pool_panel .picture {
	background:url("../imgs/header/backgroundHomeShadow.png") no-repeat scroll 0 0 transparent;
	display:block;
	height:131px;
	padding:0 2px 2px;
	position:relative;
	text-align:left;
	width:174px;
}

.invite_pool_panel .picture .icon {background:url("../imgs/infographic_icons_mid.png") no-repeat scroll 0 0 transparent;bottom:-10px;display:block;height:70px;left:-25px;position:absolute;width:60px;}
.invite_pool_panel .picture.occasion .icon {background-position:-57px 0;}
.invite_pool_panel .picture.gift .icon {background-position:-121px 0;}


#invite_panel_header .invite_pool_panel .picture img {
	height:111px;
	max-width:174px;
	text-align:left;
	width:auto;
	margin: 0 auto;
	display: block;
	padding-top:10px;
}
#inviteheader {position:relative;text-align: left;padding: 0px 15px; background: white;min-height:60px;}
body.popup #receiver_selector_container #inviteheader { min-height:40px;}

#receiver_selector_container #inviteheader {margin:15px 15px 0}
body.popup #receiver_selector_container #inviteheader { margin: 10px 10px 2px;}

#fb_filter {border: 1px solid #bbe3f7;background-color:#eef8fd;padding:6px;width:250px;-moz-border-radius: 5px;border-radius: 5px;margin:15px 0px;}
body.popup #fb_filter {margin: 10px 0;}

.mutual_toggle_container {float:left;margin:10px 15px;}
#inviteall {float:right;margin:10px 15px;}
label.fb_filter {font-weight:bold;}


.TabsContainer{ float: left; padding-left: 10px;}
a.methodselector{display: block; position: relative; float: left;margin-left: 5px;padding: 0px 15px;height:28px;line-height:28px;font-size:14px;font-weight:bold;font-family:"Trebuchet MS";text-align:center;}
a.methodselector img{position:relative;top:3px;margin-right: 3px;}
a.methodselector.ajaxlink{min-width:130px;
border-top-left-radius:3px;border-top-right-radius:3px;-moz-border-radius-topleft:3px;-moz-border-radius-topright:3px;}
a.methodselector.selected {z-index: 2;}


#lowerbody_container.fullbackground{background-color: #BBE3F7;}
#lowerbody_container.fullbackgroundwhite{background-color: #fff;padding-top: 1px;}
#lowerbody {margin: 30px;}
.lowerbody {margin: 15px 30px 0px;}
.halfBody {width: 430px;}
#lowerbody_container {background:none repeat scroll 0 0 white;border-top:1px solid #BBE3F7;float:left;position:relative;}

#receiver_selector_container #inviteheader div.headline {margin:20px;}
div.perm_dialog div.headline {width:100%;
	font-size: 14px;
	font-weight: bold;
	color: #333;
	line-height:18px;
}
div.perm_dialog div.headline img.networkicon {position:relative;top:10px;margin-left:7px}
div.perm_dialog {background-color:#fff;position: relative;padding: 40px 0px;text-align:center;font-size:12px;margin:0 15px 15px;}
body.popup div.perm_dialog {margin:0 10px 5px;}
div.perm_dialog a.perm_dialog {
	text-align: center;
	margin: 10px auto;
	position: relative;
	font-size: 14px;
	font-weight: bold;
	color: #403834;
	font-family: "Trebuchet MS", Helvetica, Jamrul, Arial, sans-serif;
	cursor:pointer;
}
#friend_list {position:relative;clear:both;background-color:white;height:430px;overflow:auto;margin:0 15px 15px;}
body.popup .receiverselector #friend_list {height: 125px;margin: 0 10px 5px;overflow: auto;}
#birthdayselector #friend_list {height: auto;margin: 0px;}

.invitepage #friend_list {border:1px solid #BBE3F7;}
.lowerbody.invitepage {float: left;margin: 5px 30px 0;width: 920px;}
#friend_list.emailpopup {margin:30px;}

.invitee_row {position: relative;padding-bottom: 5px;border-bottom: 1px solid #ccc;height: 50px;}
.invitee_row .label {overflow:hidden;float:left;padding: 0px 0px 0px 10px;}
.invitee_row .label .birthdaylabel{font-size:90%;color: #555;}
.invitee_row img.fbprofilepic {width: 50px;height: 50px;z-index:1;position: relative;display: block; float: left}

.invitee_row a.selector {bottom:22px;position:absolute;right:0px;padding-right:15px;cursor:pointer;color:#064159;font-family:Arial,sans-serif;}
.invitee_row a.selector span.selector{
	background:url("../custom_imgs/inputfield.png?20101129") no-repeat scroll -240px -32px transparent;
	height:15px;position:absolute;width:10px;right:0px;
}
#friend_list .invitee_row a.selector span.selector {background-position:-220px -32px;}
#friend_list .invitee_row a.selector.invite {display:Block}
#friend_list .invitee_row a.selector.remove {display:None}
#invited .invitee_row a.selector.invite {display:None}
#invited .invitee_row a.selector.remove {display:block;bottom:40px;}
#invited .invitee_row a.pending {background:url("../custom_imgs/inputfield.png?20101129") no-repeat scroll -410px -53px transparent;bottom:7px;height:25px;position:absolute;right:5px;width:25px;cursor:pointer}
#invited .invitee_row a.pending.selected {background-position:-374px -53px}


.invitee_row.nonselectable {	display:none;}
.invitee_row.selected {background-color: #eee;margin: 0px;padding: 5px;cursor:normal;}

#receiver_selector_container .invitee_row{margin:5px 13px 0px 15px;float: left;width: 260px;}
body.popup #receiver_selector_container .invitee_row {margin: 5px 10px 0 14px;}
#receiver_selector_container .invitee_row span.label{ width:170px;}



/*invite page only*/
#lowerbody_container .invitee_row {margin: 5px 5px 0px 5px;}
#lowerbody_container .invitee_row span.label{ width:250px;}



#birthdayselector {width:890px;padding:0px 15px 15px;background-color:#BBE3F7;float:left;margin:15px 0px}
#birthdayselector #friend_list_container {background-color:white;float:left;padding:15px;width:860px;}
#birthdayselector .invitee_row { width: 263px; margin:0px;float:None;margin:15px 0px 0px 30px;float: left;padding-bottom:35px;}
#birthdayselector .invitee_row.first { margin:15px 0px 0px 0px;}
#birthdayselector .invitee_row span.label{ display:block;width:190px;float:left;}
#birthdayselector .invitee_row img.fbprofilepic {margin-top:2px}
#birthdayselector .invitee_row a.selector{ display:block;width:auto;height:auto;bottom:0px;color:#B70158;background:transparent;bottom:10px;left: 58px;}





#emailinviter{ margin-left: 20px}
#emailinviter div.input_field {margin: 10px 0px;float:left;clear:both;}
body.popup #emailinviter div.input_field {margin: 5px 0px;float:left;clear:both;}
#emailinviter div.input_field div.label {float:left;margin-right:10px;position:relative;text-align:right;width:128px;}
#emailinviter input{ border: 1px solid #999999}
#email_inviter_error{float:right;width:237px;}

#inviter_name{ margin-top:23px !important}

#invitescontainer {padding:15px;background-color:  #BBE3F7;	margin-top: -1px;border-top: 1px solid #81CBEF;}
#invites {background-color:  #fff;position: relative;}

#inviter {float:left;width:445px;}
#invited {width:445px;float: right;}
#invited .invitedBody {margin:36px 15px 15px;border: 1px solid #BBE3F7;height:430px;overflow:auto;}

#invitescontainer .placeholder{position:relative;height: 60px;font-weight:bold;border-bottom: 2px solid #BBE3F7}
#PendingSelectorSelector {position:relative;height:60px;background:white;padding: 0px 15px;width:420x;;}
#inviters_selector_tooltip .gift, #PendingSelectorSelector .gift {display:block;background:url("../imgs/pending_gift_icon_sml.png") no-repeat scroll 3px 3px transparent;height:30px;float:left;margin:15px; padding-left:40px;}
#inviters_selector_tooltip .gift {display:block;background:url("../imgs/pending_gift_icon_sml.png") no-repeat scroll 100% 3px transparent;height:30px;float:left;margin:0px; padding-left:0px;}
#PendingSelectorSelector .nominator img {width:50px;height:50px;float:left;margin-right:15px;}
#PendingSelectorSelector .nominator {display:block;height:30px;float:left;margin:5px;font-weight:normal;}
#PendingSelectorSelector .nominator .name {font-weight:bold;}


#invited #mail_invitees .seperator img{ display:block; position:relative; left:-2px; top:-2px}
#invited div.seperator {border-bottom: 3px solid #bbe3f7;padding: 15px 15px 0px 15px;clear:both;}

.whiteContainer{ background: #BBE3F7; border-top:1px solid #81cbef; position: relative; padding:15px; margin-top: -1px; z-index: 1; float: left; width:890px}

#invite_message {
	clear:both;
	float:left;
	margin:30px 0;
	position:relative;
	width:100%;
}
#invite_message div.submit {
	position: absolute;
	right:0px;
	bottom: 0px;
}
#invite_message div.submit a.skipper {
	position: absolute;
	bottom: -20px;
	width: 100px;
	left: 5px;
}
#invite_message div.invite_message, #invite_message div.invite_secret {
	font-size: 20px;
	font-weight: bold;
	color: #403834;
	float:left;
	font-family: "Trebuchet MS", Helvetica, Jamrul, Arial, sans-serif;
}
#invite_message div.invite_message {
	width:760px;
	float:left;
	font-size: 20px;
}


#invite_message #inviters_selector_tooltip {bottom:55px;}

#lowerbody_container.networkinviter 	.halfBody{width:}

.invite_secret {padding: 5px;float:left;clear:left;width:430px;position:relative}
.invite_secret:hover {border:1px solid #DDF1FB; background-color:#F7FCFE;padding: 4px;}
.invite_secret .tooltip {width:480px;background-color:#ffe67d;position:absolute;right:-481px;top:-1px;display:None;}
.invite_secret .tooltip .content {margin:10px;}
.invite_secret:hover .tooltip {display:block}
.invite_secret .tooltip .triangle{top:3px;}


div.invite_secret input {position: relative; top: -4px;margin-right: 10px;}
.invite_body {float: left;width: 100%;position:relative;padding-bottom:10px;}
.invite_body .textarea {margin:15px 0px 10px;padding:5px;}
.invite_body textarea {height:60px;width:100%}
.invite_body #inviters_selector_tooltip,.invite_body #inviters_panel_tooltip {background:white;top:-25px;color:#B70158;font-weight:bold;position:absolute;right:0;width:auto;text-align:right}
.invite_body .submitSmall {margin-bottom:30px;}
/*------------------------------------- CONTRIBUTION PAGE -------------------------------*/

#paymentdetailscontainer div.forminputline {
	padding-top: 5px
}
#paymentdetailscontainer label {
	width: 170px;
	text-align: left;
	padding-bottom: 3px
}
#paymentdetailscontainer div.error_message {
	left:210px;
	bottom: 5px;
}
#paymentdetailscontainer .floaterLeft div.error_message {
	color:#FF0000 !important;
	left:0;
	position:relative !important;
	top:0;
	width:150px !important;
}


#paymentdetailscontainer{ margin-top: 20px !important; float: left; width: 920px}
#paymentdetailscontainer .panel_content{ float:left;height:auto;margin-top:0;padding:10px 15px 0;width:850px;}
#paymentdetailscontainer div.validUntil{ float:left}
.validUntil select{ display: inline !important}


#payment_details_status{clear:both;}
#payment_details_amount{position:relative;width:300px;padding: 15px;float: left;}
#payment_details_amount .amount {margin: 3px;width: 120px;text-align:right}
#payment_details_amount .totalsum span.total_label {position:absolute;bottom:0px;left:0px;}
#payment_details_amount .totalsum{font-weight:bold;border-top:2px solid #333;position:relative;}

/* --------------------------------------- FOOTER ----------------------------------------- */

div#siteinfo {width:100%;clear:both}
div#siteinfo div.siteinfo1 {
	width: 100%;
	float:left;
	text-align:center;
}
div#siteinfo div.siteinfo1 div.siteinfo2 {
	position: relative;
	text-align:center;
}

div#siteinfo div.siteinfo_copyright {
	text-align:right;
	position:absolute;right:0px;top:0px;
	padding: 0px 0px 10px 20px;
}
#verisignsealindex{
	left:30px;
	top:305px;
	position:absolute;
	overflow:hidden;
	height:77px;
}
#verisign_payment{
	height: 77px;
	overflow: hidden;
	position: absolute;
	right: 50px;
	top: 255px;
	z-index: 5;
}
#verisign_contrib{
	height: 77px;
	overflow: hidden;
	position: absolute;
	right: 15px;
	bottom: 15px;
	z-index: 5;
}
#verisignseal{
	left:30px;
	top:0px;
	position:absolute;
}
/* --------------------------------------- ------ ----------------------------------------- */
/* --------------------------------------- POPUPS ----------------------------------------- */
/* --------------------------------------- ------ ----------------------------------------- */
.panelclosing_x {position: absolute;top: 3px; right: 10px;text-decoration: none;color:white;font-weight:bold;font-size:16px}
.panelclosing_x_black {position: absolute;top: 3px; right: 2px;text-decoration: none;color:#333;font-weight:bold;font-size:16px;cursor:pointer;padding: 3px 8px;}

/* *************************************** BLOCKS ***************************************** */
.window_background {
	position: fixed;
	width: 100%;
	height: 100%;
	text-align:center;
	background-color: #333;
	top:0px;
	left:0px;
	z-index:1000;
	opacity: .5;
	filter: alpha(opacity=50);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
div.window_container {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index:1005;
}

div.window_container div.window {
	background-color:white;
	margin:150px auto;
	position:relative;
	width:700px;
	z-index:1010;
}
div.window_container .extrawidewindow {
	background-color:white;
	text-align:left;
	padding:15px;
	border:5px solid #BBE3F7;
	margin:50px auto;
	position:relative;
	width:940px;
	z-index:1010;}
div.window_container .networkicon{ float:left; padding: 20px 10px;}
div.window_container  div.window .header {
	padding:15px;
	position: relative;text-align: left;
	background-color:#403834;
	font-family:"Trebuchet MS",Helvetica,Arial,sans-serif;
	font-size:28px;font-weight:normal; color: #fff;
}

div.window_container  div.window .subheader {
	padding:30px 30px 10px;
	position: relative;text-align: left;
	font-family:"Trebuchet MS",Helvetica,Arial,sans-serif;
	font-size:14px;font-weight:bold; color: #333;
}
div.window_container  div.window div.popupContent {
	color:#333;
	font-family:Arial,Helvetica,sans-serif;
	padding: 10px 30px 30px 30px;
	text-align:left;
}

div.window_container  div.window div.popupContent ol li{
	margin-top: 30px;
	font-size:14px;
	font-weight:bold;
}
.explanation {
	background-color: #f2f2f2;
	border: 1px solid #dadada;
	margin:10px 0px;
	padding:15px 15px 10px 15px;
	font-size:12px;
	font-weight:normal;
	font-weight:normal;
}
.explanation .text{
	float:right;
	width:190px;
}
#blocking_msgs div.blocking .block_header{
	font-family:"Trebuchet MS", Helvetica, Jamrul, Arial, sans-serif;
	font-size: 14px;
	font-weight:bold;
}
#blocking_msgs div.blocking .block_intro{
	padding: 15px 15px 15px 0px;
	font-weight:normal;
}
#blocking_msgs div.blocking .facebookBtn{
	margin: 0px 0px 0px 10px;
	width: 210px;
}
#blocking_msgs div.blocking label { margin-right:15px;}
#blocking_msgs div.blocking.block_grantboth{
	padding: 30px 0px 0px 0px;
}
#blocking_msgs div.blocking .grantboth{
	position: relative;
	padding-top: 5px;
	padding-right:15px;
	font-weight:bold;
}

/* *************************************** ****** ***************************************** */
/* *************************************** POPUPS ***************************************** */
/* *************************************** ****** ***************************************** */

#mypools {
	padding: 0px 30px 30px;
}

.tabContainer {background-color: #E9E9E9;border-bottom: 1px solid #dadada;
	position: relative;float: left;width: 950px;
	margin-top: -9px;padding: 18px 0px 0px 30px;}
.tabContainer a {margin: 0 5px -1px 0;color: #403834;display: block;float: left;min-width:130px;padding: 0px 15px;
	text-align: center;font-family: 'Trebuchet MS';font-size: 14px;font-weight: bold;height:28px;line-height:28px;
	border-top-left-radius:5px;border-top-right-radius:5px;-moz-border-radius-topleft:5px;-moz-border-radius-topright:5px;
	background-color:#f3f3f3;border-top: 1px solid #e0e0e0;border-right: 1px solid #e0e0e0;border-left: 1px solid #e0e0e0;}
.tabContainer a.selected {border-bottom: 1px solid white;background-color: white;border-top: 1px solid #dadada;border-right: 1px solid #dadada;border-left: 1px solid #dadada;}
.tabContainer a.unselected {border-bottom: 1px solid #dadada;}


.subCategories{clear:both; font-size: 20px ; font-weight: bold; color: #403834; height: 47px; line-height: 47px;padding-top: 28px; font-family: Trebuchet MS,Arial}
.tooltipBoxMyPools{ height: 45px; background:none repeat scroll 0 0 #403835; position: relative}
.tooltipBoxMyPools img{ position: absolute; display: block; left: 80px; bottom: 2px}
.imgContainer{ background: url(../imgs/bg-rabody.png) left bottom no-repeat; width: 158px; height: 119px; padding: 0 1px 2px 1px}
#invite_panel_header {margin: 0 30px 30px; padding-bottom:20px}
#invite_panel_header.productSelectionPage {margin: 30px; padding-bottom:20px}
span.label{ float: left; display: block; padding-top: 2px}
span.money{ float: left; line-height: 24px}
span.currency{ float: left; line-height: 24px}
div.days span.label{ padding-top: 13px; padding-left: 5px}

div.days { margin-top: 10px}
div.days span.money{ padding: 5px 5px 0 0 }
.width150px{ width: 125px;}
.privatePublic{ float: right; font-weight: bold}
.red{color:#B20155;}
.alsoInvited{ position: absolute; left: 0px; top: 34px}
.alsoInvited img{ width: 50px; height: 50px; display: block; float: left; margin-right: 5px}
.alsoInvited p{ float: right; margin: 0; width: 70px; color:#333333; overflow:hidden}
.alsoInvited p.bold{ font-weight: bold; line-height: 13px}

.fixedWidth{text-align:right;width:230px;}
.clear{ line-height: 0; font-size: 0; height: 0; clear: both}
.myBadge{ width: 500px; margin-right: 25px; float: left; position: relative}
.myBadge img{ float: left; display: block; width: 120px; height: 120px; margin-right: 30px}
.friendsBadge{ float: left;  width: 385px}
.myBadgeInfo{ width: 500px; float: left; padding-top: 10px}
.myBadgeInfoText{ float: left; width: 340px}
.myBadgeInfoText h3{ border-bottom: 2px solid #dadada;   padding-bottom: 4px; margin-top: 0 !important;
line-height: normal !important; margin-top: -2px !important}
.borderBottom{ float: left; width: 340px; padding: 8px 0; border-bottom: 1px solid #e9e9e9}
.myBadgeInfo .imageBadgeContainer{ float: left; width: 150px; height: 120px; position: relative}
.profile-picture .borderBottom {
	border-bottom:1px solid #E9E9E9;
	float:left;
	padding:0 0 8px 0;
	width:280px;
}
.profilebuttonBtn{ display: block; margin: 32px auto; width: 180px}
.profile-picture .borderBottomSecond { border-bottom:1px solid #E9E9E9;
	float:left;
	padding:8px 0 8px 0;
	width:280px; }

.subTitle{font-family:Trebuchet MS;font-size:14px;font-weight:bold;
	border-bottom: 2px solid #dadada; padding-bottom: 7px; clear: both; float: left; width: 400px}
.subInfo{ float: left; width: 295px; margin-top: 15px}
.smallInside .imageBadgeContainer{ margin-top: 23px}
.fixedW input{ width: 240px !important}

.big{ width:920px !important}
.big .profile-picture{ width: 890px !important}
.big .inside-profile-picture{ width: 860px !important}
.profile-picture .borderBottomSecond a{ display:block;color:#C11164; font-size: 11px; text-decoration: underline; padding-top: 3px }
.passwordFields { padding-top: 15px; width: 100%}
.passwordFields input{ float: right}
.spacerInput{ float: left; width: 100%}
.imageBadgeContainer{ float: left; width: 105px; height: 90px; position: relative}
.myBadge  img.miniBadge{ width: 80px; height: 65px; margin: 0; position: absolute; bottom:-20px; right:10px}
.friendsBadgesContainer{ float: left; width: 385px; padding-top: 10px}
.friendsBadgesContainer .badge_user_pic{ float: left; width: 90px; height: 90px; margin-right: 30px; position: relative }
.friendsBadgesContainer .badge_user_pic img { float: left; width: 90px; height: 90px; }
.friendsBadgesContainer .badge_user_pic img.miniBadge{ position: absolute; right: -15px; bottom:-15px; width: 65px; height: 50px}
.friendsBadgesContainer div.label{ position:relative;text-align:right;top:12px;}

.badgeBox{ float: left; background: white; margin-top: 10px}
.badgeBoxBorder{ float: left; background-color: #bae3f7; padding: 15px}
#login_signup_container, #pwd_form_container{ margin:0 30px 30px 30px; float: left; width: 920px}
#login_signup_container .subCategories { padding-top: 0px}
.profilePictureContainer{ float: left; width: 445px}
.profilePictureContainer .profile-picture {
	float:left;
	padding:15px;
	width:415px;
}
.profilePictureContainer .inside-profile-picture {
	background:none repeat scroll 0 0 white;
	float:left;
	padding:15px;
	width:385px;
}
.profilePictureContainer  .selectImage{}
.facebookTxt{ font-family: Trebuchet MS; font-size: 14px; font-weight: bold; padding-bottom: 10px; padding-top: 10px; float:left}
.facebookTxt img{ margin-right: 5px;}
.imageBadgeContainer img.myProfilePicture{ margin-right: 5px;width:90px;height:90px;}
.maleFemale label{ display:block !important;width:90px !important; float:left !important; margin:0 0 0 5px !important}
.maleFemale input{ display:block !important;width:15px !important; float:left}
.passwordFields .maleFemale label{ float: right !important;}
#poolsettings{ clear:both; padding:30px 0px 0px}

#contributioncontainer{ margin:0px 30px 30px; padding-top: 5px !important}

#paymentdetailscontainer input, #paymentdetailscontainer,{ border: 1px solid #999999}
#paymentdetailscontainer{ margin: 0 30px 30px}
.profile-picture{width: 445px ; padding: 15px; float: left;}
.inside-profile-picture{ float: left; padding: 15px; background: white; width:415px;}
.inside_row{ float: left; padding:10px 15px 15px 15px; background: white; width:415px;}
.selectImage{ width: 280px}
.subInfo span{ display: block; padding-bottom: 12px; font-size: 12px; font-family: Arial}
.subInfo input{ display: block;}
.subInfo span.small{ padding-top: 15px; font-size: 11px; padding-bottom: 0px}
.subInfo span.small a{color:#B70158; text-decoration: underline}
.paddingZero{ padding: 15px  0 0 0 !important}
.passwordFields label{ display: block; float: left; width: 140px}
a.Save{ float: right; clear: both; font-family: Arial; font-size: 18px;  color:#333; display:block;  
	margin-top: 30px; padding-right: 10px; background: url(../custom_imgs/inputfield.png?20101129) 100% -632px no-repeat; height: 35px; line-height: 35px}
a.Save span{ display: block; float: right; cursor: pointer; padding-left: 10px;  background: url(../custom_imgs/inputfield.png?20101129) 0 -597px no-repeat;text-shadow:0 2px 0 #fff;}
.borderRow{ width: 100%; border-bottom: 1px solid #e9e9e9; height: 25px; margin-top: 5px; font-family: Arial; font-size: 12px; line-height: 21px}
.borderRow .floaterLeft img{ display: block; float: left; margin-right: 10px}
.inside_row a{ text-decoration: underline; color: #b70158}
.subHeader{ font-size: 14px; font-weight: bold; font-family: "Trebuchet MS", Arial,Helvetica,Jamrul,Arial,sans-serif;; padding-top: 15px; border-bottom: 2px solid #e9e9e9; padding-bottom: 5px; float: left; width: 100%}
.messageContainer{ margin:0 30px; background: white; padding: 15px; float: left; width: 830px;position:relative;}
.messageContainer textarea{float: right; width: 740px; height: 72px}
.messageContainer img{ width: 75px; height: 75px; float: left}
.messageContainerlong img{ padding-bottom:50px;}


#poolsettings .panel_title{ font-style: italic }

.yes{ padding-top: 10px;}
.yes label{ margin-left: 5px}


.boxTitle { 	position: relative;padding: 30px 20px 0px 30px;font-size: 20px;font-weight: bold;color: #403834;
	font-family: "Trebuchet MS", Helvetica, Jamrul, Arial, sans-serif;}
.borderBox {	width: 920px;float:left;margin: 15px 30px 30px;background-color:#BAE3F7}
.borderBox .borderBoxContent{background-color:white;margin:15px;padding:15px; min-height:250px;}
.borderBox .subheader{margin: 0px 0px 15px 0px;font-size:14px;font-weight:bold;}

.payement-container #termsofservice {height:100px; padding:5px;overflow:auto;}
#termsofservice .tosheading {margin:0px 0px 0px 0px;font-weight:bold;font-size:14px;text-align:center;}
#termsofservice .tosheading.effectivedate {margin:0px 0px 15px 0px;font-weight:normal;font-size:1em;}
#termsofservice .preamble {margin:0px 0px 15px 0px;}
#termsofservice p span{margin: 0px 10px;}
#termsofservice p {margin:10px 30px;}
#termsofservice p.tosmainsection {margin:30px 0px 0px 0px;font-weight:bold}
#termsofservice p.tosmainsection span {width:30px;margin:0px;position:relative;display:block;float:left;text-align:center;}

#privacy .tosheading {margin:0px 0px 0px 0px;font-weight:bold;font-size:14px;text-align:center;}
#privacy .tosheading.effectivedate {margin:0px 0px 15px 0px;font-weight:normal;font-size:1em;}
#privacy .preamble {margin:0px 0px 15px 0px;}
#privacy p span{margin: 0px 10px;}
#privacy p {margin:10px 30px;}
#privacy p.tosmainsection {margin:30px 0px 0px 0px;font-weight:bold}
#privacy p.tosmainsection span {width:30px;margin:0px;position:relative;display:block;float:left;text-align:center;}


#faq {margin:30px;}
#faq li {font-weight:bold; font-size: 12px;margin: 15px 0px;}
#faq li p{font-weight:normal;font-size: 12px;}
#impressum p.content {margin: 10px 0px;}
#impressum p.content.firstline {}
#impressum p.content.lastbeforeline {}
#impressum p.content.lastline {}


.marginSpecialSave{ margin:0 30px 30px 0 !important}
.region_picker {font-weight:bold;padding: 15px;text-align: right;background-color:white}

div#scrollingproductsuggestions{width:810px;overflow:hidden;height:190px;position:relative;}

div.anythingSlider {
	background:none repeat scroll 0 0 white;
	clear:both;
	padding:30px 40px 10px;
	position:relative;
}
div.anythingSlider div.pane {
	background: transparent;
	width:805px;
	position:relative;
	display: block;
	padding: 0;
	margin: 0;
}

div.anythingSlider .arrow {
	cursor:pointer;
	background-color:white;
	color:white;
	display:block;
	position:absolute;
	top:0;
	width:40px;
	z-index:5;
	height: 220px
}
div.anythingSlider .arrow a {
	color:white;
	display:block;
	height:70px;
	margin:60px 0 0 0;
	outline:0 none;
	text-align:center;
	width:40px;
}
div.anythingSlider .forward { right: 0px;  }
div.anythingSlider .back { left: 0px;  }
div.anythingSlider .forward a {background: url(../imgs/arrow-forward.png) center center no-repeat  }
div.anythingSlider .back a {background: url(../imgs/arrow-back.png) center center no-repeat   }


.personalityBox{background:none repeat scroll 0 0 white;float:left;margin:10px 0 0 0;padding:30px 0 10px 45px;width:845px;}
.personalityBox span{ padding-bottom: 10px}
.productSorterContainer{ width: 890px; padding:0 ; margin-top: -5px;float:left}
.productSorter{background: url(/static/imgs/rounded-corner-small.png) 0 0 no-repeat white;margin-right:15px;margin-top:15px;width:437px; position: relative;text-align:left}
.productSorterContainer .productSorter {float:left}

.productSorter .footer-small{ width: 437px; height: 6px; line-height: 0; font-size: 0; background: url(/static/imgs/rounded-corner-small.png) 0 -6px no-repeat white; float: left}
.marginRightClean{ margin-right:0 !important}
.productSorter .colSx{ margin-top:5px;float:left; width: 180px; background: url(/static/imgs/backgroundSearchProducts124.png) center 15px no-repeat white; padding-bottom: 9px}
.productSorter .colDx{ margin-top:5px;float:left;padding:10px 15px 15px 0;width:242px; position: relative;background:white}
.productImage{ display: block;width: 146px; height: 146px; margin: 11px auto 0 auto}
.productMerchant{ display:block;
	font-family:Trebuchet MS;
	font-size:14px;
	font-weight:bold;
	height:15px;
	line-height:14px;
	margin:15px auto 5px;
	overflow:hidden;
	padding:0;
	text-align:center;
}
.productMerchantImage{ display: block; margin: 0 auto; height: 55px; margin-top: 15px}

p.product{ font-size: 14px; font-weight: bold; font-family: Trebuchet MS; margin-top: -3px}
p.product span.currency { display: block; padding-top: 5px;width:100%;}
a.productMore{color: #B70158; display: block; float: left; margin-top: 10px}
.productSorter .submitSmall{ position: absolute; right:15px; bottom: 15px}
.productSorter .submitSmall:hover { float: left; clear: both; margin-top: 10px}
.productSorter .submitSmall:hover span{ float: left}

.whiteContainer #product_browser_container{ background: none}

#product_browser_container #product_paginator{
	bottom:-40px;
	padding: 0px;
	position:absolute;
	text-align:center;
	width:100%;
}
#product_browser_container #product_paginator span.selected{ border:1px solid #999;padding:2px 5px;}
#product_browser_container #product_paginator a{border: 1px solid white;padding:2px 5px; cursor: pointer}
.product  .whiteContainer{ border-bottom:10px solid white}
div#scrollingproductsuggestions {
	height:180px;
	overflow:hidden;
	position:relative;
	width:810px;
	background:url("../imgs/rounded-corner-big.png") no-repeat scroll 0 0 white;clear:both;
	padding:30px 40px 10px;
}
.pane{ width:840px}
#productslider{height:180px;margin-left:5px;overflow:hidden;width:804px;}

.productSorterWidth{background: url(../imgs/rounded-corner-small_890.png) 0 0 no-repeat white;margin-top:15px;width:890px; position: relative;text-align:left;float:left}
.productSorterWidth .footer-small{ height:6px; line-height: 0; font-size: 0; background: url(../imgs/rounded-corner-small_890.png) 0px -6px no-repeat white;float:left}

.productSorterWidth .halfWidth {width:395px;margin:5px 0px;float:left;padding:10px 20px;background:white;}
.productSorterWidth .label {margin: 15px 0px 15px;}
.productSorterWidth img {margin: 0px 0px 15px;}







/*=========================================== POOL HEADER ==========================================*/

#pool_pool_panel{
	position: relative;
	color: #333;
	margin: 0px 30px;
	float:left;
	overflow:hidden
}

#pool_pool_panel a.somelink{color: #C11164}
#pool_pool_panel .pool_content {float:left;margin:30px 90px;width:740px;}
.pool_content  .picture_area_outer{position:relative;width:162px;height:210px}
.pool_content  .picture_area{background:white;border:1px solid #EEEEEE;text-align:center;top:-5px;position:absolute;width:160px;height:213px}
.receiver_picture{float:left;position: relative;text-align: center;}
.picture_area img.contentPic{margin: 9px 9px 0px 9px;width: 140px;height: 140px;border:1px solid #CCCCCC}
.picture_area .subtext{margin: 5px auto;width: 140px;font-weight:bold;font-family:"Trebuchet MS"}
.picture_area .product_more{position:absolute;bottom:5px;right:5px;}
.picture_area_outer .icon {background:url("../imgs/infographic_icons_mid.png") no-repeat scroll 0 0 transparent;bottom:-10px;display:block;height:70px;left:-30px;position:absolute;width:60px;}
.picture_area_outer.product{float:right;position: relative;text-align: center;}
.picture_area_outer.product .icon{background-position:-121px 0;left:-40px;}
.pool_content  .picture_area_outer{background:white;border-bottom:1px solid #CCCCCC;border-left:1px solid #CCCCCC;border-right:1px solid #CCCCCC;}

#pool_pool_panel div.heading{
	font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
	font-style: italic;
	font-weight: bold;
	font-size: 36px;
	width: 470px;
	padding-top: 18px;
	min-height: 255px;
	margin: 0 auto
}
#pool_pool_panel div.heading div.heading_text{
 	max-height:220px;
	overflow:hidden;
	position:relative;
	text-align:center;
}

.social_tools_free {margin:0px 30px;padding:10px 0 0;clear:both;float:left;width:920px;font-weight:bold}
.social_tools_free .loginlink img{top:3px;  margin-left: 5px;}
.partialSocial {width:33%;padding:10px 0;height:16px;}
.partialSocial.left{text-align:left;border-right:1px solid #BBe3F7;}
.partialSocial.middle{text-align:center;border-right:1px solid #BBe3F7;}
.partialSocial.middle input {margin-left:10px;}
.partialSocial.right{position: relative;text-align: right;top: -5px;}


/*=========================================== COUNTER ===========================================*/
#timeline_bar {clear:both;float:left;margin:0 30px 30px;}
#timeline_bar div.timeline {margin: 0px auto;padding-top:35px;width:860px;}
#timeline_bar div.timeline .limit{font-size:14px; font-weight:bold;padding-bottom:3px;text-shadow:#e2f3fc 0px -1px 0px}
#timeline_bar div.timeline_progressbar_bg .tooltip {margin-left:-5px;background:none repeat scroll 0 0 #FFEea8;display:block;font-family:"Trebuchet MS";font-size:14px;font-weight:bold;min-width:100px;padding:5px 0;position:absolute;text-align:center;top:-28px;text-shadow:#fff7d4 0px -1px 0px}

#timeline_bar div.timeline_progressbar_bg .tooltip .bottomYellowTriangle {margin-left:10px;background-position:-425px -20px;}
#timeline_bar div.timeline_progressbar_bg .tooltip.withMessage {padding:5px;}


#timeline_bar div.timeline_progressbar_bg {position:relative;clear:both;height: 50px;background: url(/static/imgs/progressbar_bg.png?20101129) no-repeat left;}
#timeline_bar div.timeline_progressbar {height: 40px;margin: 0px 5px 0px 5px;padding: 5px 0px 5px 0px;
	background: url(/static/imgs/progressbar_progress.png?20101129) no-repeat left;}
#timeline_bar div.timelinelegende {padding-top: 10px}
#timeline_bar div.timelinelegende a{text-align:right;}