.underlined1 {border-bottom:1px solid #E8EEEC;}
.underlined2 {border-bottom:2px solid #89A79E;}
.underlined5 {border-bottom:5px solid #89A79E;}
.emphasis{color: #b75182;}

.inside{color: #C5C5C5;font-size: 28px;}
.insideSmall{font-size:14px}
.smallInside{color: #a5a5a5;font-size: 18px;}


a.red_labeled_container {margin: 23px 26px 23px 60px}

#pool_admin_pic{background-color: #b0c8c0}
#pool_admin_slogan{background-color: #89A79E}
.pcont_body .contributor{background-color: #89A79E}


div#fundstream_ra{background-color:#b0c8c0}
div#mypools.recentactivity div.rabody{background-color:#b0c8c0}
div#lowerbody_container div.comment div.commentText {background-color: #89A79E}
div#lowerbody_container textarea.comment_text_input {background-color:#C2D5CF;border:1px solid #89A79E}
.ctrbrText{background-color:#89A79E}




body {background-color: #333333;color:#333;}
.logoHeader {float:left;margin: 0 0 10px 17px;}

a.login_loginlink {color: #333;}

div.frontpagebutton {background-color:#ccd9d5;width:300px;padding: 1px;}
div.frontpagebutton.first {width:100%;background:white;}
div.frontpagebutton.second {margin: 1px 1px 1px 0px;}
div.frontpagebutton.last {width:250px;}
div.frontpagebuttonhover {background-color: #CCD9D5;}
div.frontpagebutton div.extender {left: -1px;border-left: 1px solid #B7CAC5;border-right: 1px solid #B7CAC5;background-color:#E8EEEC;z-index:5;}
#pool_configurator {padding:5px}
#pool_configurator div.front_panel_active{ background-color: #E8EEEC;border: 1px solid #B7CAC5;padding: 0px;}

#funders_panel_tooltip {top: -27px;}
#pool_configurator .hpbutton {float:left;width:100%;}
#pool_configurator .hpbutton div.button_content {position: relative;width:178px;margin: 0px auto;}
#pool_configurator .hpbutton img.loaders_animation {position:absolute;top:30px;left:40px;}
#pool_configurator .hpbutton img.button_content {	height:68px;width:auto;max-width:98px;margin:0 auto;padding-top:5px;}
#pool_configurator .hpbutton div.label {margin:10px 10px 10px 0px;}
#pool_configurator .hpbutton a.content {float:left;margin:5px 10px;}
.hpbutton a.content.withbg {height:74px;width:96px}
.hpbutton a.content.nobg {height:76px;width:98px}


#pool_configurator div.hpbutton.gift div.label { margin:0px 10px;float:left;width:700px}
#pool_configurator div.hpbutton.gift img.button_content {margin:0;float:left;max-width:178px;height:111px;padding:0;}
#funders_panel{background:white !important;border:0px transparent solid !important;}

#button_panel_container {float:left;display: None;width:100%;border: 1px solid #B7CAC5;background-color:#E8EEEC;clear: both;position: relative;margin-top:2px;}
#button_panel {min-height:150px;position: relative;padding:10px 0 0 0;float:left;width:100%}

div#occasion_button_bar {background-color:#89A79E;border-top:1px solid #546661;margin-top:-1px;}
div#occasion_button_bar select,
div#occasion_button_bar input{width:300px !important;background:white;padding:3px;}
.dijitTextBoxFocused .dijitInputContainer, .dijitTextBox {background-color: white !important;}
.dijitTextBoxError,  .dijitTextBoxError .dijitInputContainer {background-color: white !important;}
.dijitTextBoxError input.dijitValidationInner, .dijitTextBox input.dijitArrowButtonInner {height: 20px !important;}
.dijitTooltipContainer {left: 10px;}
.claro .dijitTextBox .dijitInputField {background-color:white;width:100px;padding:3px;}
.occasionLabel{font-weight:bold;}
.horizontal_tiler {padding:30px;border-bottom: 1px solid #E8EEEC;}
.dateopener {cursor:pointer}
#occasion_date_input_bar {clear:both;padding:30px;}



#receiver_selector_container {border-top: 1px solid #546661;background-color:#89A79E;width:920px;}

div#siteinfo {float:left;float:left;}
div#siteinfo {border-top:2px solid #D3EDFA;background:#333;}
div#siteinfo div.siteinfo1 {border-top:None;}
div#siteinfo div.siteinfo1 div.siteinfo2 {width:100%;margin:0px auto 15px;}
div#siteinfo a.siteinfo_content {padding: 10px;color:#fff}
div#siteinfo div.siteinfo_copyright {color:#fff;}
div#siteinfo .poweredByFriendfund {width:110px;height:20px;display:block;top:-2px;position:relative;background:url("/static/imgs/inputfield.png") repeat scroll -5px -63px transparent;float:right;}
div#siteinfo .siteinfo_copyright.light .poweredByFriendfund {background-position:-124px -63px}

body.base div#siteinfo div.siteinfo1 div.siteinfo2 {width:980px}

div.window_container div.window {border:15px solid #b0c8c0;}
.profilePictureContainer .profile-picture {background-color:#b0c8c0;}
.profile-picture{background-color:#b0c8c0;}
.payement-container #termsofservice {border:1px solid #b0c8c0;}
#pool_pool_panel .pool_content  .picture_area_outer{background:white;border-bottom:1px solid #aaa;border-left:1px solid #aaa;border-right:1px solid #aaa;}

body.base  {background: #fff url(../imgs/body_bg.png) 0 0 repeat-x !important;}
body.base div#container {width:980px;}
#outercontainer {width:100%;float:left;background:none;padding: 0px 0px 5px 0px !important;background: url("/static/imgs/body_bg.png") repeat-x scroll 0 0 #fff !important;}
body.popup div#container {height:650px;background:white}

#headercontainer {position: relative;float: left;width: 100%}
#body_outer_container {position: relative;clear: both;border-top:1px solid #978779;float:left;}

#body_container {clear:both;display: block;padding: 0px;position: relative;}
#body_container .innerbody {background-color:  #89A79E;padding-top: 1px;}
.logoBanner {float:left;margin:24px 0 0 29px;}

#timeline_bar div.timeline_progressbar_bg .tooltip {background-color: white;}