.underlined1 {border-bottom:1px solid #E8EEEC;}
.underlined2 {border-bottom:2px solid #89A79E;}
.underlined5 {border-bottom:5px solid #89A79E;}
.emphasis{color: #b75182;}

.inside{color: #C5C5C5;font-size: 28px;}
.insideSmall{font-size:14px}
.smallInside{color: #a5a5a5;font-size: 18px;}


a.red_labeled_container {margin: 23px 26px 23px 60px}

#pool_admin_pic{background-color: #b0c8c0}
#pool_admin_slogan{background-color: #89A79E}
.pcont_body .contributor{background-color: #89A79E}


div#fundstream_ra{background-color:#b0c8c0}
div#mypools.recentactivity div.rabody{background-color:#b0c8c0}
div#lowerbody_container div.comment div.commentText {background-color: #89A79E}
.ctrbrText{background-color:#89A79E}




body {background-color: #333333;color:#333;}
.logoHeader {float:left;margin: 15px 0 0px 17px;}

a.login_loginlink {color: #333;}

div.frontpagebutton {background-color:#ccd9d5;width:300px;padding: 1px;}
div.frontpagebutton.first {background-color: #E8EEEC;border: 1px solid #B7CAC5;padding:0;}
div.frontpagebutton.second {margin: 1px 1px 1px 0px;}
div.frontpagebutton.last {width:250px;}
div.frontpagebuttonhover {background-color: #CCD9D5;}
div.frontpagebutton div.extender {left: -1px;border-left: 1px solid #B7CAC5;border-right: 1px solid #B7CAC5;background-color:#E8EEEC;z-index:5;}

#pool_configurator div.front_panel_active{ background-color: #E8EEEC;border: 1px solid #B7CAC5;padding: 0px;}
#funders_panel{background-color:white !important;border:0px transparent solid !important;}

#button_panel_container {float:left;display: None;width:100%;border: 1px solid #B7CAC5;background-color:#E8EEEC;clear: both;position: relative;}
#button_panel {min-height:150px;position: relative;padding:10px 0 0 0;float:left;width:100%}

div#occasion_button_bar {background-color:#89A79E;border-top:1px solid #546661;margin-top:-1px;}
div#occasion_button_bar select,
div#occasion_button_bar input{width:300px !important;background-color:white;padding:3px;}
.dijitTextBoxFocused .dijitInputContainer, .dijitTextBox {background-color: white !important;}
.dijitTextBoxError,  .dijitTextBoxError .dijitInputContainer {background-color: white !important;}
.dijitTextBoxError input.dijitValidationInner, .dijitTextBox input.dijitArrowButtonInner {height: 20px !important;}
.dijitTooltipContainer {left: 10px;}
.claro .dijitTextBox .dijitInputField {background-color:white;width:100px;padding:3px;}
.occasionLabel{font-weight:bold;}
.horizontal_tiler {padding:20px 30px;border-bottom: 1px solid #E8EEEC;}
.dateopener {cursor:pointer}
#occasion_date_input_bar {clear:both;padding:30px;}



#receiver_selector_container {border-top: 1px solid #546661;background-color:#89A79E;}

div#siteinfo {float:left;float:left;}
div#siteinfo {border-top:2px solid #D3EDFA;background-color:#333;}
div#siteinfo div.siteinfo1 {border-top:None;}
div#siteinfo div.siteinfo1 div.siteinfo2 {width:100%;margin:0px auto 15px;}
div#siteinfo a.siteinfo_content {padding: 10px;color:#fff}
div#siteinfo div.siteinfo_copyright {color:#fff;}
div#siteinfo .poweredByFriendfund {width:110px;height:20px;display:block;top:-2px;position:relative;background:url("/static/custom_imgs/inputfield.png") repeat scroll -5px -63px transparent;float:right;}
div#siteinfo .siteinfo_copyright {float:right; color:white}
div#siteinfo .siteinfo_copyright.light .poweredByFriendfund {background-position:-124px -63px}

body.base div#siteinfo div.siteinfo1 div.siteinfo2 {width:980px}

div.window_container div.window {border:15px solid #b0c8c0;}
.profilePictureContainer .profile-picture {background-color:#b0c8c0;}
.profile-picture{background-color:#b0c8c0;}
.payement-container #termsofservice {border:1px solid #b0c8c0;}
#pool_pool_panel .pool_content  .picture_area_outer{background-color:white;border-bottom:1px solid #aaa;border-left:1px solid #aaa;border-right:1px solid #aaa;}

#outercontainer {padding: 0px 0px 5px 0px !important;}

#body_container .innerbody {background-color:  #89A79E;padding-top: 1px;}
.logoBanner {float:left;margin:24px 0 0 29px;}
#timeline_bar div.timeline_progressbar_bg .tooltip {background-color: white;}

.rcptThankYouNotice {background-color: #89A79E;}
.invite_secret .tooltip {background-color: #89A79E}
#invitescontainer {background-color: #89A79E; border-top: 1px solid #333}
#birthdayselector {background-color: #89A79E;}

a.methodselector.ajaxlink{background-color:#abd0c3;min-width:130px;border-top: 1px solid #546661;border-right: 1px solid #546661;border-left: 1px solid #546661;}
a.methodselector.selected {z-index: 2;background-color:#89A79E;border-top: 1px solid #546661;border-right: 1px solid #546661;border-left: 1px solid #546661;}