<%def name="renderSlider()">
<%
slides = [
	 ("&nbsp;", _("friendfund makes it <b>easy</b> to buy a gift together and share the costs with friends!"), 'slide_1_hands.png')
	,(_("Your Pool"), _("Create a <b>pool page</b> where you and your friends can meet up and chip in."), 'slide_2_Pool_Page.png')
	,(_("Collect the funds"), _("Pick your <b>lucky gift recipient</b> and invite friends to chip in. You have %s days to reach the target.")%c.pool_run_time, 'slide_3.png')
	,(_("Happy Faces"), _("When you reach the target we will send your gift directly to your chosen address."), 'slide_4.png')
	,(_("Get Started"), _("Browse the site to find your <b>perfect gift</b> and click the friendfund it button."), 'slide_5_friendfundit.png')
	]
%>

	<div class="sliderContainerWindow">
		<div class="contentSlider" style="width:${len(slides)*660}px">
			%for i,(title, caption, slide) in enumerate(slides):
				<div class="sliderPane">
					<img src="/static/partner/slides/${slide}" class="floatRight"/>
					<div class="slideText ${i==0 and "firstSlide" or ""}">
						<span class="slideTitle">${title|n}</span>
						<span class="slideCaption">${caption|n}</span>
					</div>
				</div>
			%endfor
		</div>
	</div>
	<ul class="controllerNumbered floatRight">
		%for i,(title, caption, slide) in enumerate(slides):
			<li class="floatLeft sliderNumberControl${i==0 and " selected" or ""}" _pane="${i}">${i+1}</li>
		%endfor
	</ul>
	<div class="sliderController controllerRight"></div>
	<div class="sliderController controllerLeft hidden"></div>
	<div class="shadBigCorner"></div>
</%def>


<%def name="renderProductBox(product)">
	<div class="productBox rosePlacement floatRight">
		<div class="productBoxInner">
			<div class="prodBoxImgWrap">
				<div class="prodBoxImgSubWrap"> <img src="${product.get_display_product_picture_url(app_globals.statics_service, "FF_POOLS")}" height="50px"> </div>
			</div>
			<span class="rose"><p>${_("GG_POOLDETAILS_The Gift")|n}</p></span>
			<p class="title">
				%if product and product.tracking_link:
					<a class="pLink" target="_blank" href="${product.tracking_link}">${product.get_iframe_display_label(words = 5) or "&nbsp;"|n}</a>
				%else:
					<span class="pLink">${product.get_iframe_display_label(words = 5) or "&nbsp;"|n}</span>
				%endif
				<span class="price">${product.get_display_price()}</span>
			</p>
			<div class="clear"></div>
		</div>
	</div>
</%def>