<%inherit file="../master.html"/>
<%namespace name="forms" file="../widgets/forms.html"/>
<%namespace name="links" file="../widgets/links.html"/>
<%namespace name="inviter" file="../invite/inviter.html"/>
<div class="howtoPopBg">
<div class="howtoPop" style="background:white">
	<div class="">
		<div class="contentIframe">
            <div class="howtoColLeft">
                <h4>${_("FF_IFRAME_HOWTO_What is friendfund?")}</h4>
                <p>${_("FF_IFRAME_HOWTO_friendfund is the simple way to organise a Group Gift and give something extra special without breaking the bank.")} </p>
    			<p>${_("FF_IFRAME_HOWTO_Find the perfect gift, click the friendfund it! button, and share the costs with friends!")}</p>
    			<p><span>${_("FF_IFRAME_HOWTO_See how it works in the righthand panel")}</span></p>
    			<div class="sponsored">
                	<div>
                    	<span>${_("FF_IFRAME_HOWTO_As seen in")}</span>
                    	<img src="/static/imgs/iframe-howto/TechCrunch.png" />
                        <img src="/static/imgs/iframe-howto/Gigaom.png" style="margin-left:8px" />
                        <img src="/static/imgs/iframe-howto/IWB.png" style="margin-left:8px; margin-top:-2px"  />    
                    </div>
                    <div>
                	<div class="small">
                    	<span>${_("FF_IFRAME_HOWTO_You are safe with us")}</span>
                    	<img src="/static/imgs/Verisign_bw.png" />
                    </div>
                    <div  class="divider"></div>
                	<div class="small" style="padding-left:10px ; width:84px" >
                    	<a href="http://www.friendfund.com" target="_blank"><span>${_("FF_IFRAME_HOWTO_Powered by")}</span>
                        <img src="/static/imgs/friendfund.png" /></a>
                    </div>
                    </div>
            	</div>
            </div>
            <div class="howtoColRight">
            	<div>
                	<div class="num">1</div>
                	<img src="/static/imgs/iframe-howto/Image_1_Prod_Page.png" />
                	<p>${_("FF_IFRAME_HOWTO_<span>Getting started:</span> Browse the product pages on this website to find the perfect gift.")|n}</p>
                </div>
                <div>
                	<div class="num">2</div>
                	<img src="/static/imgs/iframe-howto/Image_2_ff_button.png" style="margin-left:-95px" />
                	<p>${_("FF_IFRAME_HOWTO_<span>Once you've found your gift,</span> click the friendfund it! button.")|n}</p>
                </div>
                <div>
                	<div class="num">3</div>
                	<img src="/static/imgs/iframe-howto/Image_3_Computer.png" />
                	<p>${_("FF_IFRAME_HOWTO_<span>In the popup,</span> choose your recipient and occasion...")|n}</p>
                </div>
                <div>
                	<div class="num">4</div>
                	<img src="/static/imgs/iframe-howto/Image_4_Invite_Friends.png" />
                	<p>${_("FF_IFRAME_HOWTO_<span>... and invite friends</span> to share the costs.")|n}</p>
                </div>
                <div>
                	<div class="num">5</div>
                	<img src="/static/imgs/iframe-howto/Image_5_Chip_In.png" />
                	<p>${_("FF_IFRAME_HOWTO_<span>Congratulations!</span> Your Group Gift Pool is live! You have 10 days to reach the target.")|n}</p>
                </div>
                <div>
                	<div class="num">6</div>
                	<img src="/static/imgs/iframe-howto/Image_6_Gift.png" />
                	<p>${_("FF_IFRAME_HOWTO_<span>Once the Pool is funded,</span> your gift will be shipped directly to your chosen destination.")|n}</p>
                </div>
            </div>
		</div>
	</div>
</div>
</div>