<%inherit file="../master.html"/>
<%namespace name="widgets" file="../widgets/widgets.html" />
<%namespace name="links" file="../widgets/links.html"/>
<%def name="authperms()">{fwd:false, hasLoginPanel:false, simpleLogout : function(response){ff.io.xhrPost("/logout?furl=/");document.getElementById("resubmit").submit();}}</%def>
<%def name="styles()">${links.css('iframe.css')}</%def>


<%def name="onloadscripts()">
	ff.w.anythingSlider("slider1");
</%def>

<%
slides = [
	 ('Hello World', 'Merchant_Homepage_Popup_slide_1_noguides.png')
	,('Hello World', 'Merchant_Homepage_Popup_slide_2_noguides.png')
	,('Hello World', 'Merchant_Homepage_Popup_slide_3_large_photos_UPDATED.png')
	,('Hello World', 'Merchant_Homepage_Popup_slide_4_noguides.png')
	,('Hello World', 'Merchant_Homepage_Popup_slide_5_noguides.png')
	]
%> 

<div class="contentIframe">
	<div class="wrapHeaderIframe">
		<h2>${_("FF_IFRAME_Organise a Group Gift!")}</h2>
	</div>
	
	<div class="wrapContentIframe">
	<div class="sliderContainer" id="slider1">
		<div class="sliderContainerWindow">
		<div class="contentSlider" style="width:${len(slides)*660}px">
			%for caption,slide in slides:
				<div class="sliderPane"><img src="/static/partner/slides/${slide}"/></div>
			%endfor
		</div>
		</div>
		<ul class="controllerNumbered floatRight">
			%for i,(caption,slide) in enumerate(slides):
				<li class="floatLeft sliderControl${i==0 and " selected" or ""}" _pane="${i}">${i+1}</li>
			%endfor
		</ul>
		<div class="controllerRight"></div>
		<div class="controllerLeft hidden"></div>
		<div class="shadBigCorner"></div>
	</div>
	<h3 class="subheading">${_("FF_IFRAME_Stuff others have friendfunded!")}</h3>
	<div class="iFrameHomeBoxes">
	%for pool in c.suggested_pools:
		<% locals = {"number_contributors":pool.get_number_of_contributors()} %>
		<div class="iFrameHomeBox">
			<img src="${pool.get_product_display_picture("FF_POOLS")}" width="138px" height="109px" />
			<span class="rose"><p>${widgets.renderPoolInfoContributors(locals)|n}</p></span>
			<a target="_blank" href="${url("get_pool", pool_url = pool.p_url)}">${pool.title}</a>
			<div class="shadBigLeftCorner"></div>
			<div class="shadBigRightCorner"></div>
		</div>
	%endfor
	</div>
	</div>
	<div class="wrapFooterIframe">
		<span class="floatLeft" style="margin: 0 30px">${_("FF_IFRAME_As seen in")}
			<img src="/static/imgs/press/techcrunch_sml.png" />
			<img src="/static/imgs/press/gigaom_sml.png" />
		</span>
		<span class="floatLeft">${_("FF_IFRAME_You are safe with us")}</span>
		<img class="floatLeft" style="margin-left:10px" src="/static/imgs/Verisign_bw.png" /></span>
		<a href="http://${app_globals.default_host}" target="_blank"><span class="floatRight" style="margin: 0 30px 0 0">
		&nbsp;<img src="/static/imgs/powered_by_button_bw.png"/>
		</span></a>
	</div>
	<div class="clear"></div>
</div>
%if c.user.is_anon:
<div id="loginlink"></div>
%endif




<form action="${url(controller="partner", action="bounce")}" method="POST" id="resubmit">
%for k in c.backup_values:
	%for v in c.backup_values.getall(k):
		<input type="hidden" name="${k}" value="${v}"/>
	%endfor
%endfor	
</form>