<%inherit file="../master.html"/>
<%namespace name="widgets" file="../widgets/widgets.html" />
<%namespace name="links" file="../widgets/links.html"/>
<%namespace name="common" file="common.html"/>
<%def name="authperms()">{fwd:false, hasLoginPanel:false, simpleLogout : function(response){ff.io.xhrPost("/logout?furl=/");document.getElementById("resubmit").submit();}}</%def>
<%def name="styles()">${links.css('iframe.css')}</%def>


<%def name="onloadscripts()">
	ff.w.anythingSlider("slider1");
</%def>
<div class="contentIframe">
	<div>
		<h2>${_("FF_IFRAME_Organise a Group Gift!")}</h2>
	</div>
	
	<div class="wrapContentIframe">
	<div class="sliderContainer" id="slider1">
		${common.renderSlider()|n}
	</div>
	<h3 class="subheading">${_("FF_IFRAME_Stuff others have friendfunded!")}</h3>
	<div class="iFrameHomeBoxes">
	%for pool in c.suggested_pools:
		<% locals = {"number_contributors":pool.get_number_of_contributors()} %>
		<div class="iFrameHomeBox rosePlacement">
			<img src="${pool.get_product_display_picture("FF_POOLS")}" width="138px" height="109px" />
			<span class="rose"><p>${widgets.renderPoolInfoContributorsWithFallback(locals, _("GG_Recommended Product"))|n}</p></span>
			%if pool.product and pool.product.tracking_link:
				<a class="pLink" target="_blank" href="${pool.product.tracking_link}">${pool.get_product_display_label(words = 5, include_price = False) or "&nbsp;"|n}</a>
			%else:
				<span class="pLink">${pool.get_product_display_label(words = 5, include_price = False) or "&nbsp;"|n}</span>
			%endif
			<div class="shadTinyBottom"></div>
		</div>
	%endfor
	</div>
	</div>
	<div class="wrapFooterIframe">
		<span class="floatLeft" style="margin: 0 30px">${_("FF_IFRAME_As seen in")}
			<img src="/static/imgs/press/techcrunch_sml.png" />
		</span>
		<span class="floatLeft">${_("FF_IFRAME_You are safe with us")}</span>
		<img class="floatLeft" style="margin-left:10px" src="/static/imgs/Verisign_bw.png" /></span>
		<a href="http://${app_globals.default_host}" target="_blank"><span class="floatRight" style="margin: 0 30px 0 0">
		&nbsp;<img src="/static/imgs/powered_by_button_bw.png"/>
		</span></a>
	</div>
	<div class="clear"></div>
</div>
%if c.user.is_anon:
<div id="loginlink"></div>
%endif

