<div id="badge_popup_content">
<div class="header">${(_("BADGEPOPUP_Congratulations! You've been awarded the %(badgename)s Badge!")%dict([('badgename',c.badgename)]))|n}</div>
<div class="badge_text">${_(c.badge_description)|n}</div>

<a class="panelclosing_x" href="#" onclick="window.parent.closeBadges();">x</a>
<div class="badge_icon"><img src="${c.badge_url}"/></div>
<a class="share_link">${_("BADGEPOPUP_Share this with your friends")} <img src="/static/imgs/icon_fb_connect.png"/><img src="/static/imgs/icon_tw_connect.png"/></a>
</div>