<%namespace name="html" file="../widgets/html_elems.html"/>
<%
	badge = getattr(c, 'badge', None)
%>
%if badge:
	<div class="badge_background">&nbsp;</div>
	<div class="window" id="badge_window_container">
		<div class="badge_window pagelet" id="badge_window" pagelet_href="${url('mybadges', badge_name=c.badge.name)}">
			${html.loading_animation()|n}
			<a href="#" class="panel_closer">&nbsp;</a>
		</div>
	</div>
	<script type="text/javascript">
		dojo.addOnLoad( function() {
			onLoadPagelets("badge_window_container");
			dojo.query(".window, .badge_background", "badge_popup").connect("onclick", closeBadges);
			esc_handler = dojo.connect(window, "onkeyup", dojo.hitch(null, esc_handler_f, closeBadges));
		});
	</script>
%endif