<%
	blocks = getattr(c, 'blocks', False)
	
	if getattr(c, 'page', None) == 'contrib':
		HEADER_MSG = _("CONTRIB_CONTRIB_PERMISSIONS_POPUP_We need some additional Permissions!")
		SUBHEADER = _("CONTRIB_PERMISSIONS_POPUP_To keep your friends apprised of your funding efforts, we need some additional permissions as listed below!")
		
		EMAIL_TITLE = _("CONTRIB_PERMISSIONS_POPUP_TITLE_Your Email")
		EMAIL_INTRO = _("CONTRIB_PERMISSIONS_POPUP_To be able to give you personal notices for pool events, we require email addresses of any person that invites their friends.")
		EMAIL_LABEL = _("CONTRIB_PERMISSIONS_POPUP_Enter  Email:")
		EMAIL_FB = _("CONTRIB_PERMISSIONS_POPUP_Grant Facebook Email")
		
		STREAM_PUBLISH_TITLE = _("CONTRIB_PERMISSIONS_POPUP_TITLE_Your Facebook Stream Publish Permission")
		STREAM_PUBLISH_INTRO = _("CONTRIB_PERMISSIONS_POPUP_In you are inviting friends from facebook, we do require Stream Publish to send out your invite messages bearing your personal notice.")
		STREAM_PUBLISH = _("CONTRIB_PERMISSIONS_POPUP_Grant Stream Publish")
		GRANT_BOTH_INTRO = _("CONTRIB_PERMISSIONS_POPUP_Or simply grant both in one go!")
		GRANT_BOTH = _("CONTRIB_PERMISSIONS_POPUP_Grant Both!")
		SKIPTHISLINK = _("CONTRIB_PERMISSIONS_POPUP_Of course you can skip granting, by not inviting any one.")
		SKIPABLE = False
	else:
		HEADER_MSG = _("INVITE_PERMISSIONS_POPUP_Almost there!")
		SUBHEADER = _("INVITE_PERMISSIONS_POPUP_To keep your friends up to date with your gift pool, we'll need:")
		EMAIL_TITLE = _("INVITE_PERMISSIONS_POPUP_TITLE_Your Email")
		EMAIL_INTRO = _("INVITE_PERMISSIONS_POPUP_To receive notifications of any updates on your pool, please enter your email address or use your facebook email.")
		EMAIL_LABEL = _("INVITE_PERMISSIONS_POPUP_Email:")
		EMAIL_FB = _("INVITE_PERMISSIONS_POPUP_Grant Facebook Email")
		
		STREAM_PUBLISH_TITLE = _("INVITE_PERMISSIONS_POPUP_TITLE_Your Facebook Stream Publish Permission")
		STREAM_PUBLISH_INTRO = _("INVITE_PERMISSIONS_POPUP_Because you're inviting friends from Facebook, we need Stream Publish permission so they can receive your personal invitation.")
		STREAM_PUBLISH = _("INVITE_PERMISSIONS_POPUP_Grant Stream Publish")
		GRANT_BOTH_INTRO = _("INVITE_PERMISSIONS_POPUP_...or grant both in one go!")
		GRANT_BOTH = _("INVITE_PERMISSIONS_POPUP_Grant Both!")
		SKIPTHISLINK = _("INVITE_PERMISSIONS_POPUP_Of course you can skip granting, by not inviting any one.")
		SKIPABLE = True
%>
%if blocks and getattr(c, 'enforce_blocks', False):
	<div class="window_background">&nbsp;</div>
	<div class="window_container">
		<div class="window">
			<div class="header">${HEADER_MSG|n}</div>
			<div class="subheader">${SUBHEADER|n}</div>
			<a href="#" class="panelclosing_x">x</a>
		<div class="popupContent">
		%if 'email' in blocks:
			<div class="blocking" id="emailblock">
				<div class="block_header">
					${EMAIL_TITLE|n}
				</div>
				<div class="block_intro">
					${EMAIL_INTRO|n}
				</div>
				<form action="/set_email" method="POST" id="blockingemailform">
					<a class="facebookBtn floaterRight" onclick="getfbEmail('${app_globals.FbApiKey}')"><span>${EMAIL_FB}</span></a>
					<label for="email">${EMAIL_LABEL|n}</label>
					<input type="text" value="${getattr(c, 'email', '')}" name="email" id="email"/>
					<input type="button" value="submit" onclick="loadFormElement('/set_email', 'blocking_email_error', 'blockingemailform', page_reloader);"/>
					<div id="blocking_email_error"></div>
				</form>
				<div class="clear"></div>
			</div>
		%endif
		%if 'fb_streampub' in blocks:
			<div class="blocking" id="fb_streampubblock">
				<div class="block_header">
					${STREAM_PUBLISH_TITLE|n}
				</div>
				<div class="block_intro">
					${STREAM_PUBLISH_INTRO|n}
				</div>
				<a class="facebookBtn floaterRight" onclick="getfbStreamPublish('${app_globals.FbApiKey}')"><span>${STREAM_PUBLISH}</span></a>
				<div class="clear"></div>
			</div>
		%endif
		%if 'email' in blocks and 'fb_streampub' in blocks:
			<div class="blocking block_grantboth">
				<div class="block_header">
				<a class="facebookBtn floaterRight" onclick="getfbStreamPublishnEmail('${app_globals.FbApiKey}')"><span>${GRANT_BOTH}</span></a>
				<div class="floaterRight grantboth">
					${GRANT_BOTH_INTRO|n}
				</div>
				</div>
				<div class="clear"></div>
			</div>
		%endif
		%if not SKIPABLE:
			<div class="blocking">
					<div class="block_intro floaterRight">
						${SKIPTHISLINK|n}<a href="#" onclick="checkForward()"> ${_("Skip")}</a>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		%endif
	</div>
	</div>
	<script type="text/javascript">
		dojo.addOnLoad( function() {
			dojo.query(".panelclosing_x", "blocking_msgs").connect("onclick", closeBlocks);
		});
	</script>
%endif





