<%inherit file="../layout.html"/>
<%namespace name="widgets" file="../widgets/widgets.html"/>
<%namespace name="forms" file="/widgets/forms.html"/>
<%def name="title()">${_("FF_TITLE_Address | %s") % c.pool.title}</%def>

<% 
	locals = {"expiry_date":h.format_date(c.pool.expiry_date, format="full"),"admin_name":c.pool.admin.name, "merchant_name":request.merchant.name} 
%>
<div class="wrapSubHeader">${self.renderMessages(c.pool.p_url)|n}
  <div class="subHeader">
    <div class="userProfile">
        <div class="nonPoolHeader">
        <h2>${_("FF_ADDRESS_Shipping Address")}</h2>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
<div class="wrapSubContent">
<div class="content">
	<div class="colLeft">
		<h4>${_("FF_ADDRESS_Where is your gift going to?")}</h4>
		<div class="subHeading"></div>
		<form action="${url("pool_edit", pool_url = c.pool.p_url, action="address")}" method="POST" name="submissionForm">
		<div class="borderBottom ${"first_name" in c.errors and "error" or ""}">
			<div class="greyInsideFullWidth">
				<div class="first">
					<span>${_("FF_ADDRESS_First Name")}</span>
				</div>
				<input class="shrt" type="text" name="first_name" value="${c.values.get("first_name")}"/>
				%if "first_name" in c.errors:
					<p class="errorMsg" style="margin-top:7px; width:210px; font-size:11px">${c.errors["first_name"]}</p>
				%endif
			</div>
		</div>
		<div class="borderBottom ${"last_name" in c.errors and "error" or ""}">
			<div class="greyInsideFullWidth">
				<div class="first">
					<span>${_("FF_ADDRESS_Last name")}*</span>
				</div>
				<input class="shrt" type="text" name="last_name" value="${c.values.get("last_name")}"/>
				%if "last_name" in c.errors:
					<p class="errorMsg" style="margin-top:7px; width:210px; font-size:11px">${c.errors["last_name"]}</p>
				%endif
			</div>
		</div>
		<div class="borderBottom ${"line1" in c.errors and "error" or ""}">
			<div class="greyInsideFullWidth">
				<div class="first">
					<span>${_("FF_ADDRESS_Address")}*</span>
				</div>
				<input class="shrt" type="text" name="line1" value="${c.values.get("line1")}"/>
				%if "line1" in c.errors:
					<p class="errorMsg" style="margin-top:7px; width:210px; font-size:11px">${c.errors["line1"]}</p>
				%endif
			</div>
		</div>
		<div class="borderBottom ${"line2" in c.errors and "error" or ""}">
			<div class="greyInsideFullWidth">
				<div class="first">
					<span>${_("FF_ADDRESS_City")}*</span>
				</div>
				<input class="shrt" type="text" name="line2" value="${c.values.get("line2")}"/>
				%if "line2" in c.errors:
					<p class="errorMsg" style="margin-top:7px; width:210px; font-size:11px">${c.errors["line2"]}</p>
				%endif
			</div>
		</div>
		<div class="borderBottom ${"zipcode" in c.errors and "error" or ""}">
			<div class="greyInsideFullWidth">
				<div class="first">
					<span>${_("FF_ADDRESS_Postal Code")}*</span>
				</div>
				<input class="shrt" type="text" name="zipcode" value="${c.values.get("zipcode")}"/>
				%if "zipcode" in c.errors:
					<p class="errorMsg" style="margin-top:7px; width:210px; font-size:11px">${c.errors["zipcode"]}</p>
				%endif
			</div>
		</div>

		<div class="borderBottom ${"line3" in c.errors and "error" or ""}">
			<div class="greyInsideFullWidth">
				<div class="first">
					<span>${_("FF_ADDRESS_State")}*</span>
				</div>
				<input class="shrt" type="text" name="line3" value="${c.values.get("line3")}"/>
				%if "line3" in c.errors:
					<p class="errorMsg" style="margin-top:7px; width:210px; font-size:11px">${c.errors["line3"]}</p>
				%endif
			</div>
		</div>
		<div class="borderBottom ${"country" in c.errors and "error" or ""}">
			<div class="greyInsideFullWidth">
				<div class="first">
					<span>${_("FF_ADDRESS_Country")}*</span>
				</div>
				<select class="shrt" name="country">
					%for iso2,name in sorted(c.countries):
						<option ${forms.expression_quote(iso2 == c.values.get("country"), "selected")} value="${iso2}" >${name}</option>
					%endfor
				</select>
				%if "country" in c.errors:
					<p class="errorMsg" style="margin-top:7px; width:210px; font-size:11px">${c.errors["country"]}</p>
				%endif
			</div>
		</div>
		<div class="borderBottom noBtmPad noBorder ${"shipping_note" in c.errors and "error" or ""}">
			<div class="greyInsideFullWidth">
				<div class="first">
					<span>${_("FF_ADDRESS_Order Comments")}</span>
				</div>
				<div class="containerTxtAreaShrt">
					<textarea name="shipping_note">${c.values.get("shipping_note")}</textarea>
				</div>
			</div>
			<p class="info ">${_("FF_ADDRESS_Send a note to %(merchant_name)s with your order.")%locals} </p>
		</div>
		<div class="floatLeft" style="margin-top:40px">
				<div class="first">&nbsp;</div>
				<div class="floatLeft">
					<input type="submit" class="primaryButton floatLeft" value="${_("FF_ADDRESS_Save Settings")}" style="margin-right:30px" />
					<a href="${url("get_pool", pool_url = c.pool.p_url)}" class="secondary floatLeft">${_("FF_Back to pool")}</a>
				</div>
				<div class="clear"></div>
			</div>
	  <div class="clear"></div>
	  </form>
  </div>
<div class="clear"></div>
</div>
</div>

