<%inherit file="pool.html"/>
<%namespace name="links" file="../links.html"/>
<%namespace name="html" file="../widgets/html_elems.html"/>

<%def name="fb_meta_tags()">
	<link rel="image_src" href="${app_globals.SITE_ROOT_URL}${c.pool.get_pool_picture_tiles("MYPOOLS")}" />
	<meta property="og:title" content="${_(u"FB_METATAG_TITLE_friendfund.com")|n}" />
	<meta property="og:image" content="${app_globals.SITE_ROOT_URL}${c.pool.get_pool_picture_tiles("MYPOOLS")}" />
	<meta property="og:description" content="${_(u"FB_METATAG_DESCRIPTION_friendfund.com - helping you!")|n}" />
	<meta property="og:url" content="${url.current(protocol="http")}"/>
	<meta property="og:site_name" content="Friendfund"/>
	<meta property="fb:app_id" content="${app_globals.FbAppID}"/>
</%def>
<%def name="_page_slogan(locals)">
	<div id="page_slogan" class="underlined2">
		${_("POOL_PAGE_<span class=\"emphasis\">Shhh!</span><br/>This is a secret gift pool.")|n}
	</div>
	%if c.user.is_anon:
		<div class="vertHalfPadding">${_("POOL_PAGE_SECRET_Someone you might know has created a secret gift pool. Log in to see if you are invited.")|n}</div>
	%else:
		<div class="vertHalfPadding">${_("POOL_PAGE_SECRET_This is a secret gift pool and you have not been invited. Why not create a gift pool for someone?")|n}</div>
	%endif
</%def>

<%def name="admin_slogan(locals)">
	<div id="pool_admin_slogan">
		<div class="slogan">
			%if c.user.is_anon:
				<div class="bold">${_("POOL_PAGE_Someone you might know")}</div> ${_("POOL_PAGE_has created a secret gift pool.")}
			%else:
				<div class="bold">${_("POOL_PAGE_This is a secret gift pool.")}</div>
			%endif
		</div>
	</div>
	<div id="pool_admin_pic"><img src="/static/imgs/default_m_PROFILE_M.png"/></div>
</%def>

<%def name="render_receiver_picture(locals)">
	<div class="picture_area receiver_picture">
		<img class="contentPic" src="/static/imgs/secret_friend.png"/><div class="subtext">${_("POOL_PAGE_You will only see the receiver, if you're invited")}</div>
	</div>
</%def>

<%def name="render_center_buttons(locals)">
	<% daysremaining, hoursremaining = c.pool.get_remaining_days_tuple() %>
	<div id="countdown" class="floaterLeft">
		<div class="countdown_days">${html.counter(daysremaining, _("POOL_PAGE_days and"))}</div>
		<div class="countdown_hours">${html.counter(hoursremaining, _("POOL_PAGE_hours left"))}</div>
	</div>
	<div style="clear:both;padding:15px;text-align:center">${_("POOL_PAGE_This gift pool closes on %(end_date)s.") % locals|n}</div>
	<a class="buttonRed buttonChipIn inactive ${session.get('lang', '').lower()}"><span>${_("POOL_BUTTON_Chip in!")}</span></a>
	%if c.pool.product.is_virtual:
		<a _href="${url(controller="content", action="our_virtual_gifts_help")}" class="popuplink somelink textCenter"><img src="/static/imgs/currencies/pog_large.png"/> 
					<div>${_("CONTRIBUTION_PAGE_Virtual Pot of Gold")}(${h.display_currency('POG')|n})</div>
		</a>
	%else:
		<img src="/static/imgs/icons_paymethod.png"/>
	%endif
</%def>

<%def name="tooltip_text(locals)">
	<div class="tooltip" style="left:${locals['progress']}px;">${locals.get("amount_contributed")|n}<span class="bottomYellowTriangle"></span></div>
</%def>

<%def name="contributors(locals)">
	<% contributors_text = ungettext("POOL_PAGE_%(number_contributors)d person has chipped in for this gift.",
									 "POOL_PAGE_%(number_contributors)d people have chipped in for this gift.",
									 locals['number_contributors']) %>
	<h4 class="inside" style="padding:0px 30px;">${_("POOL_PAGE_Contributors")}</h4>
	<div class="vertNoPadding">${contributors_text % locals}</div>
	<div id="pool_contributors" class="pcont_body">
		<% invitees = [c.pool.admin] + c.pool.invitees %>
		%for i, invitee in enumerate(invitees):
			${self.render_contributor_secret(i, invitee)}
		%endfor
	</div>
</%def>

