<%inherit file="../master.html"/>
<%namespace name="links" file="../links.html"/>
<%namespace name="html" file="../widgets/html_elems.html"/>
<%namespace name="center_button" file="parts/center_button.html"/>
<%namespace name="description" file="parts/description.html"/>
<%def name="title()">${_("POOL_PAGE__TITLE_Pool")}</%def>

<% 
	i_am_member = c.pool.am_i_member(c.user)
	i_am_admin = c.pool.am_i_admin(c.user)
	i_am_anon = c.user.is_anon
	i_can_view = c.pool.can_i_view(c.user)
	if i_can_view:
		render_contributor = self.render_contributor
	else:
		render_contributor = self.render_contributor_secret
	
	daysremaining, hoursremaining = c.pool.get_remaining_days_tuple()
	
	locals = {"amount_left":h.format_currency(c.pool.get_total_contrib_float(), c.pool.currency),
			"number_contributors": c.pool.get_number_of_contributors(),
			"number_invitees":len(c.pool.invitees)+1
			}
%>


<%def name="fb_meta_tags()">
		<link rel="image_src" href="/static/imgs/fb_stream_publish_logo.png" />
		<meta name="title" content="${_(u"FB_METATAG_TITLE_friendfund.com")|n}" />
		<meta name="description" content="${_(u"FB_METATAG_DESCRIPTION_friendfund.com - helping you!")|n}" />
</%def>


<%def name="onloadscripts()">
	onLoadPagelets("lowerbody_container");
	dojo.query(".popuplink", "timeline_bar").onclick(dojo.hitch(null, loadPopup));
</%def>
<%def name="page_slogan()">
	%if c.pool.can_i_view(c.user):
		<div id="page_slogan">${_("POOL_PAGE_Gift Pool for %(receiver)s") % dict([("receiver",c.pool.receiver.name,)])}</div>
	%else:
		<div id="page_slogan">${_("POOL_PAGE_Secret Gift Pool")}</div>
	%endif
</%def>


<div id="pool_admin_slogan">
	<div class="slogan">
		%if i_can_view:
			${description.view(c.pool)|n}
		%else:
			%if i_am_anon:
				<div class="admin">${_("POOL_PAGE_This is a secret pool.")}</div> ${_("POOL_PAGE_If u have been invited, please login.")}
			%else:
				<div class="admin">${_("POOL_PAGE_This is a secret pool.")}</div>
			%endif
		%endif
	</div>
</div>
<div id="pool_admin_pic">
	%if i_can_view:
		<img src="${c.pool.admin.get_profile_pic()}"/>
	%else:
		<img src="/static/imgs/default_m_PROFILE_M.png"/>
	%endif
</div>

${html.clearline()|n}

<div id="pool_pool_panel">
	
	<div class="product">
		<img src="${c.pool.product.get_product_pic()}"/>
		<div class="product_name">${c.pool.product.name}</div>
		%if c.pool.product.tracking_link:
			<a class="product_more" href="${c.pool.product.tracking_link}" target="_blank" class="product_more">${_("POOL_PAGE_more...")}</a>
		%endif
	</div>

	<div class="receiver_picture">
		%if i_can_view:
			<img src="${c.pool.receiver.get_profile_pic('POOL')}"/><div class="receiver_name">${c.pool.receiver.name}</div>
		%else:
			<img src="/static/imgs/secret_friend.png"/><div class="receiver_name">${_("POOL_PAGE_Friend")}</div>
		%endif
	</div>
	
	<div class="heading"><div class="heading_text">
			%if i_can_view:
			 ${(_("POOLPAGE_CENTERHEADER_Chip in for %(receiver_name)s's %(product_name)s") % dict([("receiver_name", c.pool.receiver.name),("product_name", c.pool.product.name)]))|n}
		%else:
			${_("POOL_PAGE_This is a secret pool.")}
		%endif
	</div>
		<div id="countdown">
			<div class="countdown_days">${html.counter(daysremaining, _("POOL_PAGE_days and"))}</div>
			<div class="countdown_hours">${html.counter(hoursremaining, _("POOL_PAGE_hours left"))}</div>
		</div>
	</div>
	<div id="timeline_bar">
	%if not c.pool.is_pending():
			<div class="timeline_heading"><span style="position: relative; float: left;">${(_("POOL_PAGE_Friends have chipped in %(amount_left)s, only") % locals)|n} </span><span style="margin: -15px 15px 0px 15px; position: relative; float: left;">${html.counter(h.format_currency(c.pool.get_amount_left(), c.pool.currency), '')|n}</span> ${_("POOL_PAGE_REMAINING_AMOUNT_to go!")}</div>
			<br/>
			<div class="timeline">
				<div class="lower_limit">${h.format_currency(0, c.pool.currency)|n}</div>
				<div class="timeline_progressbar_bg"><div style="width: ${(450 * (c.pool.get_total_contrib_float() / c.pool.product.get_price_float()))}px;" class="timeline_progressbar"></div></div>
				<div class="legende"><a href="#" _href="${url(controller='content', action='pool_too_little_money')}" class="popuplink">${_("POOL_PAGE_What happens if we raise less money?")}</a></div>
				<div class="upper_limit">${h.format_currency(c.pool.product.get_price_float(), c.pool.product.currency)|n}</div>
			</div>
	%endif
	</div>
	%if i_am_member:
				<a href="${url(controller='pool', pool_url = c.pool.p_url, action='settings')}" class="submitSmall" id="visit_pool_admin" title="${_("POOL_PAGE_Visit Pool Admin")}">
					<span>${_("POOL_PAGE_Visit Pool Admin")}</span>
				</a>
	%endif
	${html.clearline()|n}
</div>

<div class="social_tools" style="margin-left:30px;height:35px;float:left">
		<iframe src="http://www.facebook.com/plugins/like.php?href=${url.current(protocol="http")}&amp;layout=standard&amp;show_faces=FALSE&amp;&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:35px;" allowTransparency="true"></iframe>
</div>


<div id="pool_contributors">
	<div class="heading">${_("POOL_PAGE_Already chipped in: %(number_contributors)d contributors from %(number_invitees)d invited people") % locals}</div>
	<div class="pcont_body">
			<%
				invitees = [c.pool.admin] + c.pool.invitees
			%>
			
			<div class="contributor_leftcol">
			%for i, invitee in enumerate(invitees):
				%if not i%2:
					%if invitee.anonymous:
						${self.render_contributor_secret(i, invitee)}
					%else:
						${render_contributor(i, invitee)}
					%endif
				%endif
			%endfor
			</div>
			<div class="contributor_rightcol">
			%for i, invitee in enumerate(invitees):
				%if i%2:
					%if invitee.anonymous:
						${self.render_contributor_secret(i, invitee)}
					%else:
						${render_contributor(i, invitee)}
					%endif
				%endif
			%endfor
			</div>
			
			${center_button.render(c.pool, i_am_anon, i_am_admin, i_am_member, i_can_view)}
			${html.clearline()|n}
	</div>
</div>

<%def name="lowerbody()">
	<div id="lowerbody_container">
		<div id="lowerbody"><a name="comments">&nbsp;</a>
			${html.clearline()|n}
			<div class="heading">${_("POOL_CHAT_Fund Chat")}</div>
			${html.clearline()|n}
			%if c.pool.am_i_member(c.user):
				<div class="comment_input_panel">${_("POOL_CHAT_Leave your Comment:")}</div>
				<textarea id="addcommenttext" _href="${url(controller='pool', pool_url=c.pool.p_url, action='chat')}" name="comment" class="comment_text_input"></textarea>
				<%call expr="html.button(href='#comments', onclick='submit_fundchat(\'addcommenttext\')', _class='button_container large')">${_("POOL_PAGE_BUTTON_Post!")}</%call>
				${html.clearline()|n}
			%endif
			%if c.pool.can_i_view(c.user):
				<div id="fundchat" class="pagelet" pagelet_href="${url(controller='pool', pool_url=c.pool.p_url, action='chat')}">
					${html.loading_animation()|n}
				</div>
			%else:
				${_("POOL_CHAT_This is a secret pool, no chat is shown.")}
			%endif
		</div>
	</div>
</%def>



<%def name="render_contributor(position, invitee)">
	<div class="contributor ${((position) % 2) and 'right' or 'left'}">
		<img src="${invitee.get_profile_pic('PROFILE_M')}" alt="${invitee.name}" class="contributor"/>
		<div class="contributor_name">${invitee.name}</div>
		<div class="contributor_amount">${invitee.get_contribution_amount_text(c.pool.product.is_virtual, c.pool.currency)|n}</div>
	</div>
</%def>
<%def name="render_contributor_secret(position, invitee)">
	<div class="contributor ${((position) % 2) and 'right' or 'left'}">
		<img src="/static/imgs/default_m_PROFILE_M.png" class="contributor"/>
		<div class="contributor_name">${_("POOL_CHAT_Anonymous")}</div>
		<div class="contributor_amount">${invitee.get_contribution_amount_text(c.pool.product.is_virtual, c.pool.currency)|n}</div>
	</div>
</%def>