<%inherit file="../master.html"/>
<%namespace name="links" file="../links.html"/>
<%namespace name="html" file="../widgets/html_elems.html"/>
<%namespace name="thankyou" file="parts/receiver_thank_you.html"/>
<%def name="title()">friendfund.com | ${_("POOL_PAGE_TITLE_Pool Completed!")}</%def>

<% 
	i_am_member = c.pool.am_i_member(c.user)
	i_am_admin = c.pool.am_i_admin(c.user)
	i_am_anon = c.user.is_anon
	i_can_view = c.pool.can_i_view(c.user)
	locals = {"number_contributors": c.pool.get_number_of_contributors(),
			  "number_invitees":len(c.pool.invitees)+1}
	word_truncate = 200
%>

<div style="clear:both;padding-top:1px;"></div>
<div id="poolresult">
<div class="poolresult">
	
	<div class="completeRcpt">
		
		<div class="rcptRibbon"></div>
		<div class="title">${_("POOL_RESULT_PAGE_LABEL_Thank You!")}</div>
		<div class="rcptPicture">
			<img src="${c.pool.receiver.get_profile_pic('RESULT')}"/>
			<div class="rcptRcvrIcon"></div>
		</div>
		<div class="rcptThankYouNotice">
			<span class="triangle"></span>
			<div class="heading margin">${_("POOL_RESULT_PAGE_LABEL_%s Says:") % c.pool.receiver.name}</div>
			<div class="rcptThankYou">${thankyou.view(c.pool)|n}</div>
		</div>
		
		<div class="rcptProductPicture">
			<img class="rcptProductPicture" src="${c.pool.product.get_product_pic("RA")}"/>
			<div class="rcptGiftIcon"></div>
		</div>
		<div class="rcptProductText">
			<div class="heading">${c.pool.product.name}</div>
			<div class="rcptProductTextBody">${h.word_truncate_by_letters(c.pool.product.description_long, word_truncate)|n}</div>
		</div>
	</div>
	<div class="pcontBodyComplete">
		<h4 class="inside">${_("POOL_RESULT_PAGE_LABEL_%s Messages") % c.pool.occasion.get_display_name()}</h4>
		
		%for i, invitee in enumerate(c.pool.get_contributors()):
			${self.render_contributor(i, invitee)}
		%endfor

	</div>
	<div style="clear:both"></div>
</div>
	<div class="social_tools">
		<a name="fb_share"></a> 
		<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
		<div class="retweet">
			<a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="friendfund" data-lang="de">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
		</div>
	</div>
	
</div>



<%def name="render_contributor(position, invitee)">
	<div class="contributor floaterLeft">
		<img src="${invitee.get_profile_pic('PROFILE_M')}" alt"${invitee.name}" class="contributor"/>
		<div class="ctrbrText">
			<span class="triangle"></span>
			<div class="heading margin">${invitee.name}</div>
			<div class="rcptContribMsg">${invitee.message}</div>
		</div>
	</div>
</%def>