<%inherit file="../master.html"/>
<%namespace name="links" file="../links.html"/>
<%namespace name="html" file="../widgets/html_elems.html"/>
<%namespace name="center_button" file="parts/center_button.html"/>
<%namespace name="description" file="parts/description.html"/>
<%def name="title()">${_("POOL_PAGE__TITLE_Pool")}</%def>

<% 
	i_am_member = c.pool.am_i_member(c.user)
	i_am_admin = c.pool.am_i_admin(c.user)
	i_am_anon = c.user.is_anon
	i_can_view = c.pool.can_i_view(c.user)
	if i_can_view:
		render_contributor = self.render_contributor
	else:
		render_contributor = self.render_contributor_secret
	
	daysremaining, hoursremaining = c.pool.get_remaining_days_tuple()
	
	locals = {"amount_contributed":h.format_currency(c.pool.get_total_contrib_float(), c.pool.currency),
			"amount_left":h.format_currency(c.pool.get_amount_left(), c.pool.currency),
			"end_date":h.format_date(c.pool.occasion.date, format="long"),
			"number_contributors": c.pool.get_number_of_contributors(),
			"number_invitees":len(c.pool.invitees)+1,
			"receiver_first_name":c.pool.receiver.name.split()[0],
			"receiver_name":c.pool.receiver.name
			}
%>

<%def name="fb_meta_tags()">
		<link rel="image_src" href="${app_globals.SITE_ROOT_URL}${c.pool.get_pool_picture_tiles("MYPOOLS")}" />
		%if not c.pool.is_secret:
			<meta property="og:title" content="${_("POOL_PAGE_Gift Pool for %(receiver)s") % dict([("receiver",c.pool.receiver.name)])}" />
			<meta property="og:image" content="${app_globals.SITE_ROOT_URL}${c.pool.get_pool_picture_tiles("MYPOOLS")}" />
			<meta property="og:description" content="${c.pool.description}" />
		%else:
			<meta property="og:title" content="${_(u"FB_METATAG_TITLE_friendfund.com")|n}" />
			<meta property="og:image" content="${app_globals.SITE_ROOT_URL}${c.pool.get_pool_picture_tiles("MYPOOLS")}" />
			<meta property="og:description" content="${_(u"FB_METATAG_DESCRIPTION_friendfund.com - helping you!")|n}" />
		%endif
		<meta property="og:type" content="product"/>
		<meta property="og:url" content="${url.current(protocol="http")}"/>
		<meta property="og:site_name" content="Friendfund"/>
		<meta property="fb:app_id" content="${app_globals.FbAppID}"/>
</%def>


<%def name="onloadscripts()">
	onLoadPagelets("lowerbody_container");
	dojo.query(".popuplink", "pool_pool_panel").onclick(dojo.hitch(null, loadPopup));
</%def>

<%def name="page_slogan()">
	%if c.pool.can_i_view(c.user):
		<% locals = {'user_name':c.user.name, 'receiver_name':c.pool.receiver.name, 'occasion_name': c.pool.occasion.get_display_name(), 'admin_name':c.pool.admin.name, 'product_name':c.pool.product.get_display_name()} %>
		<div id="page_slogan" class="underlined2">
			${_("POOL_PAGE_SLOGAN_Hi, <span class=\"emphasis\">%(user_name)s!</span><br/>You've been invited to chip in for %(receiver_name)s %(occasion_name)s gift.") % locals|n}
		</div>
		<div class="vertHalfPadding">${_("POOL_PAGE_SLOGAN_%(admin_name)s wants to get a %(product_name)s for %(receiver_name)s's %(occasion_name)s and you've been invited to help purchase it!") % locals|n}</div>
	%else:
		<div id="page_slogan">${_("POOL_PAGE_Secret Gift Pool")}</div>
	%endif
</%def>


<div id="pool_admin_slogan">
	<div class="slogan">
		%if i_can_view:
			${description.view(c.pool)|n}
		%else:
			%if i_am_anon:
				<div class="admin">${_("POOL_PAGE_This is a secret pool.")}</div> ${_("POOL_PAGE_If u have been invited, please login.")}
			%else:
				<div class="admin">${_("POOL_PAGE_This is a secret pool.")}</div>
			%endif
		%endif
	</div>
</div>
<div id="pool_admin_pic">
	%if i_can_view:
		<img src="${c.pool.admin.get_profile_pic()}"/>
	%else:
		<img src="/static/imgs/default_m_PROFILE_M.png"/>
	%endif
</div>

${html.clearline()|n}

<div id="pool_pool_panel" class="innerbody">
	
	<div class="pool_content">
		<div class="picture_area_outer product">
			<div class="picture_area product">
				<img class="contentPic" src="${c.pool.product.get_product_pic()}"/>
				<div class="subtext">${c.pool.product.get_display_name()}<br/>${c.pool.product.get_display_price()|n}</div>
				%if c.pool.product.tracking_link:
					<a class="submitExtraMini product_more" href="${c.pool.product.tracking_link}" target="_blank">${_("POOL_PAGE_more...")}<span></span></a>
				%endif
			</div>
		</div>
		<div class="picture_area_outer receiver_picture">
			<div class="picture_area receiver_picture">
				%if i_can_view:
					<img class="contentPic" src="${c.pool.receiver.get_profile_pic('POOL')}"/><div class="subtext">${_("POOL_PAGE_Help make %(receiver_first_name)s's day!") % locals | n}</div>
				%else:
					<img class="contentPic" src="/static/imgs/secret_friend.png"/><div class="receiver_name">${_("POOL_PAGE_Friend")}</div>
				%endif
			</div>
		</div>
		<div class="floaterLeft" style="text-align:center;width:412px;">
			<div id="countdown" class="floaterLeft">
				<div class="countdown_days">${html.counter(daysremaining, _("POOL_PAGE_days and"))}</div>
				<div class="countdown_hours">${html.counter(hoursremaining, _("POOL_PAGE_hours left"))}</div>
			</div>
			<div style="clear:both;padding:15px;text-align:center">${_("POOL_PAGE_This gift pool closes on %(end_date)s.") % locals|n}</div>
			
			
			%if c.pool.product.is_virtual:
				%if c.pool.am_i_contributor(c.user):
					<div class="contributor_chippid_in poolpage_contributor"><div class="content">${_("MYPOOLS_CONTENT_Chipped In")|n}</div></div>
				%else:
					<div class="centered">
						<a href="${url('contribution', pool_url=c.pool.p_url, action='virtual')}" class="buttonRed buttonChipIn ${session.get('lang', '').lower()}"><span>${_("POOL_BUTTON_Chip in!")}</span></a>
					</div>
					<a _href="${url(controller="content", action="our_virtual_gifts_help")}" class="popuplink somelink textCenter"><img src="/static/imgs/currencies/pog_large.png"/> 
						<div>${_("CONTRIBUTION_PAGE_Virtual Pot of Gold")}(${h.display_currency('POG')|n})</div>
					</a>
				%endif
			%else:
				<div class="centered">
					<a href="${url('chipin', pool_url=c.pool.p_url, protocol=app_globals.SSL_PROTOCOL)}" class="buttonRed buttonChipIn ${session.get('lang', '').lower()}"><span>${_("POOL_BUTTON_Chip in!")}</span></a>
				</div>
				<img src="/static/imgs/icons_paymethod.png"/>
			%endif
			
		</div>
	</div>
	
	
	<div id="timeline_bar">
	%if not c.pool.is_pending():
			<div class="timeline">
				<div class="floaterRight limit">${h.format_currency(c.pool.product.get_price_float(), c.pool.product.currency)|n}</div>
				<div class="floaterLeft limit">${h.format_currency(0, c.pool.currency)|n}</div>
				
				<div class="timeline_progressbar_bg"><div style="width: ${(860 * (c.pool.get_total_contrib_float() / c.pool.product.get_price_float()))}px;" class="timeline_progressbar"></div></div>
				
				<div class="legende floaterRight"><a href="#" _href="${url(controller='content', action='pool_too_little_money')}" class="popuplink">${_("POOL_PAGE_What happens if we raise less money?")}</a></div>
				<div class="legende floaterLeft">${(_("POOL_PAGE_<b>%(amount_contributed)s</b> has been contributed sofar. Only <b>%(amount_left)s to go</b> before %(end_date)s!") % locals)|n}</div>
			</div>
			
	%endif
	</div>
	%if i_am_admin:
				<a href="${url(controller='pool', pool_url = c.pool.p_url, action='settings')}" class="submitSmall" id="visit_pool_admin" title="${_("POOL_PAGE_Visit Pool Admin")}">
					<span>${_("POOL_PAGE_Visit Pool Admin")}</span>
				</a>
	%endif
</div>

<div class="social_tools_free underlined1">
		<iframe src="http://www.facebook.com/plugins/like.php?href=${url.current(protocol="http")}&amp;layout=standard&amp;show_faces=FALSE&amp;&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:35px;" allowTransparency="true"></iframe>
</div>

<h4 class="inside" style="padding:0px 30px;">${_("POOL_PAGE_Contributors")}
<div class="floaterRight">
	<a class="loginlink" href="${url('invite_index', controller='invite', pool_url=c.pool.p_url)}">${_("POOL_BUTTON_Invite more Friends to this pool")} <img src="/static/imgs/icon_fb_connect.png"/><img src="/static/imgs/icon_tw_connect.png"/><img src="/static/imgs/icon_mail.png"/></a>
</div></h4>
<div class="vertNoPadding">${_("POOL_PAGE_%(number_contributors)d people have chipped in for %(receiver_name)s's gift.") % locals}</div>

<div id="pool_contributors" class="pcont_body">
	<% invitees = [c.pool.admin] + c.pool.invitees %>
	%for i, invitee in enumerate(invitees):
		%if invitee.anonymous:
			${self.render_contributor_secret(i, invitee)}
		%else:
			${render_contributor(i, invitee, i==0)}
		%endif
	%endfor
</div>


<div id="lowerbody_container">
	<div id="lowerbody_content"><a name="comments">&nbsp;</a>
		${html.clearline()|n}
		<div class="heading">${_("POOL_CHAT_Fund Chat")}</div>
		${html.clearline()|n}
		%if c.pool.am_i_member(c.user):
			<div class="comment_input_panel">${_("POOL_CHAT_Leave your Comment:")}</div>
			<textarea id="addcommenttext" _href="${url(controller='pool', pool_url=c.pool.p_url, action='chat')}" name="comment" class="comment_text_input"></textarea>
			<div class="floaterLeft"><a class="BtnRed" href="#comments" onclick="submit_fundchat('addcommenttext')"><span>${_("POOL_PAGE_BUTTON_Post!")}</span></a></div>
			${html.clearline()|n}
		%endif
		%if c.pool.can_i_view(c.user):
			<div id="fundchat" class="pagelet" pagelet_href="${url(controller='pool', pool_url=c.pool.p_url, action='chat')}">
				${html.loading_animation()|n}
			</div>
		%else:
			${_("POOL_CHAT_This is a secret pool, no chat is shown.")}
		%endif
	</div>
</div>



<%def name="render_contributor(position, invitee, is_admin = False)">
	<div class="contributor">
		<img src="${invitee.get_profile_pic('PROFILE_M')}" alt="${invitee.name}" class="contributor"/>
		<div class="contributor_name">${invitee.name} ${is_admin and _("POOL_PAGE_(Admin)") or ""}</div>
		%if invitee.contributed_amount:
			<div class="contributor_amount">${_("POOL_PAGE_Has chipped in %(amount)s") % dict([("amount", invitee.get_contribution_amount_text(c.pool.product.is_virtual, c.pool.currency))])|n}</div>
			<span class="contributor_contributed"></span>
		%endif
	</div>
</%def>
<%def name="render_contributor_secret(position, invitee, is_admin = False)">
	<div class="contributor">
		<img src="/static/imgs/default_m_PROFILE_M.png" class="contributor"/>
		<div class="contributor_name">${_("POOL_CHAT_Anonymous")}</div>
		<div class="contributor_amount">${invitee.get_contribution_amount_text(c.pool.product.is_virtual, c.pool.currency)|n}</div>
	</div>
</%def>