<%inherit file="../layout_layer_tabbed.html"/>
<%namespace name="links" file="../links.html"/>
<%namespace name="forms" file="../widgets/forms.html"/>
<%namespace name="html" file="../widgets/html_elems.html"/>
<%namespace name="actions_content" file="actions/settings_action_content.html"/>
<%namespace name="description" file="parts/description.html"/>
<%namespace name="settings_common" file="parts/settings.html"/>

<%def name="scripts()">
	${links.js('friendfund/AutoRotator.js')}
	${links.js('friendfund/ProductSearch.js')}
</%def>

<%def name="headscripts()">
	dojo.require("dojo.parser");
	dojo.require("dijit.form.DateTextBox");
	order_gift = function(){
		var shipexists = dojo.every(dojo.query("span.requiredvalue", "shippingAddressContainerBox"), function(item){return item.innerHTML!=null && item.innerHTML!=""});
		var billexists = dojo.every(dojo.query("span.requiredvalue", "billingAddressContainerBox"), function(item){return item.innerHTML!=null && item.innerHTML!=""});
		if(!shipexists||!billexists){
			window.location.href = "${url('pool_action', controller='pool', pool_url=c.psettings.p_url, action='addresses')}";
		} else {
			window.location.href = "${url('pool_action', controller='pool', pool_url=c.psettings.p_url, action='close')}";
			return;
		}
	}
	
	closeElement = function(elem){
		dojo.query(".opened", "poolactions").addClass("hidden").removeClass("opened");
	}
	closeAll = function(data){
		dojo.query(".opened", "poolactions").forEach(closeElement);
	}
	
	open_actionpanel = function(evt){
		if(!dojo.hasClass(evt.target, "anchor_elem_link")&&(dojo.query(evt.target).parents(".anchor_elem_link").length===0)){return;}
		var target;
		if(dojo.hasClass(evt.target, "anchorelem")){target=evt.target;}
		else {target = dojo.query(evt.target).parents(".anchorelem")[0];}
		var action = dojo.attr(target, "_action");
		var content = dojo.query('.poolActionContent',target);
		if(action && content.length>0){
			var datestamp = "datestamp_"+action;
			if(content.filter(".hidden").length > 0){ /* show */
				dojo.query(".opened", "poolactions").forEach(
					function(elem){
						dojo.removeClass(elem, "opened");
						dojo.addClass(elem, "hidden");
					});
				content.removeClass("hidden").addClass("opened");
				dojo.parser.parse(content[0]);
				
				if(action==="ADMIN_ACTION_CHEAPER_PRODUCT"){
					productsearch.draw(productsearch);
				}
			} else {  /* hide */
				closeElement(target);
			}
		}
	}
</%def>
<%def name="onloadscripts()">
	dojo.query("#poolactions").onclick(open_actionpanel);
	productsearch = new friendfund.ProductSearch({
		ref_node : "product_search_container",
		canSelectRegion:false,
		searchMixin : 
			function(){
				var params = {panelcloser:'',minimal:true,price:"${c.pool.get_total_contribution()}",currency:"${c.pool.currency}", "region":"${c.psettings.region}"};
				return params
			},
		onLoaded: function(_t){
				parseDefaultsInputs(_t.ref_node);
			},
		onSelected : function(selection_args){
				var params = {};
				params["product.guid"] = selection_args.guid;
				params["product.is_virtual"] = selection_args.is_virtual;
				params["product.is_curated"] = selection_args.is_curated;
				params["product.is_amazon"] = selection_args.is_amazon;
				loadElement("${url(controller='pool', pool_url=c.pool_url, action='setaltproduct')}", "product_search_container", params);
			}
		});
</%def>

<%def name="title()">${_("POOLSETTINGS_TITLE_Pool Admin")}</%def>

<%def name="tabContainer()">
	${settings_common.render_tabs("settings", pool_url = c.pool.p_url)|n}
	<div style="clear:both;"></div>
</%def>
	
<div id="poolsettings">
	<div id="pool_admin_slogan"><div class="slogan">${description.view(c.pool)|n}</div></div>
	<div id="pool_admin_pic"><img src="${c.pool.admin.get_profile_pic()}"/></div>

	<div id="pool_pool_panel" class="innerbody poolactions">

	<div id="poolactions">
	%if c.psettings.is_funded():
		<div class="poolaction center" style="width:830px"><a onclick="order_gift()" class="poolaction buttonRed buttonChipIn"><span>${_("POOL_BUTTON_ACTION_Order Gift")}</span></a></div>
	%elif c.psettings.actions:
		%for action in c.psettings.actions:
			<div _action="${action.name}" class="poolaction anchorelem">
				<img src="${h.get_action_picture(action)}" class="floaterLeft" />
				<div class="poolActionButton underlined2">
						<a class="remaining_counter anchor_elem_link">
						%if action.remaining is not None:
							${(_("POOLSETTINGS_LABEL_<b class=\"emphasis\">%(number_remaining)sx</b> Remaining")%dict([('number_remaining', action.remaining)]))|n}<span class="seperator">|</span>
						%endif
							<span class="emphasis somelink">${_("POOLSETTINGS_Edit")}</span>
						</a>
					
					<a class="inside floaterLeft anchor_elem_link">${action.get_display_name()}</a>
				</div>
				<div class="poolActionContent hidden">
						${actions_content.render(action, c.psettings)}
				</div>
			</div>
		%endfor
	%endif
	</div>
	</div>
</div>