<%inherit file="../layout_layer_tabbed.html"/>
<%namespace name="links" file="../links.html"/>
<%namespace name="forms" file="../widgets/forms.html"/>
<%namespace name="html" file="../widgets/html_elems.html"/>
<%namespace name="description" file="parts/description.html"/>
<%namespace name="settings_common" file="parts/settings.html"/>

<%def name="title()">${_("POOLSETTINGS_TITLE_Pool Admin")}</%def>
<%def name="master_page_slogan()"></%def>
<%def name="tabContainer()">
	${settings_common.render_tabs("addresses", pool_url = c.pool.p_url)|n}
	<div style="clear:both;"></div>
</%def>



<div style="clear"both;height:30px;"></div>
<div id="poolsettings">
	<div id="pool_admin_slogan"><div class="slogan">${description.view(c.pool)|n}</div></div>
	<div id="pool_admin_pic"><img src="${c.pool.admin.get_profile_pic()}"/></div>
	
	<div id="pool_pool_panel" class="innerbody poolactions">
		<div class="addressContainerOuter">
		<div class="addressContainerInner" id="shippingAddressContainerBox">
			<%include file="actions/shipping_display.html"/>
		</div>
		<div class="addressContainerInner" id="billingAddressContainerBox">
			<%include file="actions/billing_display.html"/>
		</div>
		</div>
		<div style="clear:both"></div>
	</div>
</div>