<%inherit file="../master.html"/>
<%namespace name="links" file="../links.html"/>
<%namespace name="fb_perms" file="fb_perms.html"/>
<%namespace name="forms" file="../widgets/forms.html"/>
<%namespace name="html" file="../widgets/html_elems.html"/>

<%def name="title()">${_("POOLSETTINGS_TITLE_Pool Admin")}</%def>
<%def name="page_slogan()">
	<div id="page_slogan">${_("POOLSETTINGS_TITLE_Pool Admin")}</div>
</%def>

<div id="poolsettings" class="innerbody">
	<div  class="panel_title">
		${_("POOLSETTINGS_LABEL_Fund Message:")}
	</div>
	<div class="panel_content white">
		${c.psettings.description}</textarea>
	</div>
	
	<div class="panel_title">
		${_("POOLSETTINGS_LABEL_Shipping Address for the Gift:")}
	</div>
	<div class="messageContainer" id="messageContainer">
		<div class="forminputline">
			<label>${_("POOLSETTINGS_LABEL_Name")}</label>${c.shipping_values.get('line1', '')}
		</div>
		<div class="forminputline">
			<label>${_("POOLSETTINGS_LABEL_Street")}</label> ${c.shipping_values.get('line2', '')}
		</div>
		<div class="forminputline">
			<label>${_("POOLSETTINGS_LABEL_City")}</label>${c.shipping_values.get('line3', '')}
		</div>

		<div class="forminputline">
			<label>${_("POOLSETTINGS_LABEL_Zip Code")}</label>${c.shipping_values.get('zipcode', '')}
		</div>
		<div class="forminputline">
			<label>${_("POOLSETTINGS_LABEL_Country")}</label>${_(c.shipping_values.get('country', ''))}
		</div>
	</div>
	${html.clearline()|n}
	<div style="padding:20px 30px;float:left;width:880px;">
		<a class="submitSmallLeft" href="${url('ctrlpoolindex', controller='pool', pool_url=c.pool_url)}"><span>${_("POOLSETTINGS_LABEL_Back To Pool")}</span></a>
	</div>
	${html.clearline()|n}
</div>