<%inherit file="../layout_layer.html"/>
<%namespace name="links" file="../links.html"/>
<%namespace name="forms" file="../widgets/forms.html"/>
<%namespace name="html" file="../widgets/html_elems.html"/>
<%namespace name="actions" file="actions/settings_action.html"/>
<%namespace name="actions_content" file="actions/settings_action_content.html"/>
<%namespace name="description" file="parts/description.html"/>
<%namespace name="settings_common" file="parts/settings.html"/>

<%def name="scripts()">
	${links.js('friendfund/AutoRotator.js')}
	${links.js('friendfund/Tooltip.js')}
	${links.js('friendfund/ProductSearch.js')}
</%def>

<%def name="headscripts()">
		
		order_gift = function(){
			var shipexists = dojo.every(dojo.query("span.requiredvalue", "shippingAddressContainerBox"), function(item){return item.innerHTML!=null && item.innerHTML!=""});
			var billexists = dojo.every(dojo.query("span.requiredvalue", "billingAddressContainerBox"), function(item){return item.innerHTML!=null && item.innerHTML!=""});
			if(!shipexists){
				dojo.animateProperty(
					{node: "shippingAddressContainer",duration: 1000,
						properties: {
							backgroundColor: {start: "red", end: "#fff"}
						}}).play();
			} else if (!billexists) {
				dojo.animateProperty(
					{node: "billingAddressContainer",duration: 1000,
						properties: {
							backgroundColor: {start: "red", end: "#fff"}
						}}).play();
			} else {
				window.location.href = "${url('pool_action', controller='pool', pool_url=c.psettings.p_url, action='close')}";
				return;
			}
		}
		
		closeElement = function(elem){

			dojo.query(".opened", "poolactions").addClass("hidden").removeClass("opened");
			dojo.byId("poolactioncontent").className ="hidden";
		}
		
		closeAll = function(data){
			dojo.query(".opened", "poolactions").forEach(closeElement);
		}
		
		var open_actionpanel = function(evt){
			var action = dojo.attr(this, "_action");
			if(action){
				var datestamp = "datestamp_"+action;
				var extender = dojo.byId("actionextender_"+action);
				if(dojo.hasClass(extender, "hidden")){ 
					/* show */
					dojo.byId("poolactioncontent").className = action;
					dojo.query(".opened", "poolactions").forEach(
						function(elem){
							dojo.removeClass(elem, "opened");
							dojo.addClass(elem, "hidden");
						});
					dojo.removeClass(extender, "hidden");
					dojo.query(".extender", this.parentNode).removeClass("hidden").addClass("opened");
					dojo.addClass(extender, "opened");
					dojo.parser.parse(dojo.byId("poolactions"));
				
					if(action==="ADMIN_ACTION_CHEAPER_PRODUCT"){
						productsearch.draw(productsearch);
					}
				} else {  /* hide */
					closeElement(this);
				}
			}
		}
</%def>
<%def name="onloadscripts()">
	dojo.query("a.poolaction", "poolactions").onclick(open_actionpanel);
	productsearch = new friendfund.ProductSearch({
		ref_node : "product_search_container",
		canSelectRegion:false,
		searchMixin : 
			function(){
				var params = {"price":"${c.pool.get_total_contribution()}","currency":"${c.pool.currency}", "region":"${c.psettings.region}"};
				return params
			},
		onLoaded: function(_t){
				parseDefaultsInputs(_t.ref_node);
			},
		onSelected : function(selection_args){
				var params = {};
				params["product.guid"] = selection_args.guid;
				params["product.is_virtual"] = selection_args.is_virtual;
				params["product.is_curated"] = selection_args.is_curated;
				params["product.is_amazon"] = selection_args.is_amazon;
				loadElement("${url(controller='pool', pool_url=c.pool_url, action='setaltproduct')}", "product_search_container", params);
			}
		});
</%def>



<%def name="title()">${_("POOLSETTINGS_TITLE_Pool Admin")}</%def>
${settings_common.render_tabs("mypools")|n}
<div style="clear"both;height:30px;"></div>
	
<div id="poolsettings">
	<div id="pool_admin_slogan"><div class="slogan">${description.view(c.pool)|n}</div></div>
	<div id="pool_admin_pic"><img src="${c.pool.admin.get_profile_pic()}"/></div>
	
	
	
	<div id="lowerbody" class="innerbody">
	%if c.psettings.is_funded() or c.psettings.actions:
	<div  class="panel_title" style="clear:both">
		${_("POOLSETTINGS_LABEL_Actions:")}
	</div>
	<div id="poolactions">
		%if c.psettings.is_funded():
		<div class="centered"><a onclick="order_gift()" class="poolaction buttonRed buttonChipIn"><span>${_("POOL_BUTTON_ACTION_Order Gift")}</span></a></div>
		%endif
		%for action in c.psettings.actions:
			${actions.render(action, c.psettings)}
		%endfor
		${html.clearline(10)}
		<div id="poolactioncontent" class="hidden">
			%for action in c.psettings.actions:
				${actions_content.render(action, c.psettings)}
			%endfor
		</div>
		
		
		${html.clearline()|n}
	</div>
	%endif
	
	%if not c.pool.product.is_virtual:
		<div class="addressContainerLeft" id="shippingAddressContainerBox">
			<%include file="actions/shipping_display.html"/>
		</div>
		<div class="addressContainerRight" id="billingAddressContainerBox">
			<%include file="actions/billing_display.html"/>
		</div>
	%endif
	${html.clearline()|n}
	<div style="padding:20px 30px;float:left;width:860px;">
		<a class="submitSmallLeft" href="${url('ctrlpoolindex', controller='pool', pool_url=c.pool_url)}"><span>${_("POOLSETTINGS_LABEL_Back To Pool")}</span></a>
	</div>
	${html.clearline()|n}
	</div>
</div>