<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<script type="text/javascript">
	%if getattr(c, "message", None):
		opener.displayMessage("${c.message}");
		if(opener.pageState.__twitterAction__){delete opener.pageState.__twitterAction__;}
	%else:
		%if getattr(c, "has_activity", False):
			if(opener.pageState.fwd){
				opener.pageState.fwd();
			} else {
				opener.doLogin({level:9,ignoreFB:true, cb:opener.pageState.__twitterAction__});
			}
		%else:
			opener.doLogin({level:9,ignoreFB:true, cb:opener.pageState.__twitterAction__});
		%endif
	%endif
	window.close(); 
</script>
</head>
<body>
Connected with Twitter, please wait a moment...
</body>
</html>