<%inherit file="layout.html"/>
<%namespace name="testimonials" file="widgets/testimonials.html" />
<%namespace name="widgets" file="widgets/widgets.html" />
<%namespace name="links" file="/widgets/links.html"/>
<%def name="onloadscripts()">ff.w.sliderF("merchantslider", 4);</%def>
<%def name="render_page_state()">window.pageState.fwd = function(login){window.location.href="${url(controller="mypools", action="stream")}";};</%def>


<div class="wrapSubHeaderHome">
	<div class="subHeader">
		<div class="homeFrame homeCol">
			<div class="imageFrame"><img src="/static/imgs/dummy/vimeo2.png"/></div>
			<div class="shadCorner"></div>
		</div>
		<div class="homeFrame homeCol">
			<div class="fullLRPadding">
				<h2><p>${_("FF_HOMEPAGE_SLOGAN_friendfund it.")}</p><span>${_("FF_HOMEPAGE_SLOGAN_Collect money by creating a pool and inviting friends to chip in.")|n}</span></h2>
				${widgets.bigButton(_("Get Started"), h.create_pool_link(request, url), ["clearer", "floatLeft", "homeButton"])|n}
				<span class="learnMoreBtnNew floatLeft">
					&nbsp;&nbsp;${_("FF_POOLEDIT_or")}&nbsp;&nbsp;
					<a href="${url("short_content", lang=session["lang"], action="tips", host=app_globals.default_host)}">${_("FF_HOMEPAGE_SLOGAN_Learn more")}</a>
				</span>
			</div>
		</div>
		<div class="clearer" style="width:100%;height:60px;">
			<div class="floatRight homeListing homeCol">
				<div class="floatLeft">${_("FF_HOMEPAGE_<b>%s</b>Pools")%c.homepage_stats.funded_pools|n}</div>
				<div class="floatLeft">${_("FF_HOMEPAGE_<b>%s</b>Contributions")%c.homepage_stats.contributions|n}</div>
				<div class="floatLeft">${_("FF_HOMEPAGE_<b>%s</b>Happy Faces")%c.homepage_stats.happy_faces|n}</div>
			</div>
			<div class="floatLeft homeListing homeCol">
			<a href="http://twitter.com/share" class="twitter-share-button floatLeft" data-url="http://www.friendfund.com" data-count="horizontal">Tweet</a>
			<iframe src="https://www.facebook.com/plugins/like.php?href=www.facebook.com%2Ffriendfund&amp;layout=button_count&amp;show_faces=false&amp;width=200&amp;action=like&amp;font=arial&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:120px; height:21px;" allowTransparency="true"></iframe>
			</div>
		</div>
		<div class="homeDivider"></div>
		<div class="clearer">
			<div class="referers floatLeft">
			<a href="http://eu.techcrunch.com/2011/05/03/angels-club-together-to-invest-in-friendfund/" title="TechCrunch"><img src="/static/imgs/press/Techcrunch.png" alt="TechCrunch"/></a>
				<em>“All of a sudden, so-called social commerce seems a tad more viable.”</em>
			</div>
			<div class="referers floatLeft"><a hre="http://blog.zanox.com/en/zanox/2010/12/10/interview-with-our-publisher-friendfund/" title="Zanox"><img src="/static/imgs/press/zanox.png" alt="Zanox"/></a>
				<em>“People can virtually get together, find and fund a special gift for a friend”</em>
			</div>
			<div class="referers floatLeft"><a href="http://gigaom.com/2011/05/17/is-group-gift-buying-poised-for-take-off/" title="GigaOm"><img src="/static/imgs/press/gigaom.png" alt="GigaOm"/></a>
				<em>“Giving businesses an easy way to enable group gifting”</em>
			</div>
			<div class="referers last floatLeft"><a href="http://www.appappeal.com/app/friendfund/" title="AppAppeal"><img src="/static/imgs/press/appappeal.png" alt="AppAppeal"/></a>
				<em>“An engaging way to get friends involved in a fundraising project.”</em>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="shadowHead"></div>
</div>
<div class="wrapSubContent">
${self.renderMessages()}
<div class="content">
	<div class="featuredPoolsBox">
		<h4>${_("FF_HOMEPAGE_BOXES_Featured Pools")}</h4>
		${self.render_featured_pools(c.get_featured_pools, h.get_language_locale())|n}
		<div class="clear"></div>
	</div>
	<div class="colRightWhite"></div>
	<div class="whatElse">
		<h4>${_("FF_HOMEPAGE_BOXES_Where else can I use friendfund?")}<span>${_("FF_HOMEPAGE_Visit our Partner site to buy stuff toghether.")}</span></h4>
		${self.renderScroller()|n}
		<div class="clear"></div>
	</div>
	<div class="whatElse">
			<h4>${_("FF_HOMEPAGE_What our users are saying")}</h4>
			${testimonials.render(h.get_language_locale())|n}
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>
</div>




<%def name="renderScroller()" cached="True" cache_key="renderScroller_templ" cache_timeout="86400" cache_type="memory">
	
<%
	list = [#("/static/imgs/integrations/amazon_trans.png", "http://amazon.friendfund.com"),
			("/static/imgs/integrations/yoquero_trans.png", "http://www.yoquierounodeesos.com/"),
			("/static/imgs/integrations/GAD_trans.png", "http://www.greatamericandays.com/adventure.php?adventure_id=11&price=&category=2&finder=52&imageField.x=9&imageField.y=12"),
			("/static/imgs/integrations/shopperella_trans.png", "http://www.shopperella.de/kinderzimmer-zwei-tuerig/pinolino-kinderzimmer-laura-629/"),
			("/static/imgs/integrations/donanda_trans.png", "http://www.donanda.de/pages/affiliate/1090"),
			("/static/imgs/integrations/fidorbank_trans.png", "https://www.fidor.de/"),
			("/static/imgs/integrations/caseable_trans.png", "http://www.caseable.com/gallery.php")
		]
%>
	<div class="boxGrayWrap box1" id="merchantslider">
		<div class="boxGray">
		<span class="controller controllerRight"> &laquo; </span>
		<span class="controller controllerLeft"> &raquo; </span>
		<div class="slider">
		<ul class="slider" id="sliderCnt" style="width:${len(list)*219}px" _elem_width="219">
			%for img, href in list:
				<li><a target="_blank" href="${href}"><img src="${img}" /></a></li>
			%endfor
		</ul>
		</div>
			<div class="clear"></div>
		</div>
	</div>
</%def>


<%def name="render_featured_pools(get_featured_pools, lang)" cached="True" cache_key="render_featured_pools_${lang}" cache_timeout="60" cache_type="memory">
	%for i, pool in enumerate(get_featured_pools()):
		<% locals = {"number_contributors":pool.get_number_of_contributors(), "days_left":pool.get_remaining_days(), "admin_name":pool.admin.name} %>
	<div class="homeboxWrap ${i==3 and 'omega' or ''}">
		<div class="homebox">
			<img src="${pool.get_product_display_picture("FF_POOLS")}" width="190px" height="150px" />
			<h5 style="min-height:36px;"><a href="${url("get_pool", pool_url = pool.p_url)}">${pool.title}</a></h5>
			<span class="homebox">${_("FF_HOMEPAGE_BOXES_created by %(admin_name)s")%locals}</span>
			<div class="timeCounter">
				<span>${int(pool.funding_progress()*100)}%</span>
				<div class="timeCounterRight" >
					<div class="timeCounterLeft" style="width:${int(pool.funding_progress()*100)}%"> </div>
				</div>
				<div class="clear"></div>
			</div>
			
			<div class="boxContributors">
				<span class="upper">${widgets.renderPoolInfoContributors(locals)|n}</span>
				<span class="middot">&middot;</span>
				<span class="upper">${widgets.renderPoolInfoDaysLeft(locals)|n}</span>
			</div>
			<div class="fbHolder">
				%for pu in pool.get_random_n_invitees(5):
					<img src="${pu.get_profile_pic("PROFILE_S")}" alt="${pu.name}" height="30px" width="30px"/>
				%endfor
				<div class="clear"></div>
			</div>
		</div>
	</div>
	%endfor
</%def>