<%inherit file="layout_layer.html"/>
<%namespace name="links" file="links.html"/>
<%namespace name="html" file="widgets/html_elems.html"/>
<%namespace name="forms" file="widgets/forms.html"/>
<%namespace name="ra_stream" file="widgets/ra_stream.html"/>
<%def name="title()">${_("PAGE_INDEX_TITLE_Welcome")}</%def>

<%def name="scripts()">
	<script type="text/javascript">dojo.query(".frontpagebutton.enabled", "pool_configurator").forEach(function(elem, pos, array){dojo.connect(elem, "onmouseenter", function(evt){dojo.addClass(this, "frontpagebuttonhover")});dojo.connect(elem, "onmouseleave", function(evt){dojo.removeClass(this, "frontpagebuttonhover")});});</script>
	${links.js('friendfund/HomePagePanel.js')}
	${links.js('friendfund/FriendSelector.js')}
	${links.js('friendfund/ProductSearch.js')}
	${links.js('friendfund/AutoRotator.js')}
</%def>

<%def name="bodyclass()">base index</%def>
<%def name="headscripts()">page_reloader = ${getattr(c, "do_reload", False) and "page_reloader = function(){window.location.reload();};" or "function(){}"};var html;var show_delay = function (i){var es=dojo.query(".ra_scroller","fundstream_ra");var e=es[0];if(es.length>2){dojo.query("#"+es[2].id,"fundstream_ra").orphan();}var it=parseInt(dojo.attr(e,"_top"));var ft=it+170;dojo.attr(e,"_top",ft);var appear=dojo.animateProperty({node:e.id,duration:2000,properties:{marginTop:{start:it,end:ft}}});var h=dojo.connect(appear,"onEnd",function(evt){if(html){dojo.place(html, dojo.byId("fundstream_ra"),"first");html=null;}dojo.disconnect(h);});appear.play();if(ft<0){setTimeout(dojo.hitch(null, "show_delay",i+1),Math.round(3000+(Math.random()*12000)));}else{xhrPost("/stream",{},function(data){html=data.html;setTimeout(dojo.hitch(null, "show_delay",i+1),Math.round(2000+(Math.random()*8000)));});}};</%def>

<%def name="onloadscripts()">
		<% 
			pool = getattr(c, "pool", None) 
			receiver = str(getattr(pool, "receiver", None) is not None).lower()
			occasion = str(getattr(pool, "occasion", None) is not None).lower()
			product = str(getattr(pool, "product", None) is not None).lower()
		%>
		panels = new friendfund.HomePagePanel({
						ref_node : "button_panel_container"
						, config_node: "pool_configurator"
						, fb_api_key : "${app_globals.FbApiKey}"
						, selected_elems : {receiver:${receiver}, occasion:${occasion}, product:${product}}});
		setTimeout(dojo.hitch(null, "show_delay",1),Math.round(Math.random()*2000));
</%def>

<%def name="create_pool_button()"></%def>

<%def name="page_slogan()">
	<div id="page_slogan"><span class="emphasis">${_(u'PAGE_INDEX_SLOGAN_MOTTO_EMPHASIS')|n}</span> ${_(u'PAGE_INDEX_SLOGAN')|n} <span class="emphasis">${_(u'PAGE_INDEX_SLOGAN_CLOSING')|n}</span></div>
</%def>


<form action="${url(controller='pool', action='create')}" method="POST" id="pool_configurator_form" onsubmit="panels.verify()">
	<div id="pool_configurator">
		<div id="verisignsealindex">
		<table width="135" border="0" cellpadding="2" cellspacing="0" title="Click to Verify - This site chose VeriSign SSL for secure e-commerce and confidential communications.">
			<tr>
			<td width="135" align="center" valign="top">
				<script type="text/javascript" src="https://seal.verisign.com/getseal?host_name=www.friendfund.com&amp;size=L&amp;use_flash=NO&amp;use_transparent=NO&amp;lang=en"></script><br />
				<a href="http://www.verisign.com/ssl-certificate/" target="_blank"  style="color:#000000; text-decoration:none; font:bold 7px verdana,sans-serif; letter-spacing:.5px; text-align:center; margin:0px; padding:0px;">ABOUT SSL CERTIFICATES</a>
			</td>
			</tr>
		</table>
		</div>
		<div id="receiver_panel" class="frontpagebutton enabled first">
			<%include file="receiver/button.html"/>
		</div>

		<div id="occasion_panel" class="frontpagebutton enabled">
			<%include file="occasion/button.html"/>
		</div>

		<div id="product_panel" class="frontpagebutton enabled">
			<%include file="product/button.html"/>
		</div>

		<div id="funders_panel" class="frontpagebutton last">
			<div class="hpbutton funders">
				<a class="button funders">
					${_(u"PAGE_INDEX_HEADING_One more step...")}
				</a>
				<div class="button_content funders">
					<span id="funders_panel_tooltip" class="hidden">${_(u"PAGE_INDEX_MESSAGE_Please select Who, When and What first!")}</span>
					<a id="funders_button" class="red_labeled_container funders inactive">
						<span>${_("PAGE_INDEX_BUTTON_Invite Friends")}</span>
                    </a>
					<div style="position: relative; top: 34px;"><div class="sub_label ">${_(u"PAGE_INDEX_FUNDERSTEXT_Once you've selected a receiver, an event and a gift, invite your friends to chip in to your gift pool.")}</div></div>
				</div>
			</div>
		</div>
		${html.clearline()|n}
		<div id="get_started" class="floaterRight">
        	<div class="content">
        	<a onclick="panels.load_receiver(panels);" class="BtnGold"><span>${_(u"PAGE_INDEX_BUTTON_Get Started")}</span></a>
            </div>   
        </div>
		<div id="button_panel_container">&nbsp;</div>
	</div>
	
</form>




<%def name="lowerbody()">
	<div id="lowerbody_container" style="margin-top:30px;padding-bottom:30px;">
		<div id="fundstream" class="recentactivity">
			<div class="panel_title">
					${_(u"PAGE_INDEX_HEADER_Current Pools")}
			</div>
			
			<div class="raheader">
				<div class="raheadercol col1"><span class="raheadfunders"></span><div>Funders</div></div>
				<div class="raheadercol col2"><span class="raheadgift"></span><div>Gift</div></div>
				<div class="raheadercol col3"><span class="raheadrecipient"></span><div>Recipient</div></div>
			</div>
		
			<div id="fundstream_ra">
				${ra_stream.render_stream_block(c.recent_activity, c.uuid, offset = c.ra_offset)}
			</div>
		</div>
		<div id="successtream">
			<h4 class="inside">${_(u"PAGE_INDEX_HEADER_Successful Pools")}</h4>
			
			<div class="panel_content_no_padding">
				
			%if not (session.get("lang") or "").startswith('de'):
				<div class="successtory_outer">
				<div class="successtory">
					<img alt="Edwards Balloon Ride" src="/static/imgs/top_sellers/success/ballon_180.jpg" class="product">
					<h3>Edwards Balloon Ride</h3>
					<div><span class="quote">&#8220;</span> Thanks so much to all of you it was truly amazing, an experience we wont forget. Cheers!<span class="quote"><span class="quote">&#8221;</span></span></div>
					<a class="submitMini" href="http://www.friendfund.com/pool/UC0xMjI5Ng~~">&nbsp;&nbsp;&nbsp;<span></span></a>
				</div>
				</div>
				
				<div class="successtory_outer">
				<div class="successtory">
					<img alt="Fuchs' Karting" src="/static/imgs/top_sellers/success/karting_180.jpg" class="product">
					<h3>Fuchs' Karting</h3>
					<div><span class="quote">&#8220;</span>I got to drive this crazy thing. Dont think they will invite me back ;) thanks a lot people.<span class="quote"><span class="quote">&#8221;</span></span></div>
					<a class="submitMini" href="http://www.friendfund.com/pool/UC0xMjI5Nw~~">&nbsp;&nbsp;&nbsp;<span></span></a>
				</div>
				</div>
				
				<div class="successtory_outer last">
				<div class="successtory">
					<img alt="Lambert's Parachuting" src="/static/imgs/top_sellers/success/parachute_180.jpg" class="product">
					<h3>Lambert's Parachuting</h3>
					<div><span class="quote">&#8220;</span>Absolutely loved it. Planning to go back next month! Thanks to all od you especially Megan for organising the whole thing. x<span class="quote">&#8221;</span></div>
					<a class="submitMini" href="http://www.friendfund.com/pool/UC0xMjI5OA~~">&nbsp;&nbsp;&nbsp;<span></span></a>
				</div>
				</div>
				
				%else:
				
				<div class="successtory_outer">
				<div class="successtory">
					<img alt="Jennifer's Seil&uuml;bung" src="/static/imgs/top_sellers/success/abseiling_180.jpg" class="product">
					<h3>Jennifer's Seil&uuml;bung</h3>
					<div><span class="quote">&#8220;</span>Super lieben Dank f&uuml;r den Abseilkurs, hat mir Riesenspass gemacht! Jederzeit wieder!<span class="quote">&#8221;</span></div>
					<a class="product_more submitMini" href="http://www.friendfund.com/pool/UC0xMjI5OQ~~">&nbsp;&nbsp;&nbsp;<span></span></a>
				</div>
				</div>
				
				<div class="successtory_outer">
				<div class="successtory">
					<img alt="Fallschirmspringen" src="/static/imgs/top_sellers/success/ipad_180.jpg" class="product">
					<h3>Miriam's iPad</h3>
					<div><span class="quote">&#8220;</span>Bin total in mein iPad verliebt, Tausenddank! Endlich kann ich euch meine Farm zeigen!<span class="quote">&#8221;</span></div>
					<a class="submitMini" href="http://www.friendfund.com/pool/UC0xMjMwMQ~~">&nbsp;&nbsp;&nbsp;<span></span></a>
				</div>
				</div>
				
				<div class="successtory_outer last">
				<div class="successtory">
					<img alt="Angela's Tauch&uuml;bung" src="/static/imgs/top_sellers/success/snorkling_180.jpg" class="product">
					<h3>Angela's Tauch&uuml;bung</h3>
					<div><span class="quote">&#8220;</span>Einfach Klasse, liebe das Wasser und das hats echt gebracht. Danke f&uuml;r das traumhafte Geschenk!<span class="quote">&#8221;</span></div>
					<a class="submitMini" href="http://www.friendfund.com/pool/UC0xMjMwMA~~">&nbsp;&nbsp;&nbsp;<span></span></a>
				</div>
				</div>
				%endif
			</div>
		</div>
		
	</div>
</%def>