<%!
	from pylons.i18n.translation import get_lang
%>
<%namespace name="links" file="links.html"/>
<%namespace name="html" file="widgets/html_elems.html"/>
<%namespace name="forms" file="widgets/forms.html"/>
${self.render_html()}

<%def name="render_html()">
	<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
	<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml">
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/dojo/1.5/dijit/themes/claro/claro.css"/>
		${self.render_head()}
	</head>
	<body class="claro ${self.bodyclass()}">
		${self.render_body()}
		${self.siteinfo()}
		${self.render_foot_scripts()}
	</body>
	</html>
</%def>

<%def name="render_head()">
		<title>friendfund.com | ${self.title()}</title>
		${links.css('%s.css'%c.siteversion)}
		${links.css('message_block.css')}
		<script type="text/javascript"> 
			page_reloader = function(){window.location.reload();};
			login_panel_refresh = function(){loadElement('/index/login_panel', "accountcontainer")};
			locale_picked=function(elem){document.getElementById("set_lang").submit()}
		</script>
		${self.fb_meta_tags()}
		${self.scripts_styles()}
</%def>

<%def name="render_body()">
	<div id="outercontainer">
	<div id="outercontainer_themed">
	<div id="container" class="${self.headerclass()}">
		<div id="top"></div>
		${self.header()}
		<div id="body_outer_container">
			${self.messaging()}
			${next.body()}
		</div>
		<div id="accountcontainer">
			<%include file="/myprofile/login_panel.html"/>
		</div>
		<div class="clear"></div>
	</div>
	</div>
	</div>
	
</%def>

<%def name="render_foot_scripts()">
	<input type="hidden" id="furl" value="${getattr(c, 'furl', '')}"/>
	<script type="text/javascript">djConfig={baseUrl: "./", modulePaths: {"friendfund": "/static/js/friendfund"},dojoBlankHtmlUrl : "/static/blank.html",xdWaitSeconds: 5};</script> 
	<script src="https://ajax.googleapis.com/ajax/libs/dojo/1.5/dojo/dojo.xd.js" type="text/javascript"></script>
	${links.js('fbinit.js')}
	${links.js('loader.js')}
	${self.scripts()}
	<div id="generic_popup"></div>
	<div id="blocking_msgs" class="${(not (getattr(c, 'blocks', False) and getattr(c, 'enforce_blocks', False))) and 'hidden' or ''}">
		<%include file="/messages/blocks.html"/>
	</div>
	<div id="fb-root"></div>
	<script type="text/javascript">
		var loading_animation_src = "${html.ajax_loading_animation_src().strip()|n}";
		var loading_animation = "${html.ajax_loading_animation().strip()|n}";
		${self.headscripts()}
		dojo.addOnLoad( function() {
			fbInit("${app_globals.FbApiKey}", ${str(c.user.has_tried_logging_in_with("facebook")).lower()});
			${self.onloadscripts()}
		});
	</script>
	${self.user_voice()|n}
	${self.google_analytics()|n}
</%def>

<%def name="siteinfo()">
	<div id="siteinfo">
		<div class="siteinfo1">
			<div class="siteinfo2">
				${self.render_verisign(id="verisignseal")}
				${self.render_siteinfo_copyright()}
				${self.render_footer_links()}
				${self.render_flag_container()}
			</div>
		</div>
	</div>
</%def>

<%def name="render_verisign(id)">
	<div id="${id}">
		<table width="135" border="0" cellpadding="2" cellspacing="0" title="Click to Verify - This site chose VeriSign SSL for secure e-commerce and confidential communications.">
		<tr><td width="135" align="center" valign="top">
			<script type="text/javascript" src="https://seal.verisign.com/getseal?host_name=www.friendfund.com&amp;size=S&amp;use_flash=NO&amp;use_transparent=NO&amp;lang=en"></script><br/>
			<a href="http://www.verisign.com/ssl-certificate/" target="_blank"
			style="color:#000000; text-decoration:none; font:bold 7px verdana,sans-serif; letter-spacing:.5px; text-align:center; margin:0px; padding:0px;">ABOUT SSL CERTIFICATES</a>
		</td></tr>
		</table>
	</div>
</%def>
<%def name="render_siteinfo_copyright()">
	<div class="siteinfo_copyright"><p>${_(u"SITEINFO_2010(c) friendfund")|n}</p><p>${_(u"SITEINFO_Handmade in Berlin")|n}</p></div>
</%def>
<%def name="render_footer_links()">
	<a href="http://blog.friendfund.com" class="siteinfo_content">${_(u"SITEINFO_Blog")|n}</a>
	<a href="http://blog.friendfund.com/?page_id=108" class="siteinfo_content">${_(u"SITEINFO_Jobs")|n}</a>
	<a href="${url(controller='content', action='tos')}" class="siteinfo_content">${_(u"SITEINFO_Terms")|n}</a>
	<a href="${url(controller='content', action='privacy')}" class="siteinfo_content">${_(u"SITEINFO_Privacy")|n}</a>
	<a href="${url(controller='content', action='impressum')}" class="siteinfo_content">${_(u"SITEINFO_Impressum")|n}</a>
	<a href="${url(controller='content', action='faq')}" class="siteinfo_content">${_(u"SITEINFO_FAQ")|n}</a>
</%def>
<%def name="render_flag_container()">
	<div class="flagContainer">
		<a href="${url(controller='myprofile', action='set_lang')}?lang=de_DE" class="flag_de_DE">&nbsp;</a>
		<a href="${url(controller='myprofile', action='set_lang')}?lang=en_GB" class="flag_en_GB">&nbsp;</a>
		<a href="${url(controller='myprofile', action='set_lang')}?lang=en_US" class="flag_en_US">&nbsp;</a>
	</div>
</%def>



<%def name="messaging()">
<div id="messaging_container"><div id="message_container" class="${not h.has_ne_prop(c, '_msgs') and 'hidden' or ''}"><%include file="/messages/standard.html"/></div></div>
</%def>
<%def name="title()"></%def>
<%def name="bodyclass()">base</%def>
<%def name="scripts_styles()"></%def>
<%def name="scripts()"></%def>
<%def name="headscripts()"></%def>
<%def name="onloadscripts()"></%def>
<%def name="headerclass()">normal</%def>

<%def name="user_voice()">
	<script type="text/javascript">
		var uservoiceOptions = {
			/* required */key: 'friendfund',host: 'friendfund.uservoice.com', forum: '81919',showTab: true,  
			/* optional */alignment: 'left',background_color:'#333', text_color: 'white',hover_color: '#06C',lang: 'en'};
			function _loadUserVoice() {var s = document.createElement('script');s.setAttribute('type', 'text/javascript');s.setAttribute('src', ("https:" == document.location.protocol ? "https://" : "http://") + "cdn.uservoice.com/javascripts/widgets/tab.js");document.getElementsByTagName('head')[0].appendChild(s);}_loadSuper = window.onload;window.onload = (typeof window.onload != 'function') ? _loadUserVoice : function() { _loadSuper(); _loadUserVoice(); };
	</script>
</%def>
<%def name="google_analytics()">
	<script type="text/javascript">var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-17547754-2']);_gaq.push(['_trackPageview']);(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();</script>
</%def>

<%def name="header()">
	<div id="headercontainer">
		<a href="${url('home', protocol='http')}" class="logoHeader"><img src="/static/imgs/header/logo_banner.png"/></a>
		<div class="logoBanner"><img src="/static/imgs/themes/christmas/js_christmas.png"/></div>
		${self.header_navigation()}
		${self.create_pool_button()}
	</div>
</%def>


<%def name="create_pool_button()">
	<div id="home_create_pool_button"><a class="BtnRed" href="${url(controller='pool', action='start')}"><span>${_(u"ALLPAGE_BUTTON_Create a Pool")|n}</span></a></div>
</%def>
<%def name="header_navigation()">
	<ul class="navigation">
		%for title, path, token, enabled in app_globals.globalnav:
			%if enabled:
				<li class="floaterLeft ${(c.navposition==token) and 'selected' or ''}"><a href="${url(*path['args'], **path['kwargs'])}">${_(title)}</a></li>
			%endif
		%endfor
	</ul>
</%def>

<%def name="fb_meta_tags()">
		<link rel="image_src" href="/static/imgs/fb_stream_publish_logo.png" />
		<meta name="title" content="${_(u"FB_METATAG_TITLE_friendfund.com")|n}" />
		<meta name="description" content="${_(u"FB_METATAG_DESCRIPTION_friendfund.com - helping you!")|n}" />
		
		<meta property="og:site_name" content="Friendfund"/>
		<meta property="og:url" content="${url.current()}"/>
</%def>

<%def name="page_slogan()"></%def>
<%def name="lowerbody()"></%def>