<%inherit file="master.html"/>
<%namespace name="forms" file="/widgets/forms.html"/>
<%def name="create_pool_link()">${request.merchant.type_is_group_gift and url("home") or url("pool_details", protocol="http", v=2)}</%def>

<div id="wrap">
	<div class="wrapHeader">
		<div class="header">
			<div class="loginArea" id="accountcontainer">
				<%include file="/myprofile/login_panel.html"/>
			</div>
			<h1>
				<a href="${url('home', protocol="http")}"><span>Friendfund</span></a>
			</h1>
			%if request.merchant.is_default:
			<ul>
					<% route = request.environ["wsgiorg.routing_args"][1] %>
					<li><a href="${url('home', protocol="http")}" ${forms.expression_quote(route["controller"] == "index", "class", "navselected")} >${_("FF_MENU_Home")}</a></li>
					<li><a href="${url(controller="content", action="learn_more", host=app_globals.default_host)}"
						${forms.expression_quote(route["controller"] == "content", "class", "navselected")}>${_("FF_MENU_Learn")}</a></li>
					<li><a href="${self.create_pool_link()}" 
						${forms.expression_quote(route["controller"] == "pool" and route["action"] in ["details","create"], "class", "navselected")}>${_("FF_MENU_Create a pool")}</a></li>
					%if not c.user.is_anon:
						<li><a href="${url(controller="mypools", action="stream")}" 
							${forms.expression_quote(route["controller"] in ["myprofile", "mypools"], "class", "navselected")}>${_("FF_MENU_My_Pools")}</a></li>
					%endif
			</ul>
			%endif
			<div class="clear"></div>
		</div>
	</div>
	<div class="wrapContent">
		${next.body()}
	</div>
</div>

<div class="wrapFooter">
		<div class="subFooterTop">
			<div class="footer">
            	<div class="firstFourCol">
                    <div class="footerCol1">
                        <span class="fontWeightBold">${_("FF_FOOTER_About")}</span>
                        <a href="${url(controller="content", action="aboutus", host=app_globals.default_host)}">${_("FF_FOOTER_About Friendfund")}</a>
                        <a target="_blank" href="http://blog.friendfund.com">${_("FF_FOOTER_Our blog")}</a>
                        <a href="${url(controller="content", action="jobs", host=app_globals.default_host)}">${_("FF_FOOTER_Jobs")}</a>
                        <a href="${url(controller="content", action="faq", host=app_globals.default_host)}">${_("FF_FOOTER_FAQ")}</a>
                    </div>
                    <div class="footerCol2">
                        <span class="fontWeightBold">${_("FF_FOOTER_Contact")}</span>
                        <a href="${url(controller="content", action="contact", host=app_globals.default_host)}">${_("FF_FOOTER_Contact Friendfund")}</a>
                        <a href="${url(controller="content", action="become_partner", host=app_globals.default_host)}">${_("FF_FOOTER_Become a partner")}</a>
                    </div>
                    <div class="footerCol3">
                        <span class="fontWeightBold">${_("FF_FOOTER_Legal")}</span>
                        <a href="${url(controller="content", action="tos", host=app_globals.default_host)}">${_("FF_FOOTER_Terms of Service")}</a>
                        <a href="${url(controller="content", action="privacy", host=app_globals.default_host)}">${_("FF_FOOTER_Privacy")}</a>
                    </div>
                    <div class="footerCol4">
                        <span class="fontWeightBold">${_("FF_FOOTER_Connect")}</span>
                        <a href="http://www.facebook.com/friendfund"><img src="/static/imgs/fb-icon.png" align="left" /> &nbsp;&nbsp;${_("FF_FOOTER_Like us on Facebook")}</a>
                        <a href="http://twitter.com/#!/friendfund"><img src="/static/imgs/twitter-icon.png" align="left" /> &nbsp;&nbsp;${_("FF_FOOTER_Follow us on Twitter")}</a>
                        <a href="http://blog.friendfund.com/?feed=rss2"><img src="/static/imgs/RSS-icon-new.png" align="left"  /> &nbsp;&nbsp;${_("FF_FOOTER_Subscribe to our blog")}</a>
                    </div>
                    <div class="clear"></div>
				</div>
                <div class="footerCol5">
					<div style="">
						<div class="language">
							####<span class="floatLeft"; style="margin:3px 5px 0 0">
							####<div class="languageSelection">
							####	####${_("ff_footer_Language:")} </span>
							####	####<div class="showHide">
							####	####	<%
							####	####		languages = {"en_GB":_("English"), "es_ES":_("Spanish")}
							####	####		selected_lang = session["lang"] == 'es_ES' and 'es_ES' or "en_GB"
							####	####	%>
							####	####	<a>${languages.get(selected_lang)}</a>
							####	####	<div class="widthGiver">
							####	####		<div>
							####	####			%for locale, langname in sorted(languages.iteritems()):
							####	####				%if locale != selected_lang:
							####	####					<a href="${url(controller='myprofile', action='set_lang')}?lang=${locale}">${langname}</a>
							####	####				%endif
							####	####			%endfor
							####	####		</div>
							####	####	</div>
							####	####</div>
							####</div>
						</div>
						<span class="middot floatLeft">&middot;</span>
						<div class="like floatLeft" style="margin: 3px 0 0 0">
							<iframe src="http://www.facebook.com/plugins/like.php?href=www.facebook.com%2Ffriendfund&amp;layout=button_count&amp;show_faces=false&amp;width=200&amp;action=like&amp;font=arial&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:120px; height:21px;" allowTransparency="true"></iframe>
						</div>
						<span class="middot floatLeft">&middot;</span>
						<div class="floatLeft" style="margin:3px 0 0 0">
							<span>You're safe with us</span>
						</div>
						<span class="floatRight"  style="margin:3px 0 0 0">${_("FF_FOOTER_2010 friendfund All Rights Reserved")}</span>
						<div class="clear"></div>
					</div>
					
				</div>
			</div>
		</div>
		<div class="subFooterBottom"></div>
	</div>



<%def name="renderMessages(pool_url = None, relative = False)">
	<% 
		msgs = getattr(c, "_msgs", [])
		_has_errors = getattr(c, "_has_errors", False)
	%>
	<div id="messaging_container" class="overlayWrapper" ${(relative and msgs and 'style="position:relative"' or '')|n}>
		<div class="overlay ${_has_errors and "red" or "green"} ${len(msgs)==0 and 'hidden' or ''}">
			<p id="messaging_messages">${' - '.join(m.msg for m in msgs)|n}</p>
		</div>
		%if pool_url:
			<div class="generalWrapper"><a href="${url("get_pool", pool_url = pool_url)}" class="floatRight">&laquo; ${_("FF_MESSAGE_LINK_Back to Pool")}</a><div class="clear"></div></div>
		%endif
	</div>
</%def>


<%def name="render_account_panel()">
	<div id="accountcontainer">
		<%include file="/myprofile/login_panel.html"/>
	</div>
</%def>


<%def name="render_verisign(id)">
	<div id="${id}">
		<table width="135" border="0" cellpadding="2" cellspacing="0" title="Click to Verify - This site chose VeriSign SSL for secure e-commerce and confidential communications.">
		<tr><td width="135" align="center" valign="top">
			<script type="text/javascript" src="https://seal.verisign.com/getseal?host_name=www.friendfund.com&amp;size=S&amp;use_flash=NO&amp;use_transparent=NO&amp;lang=en"></script><br/>
			<a href="http://www.verisign.com/ssl-certificate/" target="_blank"
			style="color:#000000; text-decoration:none; font:bold 7px verdana,sans-serif; letter-spacing:.5px; text-align:center; margin:0px; padding:0px;">ABOUT SSL CERTIFICATES</a>
		</td></tr>
		</table>
	</div>
</%def>
