<%namespace name="html" file="/widgets/html_elems.html"/>

<%def name="render(pool, user_name, receiver_name)">
	<div id="contribute">
	<div class="contribute_body">
		<img class="contributor_picture" src="${c.user.get_profile_pic('PROFILE_M')}"/>
		
		<% locals = {"user_name":user_name, "receiver_name":receiver_name} %>
		${(_("POOL_BUTTON_Hi %(user_name)s<br/>Please help us to share the costs for %(receiver_name)s's gift.")%locals)|n}
		
		%if pool.product.is_virtual:
			%if pool.am_i_contributor(c.user):
				<div class="contributor_chippid_in poolpage_contributor"><div class="content">${_("MYPOOLS_CONTENT_Chipped In")|n}</div></div>
			%else:
				<div class="centered"><a href="${url(controller='pool', pool_url=pool.p_url, action='chipin', protocol='https')}" class="buttonRed buttonChipIn ${session.get('lang', '').lower()}"><span>${_("POOL_BUTTON_Chip in!")}</span></a></div>
				<a class="somelink" href="${url(controller='pool', pool_url=pool.p_url, action='chipin', protocol='https')}"><img src="/static/imgs/currencies/pog_large.png"/> 
					<div>${_("CONTRIBUTION_PAGE_Virtual Pot of Gold")}(${h.display_currency('POG')|n})</div>
				</a>
			%endif
		%else:
			<div class="centered"><a href="${url(controller='pool', pool_url=pool.p_url, action='chipin', protocol='https')}" class="buttonRed buttonChipIn ${session.get('lang', '').lower()}"><span>${_("POOL_BUTTON_Chip in!")}</span></a></div>
			<a href="${url(controller='pool', pool_url=pool.p_url, action='chipin', protocol='https')}"><img src="/static/imgs/icons_paymethod.png"/></a>
		%endif
		
	</div>
	
	
	
	<div style="width:220px;margin:30px auto 0 auto;">
	<%html:button href="${url('invite_index', controller='invite', pool_url=pool.p_url)}">${_("POOL_BUTTON_Invite more Friends")} <img src="/static/imgs/icon_fb_connect.png"/><img src="/static/imgs/icon_tw_connect.png"/><img src="/static/imgs/icon_mail.png"/></%html:button>
	</div>
	</div>
</%def>