<%namespace name="html" file="/widgets/html_elems.html"/>

<%namespace name="contribute_button" file="button_contribute.html"/>
<%namespace name="close_button" file="button_close.html"/>
<%namespace name="prompt_for_action_button" file="button_prompt_for_action.html"/>

<%namespace name="is_closed_banner" file="banner_is_closed.html"/>
<%namespace name="user_suspected_button" file="button_user_suspected.html"/>
<%namespace name="awaiting_action_banner" file="banner_awaiting_action.html"/>


<%def name="render(pool, is_anon, is_admin, is_member, i_can_view)">
	%if not i_can_view:
		%if is_anon:
			%if pool.suspect is not None:
				${user_suspected_button.render(pool)}
			%else:
				<div id="contribute">
					<div class="close_body" id="pool_close_button" >
						${_("POOL_BUTTON_This is a secret pool. If u have been invited, please login.")}
					</div>
				</div>
			%endif
		%else:
			<div id="contribute">
				<div class="close_body" id="pool_close_button" >
					${_("POOL_BUTTON_This is a secret pool.")}
				</div>
			</div>
		%endif
	%elif not is_member:
		%if pool.is_closed():
			<div id="contribute">
				<a class="close_body">
					${_("POOL_BUTTON_This pool is closed.")}
				</a>
			</div>
		%elif is_anon and pool.suspect is not None:
			${user_suspected_button.render(pool)}
		%elif is_anon:
			<div id="contribute">
				<a class="close_body">
					${_("POOL_BUTTON_Please log in.")}<br/><br/>
					<div style="float:left;margin-left:60px;">
						<%html:button href="${url('index', action='login')}?furl=${getattr(c, 'furl',url('controller', controller='pool', pool_url=pool.p_url))}">${_("POOL_BUTTON_Login")} <img src="/static/imgs/icon_fb_connect.png"/><img src="/static/imgs/icon_tw_connect.png"/><img src="/static/imgs/icon_mail.png"/></%html:button>
					</div>
				</a>
			</div>
		%else:
			<div id="contribute">
				<a class="close_body">
					${_("POOL_BUTTON_You are not invited to this Pool.")}
				</a>
			</div>
		%endif
	%elif pool.is_closed():
		${is_closed_banner.render()}
	%elif pool.is_contributable():
		${contribute_button.render(pool.p_url, c.user.name, pool.receiver.name)}
	%elif is_admin:
		%if pool.is_funded():
			<div id="contribute">
				${close_button.render(pool.p_url)}
			</div>
		%else:
			${prompt_for_action_button.render(pool.p_url)}
		%endif
	%else:
		${awaiting_action_banner.render()}
	%endif
</%def>