%if c.edit:
	${edit(c.pool)|n}
%else:
	${view(c.pool)|n}
%endif

<%def name="edit(pool)">
	<div id="thankyou_editor">
		<form id="thankyou_form" method="POST">
			<textarea cols="28" rows="4" name="thankyou">${pool.thank_you_message}</textarea>
			<div style="float:right">
				<a class="Save" onclick="loadFormElement('${url(controller='pool', pool_url=pool.p_url, action='set_thankyou')}', 'thankyou_editor', 'thankyou_form', place_element('thankyou_editor'));">
					<span>${_("POOLSETTINGS_Save Changes")}</span></a>
			</div>
		</form>
	</div>
</%def>


<%def name="view(pool)">
	<div id="thankyou_editor">
		%if pool.am_i_receiver(c.user):
		<div class="editIcon" onclick="loadElement('${url(controller='pool', pool_url=pool.p_url, action='edit_thankyou')}', 'thankyou_editor', {});"></div>
		%endif
		${pool.thank_you_message}
	</div>
</%def>