<%namespace name="html" file="/widgets/html_elems.html"/>

<%def name="render(pool, user_name, selector_name)">
	<div id="contribute">
	<div class="contribute_body">
		<img class="contributor_picture" src="${c.user.get_profile_pic('PROFILE_M')}"/>
		<% locals = {"user_name":user_name, "selector_name":pool.am_i_selector(c.user) and 'you' or selector_name} %>
		${(_("POOL_BUTTON_Hi %(user_name)s<br/>This pool is waiting for <em>%(selector_name)s</em> to select a gift, chipping in will be possible after the perfect gift is chosen!")%locals)|n}
	</div>
	
	<div style="width:220px;margin:30px auto 0 auto;">
	<%html:button href="${url('invite_index', controller='invite', pool_url=pool.p_url)}">${_("POOL_BUTTON_Invite more Friends")} <img src="/static/imgs/icon_fb_connect.png"/><img src="/static/imgs/icon_tw_connect.png"/><img src="/static/imgs/icon_mail.png"/></%html:button>
	
	
	
	%if pool.am_i_selector(c.user):
		<a href="${url(action="select",pool_url=pool.p_url, controller="product")}">select product now</a>
	%endif
	</div>
	</div>
</%def>