
<%def name="render_tabs(selected)">
	<div class="tabContainer">
		%if selected=="mypools":
			<a class="selected"><span>${_("POOL_ADMIN_TAB_Pool Settings")}</span></a>
			<a class="unselected" href="${url(controller='pool', pool_url=c.pool.p_url, action='addresses')}"><span>${_("POOL_ADMIN_TAB_Shipping and Billing Details")}</span></a>
		%else:
			<a class="unselected" href="${url(controller='pool', pool_url=c.pool.p_url, action='settings')}"><span>${_("POOL_ADMIN_TAB_Pool Settings")}</span></a>
			<a class="selected"><span>${_("POOL_ADMIN_TAB_Shipping and Billing Details")}</span></a>
		%endif
	</div>
</%def>