#homeurlexpander .title input {
	margin-left: -10px
}
div.showHide {
	width: 170px
}
div.boxContributors {
	padding-bottom: 4px
}
div.footer div.showHide {
	width:120px
}
div.borderBottom .home_expander input#tracking_link_edit,  {
	margin-left:-10px
}
.forward {
	max-width: 150px
}
div.outerPopupFrame div.whitePopupFrameLarge, div.outerPopupFrame div.whitePopupFrame {
	position: absolute
}
div.timeCounterRight {
	margin-top: -15px
}
div.txtComments div.timeCounterRight {
	margin-top: 0px
}
.txtArea textarea {
	border:1px solid white;
	height: 45px
}
.smallTable a.link {
	top: 105px;
}
.moreActionsWrapper {
	padding-top:12px
}
.hided {
	height: 163px
}
div.showHide div a {
	width: 100%
}
.primaryLarge{ height: 38px; line-height: 34px; padding-top:0; padding-bottom: 0  }
.forward{ line-height: 32px; height: 35px; padding-top:0; padding-bottom: 0}
.primaryButton{ height: 35px; line-height: 35px; padding-top:0; padding-bottom: 0}
.secondary{ height: 20px; line-height: 20px;padding-top:0; padding-bottom: 0}
input.primaryButton,{ line-height: 32px; height: 35px}
a.primaryButton, a.secondary{ line-height: 32px; height: 35px}
.inputFields .primarySmall{ line-height: 20px;height: 25px; padding:0 5px}
div.weNeed{ margin-top: -6px}
.mutualToggleContainer input{ margin-top: 3px}
.tabsBig{ margin-bottom: -1px}
